{% extends 'herders/profile/data_logs/rift_raid/dashboard.html' %}
{% load crispy_forms_tags report_charts utils %}

{% block title %}
    {{ level }} - {{ block.super }}
{% endblock %}

{% block logs %}
    {% if total_count %}
        <div class="card shadow border-0 mb-3">
            <div class="card-header bg-white d-flex flex-wrap justify-content-between">
                <h4>{{ level }}</h4>
            </div>
            <div class="card-body">
                {% if start_date %}<p>{{ start_date }} - {{ end_date }}</p>{% endif %}
                <p>Total Runs: {{ total_count }}</p>{% if records_limited %}. <small>Record count limited starting {{ start_date }}.</small>{% endif %}</p>
                <p>Success Rate: {{ success_rate|floatformat:-2 }}%</p>
            </div>
        </div>

        <hr />
        {% include 'data_log/clear_time.html' with clear_times=report.clear_time only %}
        <hr />
        {% include 'data_log/summary.html' with summary=report.summary only %}
        <hr />
        {% include 'data_log/runes.html' with runes=report.runes only %}
        <hr />
        {% include 'data_log/rune_crafts.html' with rune_crafts=report.rune_crafts only %}
    {% else %}
        {% include 'herders/profile/data_logs/no_data.html' %}
    {% endif %}
{% endblock %}
