{% extends 'herders/profile/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block title %}
    {% if is_owner %}
        My Rune Builds - {{ block.super }}
    {% else %}
        {{ summoner.user.username }}'s Rune Builds - {{ block.super }}
    {% endif %}
{% endblock %}

{% block profile %}
    <div class="card shadow-sm border-0 mb-3">
        <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %}">
            <button class="btn btn-outline-{% if user.is_authenticated and user.summoner.dark_mode %}light{% else %}dark{% endif %} btn-block w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#runeBuildsFilterCollapse">
                <i class="fas fa-filter"></i> Filters
            </button>
        </div>
        <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %} collapse" id="runeBuildsFilterCollapse">
            {% crispy rune_builds_filter_form %}
        </div>
    </div>

    <div id="rune-builds-inventory"></div>
{% endblock profile %}

{% block javascript %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/widgets/widget-columnSelector.min.js"></script>
{% endblock javascript %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static 'herders/js/rune_builds.js' %}"></script>
{% endblock javascript_compressed %}
