{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

<div id="rune-builds-inventory">
    <div class="card shadow border-0 mb-3">
        <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %}">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-{% if user.is_authenticated and user.summoner.dark_mode %}light{% else %}dark{% endif %} rune-builds-view-mode" data-mode="list">
                    <i class="fas fa-th-list"></i> List
                </button>
                <button class="btn btn-outline-{% if user.is_authenticated and user.summoner.dark_mode %}light{% else %}dark{% endif %} rune-builds-view-mode active" data-mode="grid">
                    <i class="fas fa-table"></i> Grid
                </button>
            </div>

            <span class="float-right text-muted"><strong>{{ filtered_count }}</strong> of <strong>{{ total_count }}</strong> rune build{{ total_count|pluralize }}</span>
        </div>

        <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %} table-responsive">
        {% if not total_count %}
            <div class="callout callout-warning">
                <h2>No rune builds!</h2>
                <p>You don't have any rune builds!</p>
            </div>
        {% elif not filtered_count %}
            <div class="callout callout-warning">
                <h2>No records!</h2>
                <p>All rune builds were filtered out!</p>
            </div>
        {% else %}
            <table class="table table-condensed table-bordered table-hover monster-table {% if user.is_authenticated and user.summoner.dark_mode %}table-dark{% endif %}" id="runeBuildsInventoryTable">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Assigned To</th>
                    <th>Rune sets</th>
                    <th>Runes</th>
                    <th>Artifacts</th>
                    <th>Average Efficiency</th>
                    <th>HP %</th>
                    <th>HP</th>
                    <th>DEF %</th>
                    <th>DEF</th>
                    <th>ATK %</th>
                    <th>ATK</th>
                    <th>SPD %</th>
                    <th>SPD</th>
                    <th>CRI Rate</th>
                    <th>CRI Dmg</th>
                    <th>RES</th>
                    <th>ACC</th>
                    {% if is_owner %}<th data-sorter="false"></th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for rune_build in rune_builds %}
                <tr>
                    <td>{% if rune_build.name == "Equipped Runes" %}Normal{% else %}RTA{% endif %}</td>
                    <td>
                        {% if rune_build.monster %}
                        <span class="visually-hidden">{{ rune_build.monster.monster.name }}-{{ rune_build.monster.pk }}</span>
                        <div class="monster-image">
                            <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=rune_build.monster.pk.hex %}" target="_blank">
                                <img src="{{ img_url_prefix }}monsters/{{ rune_build.monster.monster.image_filename }}" class="monster-thumb" loading="lazy" />
                                <span>
                                    {% for x in rune_build.monster.stars|get_range %}
                                        {% if rune_build.monster.monster.is_awakened %}
                                            <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                        {% elif rune_build.monster.monster.can_awaken %}
                                            <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                        {% else %}
                                            <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="image-plus image-plus-right">{{ rune_build.monster.level }}</span>
                            </a>
                        </div>
                        {% endif %}
                    </td>
                    <td class="monster-awaken-materials">
                        <div class="d-flex">
                        {% for rune in rune_build.runes.all %}
                        {% include 'herders/profile/runes/rune_image_fragment.html' with rune=rune popover=True only %}
                        {% endfor %}
                        </div>
                    </td>
                    <td class="monster-awaken-materials">
                        <div class="d-flex">
                        {% with num_artifacts=rune_build.artifacts.all|length %}
                            {% if num_artifacts == 1 and not rune_build.artifacts.all.0.element %}
                                <div class="rune-image pull-left">
                                    <div class="artifact-bg unknown">
                                    </div>
                                </div>
                            {% endif %}
                            {% for artifact in rune_build.artifacts.all %}
                                {% include 'herders/profile/artifacts/artifact_image_fragment.html' with artifact=artifact popover=True only %}
                            {% endfor %}
                        {% endwith %}
                        </div>
                    </td>
                    <td>{% if rune_build.avg_efficiency %}{{ rune_build.avg_efficiency|floatformat:1 }}%{% endif %}</td>
                    <td>{% if rune_build.hp_pct %}{{ rune_build.hp_pct }}%{% endif %}</td>
                    <td>{% if rune_build.hp %}{{ rune_build.hp }}{% endif %}</td>
                    <td>{% if rune_build.defense_pct %}{{ rune_build.defense_pct }}%{% endif %}</td>
                    <td>{% if rune_build.defense %}{{ rune_build.defense }}{% endif %}</td>
                    <td>{% if rune_build.attack_pct %}{{ rune_build.attack_pct }}%{% endif %}</td>
                    <td>{% if rune_build.attack %}{{ rune_build.attack }}{% endif %}</td>
                    <td>{% if rune_build.speed_pct %}{{ rune_build.speed_pct }}%{% endif %}</td>
                    <td>{% if rune_build.speed %}{{ rune_build.speed }}{% endif %}</td>
                    <td>{% if rune_build.crit_rate %}{{ rune_build.crit_rate }}%{% endif %}</td>
                    <td>{% if rune_build.crit_damage %}{{ rune_build.crit_damage }}%{% endif %}</td>
                    <td>{% if rune_build.resistance %}{{ rune_build.resistance }}%{% endif %}</td>
                    <td>{% if rune_build.accuracy %}{{ rune_build.accuracy }}%{% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>