{% extends 'herders/profile/data_logs/base.html' %}
{% load crispy_forms_tags report_charts utils %}

{% block title %}
    Magic Shop - {{ block.super }}
{% endblock %}

{% block logs %}
    {% if total_count %}
        <div class="card shadow border-0 mb-3">
            <div class="card-header bg-white d-flex flex-wrap justify-content-between">
                <h4>Magic Shop Log Summary</h4>
                <a href="{% url 'herders:data_log_magic_shop_table' profile_name=profile_name %}" class="float-right btn btn-outline-dark">View as Table</a>
            </div>
            <div class="card-body">
                {% if start_date %}<p>{{ start_date }} - {{ end_date }}</p>{% endif %}
                <p>Total Logs: {{ total_count }}</p>{% if records_limited %}. <small>Record count limited.</small>{% endif %}</p>
            </div>
        </div>
        <hr />
        {% include 'data_log/summary.html' with summary=report.summary hide_monsters=True only %}
        <hr />
        {% include 'data_log/monster.html' with monsters=report.monsters only %}
        <hr />
        {% include 'data_log/runes.html' with runes=report.runes only %}
    {% else %}
        {% include 'herders/profile/data_logs/no_data.html' %}
    {% endif %}
{% endblock %}
