{% extends 'herders/profile/data_logs/dungeons/dashboard.html' %}
{% load crispy_forms_tags report_charts utils %}

{% block title %}
    {{ dungeon }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if view_name == 'herders:data_log_dungeon_detail' or view_name == 'herders:data_log_dungeon_detail_difficulty' %}
        <li class="active">{{ level }}</li>
    {% else %}
        <li><a href="{% include 'herders/profile/data_logs/dungeon_link_url.html' with profile_name=profile_name level=level only %}">{{ level }}</a></li>
    {% endif %}
{% endblock %}

{% block logs %}
    <h2>{{ level }}</h2>
    {% if total_count %}
        <ul class="list list-inline">
            {% if start_date %}<li>{{ start_date }} - {{ end_date }}</li>{% endif %}
            <li>Total Runs: {{ total_count }}{% if records_limited %}. <small>Record count limited starting {{ start_date }}.</small>{% endif %}</li>
            <li>Success Rate: {{ success_rate|floatformat:-2 }}%</li>
        </ul>

        {% include 'data_log/clear_time.html' with clear_times=report.clear_time only %}
        {% include 'data_log/summary.html' with summary=report.summary only %}
        {% include 'data_log/runes.html' with runes=report.runes only %}
        {% include 'data_log/rune_crafts.html' with rune_crafts=report.rune_crafts only %}
    {% else %}
        {% include 'herders/profile/data_logs/no_data.html' %}
    {% endif %}
{% endblock %}
