{% extends 'herders/profile/compare/base.html' %}
{% load staticfiles %}

{% block title %}
Runes - {{ block.super }}
{% endblock title %}

{% block runes_menu %}
    {% if is_owner %}
        <ul class="navbar-nav ps-2">
            {% for rune_craft_name, rune_craft_slug in subviews.items %}
            <li class="nav-item py-0">
                <a 
                    class="nav-link fw-lighter py-0 text-muted monster-add" 
                    href="{% url 'herders:profile_compare_rune_crafts' profile_name follower_name rune_craft_slug %}" 
                    style="cursor: pointer;"
                >
                    {{ rune_craft_name }}s
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock runes_menu %}


{% block content_compare %}
    <h1 class="fw-lighter">Runes</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            {% include 'herders/profile/compare/table.html' with title="Summary" data=runes.summary %}
            {% include 'herders/profile/compare/table.html' with title="Main Stat" data=runes.main_stat %}
            {% include 'herders/profile/compare/table.html' with title="Innate Stat" data=runes.innate_stat %}
            {% include 'herders/profile/compare/table.html' with title="Substats" data=runes.substats %}
            {% include 'herders/profile/compare/table.html' with title="Stars" data=runes.stars %}
            {% include 'herders/profile/compare/table.html' with title="Sets" data=runes.sets %}
            {% include 'herders/profile/compare/table.html' with title="Slot" data=runes.slot %}
            {% include 'herders/profile/compare/table.html' with title="Quality" data=runes.quality %}
            {% include 'herders/profile/compare/table.html' with title="Quality (Original)" data=runes.quality_original %}
        </div>
    </div>
{% endblock %}