{% extends 'herders/profile/compare/runes/base.html' %}

{% block title %}
{{ craft_type }}s - {{ block.super }}
{% endblock title %}

{% block content_compare %}
    <h1 class="fw-lighter">{{ craft_type }}s</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            {% include 'herders/profile/compare/table.html' with title="Summary" data=crafts.summary %}
            {% include 'herders/profile/compare/table.html' with title="Sets" data=crafts.sets %}
            {% include 'herders/profile/compare/table.html' with title="Stats" data=crafts.stat %}
            {% include 'herders/profile/compare/table.html' with title="Quality" data=crafts.quality %}
        </div>
    </div>
{% endblock %}