html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  padding-top: 70px;
}

blockquote{
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  border-left: 4px solid black;
  padding-left: 10px;
  border-radius: 5px;
}

.dropdown-item:active{
  background-color: inherit;
}

.callout{
  margin: 0;
  border-left: 3px solid black;
  padding-left: 10px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.callout-danger{
  border-color:rgba(255, 66, 77, 1);
  background-color: rgba(255, 66, 77, .25);
}

.callout-warning{
  border-color:rgba(255, 226, 128, 1);
  background-color: rgba(255, 226, 128, .25);
}

.callout-info{
  border-color:rgba(0, 174, 239, 1);
  background-color:rgba(0, 174, 239, .25);
}

.callout-success{
  border-color:rgb(34, 175, 67);
  background-color:rgba(34, 175, 67, 0.25);
}

.bootbox-close-button{
  border: none;
  background: none;
}

.select2-container{
  z-index: 9999;
}

.subnavmenu-fixed-left {
  z-index: 1001;
  position: fixed;
  top: 50px;
  left: 0;
  right: auto;
  bottom: 0;
  overflow-y: auto;
  border: 0;
  border-radius: 0;
  padding-top: 10px;
  margin-top: 9px;
  width: 300px;
  padding-bottom: 40px;
}

.btn-abs-top-right{
  position: absolute;
  top: 15px;
  right: 0;
}

.list-group-item.active{
  background-color: #e7e7e7!important;
}

.subnavmenu-fixed-left:focus{
  outline: none;
}

.btn-close{
  position: absolute;
  top: 20px;
  right: 15px;
}

@media (min-width: 992px) {
  .btn-close{
    display: none;
  }
  .navmenu-content {
    padding-left: 300px;
    padding-top: 0;
  }
  .navmenu-collapsed {
    display: none;
  }
  .team-list{
    margin-right: 10px;
  }
}

@media (max-width: 992px){
  .subnavmenu-fixed-left{
    top: 30px;
    width: 0px;
    padding-bottom: 0;
    z-index: 1003;
  }
  .card-dungeon-md{
    width: 45%;
  }

  .instance-build{
    flex-direction: column;
    padding-right: 0!important;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 5px;
  }
}

@media (max-width: 768px){
  .card-dungeon-sm{
    width: 100%;
  }
}

.footer{
  height: unset;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 1px #dee2e6;
  box-sizing: border-box;
  z-index: 1002;
}

.pager-btn.active{
  background-color: #212529!important;
  color: #fff;
}

.page-link{
  color: #000;
}

.rounded-none{
  border-radius: 0;
}

.card-monster.active{
  background-color: #ededed!important;
  color: black!important;
}

.card-monster:hover{
  background-color: #e1e1e1!important;
  color: black!important;
}

.card-progress{
  transition: background-color 1s ease;
  background-color: white;
}

.card-progress-success{
  background-color: rgba(34, 139, 34, 0.25)!important;
}

.card-progress-info{
  background-color:rgba(0, 174, 239, .25)!important;
}

.card-progress-error{
  background-color: rgba(255, 66, 77, .25)!important;
}

.fusion-success{
  background-color:rgba(55, 255, 55, .25);
}

.fusion-danger{
  background-color: rgba(255, 55, 55, .25);
}

.card a{
  text-decoration: none;
}

thead {
  background-color: #ffffff;
}

.navbar{
  padding: 0;
}

.nav-item{
  padding: 0.5625rem;
}

.nav-item.active{
  background-color: #e7e7e7;
}

.patreon{
  color: rgba(255, 66, 77, .75)!important;
}

.color-patreon{
  color: rgb(255, 66, 77)!important;
}

.navbar-autocomplete #div_id_name{
  margin-bottom: 0!important;
  min-width: 200px;
}

.profile-anchor-offset {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

.dropdown-menu > li > form {
  padding: 3px 20px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
}

footer {
  position: relative;
  margin-top: -20px;
  height: 40px;
  clear: both;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.no-left-gutter,
.no-left-gutter label {
  padding-left: 0 !important;
}

.no-right-gutter {
  padding-right: 0 !important;
}

.condensed {
  padding: 5px;
}

.row.condensed {
  margin-right: -5px;
  margin-left: -5px;
  padding: 0;
}

.row.condensed > div {
  padding-left: 5px;
  padding-right: 5px;
}

.full-width {
  width: 100%;
}

.pagination-compact {
  margin: 0;
}

.panel-body {
  position: relative;
}

.form-group-condensed {
  margin-bottom: 5px;
}

.inline-horizontal {
  margin-right: 0 !important;
}

.editable editable-click:hover {
  cursor: pointer;
  position: relative;
}

.editable-click,
a.editable-click {
  border-bottom: dashed 1px #eeeeee;
}

.editable-click:hover,
a.editable-click:hover {
  border-bottom: dashed 1px #0088cc;
}

.editable editable-click:hover:after {
  padding-right: 5px;
  float: right;
  font-family: "Glyphicons Halflings";
  content: "\270f";
}

input.short,
select.short {
  max-width: 300px;
}

.btn-group img,
.select2 img,
.select2-results img {
  height: 18px;
}

.select2-container {
  min-width: 60px;
}

.panel-horizontal {
  display: table;
}

.panel.panel-horizontal > .panel-heading,
.panel.panel-horizontal > .panel-body,
.panel.panel-horizontal > .panel-footer {
  display: table-cell;
}
.panel.panel-horizontal > .panel-heading,
.panel.panel-horizontal > .panel-footer {
  width: 25%;
  border: 0;
  vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
  border-right: 1px solid #ddd;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
  border-left: 1px solid #ddd;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
}

.alert ul {
  list-style: none;
}

.monster-autocomplete,
.autocomplete-results > span {
  line-height: 30px;
  margin-left: 3px;
  margin-bottom: 1px;
  display: inline-block;
  vertical-align: middle;
}

.monster-autocomplete > img,
.autocomplete-results > img {
  height: 30px;
  margin-right: 3px;
  border: 1px solid black;
  border-radius: 3px;
}

.image-plus-main.fa-puzzle-piece{
  padding-top: 5px;
}

.tag {
  background: #e5e5e5;
  border-radius: 3px;
  color: #696969;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 8px 0 23px;
  position: relative;
  margin: 5px 0px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.bg-white th{
  background-color: white!important;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.awakened {
  color: #cc00cc;
}

.fodder {
  color: #747474;
}

.unawakened {
  color: #ffcc00;
}

.navbar-sub {
  top: 50px;
  z-index: 1000;
}

.navbar-sub .form-group > label,
.navbar-sub .rating-symbol,
.navbar-sub .checkbox > label {
  color: #e5e5e5;
}

.bootstrap-switch {
  margin-left: 15px;
  margin-top: 15px;
}

div.profile {
  position: relative;
}

a.autocomplete-results:hover {
  color: #ffffff !important;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#0088cc),
    to(#0077b3)
  );
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.monster-table > tbody > tr > td {
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
}

.monster-table .rune-image {
  margin-right: 3px;
}

.monster-image > div,
div.monster-image,
button.monster-image,
span.monster-image {
  position: relative;
  display: inline-block;
}

.monster-image {
  padding: 0 !important;
  width: 50px !important;
  height: 50px !important;
  vertical-align: top;
  display: inline-block;
  font-size: 0;
}

.monster-image-full {
  padding: 0 !important;
  position: relative;
  border: 1px solid black;
  border-radius: 15%;
}

.monster-image-full img {
  border-radius: 14%;
}

.monster-thumb {
  width: 50px !important;
  height: 50px !important;
  border: 1px solid black;
  border-radius: 4px;
}

.monster-inline {
  width: 25px !important;
  height: 25px !important;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 5px;
}

.image-inline {
  height: 1em !important;
}

.bordered {
  border: 1px solid black;
  border-radius: 0.2em;
}

.monster-star {
  position: absolute;
  top: 1px;
  width: auto;
}

.monster-image .monster-star {
  height: 15px;
}

.monster-image .monster-star-1 {
  left: 1px;
}

.monster-image .monster-star-2 {
  left: 7px;
}

.monster-image .monster-star-3 {
  left: 13px;
}

.monster-image .monster-star-4 {
  left: 19px;
}

.monster-image .monster-star-5 {
  left: 25px;
}

.monster-image .monster-star-6 {
  left: 31px;
}

.monster-box {
  width: 102px;
  position: relative;
  float: left;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
  margin: 1px;
}

.monster-box .monster-star {
  height: 20px;
}

.monster-box .monster-star {
  height: 20px;
}

.monster-box .monster-star-1 {
  left: 1px;
}

.monster-box .monster-star-2 {
  left: 10px;
}

.monster-box .monster-star-3 {
  left: 19px;
}

.monster-box .monster-star-4 {
  left: 28px;
}

.monster-box .monster-star-5 {
  left: 37px;
}

.monster-box .monster-star-6 {
  left: 46px;
}

.monster-box-thumb {
  position: relative;
}

.monster-box-actions {
  position: relative;
  text-align: center;
  width: 100%;
  line-height: 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: normal;
  white-space: nowrap;
}

.monster-level-column {
  text-align: center;
  width: 65px;
}

.monster-element {
  text-align: center;
}

.monster-element img {
  width: 30px;
  height: 30px;
}

.monster-element span {
  display: none;
}

.monster-stars-column {
  width: 65px;
  text-align: center;
}

.monster-info-icons-column {
  width: 25px;
  text-align: center;
}

.monster-info-icons-column img {
  height: 20px;
}

.monster-actions-column {
  width: 80px;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.monster-awakens {
  padding: 0 !important;
}

.monster-awakens * {
  vertical-align: middle;
}

.monster-awaken-materials {
  padding: 0 !important;
  font-size: 0;
  min-width: 205px;
}

.card-bestiary-monster-details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

#id_monster-wrapper {
  display: inline !important;
}

#assign_artifact_results,
#assign_rune_results
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.artifact-popover-hover,
.rune-popover-hover
{
  margin: 0;
  padding: 0;
  margin-right: 2px;
  margin-bottom: 2px;
  width: 50px;
  height: 50px;
}

.artifact-popover-hover .rune-image,
.rune-popover-hover .rune-image
{
  margin: 0;
  padding: 0;
}

.image-plus {
  position: absolute;
  height: 12px;
  width: auto;

  padding: 0 1px;
  line-height: 11px;
  font-size: 11px;
  vertical-align: middle;

  color: white;
  background: black;

  border-radius: 3px;
  border: 1px solid grey;
  font-weight: bold;
}

.image-plus-icon {
  position: absolute;
  top: 1px;
  right: 1px;
}

.image-plus-icon > * {
  color: black;
  width: 2em!important;
}

.image-plus-left {
  bottom: 1px;
  left: 1px;
}

.image-plus-top-left {
  top: 1px;
  left: 1px;
}

.image-plus-right {
  bottom: 1px;
  right: 1px;
}

.image-plus-top-right {
  top: 1px;
  right: 1px;
}

.image-plus-main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 50px;
  text-shadow: black 0 0 5px;
  border: none;
  background: none;
  text-align: center;

  font-weight: bold;
}

.header {
  cursor: pointer;
}

.tablesorter-headerUnSorted,
.tablesorter-headerAsc,
.tablesorter-headerDesc {
  cursor: pointer;
}

.tablesorter-sticky-visible{
  top: 59px!important;
}

.slider.slider-horizontal {
  width: 90%;
  margin-left: 5%;
}

.tablesorter-filter-row {
  display: none;
}

tr.filtered {
  display: none;
}

.sorter-false div:before {
  display: none;
}

button.filter:focus,
button.reset:focus {
  outline: none !important;
}

button.filter:not(.active):focus {
  background-color: #fff;
}

img.prepended-image {
  height: 32px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid black;
}

.prepended-image-group .input-group-addon {
  padding: 0 !important;
}

.fusion-checklist {
  width: 80px;
  text-align: center;
}

.fusion-essences {
  text-align: center;
  max-width: 1100px;
}

.fusion-essences > thead th {
  text-align: center;
}

.fusion-essences > tbody > tr {
  height: 50px;
}

.fusion-ingredients-collection {
  padding: 0 !important;
}

.fusion-awaken-materials {
  padding: 0 !important;
  width: 50px;
}

.tab-image {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 5%;
}

.element-essence {
  position: relative;
  display: inline-block;
  margin-right: 1px;
  height: 50px;
  width: 50px;
}

.element-essence img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 15%;
}
.essence-input {
  margin-left: 30px;
}

div.disabled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.6;
}

.team-list-group button {
  width: 100%;
  display: block;
  text-align: left;
}

.team-list-group {
  position: relative;
}

.team-list-group > a {
  color: #ffffff;
  position: absolute;
  top: 8px;
  right: 10px;
}

.team-list > a {
  display: block;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  line-height: 32px;
}

.deck > div.autocomplete-results {
  display: block !important;
}

td > h1,
td > h2,
td > h3,
td > h4,
td > h5,
td > h6 {
  margin: 0;
}

.monster-leader-skill {
  width: 120px;
}

.monster-leader-skill div {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.monster-leader-skill img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 1px;
}

.monster-skill-thumb {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
}

.monster-skill-thumb > img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
}

.monster-skill-effects {
  width: 150px;
}

.monster-skill-effects img {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15%;
  margin-right: 1px;
  float: left;
}

.skill-effect {
  display: inline-table;
  float: left;
  width: 30px;
  height: 30px;
  line-height: 1;
  font-size: 0.7em;
  text-align: center;
  margin-right: 1px;
  cursor: default;
}

img.skill-effect {
  margin-right: 1px;
  border-radius: 3px;
}

.skill-effect > span {
  display: table-cell;
  vertical-align: middle;
}

.skill-effect-buff {
  color: #fff;
  background-color: #052576;
  border-radius: 5px;
}

.skill-effect-debuff {
  color: #fff;
  background-color: #c30f0f;
  border-radius: 5px;
}

.monster-sources {
  width: 350px;
  padding: 0 !important;
}

.monster-source {
  display: inline-table;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 1;
  font-size: 0.8em;
  text-align: center;
  margin-right: 1px;
  cursor: default;
}

img.monster-source {
  margin-right: 1px;
  border-radius: 3px;
}

span.monster-source > span {
  display: table-cell;
  vertical-align: middle;
  background-color: #245269;
  color: #fff;
}

.monster-stats > .popover-body,
.rune-stats > .popover-body,
.artifact-stats > .popover-body,
.monster-skill > .popover-body
{
  padding: 0;
}

.monster-stats.popover {
  max-width: 400px;
  min-width: 300px;
}

.monster-stats table {
  margin: 3px;
}

.monster-stats > .popover-header {
  padding: 6px 3px;
}

div.monster-bulk-monster {
  display: inline-block;
  width: 220px;
}

#bulkAddFormset .row {
  padding-bottom: 5px;
}

.rune-assigned-to {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.bottom-right {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

.top-right {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}

.bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.top-left {
  position: absolute;
  left: 0;
  top: 0;
}

.inline-icon {
  height: 1em;
}

.spinner-container {
  min-height: 60px;
}

.spinner-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding-top: 35px;
}

.spinner {
  height: 60px;
  width: 60px;
}

.submenu-icon{
  height: 18px;
}

.tab-content.bordered {
  border-top: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  padding: 10px;
}

.dungeon-icon {
  height: 100px;
}

.monster-collection.cell.not-owned,
.monster-collection.cell.not-owned.legend {
  background-color: #2f2f2f;
  color: #ededed;
}

.monster-collection.cell.owned.legend {
  background: rgb(118, 255, 86);
  background: linear-gradient(
    90deg,
    rgba(118, 255, 86, 1) 0%,
    rgba(255, 226, 128, 1) 50%,
    rgba(255, 115, 115, 1) 100%
  );
}

.monster-collection.cell.owned.full,
.monster-collection.cell.owned.full.legend {
  background: rgba(118, 255, 86, 1);
  color: #111111;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.ml-10 {
  margin-left: 10px;
}

.table-responsive {
  overflow-y: hidden;
}

.row-empty {
  background-color: rgba(255, 0, 0, 0.2);
}

.enable-blur > *{
  filter: blur(15px);
}

.build-runes{
  width: 150px;
  height: 160px;
}

[class^="build-rune-slot-"]{
  cursor: pointer;
}

.build-rune-slot-1,
.build-rune-slot-4
{
  position: relative;
  width: 42px;
  height: 50px;
}

.build-rune-slot-2,
.build-rune-slot-3,
.build-rune-slot-5,
.build-rune-slot-6
{
  position: relative;
  width: 50px;
  height: 38px;
}

.build-rune-slot-1{
  left: 54px;
  top: 10px;
}

.build-rune-slot-2{
  left: 85px;
  top: -9px;
}

.build-rune-slot-3{
  left: 85px;
  top: -9px;
}

.build-rune-slot-4{
  left: 54px;
  top: -28px;
}

.build-rune-slot-5{
  left: 14px;
  top: -94px;
}

.build-rune-slot-6{
  left: 14px;
  top: -173px;
}

.build-rune-symbol{
  width: 32px;
  height: 32px;
}

.build-rune-slot-1 .build-rune-symbol{
  position: relative;
  left: 4px;
  top: 13px;
}

.build-rune-slot-2 .build-rune-symbol{
  position: relative;
  left: 5px;
  top: 2px;
}

.build-rune-slot-3 .build-rune-symbol{
  position: relative;
  left: 5px;
  top: 2px;
}

.build-rune-slot-4 .build-rune-symbol{
  position: relative;
  left: 5px;
  top: 5px;
}

.build-rune-slot-5 .build-rune-symbol{
  position: relative;
  left: 11px;
  top: 3px;
}

.build-rune-slot-6 .build-rune-symbol{
  position: relative;
  left: 11px;
  top: 3px;
}

.build-rune-add{
  color: rgb(55, 255, 55);
}

.build-rune-slot-1 .build-rune-add{
  position: relative;
  left: 11px;
  top: 18px;
}

.build-rune-slot-2 .build-rune-add{
  position: relative;
  left: 12px;
  top: 7px;
}

.build-rune-slot-3 .build-rune-add{
  position: relative;
  left: 12px;
  top: 7px;
}

.build-rune-slot-4 .build-rune-add{
  position: relative;
  left: 11px;
  top: 8px;
}

.build-rune-slot-5 .build-rune-add{
  position: relative;
  left: 18px;
  top: 8px;
}

.build-rune-slot-6 .build-rune-add{
  position: relative;
  left: 18px;
  top: 8px;
}

.build-artifact{
  width: 68px;
  height: 94px;
}

.build-artifact-type{
  position: relative;
  top: 13px;
  left: 11px;
  width: 46px;
  height: 68px;
}

.build-artifact-instance{
  position: relative;
  left: 14px;
  top: 21px;
  color: rgb(55, 255, 55);
  cursor: pointer;
}