{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

<div class="rune-panel">
    <div class="d-flex">
        {% include 'herders/profile/artifacts/artifact_image_fragment.html' with artifact=drop only %}
        <ul class="list-unstyled mb-0">
            <li class="rune-main-stat">{{ drop.get_main_stat_display }} +{{ drop.main_stat_value }}</li>
        </ul>
    </div>
    <ul class="list-unstyled">
        {% for x in drop.effects|length|get_range %}
            <li>
                {{ drop.get_effects_display|key:x }}
            </li>
        {% endfor %}
    </ul>
    <ul class="top-right list-unstyled">
        {% if drop.original_quality %}
            <li>Orig. <span class="badge rune-label-{{ drop.get_original_quality_display|lower }}">{{ drop.get_original_quality_display }}</span></li>
        {% endif %}
        {% if drop.value %}
            <li class="mana-crystals">
                <img src="{{ img_url_prefix }}items/mana.png" class="inline-icon" loading="lazy" /> {{ drop.value }}
            </li>
        {% endif %}
    </ul>
</div>
