{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

{% for drop in drops %}
<div class="rune-image drop-popover" style="margin-right:0!important;" data-popover-content="#artifact{{ drop.pk }}">
    <div class="artifact-bg {{ drop.get_quality_display|lower }}">
        <div class="artifact {{ drop.get_quality_display|lower }} {{ drop.get_slot_display|lower }}">
            <div class="artifact-symbol {{ drop.get_precise_slot_display|lower }}"></div>
        </div>
        <span class="image-plus image-plus-right">{{ drop.get_main_stat_display }}</span >
    </div>
</div>

<div class="hidden" id="artifact{{ drop.pk }}">
    <div class="popover-heading">
        {{ drop }}
    </div>
    <div class="popover-body">
        {% include 'herders/profile/data_logs/drops/artifact_popover.html' %}
    </div>

</div>
{% endfor %}
