{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

{% for drop in drops %}
<a href="{% url 'bestiary:detail' monster_slug=drop.monster.bestiary_slug %}" class="monster-image" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ drop.monster.name }} pieces">
    <div>
        <img src="{{ img_url_prefix }}monsters/{{ drop.monster.image_filename }}" class="monster-thumb" loading="lazy" />
        <span class="image-plus image-plus-main fa fa-puzzle-piece"></span>
        <span class="image-plus image-plus-right">x{{ drop.quantity }}</span>
    </div>
</a>
{% endfor %}
