{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

<div class="rune-panel">
    <div class="d-flex">
        {% include 'herders/profile/runes/rune_image_fragment.html' with rune=drop only %}
        <ul class="list-unstyled mb-0">
            <li class="rune-main-stat">{{ drop.get_main_stat_rune_display }} +{{ drop.main_stat_value }}{% if drop.main_stat in drop.PERCENT_STATS %}%{% endif %}</li>
            {% if rune.innate_stat %}<li>{{ drop.get_innate_stat_rune_display }} +{{ drop.innate_stat_value }}{% if drop.innate_stat in drop.PERCENT_STATS %}%{% endif %}</li>{% endif %}
        </ul>
    </div>
    <ul class="list-unstyled">
        {% for x in drop.substats|length|get_range %}
            <li>
                {{ drop.substat_rune_display|key:x }}
                <span>+{{ drop.substat_values|key:x }}{% if drop.substats|key:x in drop.PERCENT_STATS %}%{% endif %}</span>
            </li>
        {% endfor %}
    </ul>
    <ul class="top-right list-unstyled">
        {% if drop.original_quality %}
            <li>Orig. <span class="badge rune-label-{{ drop.get_original_quality_display|lower }}">{{ drop.get_original_quality_display }}</span></li>
        {% endif %}
        {% if drop.value %}
            <li class="mana-crystals">
                <img src="{{ img_url_prefix }}items/mana.png" class="inline-icon" loading="lazy" /> {{ drop.value }}
            </li>
        {% endif %}
        {% if drop.efficiency %}<li>Eff: {{ drop.efficiency|floatformat:1 }}%</li>{% endif %}
        {% if drop.max_efficiency %}<li>Max Eff: {{ drop.max_efficiency|floatformat:1 }}%</li>{% endif %}
    </ul>
</div>
