{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

{% for drop in drops %}
    {% with monster=drop.level.dungeon.secretdungeon.monster %}
        <div class="monster-image" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ monster.get_element_display }} {{ monster.name }} Secret Dungeon">
            <img src="{{ img_url_prefix }}monsters/{{ monster.image_filename }}" class="monster-thumb" loading="lazy" />
            <span class="image-plus image-plus-right">SD</span>
        </div>
    {% endwith %}
{% endfor %}
