Django==1.8.4
psycopg2
bcrypt
redis
django-redis-cache==1.6.0
django-autocomplete-light==2.2.6
django-crispy-forms==1.5.2
django-markdown-deux
django-recaptcha
django-suit
django-timezone-field
django_compressor
djangorestframework==3.2.1
drf-extensions==0.2.7
django-filter