Django<1.12
gunicorn
eventlet
psycopg2
amqp==2.1.3
bcrypt
bitstring
bugsnag
celery
coreapi
dpkt
jsonschema
pytz
python-dateutil
pycrypto
redis
requests
pillow==4.1.0
sympy>=1.0.0
django-autocomplete-light==3.2.7
django-celery-results
django-celery-beat
django_compressor
django-cors-headers
django-crispy-forms==1.6.1
django-environ
django-filter==1.0.4
django-markdown-deux
django-recaptcha
django-redis-cache==1.6.4
Django-Select2
django-suit
django-timezone-field==2.0.0
djangorestframework<3.7
djangorestframework-jwt
djangorestframework-jwt-refresh-token
drf-extensions
drf-nested-routers
django-rest-swagger
drf_ujson
