Django==1.10.7
gunicorn
eventlet==0.20.1
psycopg2
bcrypt
bitstring
celery
dpkt
jsonschema
pytz
python-dateutil
pycrypto
redis
pillow==3.1.1
sympy>=1.0.0
django-environ
django-celery-results
django-celery-beat
django-suit
django-redis-cache==1.6.4
django-autocomplete-light==3.2.2
django-cors-headers
django-crispy-forms==1.6.1
django-markdown-deux
django-recaptcha
django-timezone-field==2.0
django_compressor
djangorestframework==3.6.2
django-filter==1.0.2
Django-Select2
drf_ujson
