{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="callout callout-success" role="alert">
        <h2>Password reset</h2>
        Password successfully reset! You may now log in.
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="card shadow border-0 mb-3">
                <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                    <div class="text-center">
                        <i class="fas fa-key fa-5x text-center"></i>
                    </div>
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}