{% extends 'herders/profile/base.html' %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
    Material Storage - {{ block.super }}
{% endblock %}

{% block profile %}
    {% static 'herders/images/' as img_url_prefix %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">Elemental Essences</p>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for essence in essence_mats %}
                <div class="col-md-4 col-sm-6">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">{{ essence.name }}</h4>
                        </div>
                        <div class="list-group-item">
                            <img src="{{ img_url_prefix }}/items/essence_{{ essence.element }}_low.png" class="monster-inline pull-left" />
                            <div class="inline-editable essence-input"
                                 data-type="number"
                                 data-name="{{ essence.field_name }}.low"
                                 data-send="always"
                                 data-url="{% url 'herders:storage_update' profile_name=profile_name %}"
                                 data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >
                                {{ essence.qty.0 }}
                            </div>
                        </div>
                        <div class="list-group-item">
                            <img src="{{ img_url_prefix }}/items/essence_{{ essence.element }}_mid.png" class="monster-inline pull-left" />
                            <div class="inline-editable essence-input"
                                 data-type="number"
                                 data-name="{{ essence.field_name }}.mid"
                                 data-send="always"
                                 data-url="{% url 'herders:storage_update' profile_name=profile_name %}"
                                 data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >
                                {{ essence.qty.1 }}
                            </div>
                        </div>
                        <div class="list-group-item">
                            <img src="{{ img_url_prefix }}/items/essence_{{ essence.element }}_high.png" class="monster-inline pull-left" />
                            <div class="inline-editable essence-input"
                                 data-type="number"
                                 data-name="{{ essence.field_name }}.high"
                                 data-send="always"
                                 data-url="{% url 'herders:storage_update' profile_name=profile_name %}"
                                 data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >
                                {{ essence.qty.2 }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">Crafting Materials</p>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for craft in craft_mats %}
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body condensed">
                            <p>{{ craft.name }}</p>
                            <img src="{{ img_url_prefix }}items/craft_material_{{ craft.field_name }}.png" class="monster-inline pull-left" />
                            <div id="craft_{{ craft.field_name }}"
                                 class="inline-editable essence-input"
                                 data-type="number"
                                 data-name="{{ craft.field_name }}"
                                 data-send="always"
                                 data-url="{% url 'herders:storage_update' profile_name=profile_name %}"
                                 data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >
                                {{ craft.qty }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">Enhancing Monsters</p>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for monster in monster_mats %}
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body condensed">
                            <p>{{ monster.name }}</p>
                            <img src="{{ img_url_prefix }}items/monster_{% if 'rainbowmon' in monster.field_name %}rainbowmon{% else %}{{ monster.field_name }}{% endif %}.png" class="monster-inline pull-left" />
                            <div id="craft_{{ monster.field_name }}"
                                 class="inline-editable essence-input"
                                 data-type="number"
                                 data-name="{{ monster.field_name }}"
                                 data-send="always"
                                 data-url="{% url 'herders:storage_update' profile_name=profile_name %}"
                                 data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >
                                {{ monster.qty }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock profile %}
