{% load staticfiles humanize utils %}
{% static 'herders/images/' as img_url_prefix %}

<div class="card shadow-sm border-0 mb-3">
    <div class="card-header bg-white">
        <h3 class="card-title fw-lighter">Items</h3>
    </div>

    <div class="card-body">
        {% for item in items %}
            <div class="monster-image" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ item.name }} x{{ item.count|intcomma }}">
                <img src="{{ img_url_prefix }}items/{{ item.icon }}" class="monster-thumb" alt="{{ item.name }} Icon" loading="lazy" />
                <span class="image-plus image-plus-right">{{ item.count|humanize_number }}</span>
            </div>
        {% empty %}
            <div class="callout callout-warning fw-lighter">None!</div>
        {% endfor %}
    </div>
</div>
