{% load staticfiles humanize utils %}
{% static 'herders/images/' as img_url_prefix %}

<div class="card border-0 shadow-sm mb-3">
    <div class="card-header bg-white">
        <h3 class="card-title">Monsters</h3>
    </div>

    <div class="card-body">
        {% for monster in monsters %}
            <div class="monster-image" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ monster.stars }}⭐ {% if not monster.is_awakened %}{{ monster.element }}{% endif %} {{ monster.name }} x{{ monster.count }}">
                <img src="{{ img_url_prefix }}monsters/{{ monster.icon }}" alt="{{ monster.name }}" class="monster-thumb" loading="lazy" />
                <span>
                    {% for x in monster.stars|get_range %}
                        {% if monster.is_awakened %}
                            <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                        {% elif monster.can_awaken %}
                            <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                        {% else %}
                            <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                        {% endif %}
                    {% endfor %}
                </span>
                <span class="image-plus image-plus-right">{{ monster.count|humanize_number }}</span >
            </div>
        {% empty %}
            <div class="callout callout-warning">None!</div>
        {% endfor %}
    </div>
</div>
