{% load staticfiles humanize utils %}
{% static 'herders/images/' as img_url_prefix %}


<div class="card shadow-sm border-0 mb-3">
    <div class="card-header bg-white">
        <h3 class="card-title">Grindstones & Enchants</h3>
    </div>

    <div class="card-body">
        {% for craft in rune_crafts %}
            <div class="rune-image" data-bs-toggle="tooltip" title="{{ craft.quality }} {{ craft.rune }} {{ craft.type }} x{{ craft.count }}">
                <div class="rune-bg {% if 'Immemorial' in craft.type %}immemorial{%endif %} {{ craft.quality|lower }}">
                    <div class="rune-craft {{ craft.type|slugify }} {{ craft.quality|lower }}">
                        <div class="craft-symbol {{ craft.rune|lower }}"></div>
                    </div>
                </div>
                <span class="image-plus image-plus-right">
                    x{{ craft.count }}
                </span>
            </div>
        {% empty %}
            <div class="callout callout-warning">None!</div>
        {% endfor %}
    </div>
</div>
