{% load staticfiles humanize utils %}
{% static 'herders/images/' as img_url_prefix %}

<div class="card shadow-sm border-0 mb-3">
    <div class="card-header bg-white">
        <h3 class="card-title">Runes</h3>
    </div>

    <div class="card-body">
        {% for rune in runes %}
            <div class="rune-image" style="margin-right:0!important;" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ rune.stars }}⭐ {{ rune.quality }} {{ rune.type }} Rune x{{ rune.count|intcomma }}">
                <div class="rune-bg {{ rune.quality|lower }}">
                    <div class="rune slot1">
                        <div class="rune-symbol {{ rune.type|lower }}"></div>
                    </div>
                    {% for x in rune.stars|get_range %}
                        {% if rune.level == 15 %}
                        <img class="star star-{{ forloop.counter }}" src="{{ img_url_prefix }}stars/star-awakened.png" loading="lazy" />
                        {% else %}
                        <img class="star star-{{ forloop.counter }}" src="{{ img_url_prefix }}stars/star-unawakened.png" loading="lazy" />
                        {% endif %}
                    {% endfor %}
                    <span class="image-plus image-plus-right">{{ rune.count|humanize_number }}</span >
                </div>
            </div>
        {% empty %}
            <div class="callout callout-warning">None!</div>
        {% endfor %}
    </div>
</div>
