{% extends 'herders/profile/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block title %}
    {% if is_owner %}
        My Monsters - {{ block.super }}
    {% else %}
        {{ summoner.user.username }}'s Monsters - {{ block.super }}
    {% endif %}
{% endblock %}

{% block monster_menu %}
    {% if is_owner %}
        <ul class="navbar-nav ps-2">
            <li class="nav-item py-0"><a class="nav-link py-0 text-muted monster-add" style="cursor: pointer;"><i class="fas fa-plus"></i> Add Monster</a></li>
            <li class="nav-item py-0"><a class="nav-link py-0 text-muted quick-fodder-menu" style="cursor: pointer;"><i class="far fa-clock"></i> Quick Fodder</a></li>
            <li class="nav-item py-0"><a class="nav-link py-0 text-muted" href="{% url 'herders:monster_instance_bulk_add' profile_name=profile_name %}" ><i class="fas fa-list-ul"></i> Bulk Add</a></li>
            <li class="nav-item py-0"><a class="nav-link py-0 text-muted" href="{% url 'herders:monster_compare' profile_name=profile_name %}" ><i class="fas fa-exchange-alt"></i> Compare</a></li>
        </ul>
    {% endif %}
{% endblock monster_menu %}

{% block profile %}
    <div class="card shadow-sm border-0 mb-3">
        <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
            <button class="btn btn-outline-dark btn-block w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#monsterFilterCollapse">
                <i class="fas fa-filter"></i> Filters
            </button>
        </div>
        <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %} collapse" id="monsterFilterCollapse">
            {% crispy monster_filter_form %}
        </div>
    </div>

    <div id="monster-inventory"></div>
{% endblock profile %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/widgets/widget-columnSelector.min.js"></script>
{% endblock javascript %}