{% extends 'herders/profile/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block title %}
    {% if is_owner %}
        My Monsters - {{ block.super }}
    {% else %}
        {{ summoner.user.username }}'s Monsters - {{ block.super }}
    {% endif %}
{% endblock %}

{% block profile %}
    <div class="filters">
        <button class="btn btn-default btn-block filter-header collapsed" data-toggle="collapse" data-target="#monsterFilterCollapse">
            <span class="glyphicon glyphicon-filter"></span> Filters
        </button>
        <div class="collapse" id="monsterFilterCollapse">
            {% crispy monster_filter_form %}
        </div>
    </div>

    <div id="monster-inventory"></div>
{% endblock profile %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/widgets/widget-columnSelector.min.js"></script>
{% endblock javascript %}