{% load staticfiles %}
{% load crispy_forms_tags %}
{% load utils %}

<div id="monster-inventory">
    {% static 'herders/images/' as img_url_prefix %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button class="btn btn-default profile-view-mode" data-mode="list">
                    <span class="glyphicon glyphicon-th-list"></span> List
                </button>
                <button class="btn btn-default profile-view-mode active" data-mode="box">
                    <span class="glyphicon glyphicon-th-large"></span> Box
                </button>
                <button class="btn btn-default profile-view-mode" data-mode="pieces">
                    <span class="fa fa-puzzle-piece"></span> Pieces
                </button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Grouped By {{ box_grouping|title }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% if not box_grouping == 'stars' %}<li><a class="box-group-mode" data-mode="stars">Stars</a></li>{% endif %}
                    {% if not box_grouping == 'natural_stars' %}<li><a class="box-group-mode" data-mode="natural_stars">Natural Stars</a></li>{% endif %}
                    {% if not box_grouping == 'level' %}<li><a class="box-group-mode" data-mode="level">Level</a></li>{% endif %}
                    {% if not box_grouping == 'element' %}<li><a class="box-group-mode" data-mode="attribute">Element</a></li>{% endif %}
                    {% if not box_grouping == 'archetype' %}<li><a class="box-group-mode" data-mode="archetype">Archetype</a></li>{% endif %}
                    {% if not box_grouping == 'family' %}<li><a class="box-group-mode" data-mode="family">Family</a></li>{% endif %}
                    {% if not box_grouping == 'priority' %}<li><a class="box-group-mode" data-mode="priority">Priority</a></li>{% endif %}
                </ul>
            </div>
            <span class="pull-right">{{ filtered_count }} of {{ total_count }} monster{{ total_count|pluralize }}</span>
        </div>
        <div class="panel-body">
            {% if monsters %}
                {% for groupname, monsters in monster_stable.items %}
                    {% if total_count > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{ groupname|capfirst }}</strong>
                                <span class="pull-right">{% with num_monsters=monsters|length %}{{ num_monsters }} monster{{ num_monsters|pluralize }}{% endwith %}</span>
                            </div>
                            <div class="panel-body">
                                {% for instance in monsters %}
                                    {% include 'herders/profile/monster_inventory/monster_box_snippet.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">Your search returned no results or you have no monsters!</div>
            {% endif %}
        </div>
    </div>
</div>