{% load staticfiles %}
{% load crispy_forms_tags %}
{% load utils %}

<div id="monster-inventory">
    {% static 'herders/images/' as img_url_prefix %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button class="btn btn-default profile-view-mode" data-mode="list">
                    <span class="glyphicon glyphicon-th-list"></span> List
                </button>
                <button class="btn btn-default profile-view-mode active" data-mode="box">
                    <span class="glyphicon glyphicon-th-large"></span> Box
                </button>
                <button class="btn btn-default profile-view-mode" data-mode="pieces">
                    <span class="fa fa-puzzle-piece"></span> Pieces
                </button>
            </div>

            <div class="btn-group">
                <button class="btn btn-default box-group-mode {% if box_grouping == 'grade' %}active{% endif %}" data-mode="grade">Grade</button>
                <button class="btn btn-default box-group-mode {% if box_grouping == 'level' %}active{% endif %}" data-mode="level">Level</button>
                <button class="btn btn-default box-group-mode {% if box_grouping == 'attribute' %}active{% endif %}" data-mode="attribute">Attribute</button>
                <button class="btn btn-default box-group-mode {% if box_grouping == 'priority' %}active{% endif %}" data-mode="priority">Priority</button>
            </div>
            <span class="pull-right">{{ filtered_count }} of {{ total_count }} monster{{ total_count|pluralize }}</span>
        </div>
        <div class="panel-body">
            {% if monsters %}
                {% for groupname, monsters in monster_stable.iteritems %}
                    {% if monsters|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{ groupname|capfirst }}</strong>
                                <span class="pull-right">{% with num_monsters=monsters|length %}{{ num_monsters }} monster{{ num_monsters|pluralize }}{% endwith %}</span>
                            </div>
                            <div class="panel-body">
                                {% for instance in monsters %}
                                    {% include 'herders/profile/monster_inventory/monster_box_snippet.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">Your search returned no results or you have no monsters!</div>
            {% endif %}
        </div>
    </div>
</div>