{% load staticfiles %}
{% load crispy_forms_tags %}
{% load utils %}

<div id="monster-inventory">
    {% static 'herders/images/' as img_url_prefix %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button class="btn btn-default profile-view-mode" data-mode="list">
                    <span class="glyphicon glyphicon-th-list"></span> List
                </button>
                <button class="btn btn-default profile-view-mode active" data-mode="box">
                    <span class="glyphicon glyphicon-th-large"></span> Box
                </button>
                <button class="btn btn-default profile-view-mode" data-mode="pieces">
                    <span class="fa fa-puzzle-piece"></span> Pieces
                </button>
            </div>

            <div class="btn-group">
                <button class="btn btn-default box-group-mode {% if box_grouping == 'grade' %}active{% endif %}" data-mode="grade">Grade</button>
                <button class="btn btn-default box-group-mode {% if box_grouping == 'level' %}active{% endif %}" data-mode="level">Level</button>
                <button class="btn btn-default box-group-mode {% if box_grouping == 'attribute' %}active{% endif %}" data-mode="attribute">Attribute</button>
                <button class="btn btn-default box-group-mode {% if box_grouping == 'priority' %}active{% endif %}" data-mode="priority">Priority</button>
            </div>
        </div>
        <div class="panel-body">
            {% if monsters %}
                {% for groupname, monsters in monster_stable.iteritems %}
                    {% if monsters|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{ groupname|capfirst }}</strong>
                                <span class="pull-right">{% with num_monsters=monsters|length %}{{ num_monsters }} monster{{ num_monsters|pluralize }}{% endwith %}</span>
                            </div>
                            <div class="panel-body">
                                {% for instance in monsters %}
                                    <div class="monster-box">
                                        <div class="monster-box-actions">
                                            {{ instance.monster.name }}
                                        </div>
                                        <div class="monster-box-thumb monster-popover" data-instance-id="{{ instance.pk.hex }}" title="{{ instance.monster.name }} - {{ instance.monster.get_element_display }} {% if instance.monster.awakens_from %}{{ instance.monster.awakens_from.name }}{% endif %}">
                                            <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=instance.pk.hex %}">
                                                <img src="{{ img_url_prefix }}monsters/{{ instance.monster.image_filename }}"/>
                                                <span>
                                                    {% for x in instance.stars|get_range %}
                                                        {% if instance.monster.is_awakened %}
                                                            <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                        {% elif instance.monster.can_awaken %}
                                                            <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                        {% else %}
                                                            <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>
                                                <div class="image-plus-icon">
                                                    {% if instance.monster.fusion_food and not instance.ignore_for_fusion %}
                                                        <img src="{{ img_url_prefix }}icons/fusion.png" />
                                                    {% elif instance.monster.fusion_food and instance.ignore_for_fusion %}
                                                        <img src="{{ img_url_prefix }}icons/fusion_ignored.png" />
                                                    {% endif %}
                                                    {% if instance.fodder %}
                                                        <span class="fa-stack">
                                                            <span class="fa fa-square fa-stack-2x"></span>
                                                            <span class="fa fa-birthday-cake fa-stack-1x fa-inverse"></span>
                                                        </span>
                                                    {% endif %}
                                                    {% if instance.in_storage %}
                                                        <span class="fa-stack">
                                                            <span class="fa fa-square fa-stack-2x"></span>
                                                            <span class="fa fa-bed fa-stack-1x fa-inverse"></span>
                                                        </span>
                                                    {% endif %}
                                                </div>

                                                <span class="image-plus image-plus-right">{{ instance.level }}</span>
                                            </a>
                                        </div>

                                        {% if is_owner %}
                                        <div class="monster-box-actions">
                                            <button class="btn btn-link btn-xs monster-delete pull-right" data-instance-id="{{ instance.pk.hex }}">
                                                <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></span>
                                            </button>

                                            <div class="btn-group pull-left">
                                                <button class="btn btn-link btn-xs monster-edit" data-instance-id="{{ instance.pk.hex }}">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>
                                                </button>
                                                <button class="btn btn-link btn-xs monster-copy" data-instance-id="{{ instance.pk.hex }}">
                                                    <span class="glyphicon glyphicon-copy" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Copy"></span>
                                                </button>
                                                {% if not instance.monster.is_awakened and instance.monster.can_awaken %}
                                                <button class="btn btn-link btn-xs monster-awaken" data-instance-id="{{ instance.pk.hex }}">
                                                    <span class="glyphicon glyphicon-star" style="color:purple" data-toggle="tooltip" data-placement="top" title="Awaken"></span>
                                                </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">Your search returned no results or you have no monsters!</div>
            {% endif %}
        </div>
    </div>
</div>