{% extends 'herders/profile/monster_inventory/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block title %}Bulk Add Monsters - {{ block.super }}{% endblock title %}

{% block profile %}
    {% static 'herders/images/' as img_url_prefix %}

    {% if validation_errors %}
        <div class="callout callout-danger" role="alert">
            <h2 class="fw-lighter">Errors</h2>
            Please fix the following errors:
            <ul>
                {% for error,error_string in validation_errors.items %}
                <li>{{ error_string }}</li>
                {% endfor %}
                {% for dict in form_errors %}
                    {% for error in dict.values %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="card shadow border-0 mb-3">
        <div class="card-header bg-white">
            <h4 class="fw-lighter">Bulk Add</h4>
        </div>
        <div class="card-body table-responsive">
            <form method="post" action="{{ bulk_add_formset_action }}" class="form-inline" id="bulkAddFormset" data-formset-prefix="{{ bulk_add_formset.prefix }}">
                {% csrf_token %}
                {{ bulk_add_formset.management_form|crispy }}
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Monster</th>
                        <th>Stars</th>
                        <th>Level</th>
                        <th>In Storage</th>
                        <th>Fodder</th>
                    </tr>
                    </thead>
                    <tbody data-formset-body>
                    {% for form in bulk_add_formset %}
                        <tr data-formset-form>{% crispy form %}</tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="row">
                    <div class="btn-group" role="group" aria-label="Form Buttons">
                        <button type="button" class="btn btn-outline-dark" data-formset-add>Add Another</button>
                        <input type="submit" name="submit" value="Submit" class="btn btn-success" id="submit-id-submit"/>
                        <a href="{{ return_path }}" class="btn btn-outline-danger">Cancel</a>
                    </div>
                </div>

                <script type="form-template" data-formset-empty-form>
                    {% autoescape off %}
                        <tr data-formset-form>{% crispy bulk_add_formset.empty_form %}</tr>
                    {% endautoescape %}
                </script>
            </form>
        </div>
    </div>
{% endblock profile %}