{% extends 'herders/profile/monster_inventory/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block title %}Bulk Add Monsters - {{ block.super }}{% endblock title %}

{% block profile %}
    {% static 'herders/images/' as img_url_prefix %}

    {% if validation_errors %}
        <div class="alert alert-danger" role="alert">
            Please fix the following errors:
            <ul>
                {% for error,error_string in validation_errors.iteritems %}
                <li>{{ error_string }}</li>
                {% endfor %}
                {% for dict in form_errors %}
                    {% for error in dict.values %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post" action="{{ bulk_add_formset_action }}" class="form-inline" id="bulkAddFormset" data-formset-prefix="{{ bulk_add_formset.prefix }}">
        {% csrf_token %}
        {{ bulk_add_formset.management_form|crispy }}
        <div class="row">
            <div class="col-md-4"><label>Monsters</label></div>
            <div class="col-md-2"><label>Stars</label></div>
            <div class="col-md-2"><label>Level</label></div>
            <div class="col-md-2"><label>In Storage</label></div>
            <div class="col-md-2"><label>Fodder</label></div>
        </div>
        <div data-formset-body>
        {% for form in bulk_add_formset %}
            {% crispy form %}
        {% endfor %}
        </div>

        <div class="btn-toolbar">
            <button type="button" class="btn btn-default" data-formset-add>Add Another</button>
            <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit"/>
            <a href="{{ return_path }}" class="btn btn-link">Cancel</a>
        </div>


        <script type="form-template" data-formset-empty-form>
            {% autoescape off %}
                <div data-formset-form>{% crispy bulk_add_formset.empty_form %}</div>
            {% endautoescape %}
        </script>
    </form>

<p>{{ bulk_add_formset.media }}</p>
{% endblock profile %}