{% load staticfiles %}
{% load crispy_forms_tags %}
{% load utils %}

<div id="monster-inventory">
    {% static 'herders/images/' as img_url_prefix %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button class="btn btn-default profile-view-mode" data-mode="list">
                    <span class="glyphicon glyphicon-th-list"></span> List
                </button>
                <button class="btn btn-default profile-view-mode" data-mode="box">
                    <span class="glyphicon glyphicon-th-large"></span> Box
                </button>
                <button class="btn btn-default profile-view-mode" data-mode="pieces">
                    <span class="fa fa-puzzle-piece"></span> Pieces
                </button>
                <button class="btn btn-default profile-view-mode active" data-mode="collection">
                    <span class="fa fa-users"></span> Collection
                </button>
            </div>

        </div>
        <div class="panel-body">
            {% if monster_stable %}
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-10">
                            <table class="table table-responsive">
                                <thead>
                                    <th scope="col"></th>
                                    <th scope="col">Fire</th>
                                    <th scope="col">Water</th>
                                    <th scope="col">Wind</th>
                                    <th scope="col">Light</th>
                                    <th scope="col">Dark</th>
                                    <th scope="col">Possible skillups</th>
                                </thead>
                                <tbody>
                                    {% for mon in monster_stable %}
                                        <tr>
                                            <td>{{ mon.name }}</td>

                                            {% include 'herders/profile/monster_inventory/collection_cell.html' with data=mon.elements.fire name=mon.name element="Fire" %}
                                            {% include 'herders/profile/monster_inventory/collection_cell.html' with data=mon.elements.water name=mon.name element="Water" %}
                                            {% include 'herders/profile/monster_inventory/collection_cell.html' with data=mon.elements.wind name=mon.name element="Wind" %}
                                            {% include 'herders/profile/monster_inventory/collection_cell.html' with data=mon.elements.light name=mon.name element="Light" %}
                                            {% include 'herders/profile/monster_inventory/collection_cell.html' with data=mon.elements.dark name=mon.name element="Dark" %}

                                            <td>{% if mon.possible_skillups %}{{ mon.possible_skillups }}{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-sm-2">
                            <table class="table table-responsive">
                                <thead>
                                    <th scope="col">Legend</th>
                                </thead>
                                <tbody>
                                    <tr><td>It does <b>NOT</b> include second awakening monsters</td></tr>
                                    <tr><td>Number in cell indicates how many skill ups left to max</td></tr>
                                    <tr><td class="monster-collection cell not-owned legend">Not owned</td></tr>
                                    <tr><td class="monster-collection cell owned legend">Owned, not skilled up</td></tr>
                                    <tr><td class="monster-collection cell owned full legend">Owned and fully skilled up</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning">Your search returned no results or you have no monsters!</div>
            {% endif %}
        </div>
    </div>
</div>