{% load staticfiles %}
{% load crispy_forms_tags %}
{% load utils %}

<div id="monster-inventory">
    {% static 'herders/images/' as img_url_prefix %}

    <div class="card shadow border-0 mb-3">
        <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %}">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-{% if user.is_authenticated and user.summoner.dark_mode %}light{% else %}dark{% endif %} profile-view-mode" data-mode="list">
                    <i class="fas fa-th-list"></i> List
                </button>
                <button class="btn btn-outline-{% if user.is_authenticated and user.summoner.dark_mode %}light{% else %}dark{% endif %} profile-view-mode" data-mode="box">
                    <i class="fas fa-th-large"></i> Box
                </button>
                <button class="btn btn-outline-{% if user.is_authenticated and user.summoner.dark_mode %}light{% else %}dark{% endif %} profile-view-mode" data-mode="pieces">
                    <i class="fas fa-puzzle-piece"></i> Pieces
                </button>
                <button class="btn btn-outline-{% if user.is_authenticated and user.summoner.dark_mode %}light{% else %}dark{% endif %} profile-view-mode active" data-mode="collection">
                    <i class="fas fa-layer-group"></i> Collection
                </button>
            </div>
        </div>
        <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
            <div class="callout callout-warning">
                <h2>No 2A & Devilmons!</h2>
                <p>This view does NOT include 2A monsters & Devilmons!</p>
            </div>
            {% if monster_stable %}
            <ul class="nav nav-pills mb-3 float-right sticky-top" id="collection-tab" role="tablist">
                    <li class="nav-item card border-0 shadow-sm mb-3 mx-3 p-0 {% if user.is_authenticated and user.summoner.dark_mode %}bg-none{% endif %}" role="presentation">
                        <button 
                            class="nav-link card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark text-light{% endif %} card-monster active" 
                            id="collection-1-tab" 
                            data-bs-toggle="pill" 
                            data-bs-target="#collection-1" 
                            type="button" 
                            role="tab" 
                            aria-controls="collection-1" 
                            aria-selected="true"
                        >
                            Card View
                        </button>
                    </li>
                    <li class="nav-item card border-0 shadow-sm mb-3 mx-3 p-0 {% if user.is_authenticated and user.summoner.dark_mode %}bg-none{% endif %}" role="presentation">
                        <button 
                            class="nav-link card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark text-light{% endif %} card-monster" 
                            id="collection-2-tab" 
                            data-bs-toggle="pill" 
                            data-bs-target="#collection-2" 
                            type="button" 
                            role="tab" 
                            aria-controls="collection-2" 
                            aria-selected="true"
                        >
                            Tabular View
                        </button>
                    </li>
            </ul>
            <div class="tab-content" id="collection-tabContent">
                <div class="tab-pane fade show active" id="collection-1" role="tabpanel" aria-labelledby="collection-1-tab">
                    <div class="d-flex flex-wrap justify-content-around">
                    <div class="card-deck row">
                        {% for mon in monster_stable %}
                        <div class="col-12 col-md-4 col-lg-3 mb-3">
                            <div class="card shadow-sm border-0 m-1 h-100 {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                                <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark-elevate border-dark{% endif %}">
                                    {{ mon.name }}
                                    {% if mon.possible_skillups %}<span class="float-right"><strong>{{ mon.possible_skillups}}</strong> possible skillups{% endif %}
                                </div>
                                <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark-elevate border-dark{% endif %} py-0">
                                    {% for el, data in mon.elements.items %}
                                    <div class="card-header bg-unset {% if forloop.last%}border-0 {% endif %}{% if user.is_authenticated and user.summoner.dark_mode %}border-dark{% endif %} p-0 py-2 monster-element">
                                        <img src="{% static 'herders/images/elements/'|add:el|add:'.png' %}" />
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="d-flex flex-column">
                                                    <p><strong>Acquired</strong></p>
                                                    <p class="h3">
                                                    {% if data.skill_ups_to_max or data.skilled_up %}
                                                        <i class="fas fa-check"></i>
                                                    {% else %}
                                                        <i class="fas fa-times"></i>
                                                    {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="d-flex flex-column">
                                                    <p><strong>Skillups left</strong></p>
                                                    <p class="h3">
                                                    {% if data.skilled_up %}
                                                        0
                                                    {% elif data.skill_ups_to_max %}
                                                        {{ data.skill_ups_to_max }}
                                                    {% else %}
                                                        {{ data.skillups_max }}
                                                    {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="card-footer {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark-elevate border-dark{% endif %}">
                                {% if mon.skillups_need > 0 %}
                                    <span class="float-right">Missing <strong>{{ mon.skillups_need }}</strong> skillups</span>
                                {% else %}
                                    <span class="float-right">Enough skillups</span>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="collection-2" role="tabpanel" aria-labelledby="collection-2-tab">
                    <div class="d-flex flex-wrap justify-content-around">
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <td class="monster-collection cell not-owned legend">Not owned or not awakened</td>
                                    <td class="monster-collection cell owned legend">Owned and awakened, not skilled up</td>
                                    <td class="monster-collection cell owned full legend">Owned, awakened and fully skilled up</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Fire</th>
                                    <th scope="col">Water</th>
                                    <th scope="col">Wind</th>
                                    <th scope="col">Light</th>
                                    <th scope="col">Dark</th>
                                    <th scope="col">Possible skillups</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mon in monster_stable %}
                                    <tr>
                                        <td>{{ mon.name }}</td>

                                        {% include 'herders/profile/monster_inventory/collection_cell.html' with data=mon.elements.fire name=mon.name element="Fire" %}
                                        {% include 'herders/profile/monster_inventory/collection_cell.html' with data=mon.elements.water name=mon.name element="Water" %}
                                        {% include 'herders/profile/monster_inventory/collection_cell.html' with data=mon.elements.wind name=mon.name element="Wind" %}
                                        {% include 'herders/profile/monster_inventory/collection_cell.html' with data=mon.elements.light name=mon.name element="Light" %}
                                        {% include 'herders/profile/monster_inventory/collection_cell.html' with data=mon.elements.dark name=mon.name element="Dark" %}

                                        <td>{% if mon.possible_skillups %}{{ mon.possible_skillups }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="callout callout-warning">
                <h2>No records!</h2>
                <p>Your search returned no results or you have no monsters!</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
