{% load staticfiles %}

{% static 'herders/images/' as img_url_prefix %}

<div id="monster-inventory">
    <div class="card shadow border-0 mb-3">
        <div class="card-header bg-white">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-dark profile-view-mode active" data-mode="list">
                    <i class="fas fa-th-list"></i> List
                </button>
                <button class="btn btn-outline-dark profile-view-mode" data-mode="box">
                    <i class="fas fa-th-large"></i> Box
                </button>
                <button class="btn btn-outline-dark profile-view-mode" data-mode="pieces">
                    <i class="fas fa-puzzle-piece"></i> Pieces
                </button>
                <button class="btn btn-outline-dark profile-view-mode" data-mode="collection">
                    <i class="fas fa-layer-group"></i> Collection
                </button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Grouped By {{ box_grouping|title }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% if not box_grouping == 'stars' %}<li class="dropdown-item"><a class="dropdown-link box-group-mode text-muted" data-mode="stars">Stars</a></li>{% endif %}
                    {% if not box_grouping == 'natural stars' %}<li class="dropdown-item"><a class="dropdown-link box-group-mode text-muted" data-mode="natural_stars">Natural Stars</a></li>{% endif %}
                    {% if not box_grouping == 'level' %}<li class="dropdown-item"><a class="dropdown-link box-group-mode text-muted" data-mode="level">Level</a></li>{% endif %}
                    {% if not box_grouping == 'element' %}<li class="dropdown-item"><a class="dropdown-link box-group-mode text-muted" data-mode="attribute">Element</a></li>{% endif %}
                    {% if not box_grouping == 'archetype' %}<li class="dropdown-item"><a class="dropdown-link box-group-mode text-muted" data-mode="archetype">Archetype</a></li>{% endif %}
                    {% if not box_grouping == 'family' %}<li class="dropdown-item"><a class="dropdown-link box-group-mode text-muted" data-mode="family">Family</a></li>{% endif %}
                    {% if not box_grouping == 'priority' %}<li class="dropdown-item"><a class="dropdown-link box-group-mode text-muted" data-mode="priority">Priority</a></li>{% endif %}
                </ul>
            </div>

            <button class="btn btn-outline-dark column-select toggle collapsed" data-bs-toggle="collapse" data-bs-target="#column-selector-collapse">
                Select Columns
            </button>

            <span class="float-right fw-lighter text-muted"><strong>{{ filtered_count }}</strong> of <strong>{{ total_count }}</strong> monster{{ total_count|pluralize }}</span>
        </div>
        
        <div id="column-selector-collapse" class="collapse">
            <div class="card-body">
                <div id="column-selectors" class="d-flex flex-wrap align-items-center justify-content-center"></div>
            </div>
        </div>

        <div class="card-body">
            {% if monsters %}
                <div class="table-responsive">
                    <table id="monster_table" class="table table-hover table-condensed monster-table" data-save-filters="true">
                        <thead class="bg-white">
                            <tr>
                                <th data-sorter="false" data-columnSelector="disable"></th>
                                <th>Name</th>
                                <th class="monster-stars-column">Stars</th>
                                <th class="monster-stars-column" data-columnSelector="false">Natural Stars</th>
                                <th class="monster-level-column">Level</th>
                                <th class="monster-element">Element</th>
                                <th>Archetype</th>
                                {% if is_owner %}<th>Summoned On</th>{% endif %}
                                <th>Priority</th>
                                <th>Leader Skill</th>
                                <th data-columnSelector="false">Awakens From</th>
                                <th data-columnSelector="false">Awakens To</th>
                                <th data-sorter="false" data-columnSelector="false">Skills</th>
                                <th data-columnSelector="false">Skill-Ups Remaining</th>
                                <th data-sorter="false" data-columnSelector="false">Runes</th>
                                <th data-columnSelector="false">Avg Rune Efficiency</th>
                                <th data-sorter="false" data-columnSelector="false">Artifacts</th>
                                <th data-columnSelector="false">HP</th>
                                <th data-columnSelector="false">DEF</th>
                                <th data-columnSelector="false">ATK</th>
                                <th data-columnSelector="false">SPD</th>
                                <th data-columnSelector="false">CRI Rate</th>
                                <th data-columnSelector="false">CRI Dmg</th>
                                <th data-columnSelector="false">RES</th>
                                <th data-columnSelector="false">ACC</th>
                                <th data-columnSelector="false">Effective HP</th>
                                <th data-sorter="false" data-columnSelector="false">Awakening Materials</th>
                                <th>Notes</th>
                                <th data-sorter="false" data-columnSelector="false">Teams</th>
                                <th data-sorter="false">Labels</th>
                                <th class="monster-info-icons-column" data-selector-name="Fusion Food"><img src="{{ img_url_prefix }}icons/fusion.png" data-toggle="tooltip" data-placement="top" title="Used in monster fusion" loading="lazy" /></th>
                                <th class="monster-info-icons-column" data-selector-name="Locked"><i class="fas fa-lock"></i></th>
                                <th class="monster-info-icons-column" data-selector-name="Fodder"><i class="fas fa-birthday-cake" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Marked as food"></i></th>
                                <th class="monster-info-icons-column" data-selector-name="In Storage"><i class="fas fa-bed" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="In Monster Storage"></i></th>
                                {% if is_owner %}
                                    <th data-sorter="false" data-columnSelector="disable"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody id="inventory-container">
                            {% for instance in monsters %}
                                {% include 'herders/profile/monster_inventory/monster_list_row_snippet.html' %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="callout callout-warning">
                    <h2 class="fw-lighter">No records!</h2>
                    <p class="fw-lighter">Your search returned no results or you have no monsters!</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
