{% load staticfiles %}

{% static 'herders/images/' as img_url_prefix %}

<div id="monster-inventory">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button class="btn btn-default profile-view-mode active" data-mode="list">
                    <span class="glyphicon glyphicon-th-list"></span> List
                </button>
                <button class="btn btn-default profile-view-mode" data-mode="box">
                    <span class="glyphicon glyphicon-th-large"></span> Box
                </button>
                <button class="btn btn-default profile-view-mode" data-mode="pieces">
                    <span class="fa fa-puzzle-piece"></span> Pieces
                </button>
            </div>
            <button class="btn btn-primary column-select toggle collapsed" data-toggle="collapse" data-target="#column-selector-collapse">
                Select Columns
            </button>
            <span class="pull-right">{{ filtered_count }} of {{ total_count }} monster{{ total_count|pluralize }}</span>
        </div>

        <div id="column-selector-collapse" class="collapse">
            <div class="panel-body">
                <div id="column-selectors"></div>
            </div>
        </div>

        {% if monsters %}
            <div class="table-responsive">
                <table id="monster_table" class="table table-hover table-condensed monster-table" data-save-filters="true">
                    <thead>
                        <tr>
                            <th data-sorter="false" data-columnSelector="disable"></th>
                            <th>Name</th>
                            <th class="monster-stars-column">Stars</th>
                            <th class="monster-level-column">Level</th>
                            <th class="monster-element">Element</th>
                            <th>Archetype</th>
                            <th>Summoned On</th>
                            <th>Priority</th>
                            <th>Leader Skill</th>
                            <th data-columnSelector="false">Awakens From</th>
                            <th data-columnSelector="false">Awakens To</th>
                            <th data-sorter="false" data-columnSelector="false">Skills</th>
                            <th data-columnSelector="false">Skill-Ups Remaining</th>
                            <th data-sorter="false" data-columnSelector="false">Runes</th>
                            <th data-columnSelector="false">HP</th>
                            <th data-columnSelector="false">DEF</th>
                            <th data-columnSelector="false">ATK</th>
                            <th data-columnSelector="false">SPD</th>
                            <th data-columnSelector="false">CRI Rate</th>
                            <th data-columnSelector="false">CRI Dmg</th>
                            <th data-columnSelector="false">RES</th>
                            <th data-columnSelector="false">ACC</th>
                            <th data-sorter="false" data-columnSelector="false">Awakening Materials</th>
                            <th>Notes</th>
                            <th data-sorter="false" data-columnSelector="false">Teams</th>
                            <th data-sorter="false">Labels</th>
                            <th class="monster-info-icons-column" data-selector-name="Fusion Food"><img src="{{ img_url_prefix }}icons/fusion.png"  data-toggle="tooltip" data-placement="top" title="Used in monster fusion"/></th>
                            <th class="monster-info-icons-column" data-selector-name="Fodder"><span class="fa fa-birthday-cake" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Marked as food"></span></th>
                            <th class="monster-info-icons-column" data-selector-name="In Storage"><span class="fa fa-bed" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="In Monster Storage"></span></th>
                            {% if is_owner %}
                                <th data-sorter="false" data-columnSelector="disable"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody id="inventory-container">
                        {% for instance in monsters %}
                            {% include 'herders/profile/monster_inventory/monster_list_row_snippet.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="panel-body">
                <div class="alert alert-warning">Your search returned no results or you have no monsters!</div>
            </div>
        {% endif %}
    </div>
</div>