{% load staticfiles %}
{% load utils %}
{% load markdown_deux_tags %}
{% static 'herders/images/' as img_url_prefix %}

<tr>
    <td class="monster-image">
        <div class="monster-popover" data-instance-id="{{ instance.pk.hex }}" title="{{ instance.monster.name }}">
            <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=instance.pk.hex %}">
                <img src="{{ img_url_prefix }}monsters/{{ instance.monster.image_filename }}" class="monster-thumb"/>
                <span>
                    {% for x in instance.stars|get_range %}
                        {% if instance.monster.is_awakened %}
                            <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                        {% elif instance.monster.can_awaken %}
                            <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                        {% else %}
                            <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                        {% endif %}
                    {% endfor %}
                </span>
                <span class="image-plus image-plus-right">{{ instance.level }}</span>
            </a>
        </div>
    </td>
    <td>{{ instance.monster.name|title }}</td>
    <td class="monster-stars-column">{{ instance.stars }}<span class="glyphicon glyphicon-star"></span></td>
    <td>
        {{ instance.level }}
        {% if instance.is_max_level %}
            {% if instance.stars == 6 %}
                <span class="glyphicon glyphicon-ok-circle" style="color:darkgreen"></span>
            {% else %}
                <span class="glyphicon glyphicon-upload" style="color:darkorange;" data-toggle="tooltip" data-placement="top" title="Ready for Evolution!"></span>
            {% endif %}
        {% endif %}
    </td>
    <td class="monster-element">
        <img src="{{ img_url_prefix }}elements/{{ instance.monster.element }}.png" />
        <span>{{ instance.monster.element }}</span>
    </td>
    <td>{{ instance.monster.get_archetype_display }}</td>
    <td>{{ instance.get_priority_display }}</td>
    <td class="monster-leader-skill">
        {% if instance.monster.leader_skill %}
        <div>
            <img src="{{ img_url_prefix }}skills/leader/{{ instance.monster.leader_skill.icon_filename }}"
                 data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="Leader Skill" data-content="{{ instance.monster.leader_skill.skill_string }}" />
            <span class="image-plus image-plus-top-left">{{ instance.monster.leader_skill.amount }}%</span>
        </div>
        {% endif %}
    </td>
    <td class="monster-skill-effects">
    {% for effect in instance.monster.all_skill_effects %}
        {% if effect.icon_filename %}
            <img src="{{ img_url_prefix }}buffs/{{ effect.icon_filename }}"
                    data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}"
                    />
        {% else %}
            <span class="skill-effect {% if effect.is_buff %}skill-effect-buff{% else %}skill-effect-debuff{% endif %}" data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}">
                <span>{{ effect.name }}</span>
            </span>
        {% endif %}
    {% endfor %}
    </td>
    <td>{% if instance.notes %}{{ instance.notes|truncatewords:25|markdown|striptags }}{% endif %}</td>
    <td class="monster-info-icons-column">
        {% if instance.monster.fusion_food and not instance.ignore_for_fusion %}
            <img src="{{ img_url_prefix }}icons/fusion.png"  data-toggle="tooltip" data-placement="top" title="Used in monster fusion"/>
            <span class="hidden">0</span>
        {% elif instance.monster.fusion_food and instance.ignore_for_fusion %}
            <img src="{{ img_url_prefix }}icons/fusion_ignored.png"  data-toggle="tooltip" data-placement="top" title="Ignored for monster fusion"/>
            <span class="hidden">1</span>
        {% else %}
            <span class="hidden">2</span>
        {% endif %}
    </td>
    <td class="monster-info-icons-column">
        {% if instance.fodder %}
            <span class="fa fa-birthday-cake" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Marked as food"></span>
            <span class="hidden">0</span>
        {% else %}
            <span class="hidden">1</span>
        {% endif %}
    </td>
    <td class="monster-info-icons-column">
        {% if instance.in_storage %}
            <span class="fa fa-bed" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="In Monster Storage"></span>
            <span class="hidden">0</span>
        {% else %}
            <span class="hidden">1</span>
        {% endif %}
    </td>
    {% if is_owner %}
        <td class="monster-actions-column">
            <button class="btn btn-link btn-xs monster-delete pull-right" data-instance-id="{{ instance.pk.hex }}">
                <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></span>
            </button>

            <div class="btn-group pull-left">
                <button class="btn btn-link btn-xs monster-edit" data-instance-id="{{ instance.pk.hex }}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>
                </button>
                <a class="btn btn-link btn-xs" href="{% url 'herders:monster_instance_duplicate' profile_name=profile_name instance_id=instance.pk.hex %}?next={{ request.path }}">
                    <span class="glyphicon glyphicon-copy" data-toggle="tooltip" data-placement="top" title="Copy"></span>
                </a>
                {% if not instance.monster.is_awakened and instance.monster.can_awaken %}
                <button class="btn btn-link btn-xs monster-awaken" data-instance-id="{{ instance.pk.hex }}">
                    <span class="glyphicon glyphicon-star" style="color:purple" data-toggle="tooltip" data-placement="top" title="Awaken"></span>
                </button>
                {% endif %}
            </div>
        </td>
    {% endif %}
</tr>