{% load staticfiles %}
{% load utils %}

{% static 'herders/images/' as img_url_prefix %}

<div class="monster-box inventory-element" data-instance-id="{{ piece.pk.hex }}">
    <div class="monster-box-actions">
        {{ piece.monster.name }}
    </div>
    <div class="monster-box-thumb">
        {% include 'bestiary/monster/portrait_large.html' with monster=piece.monster only %}
        <div class="image-plus-icon">
            {% if piece.monster.fusion_food %}<img src="{{ img_url_prefix }}icons/fusion.png" loading="lazy" />{% endif %}
        </div>
        <span class="image-plus image-plus-left">x{{ piece.pieces }} Pieces</span>
    </div>

    {% if is_owner %}
    <div class="monster-box-actions">
        <button class="btn btn-link btn-xs monster-piece-delete pull-right" data-instance-id="{{ piece.pk.hex }}">
            <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></span>
        </button>

        <div class="btn-group pull-left">
            <button class="btn btn-link btn-xs monster-piece-edit" data-instance-id="{{ piece.pk.hex }}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>
            </button>
            {% if piece.can_summon %}
            <button class="btn btn-link btn-xs monster-piece-summon pull-right" data-instance-id="{{ piece.pk.hex }}">
                <span class="glyphicon glyphicon-plus text-success" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Summon"></span>
            </button>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>