{% load staticfiles %}
{% load utils %}
{% load markdown_deux_tags %}

{% static 'herders/images/' as img_url_prefix %}

<tr class="inventory-element" data-instance-id="{{ instance.pk.hex }}">
    <td class="monster-image">
        <div>
            <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=instance.pk.hex %}">
                {% include 'herders/profile/monster_portrait_small.html' with instance=instance only %}
                <span class="image-plus image-plus-right">{% if instance.is_max_level %}MAX{% endif %}{{ instance.level }}</span>
            </a>
        </div>
    </td>
    <td>{% if instance.custom_name %}{{ instance.custom_name }}{% else %}{{ instance.monster.name }}{% endif %}</td>
    <td class="monster-stars-column">{{ instance.stars }}<i class="fas fa-star fa-sm"></i></td>
    <td class="monster-stars-column">
        {{ instance.monster.natural_stars }}<i class="fas fa-star fa-sm"></i>
    </td>
    <td>
        <div class="d-flex align-items-center">
            {% if instance.is_max_level %}<small><div class="badge badge-sm bg-secondary">MAX</div></small>{% else %}{{ instance.level }}{% endif %}
            {% if instance.is_max_level %}
                {% if instance.stars < 6 %}
                    <i class="fas fa-level-up-alt ps-1" style="color:darkorange;" data-bs-toggle="tooltip" data-bs-placement="top" title="Ready for Evolution!"></i>
                {% endif %}
            {% endif %}
        </div>
    </td>
    <td class="monster-element">
        <img src="{{ img_url_prefix }}elements/{{ instance.monster.element }}.png" loading="lazy" />
        <span class="visually-hidden">{{ instance.monster.element }}</span>
    </td>
    <td class="monster-element">
        {% if instance.monster.get_archetype_display|lower != "material" %}
            <span class="visually-hidden">{{ instance.monster.get_archetype_display }}</span>
            <img src="{% static 'herders/images/artifacts/'|add:instance.monster.get_archetype_display|lower|add:'.png' %}" />
        {% else %}
            <span class="d-flex">{{ instance.monster.get_archetype_display }}</span>
        {% endif %}
    </td>
    {% if is_owner %}
        <td>{% if instance.created %}
            <span class="visually-hidden">{{ instance.created|date:"U" }}</span>
            <small>{{ instance.created }}</small>
            {% endif %}
        </td>
    {% endif %}
    <td>
        <span class="visually-hidden">{% if instance.priority %}{{ instance.priority }}{% else %}-1{% endif %}</span>
        {% if instance.priority %}{{ instance.get_priority_display }}{% endif %}
    </td>
    <td class="monster-leader-skill">
        {% if instance.monster.leader_skill %}
        <div>
            <img src="{{ img_url_prefix }}skills/leader/{{ instance.monster.leader_skill.icon_filename }}" loading="lazy"
                 data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-container="body" title="Leader Skill" data-bs-content="{{ instance.monster.leader_skill.skill_string }}" />
            <span class="image-plus image-plus-top-left">{{ instance.monster.leader_skill.amount }}%</span>
        </div>
        {% endif %}
    </td>
    <td class="monster-awakens">
        {% if instance.monster.awakens_from %}
        <a href="{% url 'bestiary:detail' monster_slug=instance.monster.awakens_from.bestiary_slug %}">
            <img src="{{ img_url_prefix }}monsters/{{ instance.monster.awakens_from.image_filename }}" class="monster-thumb" loading="lazy"/> {{ instance.monster.awakens_from.name }}
        </a>
        {% endif %}
    </td>
    <td class="monster-awakens">
        {% if instance.monster.awakens_to %}
        <a href="{% url 'bestiary:detail' monster_slug=instance.monster.awakens_to.bestiary_slug %}">
            <img src="{{ img_url_prefix }}monsters/{{ instance.monster.awakens_to.image_filename }}" class="monster-thumb" loading="lazy"/> {{ instance.monster.awakens_to.name }}
        </a>
        {% endif %}
    </td>
    <td class="monster-awaken-materials">
        <div class="d-flex">
        {% for skill in instance.monster.skills.all %}
            <div class="monster-skill-thumb pull-left skill-popover" data-skill-id="{{ skill.pk }}" title="{{ skill.name }}" data-bs-placement="top">
                <img src="{{ img_url_prefix }}skills/{{ skill.icon_filename }}" loading="lazy" />
                {% if forloop.counter == 1 %}
                <span class="image-plus image-plus-right">{{ instance.skill_1_level }}/{{ skill.max_level }}</span>
                {% elif forloop.counter == 2 %}
                <span class="image-plus image-plus-right">{{ instance.skill_2_level }}/{{ skill.max_level }}</span>
                {% elif forloop.counter == 3 %}
                <span class="image-plus image-plus-right">{{ instance.skill_3_level }}/{{ skill.max_level }}</span>
                {% elif forloop.counter == 4 %}
                <span class="image-plus image-plus-right">{{ instance.skill_4_level }}/{{ skill.max_level }}</span>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </td>
    <td>
        {% if instance.skill_ups_to_max > 0 %}
        <div class="monster-image">
            <img src="{{ img_url_prefix }}monsters/devilmon_dark.png" class="monster-thumb" loading="lazy"/>
            <span class="image-plus image-plus-main">{{ instance.skill_ups_to_max }}</span>
        </div>
        {% else %}
        <i class="far fa-check-circle text-success"></i>
        {% endif %}
    </td>
    <td class="monster-awaken-materials">
        <div class="d-flex">
        {% for rune in instance.runes.all %}
        {% include 'herders/profile/runes/rune_image_fragment.html' with rune=rune popover=True only %}
        {% endfor %}
        </div>
    </td>
    <td>{% if instance.default_build.avg_efficiency %}{{ instance.default_build.avg_efficiency|floatformat:-2 }}%{% endif %}</td>
    <td class="monster-awaken-materials">
        <div class="d-flex">
        {% with num_artifacts=instance.artifacts.all|length %}
            {% if num_artifacts == 1 and not instance.artifacts.all.0.element %}
                <div class="rune-image pull-left">
                    <div class="artifact-bg unknown">
                    </div>
                </div>
            {% endif %}
            {% for artifact in instance.artifacts.all %}
                {% include 'herders/profile/artifacts/artifact_image_fragment.html' with artifact=artifact popover=True only %}
            {% endfor %}
        {% endwith %}
        </div>
    </td>
    <td>{{ instance.hp }}</td>
    <td>{{ instance.defense }}</td>
    <td>{{ instance.attack }}</td>
    <td>{{ instance.speed }}</td>
    <td>{{ instance.crit_rate }}%</td>
    <td>{{ instance.crit_damage }}%</td>
    <td>{{ instance.resistance }}%</td>
    <td>{{ instance.accuracy }}%</td>
    <td>{{ instance.effective_hp }}</td>
    <td class="monster-awaken-materials">
        {% if instance.monster.can_awaken and not instance.monster.is_awakened %}
            {% include 'bestiary/awakening_essences.html' with monster=instance.monster only %}
        {% endif %}
    </td>
    <td>{% if instance.notes %}{{ instance.notes|truncatewords:25|markdown|striptags }}{% endif %}</td>
    <td>
        {% if instance.team_set.count or instance.team_leader.count %}
        <ul class="list-unstyled">
        {% for team in instance.team_leader.all %}
            <li><a href="{% url 'herders:teams' profile_name=profile_name %}#{{ team.pk.hex }}">{{ team.group.name }} - {{ team.name }} (Lead)</a></li>
        {% endfor %}
        {% for team in instance.team_set.all %}
            <li><a href="{% url 'herders:teams' profile_name=profile_name %}#{{ team.pk.hex }}">{{ team.group.name }} - {{ team.name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </td>
    <td>
        {% for tag in instance.tags.all %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
    </td>
    <td class="monster-info-icons-column">
        {% if instance.monster.fusion_food and not instance.ignore_for_fusion %}
            <img src="{{ img_url_prefix }}icons/fusion.png"  data-bs-toggle="tooltip" data-bs-placement="top" title="Used in monster fusion" loading="lazy"/>
            <span class="visually-hidden">0</span>
        {% elif instance.monster.fusion_food and instance.ignore_for_fusion %}
            <img src="{{ img_url_prefix }}icons/fusion_ignored.png"  data-bs-toggle="tooltip" data-bs-placement="top" title="Ignored for monster fusion" loading="lazy"/>
            <span class="visually-hidden">1</span>
        {% else %}
            <span class="visually-hidden">2</span>
        {% endif %}
    </td>
    <td class="monster-info-icons-column">
        {% if instance.ignore_for_fusion %}
            <i class="fas fa-lock"></i>
            <span class="visually-hidden">0</span>
        {% else %}
            <span class="visually-hidden">1</span>
        {% endif %}
    </td>
    <td class="monster-info-icons-column">
        {% if instance.fodder %}
            <span class="fas fa-birthday-cake" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Marked as food"></span>
            <span class="visually-hidden">0</span>
        {% else %}
            <span class="visually-hidden">1</span>
        {% endif %}
    </td>
    <td class="monster-info-icons-column">
        {% if instance.in_storage %}
            <span class="fas fa-bed" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="In Monster Storage"></span>
            <span class="visually-hidden">0</span>
        {% else %}
            <span class="visually-hidden">1</span>
        {% endif %}
    </td>
    {% if is_owner %}
        <td class="monster-actions-column">
            <div class="d-flex">
                <button class="btn btn-link btn-sm monster-edit text-dark" data-instance-id="{{ instance.pk.hex }}">
                    <i class="fas fa-edit fa-sm" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                </button>
                <button class="btn btn-link btn-sm monster-copy text-dark" data-instance-id="{{ instance.pk.hex }}">
                    <i class="fas fa-copy fa-sm" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy"></i>
                </button>
                {% if instance.monster.awakens_to is not None %}
                <button class="btn btn-link btn-sm monster-awaken text-dark" data-instance-id="{{ instance.pk.hex }}">
                    <i class="fas fa-angle-double-up fa-sm" style="color:purple" data-bs-toggle="tooltip" data-bs-placement="top" title="Awaken"></i>
                </button>
                {% endif %}
                <button class="btn btn-link btn-sm monster-delete float-right text-dark" data-instance-id="{{ instance.pk.hex }}">
                    <i class="fas fa-trash fa-sm" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
                </button>
            </div>
        </td>
    {% endif %}
</tr>