{% load staticfiles %}
{% load utils %}

{% static 'herders/images/' as img_url_prefix %}

<div class="card shadow-sm m-1 monster-box inventory-element" data-instance-id="{{ piece.pk.hex }}">
    <div class="card-header monster-box-actions px-0 py-1">
        {{ piece.monster.name }}
    </div>
    <div class="monster-box-thumb">
        {% include 'bestiary/monster/portrait_large.html' with monster=piece.monster only %}
        <div class="image-plus-icon">
            {% if piece.monster.fusion_food %}<img src="{{ img_url_prefix }}icons/fusion.png" loading="lazy" />{% endif %}
        </div>
        <span class="image-plus image-plus-left">x{{ piece.pieces }} Pieces</span>
    </div>

    {% if is_owner %}
    <div class="card-footer monster-box-actions p-0 px-1">
        <div class="btn-group float-start" role="group">
            <button class="btn btn-link btn-sm monster-piece-edit p-0 text-dark" data-instance-id="{{ piece.pk.hex }}">
                <i class="fas fa-edit fa-sm" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
            </button>
            {% if piece.can_summon %}
            <button class="btn btn-link btn-sm monster-piece-summon p-0 ps-1" data-instance-id="{{ piece.pk.hex }}">
                <i class="fas fa-plus text-success" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Summon"></i>
            </button>
            {% endif %}
        </div>
        <button class="btn btn-link btn-sm monster-piece-delete float-right p-0 text-dark" data-instance-id="{{ piece.pk.hex }}">
            <i class="fas fa-trash fa-sm text-danger" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
        </button>
    </div>
    {% endif %}
</div>