{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

{# Rainbowmon #}
<div class="form-group pull-left">
    <label class="control-label">Rainbowmon</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='rainbowmon_light.png' monster_id=799 stars=2 level=20 awakened=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='rainbowmon_light.png' monster_id=799 stars=3 level=25 awakened=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='rainbowmon_light.png' monster_id=799 stars=4 level=30 awakened=1 extra_classes='quick-fodder' only %}
    </div>
</div>

<div class="form-group pull-left">
    <label class="control-label">Hydeni Ruins</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='howl_water.png' monster_id=61 stars=2 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='elemental_water.png' monster_id=53 stars=2 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='high_elemental_water.png' monster_id=321 stars=3 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
    </div>
</div>

<div class="form-group pull-left">
    <label class="control-label">Tamor Desert</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='salamander_wind.png' monster_id=107 stars=2 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='serpent_wind.png' monster_id=395 stars=3 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='griffon_wind.png' monster_id=367 stars=3 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
    </div>
</div>

<div class="form-group pull-left">
    <label class="control-label">Faimon Volcano</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='hellhound_fire.png' monster_id=24 stars=2 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='inugami_fire.png' monster_id=199 stars=3 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='salamander_fire.png' monster_id=215 stars=3 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
    </div>
</div>

<div class="form-group pull-left">
    <label class="control-label">Aiden Forest</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='monster_flower_wind.png' monster_id=87 stars=2 level=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='sandman_water.png' monster_id=800 stars=2 level=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='forest_keeper_water.png' monster_id=36 stars=2 level=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='grim_reaper_wind.png' monster_id=369 stars=3 can_awaken=1 level=1 extra_classes='quick-fodder' only %}
    </div>
</div>

<div class="form-group pull-left">
    <label class="control-label">Chiruka Remains</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='monster_flower_water.png' monster_id=47 stars=2 level=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='battle_scorpion_water.png' monster_id=794 stars=2 level=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='warbear_wind.png' monster_id=111 stars=2 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='minotauros_wind.png' monster_id=389 stars=3 can_awaken=1 level=1 extra_classes='quick-fodder' only %}
    </div>
</div>

{% comment %}
<ul class="dropdown-menu" role="menu">

    <li class="dropdown-submenu">
        <a href="#"><img src="{{ img_url_prefix }}monsters/minotauros_wind.png" /> Chiruka Remains</a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{% url 'herders:monster_instance_quick_add' profile_name=profile_name monster_id=47 stars=2 level=1 %}{% if return_path %}?next={{ return_path }}{% endif %}">
                    <img src="{{ img_url_prefix }}monsters/monster_flower_water.png" /> 2<span class="glyphicon glyphicon-star"></span> Monster Flower
                </a>
            </li>
            <li>
                <a href="{% url 'herders:monster_instance_quick_add' profile_name=profile_name monster_id=794 stars=2 level=1 %}{% if return_path %}?next={{ return_path }}{% endif %}">
                    <img src="{{ img_url_prefix }}monsters/battle_scorpion_water.png" /> 2<span class="glyphicon glyphicon-star"></span> Battle Scorpion
                </a>
            </li>
            <li>
                <a href="{% url 'herders:monster_instance_quick_add' profile_name=profile_name monster_id=111 stars=2 level=1 %}{% if return_path %}?next={{ return_path }}{% endif %}">
                    <img src="{{ img_url_prefix }}monsters/warbear_wind.png" /> 2<span class="glyphicon glyphicon-star"></span> Warbear
                </a>
            </li>
            <li>
                <a href="{% url 'herders:monster_instance_quick_add' profile_name=profile_name monster_id=389 stars=3 level=1 %}{% if return_path %}?next={{ return_path }}{% endif %}">
                    <img src="{{ img_url_prefix }}\monsters/minotauros_wind.png" /> 3<span class="glyphicon glyphicon-star"></span> Minotauros
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endcomment %}
