{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

<p>Click on the monster image you wish to add. Click multiple times to add as many copies as you want.</p>

{# Rainbowmon #}
<div class="form-group">
    <label class="control-label">Rainbowmon</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0012_4_0.png' monster_id=799 stars=2 level=20 awakened=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0012_4_0.png' monster_id=799 stars=3 level=25 awakened=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0012_4_0.png' monster_id=799 stars=4 level=30 awakened=1 extra_classes='quick-fodder' only %}
    </div>
</div>

<div class="form-group">
    <label class="control-label">Hydeni Ruins</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0013_0_0.png' monster_id=61 stars=2 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0002_0_4.png' monster_id=53 stars=2 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0007_0_3.png' monster_id=321 stars=3 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
    </div>
</div>

<div class="form-group">
    <label class="control-label">Tamor Desert</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0004_2_0.png' monster_id=107 stars=2 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0004_2_4.png' monster_id=395 stars=3 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0005_2_3.png' monster_id=367 stars=3 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
    </div>
</div>

<div class="form-group">
    <label class="control-label">Faimon Volcano</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0002_1_0.png' monster_id=24 stars=2 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0003_1_3.png' monster_id=199 stars=3 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0004_1_0.png' monster_id=215 stars=3 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
    </div>
</div>

<div class="form-group">
    <label class="control-label">Aiden Forest</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0010_2_3.png' monster_id=87 stars=2 level=7 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0012_0_3.png' monster_id=41 stars=2 level=7 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0010_1_1.png' monster_id=36 stars=2 level=7 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0018_2_3.png' monster_id=369 stars=3 can_awaken=1 level=1 extra_classes='quick-fodder' only %}
    </div>
</div>

<div class="form-group">
    <label class="control-label">Chiruka Remains</label>
    <div class="btn-group input-group">
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0010_0_3.png' monster_id=47 stars=2 level=7 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0028_0_0.png' monster_id=794 stars=2 level=7 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0002_2_2.png' monster_id=111 stars=2 level=1 can_awaken=1 extra_classes='quick-fodder' only %}
        {% include 'herders/monster_icon_button.html' with filename='unit_icon_0027_2_3.png' monster_id=389 stars=3 can_awaken=1 level=1 extra_classes='quick-fodder' only %}
    </div>
</div>

