<div id="monster-inventory">
    <div class="card shadow border-0 mb-3">
        <div class="card-header bg-white">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-dark profile-view-mode" data-mode="list">
                    <i class="fas fa-th-list"></i> List
                </button>
                <button class="btn btn-outline-dark profile-view-mode" data-mode="box">
                    <i class="fas fa-th-large"></i> Box
                </button>
                <button class="btn btn-outline-dark profile-view-mode active" data-mode="pieces">
                    <i class="fas fa-puzzle-piece"></i> Pieces
                </button>
                <button class="btn btn-outline-dark profile-view-mode" data-mode="collection">
                    <i class="fas fa-layer-group"></i> Collection
                </button>
            </div>

            <button class="btn btn-outline-dark monster-piece-add">
                <i class="fas fa-plus"></i> Add Pieces
            </button>
        </div>
        <div class="card-body">
            {% if monster_pieces %}
                {% for piece in monster_pieces %}
                    {% include 'herders/profile/monster_inventory/monster_piece_snippet.html' %}
                {% endfor %}
            {% else %}
                <div class="callout callout-warning">
                    <h2 class="fw-lighter">No records!</h2>
                    <p class="fw-lighter">Your search returned no results or you have no monsters!</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>