<div id="monster-inventory">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button class="btn btn-default profile-view-mode" data-mode="list">
                    <span class="glyphicon glyphicon-th-list"></span> List
                </button>
                <button class="btn btn-default profile-view-mode" data-mode="box">
                    <span class="glyphicon glyphicon-th-large"></span> Box
                </button>
                <button class="btn btn-default profile-view-mode active" data-mode="pieces">
                    <span class="fa fa-puzzle-piece"></span> Pieces
                </button>
                <button class="btn btn-default profile-view-mode" data-mode="collection">
                    <span class="fa fa-users"></span> Collection
                </button>
            </div>
            <button class="btn btn-default monster-piece-add">
                <span class="glyphicon glyphicon-plus"></span> Add Pieces
            </button>
        </div>
        <div class="panel-body">
            {% if monster_pieces %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Summoning Pieces</strong>
                </div>
                <div class="panel-body">
                    {% for piece in monster_pieces %}
                        {% include 'herders/profile/monster_inventory/monster_piece_snippet.html' %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning">You have no monster pieces!</div>
        {% endif %}
        </div>
    </div>
</div>