{% load staticfiles %}
{% load crispy_forms_tags %}

<div class="modal fade" id="modal-give-consent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-give-consent-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-give-consent-label">Consent</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            With the new in-game statistics update that Com2us enrolled in mid January 2022, we decided to create something similar, with tighter restrictions on what to include in the reports. 
            We believe that it will be more accurate than what Com2us shows us in-game.
            We are planning to make those reports with filters, i.e. take into consideration only accounts with 100+ 6* monsters in box and many more.<br /><br />

            To be able to create something like this, we need your consent to use your profile in the above-mentioned statistics. 
            We don't want to take all the data from the database because we realize that not everyone wants to share their data. 
            Some users have private profiles to track and organize their game. As mentioned by the community, some people only have public profiles for help and may not wish to be included in the statistics. 
            Therefore, we are asking for permission to use your profile in the statistics. You may change your decision in <strong>Edit profile</strong> section.
            Changing this option does not work retroactively.<br /><br />
            <div class="form-check form-switch">
                <label class="form-check-label" for="consent-report">I agree that my profile will be used in statistics</label>
                <input class="form-check-input" type="checkbox" role="switch" id="consent-report" name="consent_report" checked>
            </div>
            <div class="form-check form-switch">
                <label class="form-check-label" for="consent-top">I agree that my monsters will be featured on the TOP list</label>
                <input class="form-check-input" type="checkbox" role="switch" id="consent-top" name="consent_top" checked>
            </div>
            <br /><br />
            <strong>All data collection <em>from private profiles</em> is fully anonymous, therefore there is no way to connect a monster to a specific account</strong>.
            It means that monsters from public accounts will be signed by your profiles. Keep in mind that <strong>we may change it to full anonymity</strong> in the future.
            {% csrf_token %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-{% if user.is_authenticated and user.summoner.dark_mode %}light{% else %}dark{% endif %}" id="button-give-consent">Send</button>
        </div>
      </div>
    </div>
  </div>

<script>
    let modal = null;
    $(document).ready(function() {
        modal = bootstrap.Modal.getOrCreateInstance($("#modal-give-consent"));
        modal.toggle();
    })

    $(document).on('click','#button-give-consent',function(){
        let data = {
            "consent-report": $("#consent-report").prop('checked'),
            "consent-top": $("#consent-top").prop('checked'),
        }
        modal.toggle();
        $.ajax({
            dataType: "json",
            method: 'post',
            url: '/consent/',
            global: false,
            data: data,
            headers: {
                'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()
            }
        }).done(function(data) {
            console.log(data)
        })
    });
</script>