{% load staticfiles %}
{% load crispy_forms_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand hidden-sm nav-link d-lg-none d-xl-block" href="{% url 'news:latest_news' %}">
            SWARFARM
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#bs-mainnav" aria-controls="bs-mainnav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="bs-mainnav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-middle">
                <li class="nav-item {% if view == 'bestiary' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'bestiary:home' %}">
                        <i class="fas fa-book"></i> Bestiary
                    </a>
                </li>
                <li class="nav-item">
                    <div style="padding-top: 3px;max-width:300px">{% crispy bestiary_quick_search %}</div>
                </li>
            </ul>
        </div>
    </div>
</nav>