.profile-compare-header,
.profile-compare-monsters-ajax
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ph-10{
    padding-left: 10px;
    padding-right: 10px;
}

.comparison-winner-cell{
    background-color: lightgreen;
}

.comparison-table td,
.comparison-table th{
    width: 33%;
}

.comparison-table td{
    text-align: right;
}

.comparison-winner,
.comparison-loser,
.comparison-tie
{
    margin-left: 5px;
}

.comparison-winner{
    color: green;
}

.comparison-loser{
    color: red;
}

.comparison-tie{
    color: orange;
}