.profile-compare-header,
.profile-compare-monsters-ajax
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ph-10{
    padding-left: 10px;
    padding-right: 10px;
}

.comparison-winner-cell{
    background-color: lightgreen;
}

.comparison-table td,
.comparison-table th{
    width: 33%;
}
.comparison-table-5 td,
.comparison-table-5 th{
    width: 20%;
}

.comparison-table td{
    text-align: left;
}

.comparison-winner::before{
    color: green;
}

.comparison-loser::before{
    color: red;
}

.comparison-tie::before{
    color: orange;
}

@media only screen and (max-width: 768px) {
    .grid-item.col-xs-12 {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}