html, body {
    height: 100%;
}
body {
    padding-top: 70px;
}

#wrap {
    min-height: 100%;
}

.container {
    position: relative;
    min-height: 100%;
    overflow: auto;
    padding-bottom: 40px;
}

footer {
    position: relative;
	margin-top: -40px;
	height: 40px;
	clear: both;
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.no-gutter {
	padding-left:0;
    padding-right:0;
}

.no-left-gutter {
    padding-left: 0;
}

.no-right-gutter {
    padding-right: 0;
}

.navbar img, .btn-group img {
    height: 18px;
}

.navbar .btn {
    margin-left: 3px;
    margin-right: 3px;
}

.navbar-right {
  margin-right: 5px;
}

.panel-horizontal {
    display:table;
}

.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 25%;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.container {
    width: 95%;
}

.alert ul {
    list-style: none;
}

.btn-group button img {
    height: 20px;
}

.autocomplete-results>span {
    height: 30px;
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
}

.autocomplete-results>img {
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    float: left;
}

.awakened {
    color: #CC00CC;
}

.fodder {
    color: #747474;
}

.unawakened {
    color: #FFCC00;
}

.navbar-sub {
    top: 50px;
    z-index: 1000;
}

.monster-table>tbody>tr>td {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.monster-image>div,
div.monster-image {
    position: relative;
    display: inline-block;
}

.monster-image {
    padding: 0!important;
    width: 50px;
    height: 50px;
}

div.sprite {
    position: relative;
    border: 1px solid black;
    border-radius: 10%;
}

.monster-image-full {
    padding: 0 !important;
    position: relative;
    border: 1px solid black;
    border-radius: 15%;
}

.monster-image-full img {
    border-radius: 14%;
}

.monster-thumb {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
}


.monster-star {
    position: absolute;
    top: 1px;
    width: auto;
}

.monster-image .monster-star {
    height: 15px;
}

.monster-image .monster-star-1 {
    left: 1px;
}

.monster-image .monster-star-2 {
    left: 7px;
}

.monster-image .monster-star-3 {
    left: 13px;
}

.monster-image .monster-star-4 {
    left: 19px;
}

.monster-image .monster-star-5 {
    left: 25px;
}

.monster-image .monster-star-6 {
    left: 31px;
}

.monster-box {
    width: auto;
    position: relative;
    float: left;
    border: 1px solid black;
    border-radius: 6px;
    margin: 1px;
}

.monster-box .monster-star {
    height: 20px;
}

.monster-box .monster-star {
    height: 20px;
}

.monster-box .monster-star-1 {
    left: 1px;
}

.monster-box .monster-star-2 {
    left: 11px;
}

.monster-box .monster-star-3 {
    left: 21px;
}

.monster-box .monster-star-4 {
    left: 31px;
}

.monster-box .monster-star-5 {
    left: 41px;
}

.monster-box .monster-star-6 {
    left: 51px;
}

.monster-box-thumb {
    position: relative;
    border-bottom: 1px solid black;
}

.monster-box-actions {
    position: relative;
    text-align: center;
    width: 100%;
}

.monster-level-column {
    text-align: center;
    width: 65px;
}

.monster-element {
    text-align: center;
}

.monster-element img {
    width: 30px;
    height: 30px;
}

.monster-element span {
    display: none;
}

.monster-stars-column {
    width: 65px;
    text-align: center;
}

.monster-info-icons-column {
    width: 25px;
    text-align: center;
}

.monster-info-icons-column img {
    height: 20px;
}

.monster-actions-column {
    width: 10px;
    padding-left: 2px!important;
    padding-right: 2px!important;
}

.monster-awakens {
    padding: 0 !important;
}

.monster-awakens * {
    vertical-align: middle;
}

.monster-awaken-materials {
    padding: 0 !important;
}

.monster-awaken-materials div {
    position: relative;
    display: inline-block;
    margin-right: 1px;
}

.monster-awaken-materials img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 15%;
}

.rating-symbol .glyphicon {
    font-size: 200%;
}

#id_monster-wrapper{
    display: inline!important;
}

.image-plus {
    position: absolute;
    bottom: 1px;
    height: 14px;
    width: auto;

    padding: 0 1px;
    line-height: 11px;
    font-size: 11px;
    vertical-align: middle;

    color: white;
    background: black;

    border-radius: 3px;
    border: 2px solid grey;
    font-weight: bold;
}

.image-plus-icon {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 25px;
}

.image-plus-left {
    left: 1px;
}

.image-plus-right {
    right: 1px;
}

.monster-form {
    width: 600px;
}

.header {
    cursor: pointer;
}

.tablesorter-headerUnSorted,
.tablesorter-headerAsc,
.tablesorter-headerDesc {
    cursor: pointer;
}

.tablesorter-headerUnSorted>div.tablesorter-header-inner:before {
    padding-right: 3px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.7em;
    content: "\e150";
}

.tablesorter-headerAsc>div.tablesorter-header-inner:before {
    padding-right: 3px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.7em;
    content: "\e114";
}

.tablesorter-headerDesc>div.tablesorter-header-inner:before {
    padding-right: 3px;
    font-family: "Glyphicons Halflings";
    font-size: 0.7em;
    content: "\e113";
}

.tablesorter-filter-row {
    display: none;
}

tr.filtered {
    display: none;
}

.sorter-false div:before {
    display: none;
}

button.filter:focus,
button.reset:focus {
    outline: none!important;
}

button.filter:not(.active):focus {
    background-color: #fff;
}

.storage_group {
    position: relative;
    padding: 0;
    margin: 5px;
}

.storage_group img {
    height: 32px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid black;
}

.storage_group .input-group-addon {
    padding: 0!important;
}

.fusion-checklist {
    width: 80px;
    text-align: center;
}

.fusion-ingredients-collection {
    padding: 0!important;
}

div.disabled {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: 0.6;
}

.team-list {
    width: 275px;
    float: left;
}

.team-detail {
    margin-left: 300px;
}

#team-detail>div.panel>div.panel-body:after {
    clear: none;
}

.team-list button {
    width: 100%;
    display: block;
    text-align: left;
}

.team-list-group {
    position: relative;
}

.team-list-group>a {
    color: #FFFFFF;
    position: absolute;
    top: 8px;
    right: 10px;
}

.list-group-item>img {
    position: absolute;
    width: 20px;
    top: 8px;
    right: 10px;
}

.team-list-group>button:before {
    padding-right: 5px;
    float: left;
    font-family: "Glyphicons Halflings";
    content: "\e114";
}

.team-list-group>button.collapsed:before {
    padding-right: 5px;
    float: left;
    font-family: "Glyphicons Halflings";
    content: "\e080";
}

.team-list>a {
    display: block;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    line-height: 32px;
}

.deck>div.autocomplete-results {
    display: block!important;
}

td>h1,
td>h2,
td>h3,
td>h4,
td>h5,
td>h6 {
    margin: 0;
}

.bestiary-detail {
    margin-left: 115px;
}

.bestiary-detail th,
.bestiary-detail td {
    text-align: center;
}

.bestiary-detail .panel-title>img {
    height: 25px;
    padding-right: 5px;
}

.bestiary-stat-column {
    width: 50px;
}

.bestiary-portraits {
    position: absolute;
    top: 0;
    left: 15px;
}

.bestiary-family {
    clear: both;
    padding-top: 5px;
    width: 102px;
}

.skill-table {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

.skill-table>tbody>tr>td {
    vertical-align: middle;
    text-align: left;
}

.filter-group {
    padding-bottom: 5px;
}

.filter-description {
    padding-right: 10px;
    display: inline-block;
    width: 80px;
    text-align: right;
}

.monster-leader-skill {
    width: 100px;
}

.monster-leader-skill img {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15%;
    margin-right: 1px;
    float: left;
}

.monster-skill-effects {
    width: 150px;
}

.monster-skill-effects img {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15%;
    margin-right: 1px;
    float: left;
}

.skill-effect {
    display: inline-table;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 1;
    font-size: 0.7em;
    text-align: center;
    margin-right: 1px;
    cursor: default;
}

img.skill-effect {
    margin-right: 1px;
    border-radius: 3px;
}

.skill-effect>span {
    display: table-cell;
    vertical-align: middle;
}

.skill-effect-buff {
    color: #fff;
    background-color: #052576;
    border-radius: 5px;
}

.skill-effect-debuff {
    color: #fff;
    background-color: #C30F0F;
    border-radius: 5px;
}

.monster-sources {
    width: 350px;
}

.monster-source {
    display: inline-table;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 1;
    font-size: 0.8em;
    text-align: center;
    margin-right: 1px;
    cursor: default;
}

img.monster-source {
    margin-right: 1px;
    border-radius: 3px;
}

span.monster-source>span {
    display: table-cell;
    vertical-align: middle;
    background-color: #245269;
    color: #fff;
}

.monster-stats>.popover-content {
    padding: 0;
}

.monster-stats table {
    margin: 3px;
}

.monster-stats td {
    padding: 3px 0;
}

.monster-stats>.popover-title {
    padding: 6px 3px;
}

div.monster-bulk-monster {
    display: inline-block;
    width: 220px;
}

#bulkAddFormset .row {
    padding-bottom: 5px;
}