body {
  min-height: 800px;
  padding-top: 70px;
}

.navbar img {
    height: 20px;
}

.navbar .btn {
    margin-left: 3px;
    margin-right: 3px;
}

.navbar-right {
  margin-right: 5px;
}

.panel-horizontal {
    display:table;
}

.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
    width: 25%;
    border:0;
    vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.container {
    width: 95%;
}

.awakened {
    color: #CC00CC;
}

.fodder {
    color: #747474;
}

.unawakened {
    color: #FFCC00;
}

.navbar-sub {
    top: 50px;
    z-index: 1000;
}

.monster-table>tbody>tr>td{
    vertical-align: middle;
}

.monster-image {
    padding: 0 !important;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 15%;
}

.monster-image-full {
    padding: 0 !important;
    position: relative;
    border: 1px solid black;
    border-radius: 15%;
}

.monster-image-full img {
    border-radius: 14%;
}

.monster-thumb {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
}

.monster-star {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 15px;
    width: auto;
}

.monster-box {
    width: auto;
    position: relative;
    float: left;
    border: 1px solid black;
    border-radius: 6px;
    margin: 1px;
}

.monster-box .monster-star {
    height: 20px;
}

.monster-box-thumb {
    position: relative;
    border-bottom: 1px solid black;
}

.monster-box-actions {
    position: relative;
    text-align: center;
    width: 100%;
}

.monster-level-column {
    text-align: center;
    width: 65px;
}

.monster-element {
    text-align: center;
}

.monster-element img {
    width: 30px;
    height: 30px;
}

.monster-element span {
    display: none;
}

.monster-stars-column {
    width: 65px;
    text-align: center;
}

.monster-info-icons-column {
    width: 25px;
    text-align: center;
}

.monster-info-icons-column img {
    height: 20px;
}

.monster-actions-column {
    width: 10px;
    padding-left: 2px!important;
    padding-right: 2px!important;
}

.monster-awakens {
    padding: 0 !important;
}

.monster-awakens img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 15%;
}

.monster-awaken-materials {
    padding: 0 !important;
}

.monster-awaken-materials div {
    position: relative;
    display: inline-block;
}

.monster-awaken-materials img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 15%;
}

.rating-symbol .glyphicon {
    font-size: 200%;
}

#id_monster-wrapper{
    display: inline!important;
}

.image-plus {
    position: absolute;
    bottom: 1px;
    height: 14px;
    width: auto;

    padding: 0 1px;
    line-height: 11px;
    font-size: 11px;
    vertical-align: middle;

    color: white;
    background: black;

    border-radius: 3px;
    border: 2px solid grey;
    font-weight: bold;
}

.image-plus-icon {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 25px;
}

.image-plus-left {
    left: 1px;
}

.image-plus-right {
    right: 1px;
}

.monster-form {
    width: 600px;
}

.header {
    cursor: pointer;
}

.header:before {
    padding-right: 3px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.7em;
    content: "\e150";
}

.headerSortUp:before {
    padding-right: 3px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.7em;
    content: "\e114";
}

.headerSortDown:before {
    padding-right: 3px;
    font-family: "Glyphicons Halflings";
    font-size: 0.7em;
    content: "\e113";
}

.storage_group {
    position: relative;
    padding: 0;
    margin: 5px;
}

.storage_group .form-control {
    padding-left: 40px;
}

.storage_icon {
    position: absolute;
    left: 0;
    bottom: 15px;
    height: 34px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid black;
}

.fusion-checklist {
    width: 80px;
    text-align: center;
}

.fusion-ingredients-collection {
    padding: 0!important;
}