.rune-text-magic {
    color: #04D25E;
}

.rune-text-rare {
    color: #4FFEE8;
}

.rune-text-hero {
    color: #E68AF6;
}

.rune-text-legend {
    color: #CC9145;
}


.rune-bg {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
    border: 1px solid black;
    border-radius: 4px;
}

.rune-bg.normal {
    background: url(/static/herders/images/runes/bg_normal.png) no-repeat center;
}
.rune-bg.magic {
    background: url(/static/herders/images/runes/bg_magic.png) no-repeat center;
}
.rune-bg.rare {
    background: url(/static/herders/images/runes/bg_rare.png) no-repeat center;
}
.rune-bg.hero {
    background: url(/static/herders/images/runes/bg_hero.png) no-repeat center;
}
.rune-bg.legend {
    background: url(/static/herders/images/runes/bg_legend.png) no-repeat center;
}

.rune-bg > .star {
    position: absolute;
    top: 0;
    height: 12px;
}

.star.star-1 {
    left: 1px;
}

.star.star-2 {
    left: 8px;
}

.star.star-3 {
    left: 15px;
}

.star.star-4 {
    left: 22px;
}

.star.star-5 {
    left: 29px;
}

.star.star-6 {
    left: 36px;
}

.rune {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.rune.slot1 {
    background-image: url(/static/herders/images/runes/rune1.png);
}
.rune.slot1 > * {
    background-position: 9px 12px;
}

.rune.slot2 {
    background-image: url(/static/herders/images/runes/rune2.png);
}
.rune.slot2 > * {
    background-position: 7px 9px;
}

.rune.slot3 {
    background-image: url(/static/herders/images/runes/rune3.png);
}
.rune.slot3 > * {
    background-position: 7px 9px;
}

.rune.slot4 {
    background-image: url(/static/herders/images/runes/rune4.png);
}
.rune.slot4 > * {
    background-position: 9px 6px;
}

.rune.slot5 {
    background-image: url(/static/herders/images/runes/rune5.png);
}
.rune.slot5 > * {
    background-position: 11px 9px;
}

.rune.slot6 {
    background-image: url(/static/herders/images/runes/rune6.png);
}
.rune.slot6 > * {
    background-position: 10px 9px;
}

.rune-symbol {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.rune-symbol.energy {
    background-image: url(/static/herders/images/runes/energy.png);
}

.rune-symbol.fatal {
    background-image: url(/static/herders/images/runes/fatal.png);
}

.rune-symbol.blade {
    background-image: url(/static/herders/images/runes/blade.png);
}

.rune-symbol.rage {
    background-image: url(/static/herders/images/runes/rage.png);
}

.rune-symbol.swift {
    background-image: url(/static/herders/images/runes/swift.png);
}

.rune-symbol.focus {
    background-image: url(/static/herders/images/runes/focus.png);
}

.rune-symbol.guard {
    background-image: url(/static/herders/images/runes/guard.png);
}

.rune-symbol.endure {
    background-image: url(/static/herders/images/runes/endure.png);
}

.rune-symbol.violent {
    background-image: url(/static/herders/images/runes/violent.png);
}

.rune-symbol.will {
    background-image: url(/static/herders/images/runes/will.png);
}

.rune-symbol.nemesis {
    background-image: url(/static/herders/images/runes/nemesis.png);
}

.rune-symbol.shield {
    background-image: url(/static/herders/images/runes/shield.png);
}

.rune-symbol.revenge {
    background-image: url(/static/herders/images/runes/revenge.png);
}

.rune-symbol.despair {
    background-image: url(/static/herders/images/runes/despair.png);
}

.rune-symbol.vampire {
    background-image: url(/static/herders/images/runes/vampire.png);
}

.rune-symbol.destroy {
    background-image: url(/static/herders/images/runes/destroy.png);
}

