.flex {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.flex > div {
    margin: 0 5px;
    display: flex;
    min-width: 250px;
}

.rune-panel {
    width: 250px;
    height: auto;
    position: relative;
}

.craft-panel {
    min-width: 250px;
    height: auto;
    position: relative;
    margin-bottom: 5px;
}

.craft-panel .btn-group {
    margin-right: -1px;
    margin-top: -1px;
}

.rune-image {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
}

.rune-box {
    width: 52px;
    position: relative;
    float: left;
    border: 1px solid black;
    border-radius: 6px;
    margin: 1px;
    display: inline-block;
    white-space: nowrap;
}

.rune-box-actions {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0 1px;
    line-height: 11px;
    font-size: 11px;
    vertical-align: middle;
}

.rune-image-box {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.rune-image-subtext {
    position: relative;
    text-align: center;
    width: 100%;
}

.monster-stats .rune-image {
    margin-right: 4px;
}

.rune-text {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.craft-text {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.rune-grindstone-text {
    text-shadow: 0 0 2px rgba(214, 164, 0, 0.5);
    color: #987500;
}

.rune-text-normal {
    text-shadow: none;
}

.rune-text-magic {
    color: #04D25E;
}

.rune-text-rare {
    color: #3bc9fe;
}

.rune-text-hero {
    color: #d66ef6;
}

.rune-text-legend {
    color: #ef9f24;
}

.rune-label-normal {
    background-color: #514546;
    color: #FFFFFF;
}

.rune-label-magic {
    background-color: #003503;
    color: #EAFF6A;
}

.rune-label-rare {
    background-color: #09424C;
    color: #ABF2FD;
}

.rune-label-hero {
    background-color: #601143;
    color: #FED8EC;
}

.rune-label-legend {
    background-color: #752106;
    color: #FFCB76;
}

span.rune-set-bonus {
    position: absolute;
    bottom: 0;
    color: #A2BA00;
    /*text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);*/
    font-weight: 500;
}

.rune-main-stat {
    font-size: 115%;
}

.rune-bg {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: 50px 50px;
}

.rune-bg.normal {
    background: url(/static/herders/images/runes/bg_normal.png) no-repeat center;
}
.rune-bg.immemorial.normal {
    background: url(/static/herders/images/runes/bg_normal_immemorial.png) no-repeat center;
}
.rune-bg.magic {
    background: url(/static/herders/images/runes/bg_magic.png) no-repeat center;
}
.rune-bg.immemorial.magic {
    background: url(/static/herders/images/runes/bg_magic_immemorial.png) no-repeat center;
}
.rune-bg.rare {
    background: url(/static/herders/images/runes/bg_rare.png) no-repeat center;
}
.rune-bg.immemorial.rare {
    background: url(/static/herders/images/runes/bg_rare_immemorial.png) no-repeat center;
}
.rune-bg.hero {
    background: url(/static/herders/images/runes/bg_hero.png) no-repeat center;
}
.rune-bg.immemorial.hero {
    background: url(/static/herders/images/runes/bg_hero_immemorial.png) no-repeat center;
}
.rune-bg.legend {
    background: url(/static/herders/images/runes/bg_legend.png) no-repeat center;
}
.rune-bg.immemorial.legend {
    background: url(/static/herders/images/runes/bg_legend_immemorial.png) no-repeat center;
}

.rune-bg > .star {
    position: absolute;
    top: 0;
    height: 12px;
}

.star.star-1 {
    left: 1px;
}

.star.star-2 {
    left: 8px;
}

.star.star-3 {
    left: 15px;
}

.star.star-4 {
    left: 22px;
}

.star.star-5 {
    left: 29px;
}

.star.star-6 {
    left: 36px;
}

.rune {
    position: relative;
    width: 100%;
    height: 100%;
    background: center no-repeat;
}

.rune.slot1 {
    background-image: url(/static/herders/images/runes/rune1.png);
}
.rune.slot1 > * {
    background-position: 9px 12px;
}

.rune.slot2 {
    background-image: url(/static/herders/images/runes/rune2.png);
}
.rune.slot2 > * {
    background-position: 7px 9px;
}

.rune.slot3 {
    background-image: url(/static/herders/images/runes/rune3.png);
}
.rune.slot3 > * {
    background-position: 7px 9px;
}

.rune.slot4 {
    background-image: url(/static/herders/images/runes/rune4.png);
}
.rune.slot4 > * {
    background-position: 9px 6px;
}

.rune.slot5 {
    background-image: url(/static/herders/images/runes/rune5.png);
}
.rune.slot5 > * {
    background-position: 11px 9px;
}

.rune.slot6 {
    background-image: url(/static/herders/images/runes/rune6.png);
}
.rune.slot6 > * {
    background-position: 10px 9px;
}

.rune-craft {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.rune-craft.grindstone.normal,
.rune-craft.ancient-grindstone.normal {
    background-image: url(/static/herders/images/runes/grindstone_common.png);
}
.rune-craft.grindstone.magic,
.rune-craft.ancient-grindstone.magic {
    background-image: url(/static/herders/images/runes/grindstone_magic.png);
}
.rune-craft.grindstone.rare,
.rune-craft.ancient-grindstone.rare {
    background-image: url(/static/herders/images/runes/grindstone_rare.png);
}
.rune-craft.grindstone.hero,
.rune-craft.ancient-grindstone.hero {
    background-image: url(/static/herders/images/runes/grindstone_epic.png);
}
.rune-craft.grindstone.legend,
.rune-craft.ancient-grindstone.legend {
    background-image: url(/static/herders/images/runes/grindstone_legend.png);
}
.rune-craft.enchant-gem.legend,
.rune-craft.ancient-grindstone.legend {
    background-image: url(/static/herders/images/runes/enchant_gem_legend.png);
}
.rune-craft.enchant-gem.normal,
.rune-craft.ancient-gem.normal {
    background-image: url(/static/herders/images/runes/enchant_gem_common.png);
}
.rune-craft.enchant-gem.magic,
.rune-craft.ancient-gem.magic {
    background-image: url(/static/herders/images/runes/enchant_gem_magic.png);
}
.rune-craft.enchant-gem.rare,
.rune-craft.ancient-gem.rare {
    background-image: url(/static/herders/images/runes/enchant_gem_rare.png);
}
.rune-craft.enchant-gem.hero,
.rune-craft.ancient-gem.hero {
    background-image: url(/static/herders/images/runes/enchant_gem_epic.png);
}
.rune-craft.enchant-gem.legend,
.rune-craft.ancient-gem.legend {
    background-image: url(/static/herders/images/runes/enchant_gem_legend.png);
}
.rune-craft.immemorial-gem.normal {
    background-image: url(/static/herders/images/runes/icon_ancient_conversion_common.png);
}
.rune-craft.immemorial-gem.magic {
    background-image: url(/static/herders/images/runes/icon_ancient_conversion_magic.png);
}
.rune-craft.immemorial-gem.rare {
    background-image: url(/static/herders/images/runes/icon_ancient_conversion_rare.png);
}
.rune-craft.immemorial-gem.hero {
    background-image: url(/static/herders/images/runes/icon_ancient_conversion_epic.png);
}
.rune-craft.immemorial-gem.legend {
    background-image: url(/static/herders/images/runes/icon_ancient_conversion_legend.png);
}
.rune-craft.immemorial-grindstone.normal {
    background-image: url(/static/herders/images/runes/icon_ancient_amp_common.png);
}
.rune-craft.immemorial-grindstone.magic {
    background-image: url(/static/herders/images/runes/icon_ancient_amp_magic.png);
}
.rune-craft.immemorial-grindstone.rare {
    background-image: url(/static/herders/images/runes/icon_ancient_amp_rare.png);
}
.rune-craft.immemorial-grindstone.hero {
    background-image: url(/static/herders/images/runes/icon_ancient_amp_epic.png);
}
.rune-craft.immemorial-grindstone.legend {
    background-image: url(/static/herders/images/runes/icon_ancient_amp_legend.png);
}

.rune-symbol {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.rune-symbol.energy, .craft-symbol.energy {
    background-image: url(/static/herders/images/runes/energy.png);
}

.rune-symbol.fatal, .craft-symbol.fatal {
    background-image: url(/static/herders/images/runes/fatal.png);
}

.rune-symbol.blade, .craft-symbol.blade {
    background-image: url(/static/herders/images/runes/blade.png);
}

.rune-symbol.rage, .craft-symbol.rage {
    background-image: url(/static/herders/images/runes/rage.png);
}

.rune-symbol.swift, .craft-symbol.swift {
    background-image: url(/static/herders/images/runes/swift.png);
}

.rune-symbol.focus, .craft-symbol.focus {
    background-image: url(/static/herders/images/runes/focus.png);
}

.rune-symbol.guard, .craft-symbol.guard {
    background-image: url(/static/herders/images/runes/guard.png);
}

.rune-symbol.endure, .craft-symbol.endure {
    background-image: url(/static/herders/images/runes/endure.png);
}

.rune-symbol.violent, .craft-symbol.violent {
    background-image: url(/static/herders/images/runes/violent.png);
}

.rune-symbol.will, .craft-symbol.will {
    background-image: url(/static/herders/images/runes/will.png);
}

.rune-symbol.nemesis, .craft-symbol.nemesis {
    background-image: url(/static/herders/images/runes/nemesis.png);
}

.rune-symbol.shield, .craft-symbol.shield {
    background-image: url(/static/herders/images/runes/shield.png);
}

.rune-symbol.revenge, .craft-symbol.revenge {
    background-image: url(/static/herders/images/runes/revenge.png);
}

.rune-symbol.despair, .craft-symbol.despair {
    background-image: url(/static/herders/images/runes/despair.png);
}

.rune-symbol.vampire, .craft-symbol.vampire {
    background-image: url(/static/herders/images/runes/vampire.png);
}

.rune-symbol.destroy, .craft-symbol.destroy {
    background-image: url(/static/herders/images/runes/destroy.png);
}

.rune-symbol.fight, .craft-symbol.fight {
    background-image: url(/static/herders/images/runes/fight.png);
}

.rune-symbol.determination, .craft-symbol.determination {
    background-image: url(/static/herders/images/runes/determination.png);
}

.rune-symbol.enhance, .craft-symbol.enhance {
    background-image: url(/static/herders/images/runes/enhance.png);
}

.rune-symbol.accuracy, .craft-symbol.accuracy {
    background-image: url(/static/herders/images/runes/accuracy.png);
}

.rune-symbol.tolerance, .craft-symbol.tolerance {
    background-image: url(/static/herders/images/runes/tolerance.png);
}

.craft-symbol {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: no-repeat 59% 57%;
    background-size: 21px 21px;
    -webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

.rune-button {
    background-position: left!important;
    background-size: 30px 30px!important;
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
}
.rune-button-text {
    padding-left: 32px;
}

.rune-button>span {
    margin-left: 20px;
}

.rune-button-energy { background-image: url(/static/herders/images/runes/energy.png)!important;}
.rune-button-fatal { background-image: url(/static/herders/images/runes/fatal.png)!important;}
.rune-button-blade { background-image: url(/static/herders/images/runes/blade.png)!important;}
.rune-button-rage { background-image: url(/static/herders/images/runes/rage.png)!important;}
.rune-button-swift { background-image: url(/static/herders/images/runes/swift.png)!important;}
.rune-button-focus { background-image: url(/static/herders/images/runes/focus.png)!important;}
.rune-button-endure { background-image: url(/static/herders/images/runes/endure.png)!important;}
.rune-button-guard { background-image: url(/static/herders/images/runes/guard.png)!important;}
.rune-button-violent { background-image: url(/static/herders/images/runes/violent.png)!important;}
.rune-button-will { background-image: url(/static/herders/images/runes/will.png)!important;}
.rune-button-nemesis { background-image: url(/static/herders/images/runes/nemesis.png)!important;}
.rune-button-shield { background-image: url(/static/herders/images/runes/shield.png)!important;}
.rune-button-revenge { background-image: url(/static/herders/images/runes/revenge.png)!important;}
.rune-button-despair { background-image: url(/static/herders/images/runes/despair.png)!important;}
.rune-button-vampire { background-image: url(/static/herders/images/runes/vampire.png)!important;}
.rune-button-destroy { background-image: url(/static/herders/images/runes/destroy.png)!important;}
.rune-button-fight { background-image: url(/static/herders/images/runes/fight.png)!important;}
.rune-button-determination { background-image: url(/static/herders/images/runes/determination.png)!important;}
.rune-button-enhance { background-image: url(/static/herders/images/runes/enhance.png)!important;}
.rune-button-accuracy { background-image: url(/static/herders/images/runes/accuracy.png)!important;}
.rune-button-tolerance { background-image: url(/static/herders/images/runes/tolerance.png)!important;}
