{% extends 'dungeons/base.html' %}

{% block title %}
    {{ dungeon.name }} {% if level.difficulty %}{{ level.get_difficulty_display }}{% endif %}
    B{{ level.floor }} - {{ block.super }}
{% endblock title %}

{% block content %}
    {% include 'dungeons/detail/dungeon_header.html' %}

    {% if by_grade %}
        {% include 'dungeons/detail/by_grade.html' with report=report.report %}
    {% else %}
        {% include 'dungeons/detail/report.html' with report=report.report %}
    {% endif %}
{% endblock content %}
