<ul class="nav nav-tabs">
    {% for grade_report in grade_reports reversed %}
        <li role="presentation" {% if forloop.first %}class="active"{% endif %}>
            <a href="#{{ grade_report.grade_value }}_tab" aria-controls="home" role="tab" data-toggle="tab">
                {{ grade_report.grade }}
            </a>
        </li>
    {% endfor %}
</ul>

<div class="tab-content">
{% for grade_report in grade_reports reversed %}
    <div  role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ grade_report.grade_value }}_tab">
        <h2>{{ grade_report.grade }}</h2>
        {% include 'dungeons/detail/report.html' with report=grade_report only %}
    </div>
{% endfor %}
</div>
