{% extends 'dungeons/detail/base.html' %}

{% block report %}
    {% if report %}
        <ul class="list-unstyled">
            <li>Date Range: {{ report.start_timestamp|date:"SHORT_DATE_FORMAT" }} - {{ report.end_timestamp|date:"SHORT_DATE_FORMAT" }}</li>
            <li>{{ report.log_count }} records</li>
            <li>{{ report.unique_contributors }} unique contributors</li>
        </ul>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#summary_tab" aria-controls="home" role="tab" data-toggle="tab">
                    Summary
                </a>
            </li>
            {% for grade_report in report.report.reports reversed %}
                <li role="presentation">
                    <a href="#{{ forloop.counter }}_tab" aria-controls="home" role="tab" data-toggle="tab">
                        {{ grade_report.grade }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="summary_tab">
                {% include 'dungeons/detail/report_by_grade_summary_table.html' with table=report.report.summary only %}
            </div>

            {% for grade_report in report.report.reports reversed %}
                <div  role="tabpanel" class="tab-pane" id="{{ forloop.counter }}_tab">
                    <h2>{{ grade_report.grade }}</h2>
                    {% if grade_report.report %}
                        {% include 'dungeons/detail/report_snippet.html' with report=grade_report.report only %}
                    {% else %}
                        <p>No report generated for this grade yet</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    {% endif %}
{% endblock report %}
