{% include 'data_log/summary.html' with summary=report.summary user=user only %}

{% if report.runes %}
    <hr />
    {% include 'data_log/runes.html' with runes=report.runes user=user only %}
{% endif %}

{% if report.rune_crafts.gem or report.rune_crafts.grindstone %}
    <hr />
    {% include 'data_log/rune_crafts.html' with rune_crafts=report.rune_crafts user=user only %}
{% endif %}

{% if report.artifacts %}
    <hr />
    {% include 'data_log/artifacts.html' with artifacts=report.artifacts user=user only %}
{% endif %}

{% if report.clear_time %}
    <hr />
    {% include 'data_log/clear_time.html' with clear_times=report.clear_time user=user only %}
{% endif %}
