{% extends 'dungeons/detail/base.html' %}
{% load cache %}

{% block report %}
    {% if waves %}
    {% include 'dungeons/detail/dungeon_waves.html' with waves=waves %}
    <hr />
    {% endif %}
    
    {% if report %}
        <div class="card shadow border-0 mb-3">
            <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                <ul class="list-unstyled">
                    <li>Date Range: {{ report.start_timestamp|date:"SHORT_DATE_FORMAT" }} - {{ report.end_timestamp|date:"SHORT_DATE_FORMAT" }}</li>
                    <li>{{ report.log_count }} records</li>
                    <li>{{ report.unique_contributors }} unique contributors</li>
                </ul>
            </div>
        </div>

        {% include 'dungeons/detail/report_snippet.html' with report=report.report user=user only %}

    {% else %}
        <div class="callout callout-info">
            <h1>No data <i class="fas fa-sad-tear"></i></h1>
            <p>No reports generated for this level yet</p>
        </div>
    {% endif %}
{% endblock report %}
