{% extends 'dungeons/detail/base.html' %}

{% block report %}
    {% if report %}
    
        {% if found_by_date %}
            <div class="callout callout-warning">
                <h1>Filtered report <i class="fas fa-clock"></i></h1>
                <p>A filter has been applied to this report, which means that you are not currently viewing the latest one. If you want to see the latest entry, remove the filters</p>
            </div>
        {% endif %}
        <div class="card shadow-sm border-0 mb-3">
            <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                <ul class="list-unstyled pb-0">
                    <li>Date Range: {{ report.start_timestamp|date:"SHORT_DATE_FORMAT" }} - {{ report.end_timestamp|date:"SHORT_DATE_FORMAT" }}</li>
                    <li>{{ report.log_count }} records</li>
                    <li>{{ report.unique_contributors }} unique contributors</li>
                </ul>
                <form>
                    <hr />
                    <div class="row">
                        <div class="col col-12 col-sm-6">
                            <h3>Filter by date</h3>
                            <span>You can generate new report by selecting time range (both fields required). If you pick longer timespan than 2 weeks (SWARFARM standard), it will automatically shrink in respect to end date (i.e. 2023-06-01, 2023-06-30 -> 2023-06-16, 2023-06-30).</span><br />
                            <span>If you find something that doesn't work properly, please report it in Swarfarm Discord Dev server (pinned News).</span><br />
                            <span>Reports with big enough sample size may take some time to generate, please be patient.</span><br /><br />
                            <div class="d-flex">
                                <div class="me-2">
                                    <label for="startDate" class="form-label">Start Date</label>
                                    <input type="date" id="startDate" name="start_date" value="{{ start_date }}" class="form-control">
                                </div>
                                <div>
                                    <label for="startDate" class="form-label">End Date</label>
                                    <input type="date" id="endDate" name="end_date" value="{{ end_date }}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col col-12 col-sm-6">
                            <h3><strong style="color: red;">[BETA]</strong> Filter by damage</h3>
                            <span>You can generate new report by selecting damage range (optional).</span><br />
                            <span>Keep in mind that it's still in beta and errors may occur. If you find something that doesn't work properly, please report it in Swarfarm Discord Dev server (pinned News).</span><br />
                            <span>Reports with big enough sample size may take some time to generate, please be patient.</span><br /><br />
                            <div class="d-flex">
                                <div class="me-2">
                                    <label for="damageFrom" class="form-label">Damage from</label>
                                    <input type="number" id="damageFrom" name="damage_from" value="{{ damage_from }}" step="250000" min="0" max="40000000" class="form-control">
                                </div>
                                <div>
                                    <label for="damageTo" class="form-label">Damage to</label>
                                    <input type="number" id="damageTo" name="damage_to" value="{{ damage_to }}" step="250000" min="0" max="40000000" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mt-3">Filter</button>
                </form>
            </div>
        </div>

        <ul class="nav nav-pills mb-3" id="rating-tab" role="tablist">
            <li class="nav-item card border-0 shadow-sm mb-3 mx-1 p-0" role="presentation">
                <button 
                    class="nav-link card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %} card-monster active" 
                    id="rating-0-tab" 
                    data-bs-toggle="pill" 
                    data-bs-target="#rating-0" 
                    type="button" 
                    role="tab" 
                    aria-controls="rating-0" 
                    aria-selected="true"
                >
                    Summary
                </button>
            </li>
            {% for grade_report in report.report.reports reversed %}
            <li class="nav-item card border-0 shadow-sm mb-3 mx-1 p-0 {% if user.is_authenticated and user.summoner.dark_mode %}bg-none{% endif %}" role="presentation">
                <button 
                    class="nav-link card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark text-light{% endif %} card-monster" 
                    id="rating-{{ forloop.counter }}-tab" 
                    data-bs-toggle="pill" 
                    data-bs-target="#rating-{{ forloop.counter }}" 
                    type="button" 
                    role="tab" 
                    aria-controls="rating-{{ forloop.counter }}" 
                    aria-selected="true"
                >
                    {{ grade_report.grade }}
                </button>
            </li>
            {% endfor %}
        </ul>

        <div class="tab-content" id="rating-tabContent">
            <div class="tab-pane fade show active" id="rating-0" role="tabpanel" aria-labelledby="rating-0-tab">
                <div class="card border-0 shadow-sm m-3 card-dungeon-md card-dungeon-sm">
                    <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %}">
                        <h4>Summary</h4>
                    </div>
                    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                        {% include 'dungeons/detail/report_by_grade_summary_table.html' with table=report.report.summary user=user only %}
                    </div>
                </div>
            </div>

            {% for grade_report in report.report.reports reversed %}
                <div class="tab-pane fade" id="rating-{{ forloop.counter }}" role="tabpanel" aria-labelledby="rating-{{ forloop.counter }}-tab">
                    <h2>{{ grade_report.grade }}</h2>
                    {% if grade_report.report %}
                        {% include 'dungeons/detail/report_snippet.html' with report=grade_report.report user=user only %}
                    {% else %}
                        <p>No report generated for this grade yet</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    {% endif %}
{% endblock report %}
