{% load static utils %}
{% static 'herders/images/' as img_url_prefix %}

{% if table|length %}
    <h4>Average Quantity per 100 Runs</h4>
    <div class="table-responsive">
        <table class="table table-striped {% if user.is_authenticated and user.summoner.dark_mode %}table-dark{% endif %}">
            <thead>
            <tr>
                <th>Grade</th>
                <th>Log Count</th>
                {% for drop in table.0.drops %}
                    <th>
                        {% if drop.icon %}
                        <img src="{{ img_url_prefix }}{{ drop.type }}s/{{ drop.icon }}" alt="{{ drop.name }} icon" class="monster-inline" loading="lazy" />
                        {% endif %}
                        {{ drop.name }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in table reversed %}
                <tr>
                    <td>{{ row.grade }}</td>
                    <td>{{ row.log_count }}</td>
                    {% for drop in row.drops %}
                        <td>{{ drop.qty_per_100|floatformat }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="callout callout-info">
        <h1>No data <i class="fas fa-sad-tear"></i></h1>
        <p>No reports generated for this level yet</p>
    </div>
{% endif %}