{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Dungeons - {{ block.super }}
{% endblock title %}

{% block content %}
    {% static 'herders/images/' as img_url_prefix %}

    {% for category, cat_dungeons in dungeons.items %}
        <h1>{{ category }}</h1>
        <div class="row">
        {% for d in cat_dungeons %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ d.name }}</div>
                    <div class="panel-body">
                        {% if d.icon %}
                            <img src="{{ img_url_prefix }}dungeons/{{ d.icon }}" alt="{{ d.name }} icon" class="img-thumbnail">
                        {% endif %}
                        {% if d.category == d.CATEGORY_SCENARIO %}
                            {# List floors by difficulty #}
                            <ul>
                            {% for l in d.level_set.all %}
                                {% if l.difficulty == l.DIFFICULTY_NORMAL %}
                                <li>
                                    <a href="{% url 'bestiary:dungeon_detail_difficulty' slug=d.slug difficulty='normal' floor=l.floor %}">
                                        {{ l.get_difficulty_display }} B{{ l.floor }}
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>

                            <ul>
                            {% for l in d.level_set.all %}
                                {% if l.difficulty == l.DIFFICULTY_HARD %}
                                <li>
                                    <a href="{% url 'bestiary:dungeon_detail_difficulty' slug=d.slug difficulty='hard' floor=l.floor %}">
                                        {{ l.get_difficulty_display }} B{{ l.floor }}
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>

                            <ul>
                            {% for l in d.level_set.all %}
                                {% if l.difficulty == l.DIFFICULTY_HELL %}
                                <li>
                                    <a href="{% url 'bestiary:dungeon_detail_difficulty' slug=d.slug difficulty='hell' floor=l.floor %}">
                                        {{ l.get_difficulty_display }} B{{ l.floor }}
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% else %}
                            <ul>
                            {% for l in d.level_set.all %}
                                <li><a href="{% url 'bestiary:dungeon_detail' slug=d.slug floor=l.floor %}">B{{ l.floor }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}
