{% extends 'herders/profile/data_logs/base.html' %}
{% load crispy_forms_tags report_charts static utils %}

{% block title %}
    Summons - {{ block.super }}
{% endblock %}

{% block logs %}
    {% static 'herders/images/' as img_url_prefix %}

    {% if total_count %}
        <div class="card shadow border-0 mb-3">
            <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
                <h2>Summon Log Summary</h2>
            </div>
            <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                {% if start_date %}<p>{{ start_date }} - {{ end_date }}</p>{% endif %}
                <p>Total Summons: {{ total_count }}{% if records_limited %}. <small>Record count limited.</small>{% endif %}</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="card shadow border-0 mb-3">
                    <div
                        class="report-chart"
                        data-chart="{% chart dashboard.summons_performed type='pie' title="Summons Performed" percentage=False %}"
                        style="height: 300px"
                    ></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card shadow border-0 mb-3">
                    <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
                        <h3 class="card-title">Quick Links</h3>
                    </div>
                    <div class="{% if forloop.last %}card-footer border-0{% else %}card-header{% endif %} {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
                        <a href="{% url 'herders:data_log_summons_table' profile_name=profile_name %}">View As Table</a>
                    </div>
                    {% for item in item_list %}
                        <div class="{% if forloop.last %}card-footer border-0{% else %}card-header{% endif %} {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
                            <a href="{% url 'herders:data_log_summons_detail' profile_name=profile_name slug=item.slug %}">
                                <img src="{{ img_url_prefix }}items/{{ item.icon }}" class="image-inline" alt="{{ item.name }} icon" loading="lazy" />
                                {{ item }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {% include 'herders/profile/data_logs/no_data.html' %}
    {% endif %}
{% endblock %}
