{% extends 'herders/profile/data_logs/summons/dashboard.html' %}
{% load crispy_forms_tags report_charts utils %}

{% block title %}
    {{ item }} - {{ block.super }}
{% endblock %}

{% block logs %}
    {% if total_count %}
        <div class="card shadow border-0 mb-3">
            <div class="card-header bg-white d-flex flex-wrap justify-content-between">
                <h4>{{ item }}</h4>
            </div>
            <div class="card-body">
                {% if start_date %}<p>{{ start_date }} - {{ end_date }}</p>{% endif %}
                <p>Total Logs: {{ total_count }}</p>{% if records_limited %}. <small>Record count limited starting {{ start_date }}.</small>{% endif %}</p>
            </div>
        </div>
        <hr />
        {% include 'data_log/monster.html' with monsters=report only %}
    {% else %}
        {% include 'herders/profile/data_logs/no_data.html' %}
    {% endif %}
{% endblock %}
