{% extends 'herders/profile/data_logs/summons/dashboard.html' %}
{% load crispy_forms_tags report_charts utils %}

{% block title %}
    {{ item }} - {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if view_name == 'herders:data_log_summons_detail' %}
        <li class="active">{{ item }}</li>
    {% else %}
        <li><a href="{% url 'herders:data_log_summons_detail' profile_name=profile_name slug=item.slug %}">{{ item }}</a></li>
    {% endif %}
{% endblock %}

{% block logs %}
    <h2>{{ item }}</h2>
    {% if total_count %}
        <ul class="list list-inline">
            {% if start_date %}<li>{{ start_date }} - {{ end_date }}</li>{% endif %}
            <li>Total Summons: {{ total_count }}{% if records_limited %}. <small>Record count limited starting {{ start_date }}.</small>{% endif %}</li>
        </ul>

        <hr />
        {% include 'data_log/monster.html' with monsters=report only %}
    {% else %}
        {% include 'herders/profile/data_logs/no_data.html' %}
    {% endif %}
{% endblock %}
