{% extends 'herders/profile/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block title %}
{% if is_owner %}
My Runes - {{ block.super }}
{% else %}
{{ summoner.user.username }}'s Runes - {{ block.super }}
{% endif %}
{% endblock %}

{% block subnav %}
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-sub">
        <div class="container-fluid">
            <button class="btn btn-primary navbar-btn toggle collapsed" data-toggle="collapse" data-target="#dropdownFilters">
                Filters
            </button>
            <button class="btn btn-danger reset">Reset Filters</button>
            {% if is_owner %}
            <button class="btn btn-default navbar-btn rune-add">
                <span class="glyphicon glyphicon-plus"></span> Add Rune
            </button>
            <button class="btn btn-danger navbar-btn pull-right rune-delete-all">
                <span class="glyphicon glyphicon-minus-sign"></span> Delete All
            </button>
            <button class="btn btn-warning navbar-btn pull-right rune-unassign-all">
                <span class="glyphicon glyphicon-remove-sign"></span> Unassign All
            </button>
            {% endif %}
        </div>
        <div class="collapse" id="dropdownFilters">
            <div id="rune-inventory-filters" class="container-fluid">
                {% crispy rune_filter_form %}
            </div>
        </div>
    </nav>
{% endblock subnav %}

{% block profile %}
    <div id="rune-inventory"></div>
{% endblock profile %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static 'herders/js/runes.js' %}"></script>
{% endblock javascript_compressed %}