{% extends 'herders/profile/profile_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block subnav %}
    {% if is_owner %}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-sub">
            <div class="container-fluid">
                <button class="btn btn-default navbar-btn rune-add">
                    <span class="glyphicon glyphicon-plus"></span> Add Rune
                </button>
            </div>
        </nav>
    {% endif %}
{% endblock subnav %}

{% block profile %}
    <div id="rune-inventory"></div>
    <div id="rune-list"></div>
{% endblock profile %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'herders/js/runes.js' %}"></script>
{% endblock javascript %}