{% extends 'herders/profile/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block title %}
    {% if is_owner %}
        My Runes - {{ block.super }}
    {% else %}
        {{ summoner.user.username }}'s Runes - {{ block.super }}
    {% endif %}
{% endblock %}

{% block rune_menu %}
    {% if is_owner %}
        <ul class="navbar-nav ps-2">
            <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted rune-add" style="cursor: pointer;"><i class="fas fa-plus"></i> Add Rune</a></li>
            <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted rune-craft-add" style="cursor: pointer;"><i class="fas fa-plus"></i> Add Grindstone/Gem</a></li>
            <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted rune-delete-all" style="cursor: pointer;"><i class="fas fa-minus-circle"></i> Delete All</a></li>
            <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted rune-unassign-all" style="cursor: pointer;"><i class="fas fa-times-circle"></i></i> Unassign All</a></li>
            <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted rune-delete-notes-all" style="cursor: pointer;"><i class="fas fa-minus"></i></i> Remove All Notes</a></li>
        </ul>
    {% endif %}
{% endblock rune_menu %}

{% block profile %}
    <div class="filters">
        <button class="btn btn-default btn-block filter-header collapsed" data-toggle="collapse" data-target="#runeFilterCollapse">
            <span class="glyphicon glyphicon-filter"></span> Filters
        </button>
        <div class="collapse" id="runeFilterCollapse">
            {% crispy rune_filter_form %}
        </div>
    </div>

    <div id="rune-inventory"></div>
{% endblock profile %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static 'herders/js/runes.js' %}"></script>
{% endblock javascript_compressed %}
