{% load utils %}
{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<div class="card {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %} shadow-sm border-0 mb-3">
    <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} m-0 mx-1">
        {% if is_owner %}
        <div class="btn-group float-right">
            <button class="btn btn-link btn-sm rune-craft-edit p-0 text-{% if user.is_authenticated and user.summoner.dark_mode %}light{% else %}dark{% endif %}" data-craft-id="{{ craft.pk.hex }}">
                <i class="fas fa-edit fa-sm" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
            </button>
            <button class="btn btn-link btn-sm rune-craft-delete p-0 text-{% if user.is_authenticated and user.summoner.dark_mode %}light{% else %}dark{% endif %}" data-craft-id="{{ craft.pk.hex }}">
                <i class="fas fa-trash fa-sm text-danger" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
            </button>
        </div>
        {% endif %}
        <p class="card-title rune-text rune-text-{{ craft.get_quality_display|lower }}">{{ craft }}</p>
    </div>

    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %} d-flex justify-content-between m-0 pb-0">
        {% include 'herders/profile/runes/craft_image_fragment.html' with craft=craft only %}

        <ul class="list-unstyled d-flex flex-column align-items-end pb-0">
            <li class="float-right">
                <span class="badge rune-label-{{ craft.get_quality_display|lower }}">
                    {% if 'Ancient' in craft.get_type_display %}
                        <img src="{{ img_url_prefix }}runes/ancient.png" class="inline-icon" alt="Ancient icon" loading="lazy" />
                    {% endif %}
                    {{ craft.get_quality_display }}
                </span>
            </li>
            <li class="float-right">
                Qty. {{ craft.quantity }}
            </li>
            {% if craft.value %}
                <li class="float-right">
                    <img src="{{ img_url_prefix }}items/mana.png" class="inline-icon" alt="Mana icon" loading="lazy" />
                    {{ craft.value }}
                </li>
            {% endif %}
        </ul>
    </div>
</div>
