{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<div id="rune-inventory">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button class="btn btn-default rune-view-mode" data-mode="list">
                    <span class="glyphicon glyphicon-th-list"></span> List
                </button>
                <button class="btn btn-default rune-view-mode active" data-mode="box">
                    <span class="glyphicon glyphicon-th-large"></span> Box
                </button>
                <button class="btn btn-default rune-view-mode" data-mode="grid">
                    <span class="glyphicon glyphicon-th"></span> Grid
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="flex">
            {% for rune in runes %}
                <div data-rune-instance="{{ rune.pk.hex }}">
                    {% include 'herders/profile/runes/rune_panel_fragment.html' with rune=rune profile_name=profile_name is_owner=is_owner only %}
                </div>
            {% empty %}
                <div class="alert alert-warning">Your search returned no results or you have no runes!</div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>