{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<div id="rune-inventory">
    <div class="card shadow border-0 mb-3">
        <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-dark rune-view-mode" data-mode="list">
                    <i class="fas fa-th-list"></i> List
                </button>
                <button class="btn btn-outline-dark rune-view-mode" data-mode="box">
                    <i class="fas fa-th-large"></i> Box
                </button>
                <button class="btn btn-outline-dark rune-view-mode" data-mode="grid">
                    <i class="fas fa-table"></i> Grid
                </button>
                <button class="btn btn-outline-dark rune-view-mode active" data-mode="crafts">
                    <img src="{{ img_url_prefix }}runes/enchant_gem_legend.png" loading="lazy" />
                </button>
            </div>
        </div>

        <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
            <ul class="nav nav-pills mb-3" id="dungeons-tab" role="tablist">
                {% for craft_type in crafts %}
                    <li class="nav-item card border-0 shadow-sm mb-3 mx-3 p-0" role="presentation">
                        <button 
                            class="nav-link card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %} card-monster{% if forloop.first %} active{% endif %}" 
                            id="{{ craft_type|slugify }}_tab-tab" 
                            data-bs-toggle="pill" 
                            data-bs-target="#{{ craft_type|slugify }}_tab" 
                            type="button" 
                            role="tab" 
                            aria-controls="{{ craft_type|slugify }}_tab" 
                            aria-selected="true"
                        >
                            {{ craft_type }}
                        </button>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for craft_type, craft_group in crafts.items %}
                <div role="tabpanel" class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="{{ craft_type|slugify }}_tab" aria-labelledby="{{ craft_type|slugify }}_tab-tab">
                    {% for rune_type, rune_crafts in craft_group.items %}
                        {% if rune_crafts|length %}
                            <div class="card border-0 shadow-sm mb-3">
                                <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
                                    <p class="card-title h4">{{ rune_type }}</p>
                                </div>
                                <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                                    <div class="flex flex-wrap">
                                    {% for craft in rune_crafts %}
                                        {% include 'herders/profile/runes/craft_panel_fragment.html' with craft=craft %}
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>