{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

<div id="rune-inventory">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button class="btn btn-default rune-view-mode active" data-mode="list">
                    <span class="glyphicon glyphicon-th-list"></span> List
                </button>
                <button class="btn btn-default rune-view-mode" data-mode="box">
                    <span class="glyphicon glyphicon-th-large"></span> Box
                </button>
                <button class="btn btn-default rune-view-mode" data-mode="grid">
                    <span class="glyphicon glyphicon-th"></span> Grid
                </button>
                <button class="btn btn-default rune-view-mode" data-mode="crafts">
                    <img src="{{ img_url_prefix }}runes/enchant_gem_legend.png" />
                </button>
            </div>
            <span class="pull-right">{{ filtered_count }} of {{ total_count }} rune{{ total_count|pluralize }}</span>
        </div>
        {% if not total_count %}
            <div class="panel-body">
                <div class="alert alert-warning">You don't have any runes!</div>
            </div>
        {% elif not filtered_count %}
            <div class="panel-body">
                <div class="alert alert-warning">All runes were filtered out.</div>
            </div>
        {% else %}
            <table class="table table-condensed monster-table" id="runeInventoryTable">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Efficiency</th>
                    <th data-toggle="tooltip" data-container="body" title="With perfect substat upgrades to +12">Max Efficiency</th>
                    <th>Slot</th>
                    <th>Stars</th>
                    <th>Level</th>
                    <th data-sorter="text">Main Stat</th>
                    <th data-sorter="text">Innate Stat</th>
                    <th data-sorter="text">Substat 1</th>
                    <th data-sorter="text">Substat 2</th>
                    <th data-sorter="text">Substat 3</th>
                    <th data-sorter="text">Substat 4</th>
                    <th>Assigned To</th>
                    <th>Notes</th>
                    <th>Marked for Sale</th>
                    {% if is_owner %}<th data-sorter="false"></th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for rune in runes %}
                <tr>
                    <td>
                        <span class="hidden">{{ rune.get_type_display }}</span>
                        {% include 'herders/profile/runes/rune_image_fragment.html' with rune=rune only %}
                    </td>
                    <td>{% if rune.value %}{{ rune.value }}{% endif %}</td>
                    <td>{% if rune.efficiency %}{{ rune.efficiency|floatformat:1 }}%{% endif %}</td>
                    <td>{% if rune.max_efficiency %}{{ rune.max_efficiency|floatformat:1 }}%{% endif %}</td>
                    <td>{{ rune.slot }}</td>
                    <td>{{ rune.stars }}</td>
                    <td>{{ rune.level }}</td>
                    <td>{{ rune.get_main_stat_rune_display }} +{{ rune.main_stat_value }}{% if rune.main_stat in rune.PERCENT_STATS %}%{% endif %}</td>
                    <td>{% if rune.innate_stat %}{{ rune.get_innate_stat_rune_display }} +{{ rune.innate_stat_value }}{% if rune.innate_stat in rune.PERCENT_STATS %}%{% endif %}{% endif %}</td>
                    <td>{% if rune.substats|length >= 1 %}<span class="hidden">{{ rune.substats.0 }}</span>{{ rune.substat_rune_display.0 }} <span class="{% if rune.substats_grind_value.0 %}rune-grindstone-text{% endif %}">+{{ rune.substat_values.0|add:rune.substats_grind_value.0 }}{% if rune.substats.0 in rune.PERCENT_STATS %}%{% endif %} {% if rune.substats_enchanted.0 %}<img src="{{ img_url_prefix }}runes/enchanted.png" />{% endif %}</span>{% endif %}</td>
                    <td>{% if rune.substats|length >= 2 %}<span class="hidden">{{ rune.substats.1 }}</span>{{ rune.substat_rune_display.1 }} <span class="{% if rune.substats_grind_value.1 %}rune-grindstone-text{% endif %}">+{{ rune.substat_values.0|add:rune.substats_grind_value.0 }}{% if rune.substats.1 in rune.PERCENT_STATS %}%{% endif %} {% if rune.substats_enchanted.1 %}<img src="{{ img_url_prefix }}runes/enchanted.png" />{% endif %}</span>{% endif %}</td>
                    <td>{% if rune.substats|length >= 3 %}<span class="hidden">{{ rune.substats.2 }}</span>{{ rune.substat_rune_display.2 }} <span class="{% if rune.substats_grind_value.2 %}rune-grindstone-text{% endif %}">+{{ rune.substat_values.0|add:rune.substats_grind_value.0 }}{% if rune.substats.2 in rune.PERCENT_STATS %}%{% endif %} {% if rune.substats_enchanted.2 %}<img src="{{ img_url_prefix }}runes/enchanted.png" />{% endif %}</span>{% endif %}</td>
                    <td>{% if rune.substats|length >= 4 %}<span class="hidden">{{ rune.substats.3 }}</span>{{ rune.substat_rune_display.3 }} <span class="{% if rune.substats_grind_value.3 %}rune-grindstone-text{% endif %}">+{{ rune.substat_values.0|add:rune.substats_grind_value.0 }}{% if rune.substats.3 in rune.PERCENT_STATS %}%{% endif %} {% if rune.substats_enchanted.3 %}<img src="{{ img_url_prefix }}runes/enchanted.png" />{% endif %}</span>{% endif %}</td>
                    <td>
                        {% if rune.assigned_to %}
                        <span class="hidden">{{ rune.assigned_to.monster.name }}-{{ rune.assigned_to.pk }}</span>
                        <div class="monster-image">
                            <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=rune.assigned_to.pk.hex %}" target="_blank">
                                <img src="{{ img_url_prefix }}monsters/{{ rune.assigned_to.monster.image_filename }}" class="monster-thumb"/>
                                <span>
                                    {% for x in rune.assigned_to.stars|get_range %}
                                        {% if rune.assigned_to.monster.is_awakened %}
                                            <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% elif rune.assigned_to.monster.can_awaken %}
                                            <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% else %}
                                            <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="image-plus image-plus-right">{{ rune.assigned_to.level }}</span>
                            </a>
                        </div>
                        {% endif %}
                    </td>
                    <td>{% if rune.notes %}{{ rune.notes }}{% endif %}</td>
                    <td>
                        {% if rune.marked_for_sale %}
                        <span class="hidden">Yes</span><span class="text-succes glyphicon glyphicon-ok"></span>
                        {% else %}
                        <span class="hidden">No</span>
                        {% endif %}
                    </td>
                    {% if is_owner %}
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs rune-edit" data-rune-id="{{ rune.pk.hex }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-default btn-xs rune-delete" data-rune-id="{{ rune.pk.hex }}">
                                <span class="glyphicon glyphicon-trash text-danger"></span>
                            </button>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>