{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

<div id="rune-inventory">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <button class="btn btn-default rune-view-mode" data-mode="list">
                    <span class="glyphicon glyphicon-th-list"></span> List
                </button>
                <button class="btn btn-default rune-view-mode" data-mode="box">
                    <span class="glyphicon glyphicon-th-large"></span> Box
                </button>
                <button class="btn btn-default rune-view-mode active" data-mode="grid">
                    <span class="glyphicon glyphicon-th"></span> Grid
                </button>
            </div>
            <span class="pull-right">{{ filtered_count }} of {{ total_count }} rune{{ total_count|pluralize }}</span>
        </div>
        <table class="table table-condensed table-bordered table-hover monster-table" id="runeInventoryTable">
            <thead>
            <tr>
                <th>Type</th>
                <th>Slot</th>
                <th>Stars</th>
                <th>Value</th>
                <th>Efficiency</th>
                <th>HP %</th>
                <th>HP</th>
                <th>DEF %</th>
                <th>DEF</th>
                <th>ATK %</th>
                <th>ATK</th>
                <th>SPD</th>
                <th>CRI Rate</th>
                <th>CRI Dmg</th>
                <th>RES</th>
                <th>ACC</th>
                <th>Assigned To</th>
                {% if is_owner %}<th data-sorter="false"></th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for rune in runes %}
            <tr>
                <td>
                    <span class="hidden">{{ rune.get_type_display }}</span>
                    {% include 'herders/profile/runes/rune_image_fragment.html' with rune=rune only %}
                </td>
                <td>{{ rune.slot }}</td>
                <td>{{ rune.stars }}</td>
                <td>{% if rune.value %}<img src="{{ img_url_prefix }}icons/mana.png" class="inline-icon" /> {{ rune.value }}{% endif %}</td>
                <td>{% if rune.efficiency %}{{ rune.efficiency|floatformat:1 }}%{% endif %}</td>
                <td>{% if rune.get_hp_pct %}<span {% if rune.main_stat == rune.STAT_HP_PCT %}class="lead"{% endif %}>{{ rune.get_hp_pct }}%</span>{% endif %}</td>
                <td>{% if rune.get_hp %}<span {% if rune.main_stat == rune.STAT_HP %}class="lead"{% endif %}>{{ rune.get_hp }}</span>{% endif %}</td>
                <td>{% if rune.get_def_pct %}<span {% if rune.main_stat == rune.STAT_DEF_PCT %}class="lead"{% endif %}>{{ rune.get_def_pct }}%</span>{% endif %}</td>
                <td>{% if rune.get_def %}<span {% if rune.main_stat == rune.STAT_DEF %}class="lead"{% endif %}>{{ rune.get_def }}</span>{% endif %}</td>
                <td>{% if rune.get_atk_pct %}<span {% if rune.main_stat == rune.STAT_ATK_PCT %}class="lead"{% endif %}>{{ rune.get_atk_pct }}%</span>{% endif %}</td>
                <td>{% if rune.get_atk %}<span {% if rune.main_stat == rune.STAT_ATK %}class="lead"{% endif %}>{{ rune.get_atk }}</span>{% endif %}</td>
                <td>{% if rune.get_spd %}<span {% if rune.main_stat == rune.STAT_SPD %}class="lead"{% endif %}>{{ rune.get_spd }}</span>{% endif %}</td>
                <td>{% if rune.get_cri_rate %}<span {% if rune.main_stat == rune.STAT_CRI_RATE_PCT %}class="lead"{% endif %}>{{ rune.get_cri_rate }}%</span>{% endif %}</td>
                <td>{% if rune.get_cri_dmg %}<span {% if rune.main_stat == rune.STAT_CRI_DMG_PCT %}class="lead"{% endif %}>{{ rune.get_cri_dmg }}%</span>{% endif %}</td>
                <td>{% if rune.get_res %}<span {% if rune.main_stat == rune.STAT_RESIST_PCT %}class="lead"{% endif %}>{{ rune.get_res }}%</span>{% endif %}</td>
                <td>{% if rune.get_acc %}<span {% if rune.main_stat == rune.STAT_ACCURACY_PCT %}class="lead"{% endif %}>{{ rune.get_acc }}%</span>{% endif %}</td>
                <td>
                    {% if rune.assigned_to %}
                    <div class="monster-image">
                        <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=rune.assigned_to.pk.hex %}" target="_blank">
                            <img src="{{ img_url_prefix }}monsters/{{ rune.assigned_to.monster.image_filename }}" class="monster-thumb"/>
                            <span>
                                {% for x in rune.assigned_to.stars|get_range %}
                                    {% if rune.assigned_to.monster.is_awakened %}
                                        <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% elif rune.assigned_to.monster.can_awaken %}
                                        <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% else %}
                                        <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% endif %}
                                {% endfor %}
                            </span>
                            <span class="image-plus image-plus-right">{{ rune.assigned_to.level }}</span>
                        </a>
                    </div>
                    {% endif %}
                </td>
                {% if is_owner %}
                <td>
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs rune-edit" data-rune-id="{{ rune.pk.hex }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-default btn-xs rune-delete" data-rune-id="{{ rune.pk.hex }}">
                            <span class="glyphicon glyphicon-trash text-danger"></span>
                        </button>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>