{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

<div id="rune-inventory">
    <div class="card shadow border-0 mb-3">
        <div class="card-header bg-white">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-dark rune-view-mode" data-mode="list">
                    <i class="fas fa-th-list"></i> List
                </button>
                <button class="btn btn-outline-dark rune-view-mode" data-mode="box">
                    <i class="fas fa-th-large"></i> Box
                </button>
                <button class="btn btn-outline-dark rune-view-mode active" data-mode="grid">
                    <i class="fas fa-table"></i> Grid
                </button>
                <button class="btn btn-outline-dark rune-view-mode" data-mode="crafts">
                    <img src="{{ img_url_prefix }}runes/enchant_gem_legend.png" loading="lazy" />
                </button>
            </div>

            <span class="float-right fw-lighter text-muted"><strong>{{ filtered_count }}</strong> of <strong>{{ total_count }}</strong> rune{{ total_count|pluralize }}</span>
        </div>

        <div class="card-body table-responsive">
        {% if not total_count %}
            <div class="callout callout-warning">
                <h2 class="fw-lighter">No runes!</h2>
                <p class="fw-lighter">You don't have any runes!</p>
            </div>
        {% elif not filtered_count %}
            <div class="callout callout-warning">
                <h2 class="fw-lighter">No records!</h2>
                <p class="fw-lighter">All runes were filtered out!</p>
            </div>
        {% else %}
            <table class="table table-condensed table-bordered table-hover monster-table" id="runeInventoryTable">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Slot</th>
                    <th>Stars</th>
                    <th>Value</th>
                    <th>Efficiency</th>
                    <th data-toggle="tooltip" data-container="body" title="With perfect substat upgrades to +12">Max Efficiency</th>
                    <th>HP %</th>
                    <th>HP</th>
                    <th>DEF %</th>
                    <th>DEF</th>
                    <th>ATK %</th>
                    <th>ATK</th>
                    <th>SPD</th>
                    <th>CRI Rate</th>
                    <th>CRI Dmg</th>
                    <th>RES</th>
                    <th>ACC</th>
                    <th>Assigned To</th>
                    <th>Notes</th>
                    <th>Marked for Sale</th>
                    {% if is_owner %}<th data-sorter="false"></th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for rune in runes %}
                <tr>
                    <td>
                        <span class="visually-hidden">{{ rune.get_type_display }}</span>
                        {% include 'herders/profile/runes/rune_image_fragment.html' with rune=rune only %}
                    </td>
                    <td>{{ rune.slot }}</td>
                    <td>{{ rune.stars }}</td>
                    <td>{% if rune.value %}<img src="{{ img_url_prefix }}items/mana.png" class="inline-icon" loading="lazy" /> {{ rune.value }}{% endif %}</td>
                    <td>{% if rune.efficiency %}{{ rune.efficiency|floatformat:1 }}%{% endif %}</td>
                    <td>{% if rune.max_efficiency %}{{ rune.max_efficiency|floatformat:1 }}%{% endif %}</td>
                    <td>{% if rune.get_hp_pct %}<span {% if rune.main_stat == rune.STAT_HP_PCT %}class="lead"{% endif %}>{{ rune.get_hp_pct }}%</span>{% endif %}</td>
                    <td>{% if rune.get_hp %}<span {% if rune.main_stat == rune.STAT_HP %}class="lead"{% endif %}>{{ rune.get_hp }}</span>{% endif %}</td>
                    <td>{% if rune.get_def_pct %}<span {% if rune.main_stat == rune.STAT_DEF_PCT %}class="lead"{% endif %}>{{ rune.get_def_pct }}%</span>{% endif %}</td>
                    <td>{% if rune.get_def %}<span {% if rune.main_stat == rune.STAT_DEF %}class="lead"{% endif %}>{{ rune.get_def }}</span>{% endif %}</td>
                    <td>{% if rune.get_atk_pct %}<span {% if rune.main_stat == rune.STAT_ATK_PCT %}class="lead"{% endif %}>{{ rune.get_atk_pct }}%</span>{% endif %}</td>
                    <td>{% if rune.get_atk %}<span {% if rune.main_stat == rune.STAT_ATK %}class="lead"{% endif %}>{{ rune.get_atk }}</span>{% endif %}</td>
                    <td>{% if rune.get_spd %}<span {% if rune.main_stat == rune.STAT_SPD %}class="lead"{% endif %}>{{ rune.get_spd }}</span>{% endif %}</td>
                    <td>{% if rune.get_cri_rate %}<span {% if rune.main_stat == rune.STAT_CRIT_RATE_PCT %}class="lead"{% endif %}>{{ rune.get_cri_rate }}%</span>{% endif %}</td>
                    <td>{% if rune.get_cri_dmg %}<span {% if rune.main_stat == rune.STAT_CRIT_DMG_PCT %}class="lead"{% endif %}>{{ rune.get_cri_dmg }}%</span>{% endif %}</td>
                    <td>{% if rune.get_res %}<span {% if rune.main_stat == rune.STAT_RESIST_PCT %}class="lead"{% endif %}>{{ rune.get_res }}%</span>{% endif %}</td>
                    <td>{% if rune.get_acc %}<span {% if rune.main_stat == rune.STAT_ACCURACY_PCT %}class="lead"{% endif %}>{{ rune.get_acc }}%</span>{% endif %}</td>
                    <td>
                        {% if rune.assigned_to %}
                        <span class="visually-hidden">{{ rune.assigned_to.monster.name }}-{{ rune.assigned_to.pk }}</span>
                        <div class="monster-image">
                            <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=rune.assigned_to.pk.hex %}" target="_blank">
                                <img src="{{ img_url_prefix }}monsters/{{ rune.assigned_to.monster.image_filename }}" class="monster-thumb" loading="lazy" />
                                <span>
                                    {% for x in rune.assigned_to.stars|get_range %}
                                        {% if rune.assigned_to.monster.is_awakened %}
                                            <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                        {% elif rune.assigned_to.monster.can_awaken %}
                                            <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                        {% else %}
                                            <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="image-plus image-plus-right">{{ rune.assigned_to.level }}</span>
                            </a>
                        </div>
                        {% endif %}
                    </td>
                    <td>{% if rune.notes %}{{ rune.notes }}{% endif %}</td>
                    <td>
                        {% if rune.marked_for_sale %}
                        <span class="visually-hidden">Yes</span><i class="far fa-check-circle text-success"></i>
                        {% else %}
                        <span class="visually-hidden">No</span>
                        {% endif %}
                    </td>
                    {% if is_owner %}
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs rune-edit" data-rune-id="{{ rune.pk.hex }}">
                                <i class="fas fa-edit fa-sm" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                            </button>
                            <button class="btn btn-default btn-xs rune-delete" data-rune-id="{{ rune.pk.hex }}">
                                <i class="fas fa-trash fa-sm" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                            </button>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>