{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<div id="rune-inventory">
    {# We duplicate the messages here because the page is not reloaded and base.html will not display them #}
    {% if messages %}
        <div class="alert alert-dismissible alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul>
                {% for message in messages %}
                    <li>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="flex">
    {% for rune in runes %}
        <div data-rune-instance="{{ rune.pk.hex }}">
            {% include 'herders/profile/runes/rune_panel_fragment.html' with rune=rune profile_name=profile_name is_owner=is_owner only %}
        </div>
    {% empty %}
        <div class="alert alert-warning">Your search returned no results or you have no runes!</div>
    {% endfor %}
    </div>
</div>