{% load utils %}
{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<div class="panel panel-default rune-panel">
    <div class="panel-heading condensed">
        {% if is_owner %}
        <div class="btn-group pull-right">
            <button class="btn btn-default btn-xs rune-edit" data-rune-id="{{ rune.pk.hex }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button class="btn btn-default btn-xs rune-delete" data-rune-id="{{ rune.pk.hex }}">
                <span class="glyphicon glyphicon-trash text-danger"></span>
            </button>
        </div>
        {% endif %}
        <p class="panel-title rune-text rune-text-{{ rune.get_quality_display|lower }}">{{ rune }}</p>
    </div>
    <div class="panel-body condensed">
        {% include 'herders/profile/runes/rune_image_fragment.html' with rune=rune only %}
        <ul class="list-unstyled">
            <li class="rune-main-stat">{{ rune.get_main_stat_rune_display }} +{{ rune.main_stat_value }}{% if rune.main_stat in rune.PERCENT_STATS %}%{% endif %}</li>
            {% if rune.innate_stat %}<li>{{ rune.get_innate_stat_rune_display }} +{{ rune.innate_stat_value }}{% if rune.innate_stat in rune.PERCENT_STATS %}%{% endif %}</li>{% endif %}
        </ul>
        <div class="clearfix"></div>
        <ul class="list-unstyled">
            {% if rune.substat_1 %}<li>{{ rune.get_substat_1_rune_display }} <span class="{% if 'Grindstone' in rune.get_substat_1_craft_display %}rune-grindstone-text{% endif %}">+{{ rune.substat_1_value }}{% if rune.substat_1 in rune.PERCENT_STATS %}%{% endif %} {% if 'Gem' in rune.get_substat_1_craft_display %}<img src="{{ img_url_prefix }}runes/enchanted.png" />{% endif %}</span></li>{% endif %}
            {% if rune.substat_2 %}<li>{{ rune.get_substat_2_rune_display }} <span class="{% if 'Grindstone' in rune.get_substat_2_craft_display %}rune-grindstone-text{% endif %}">+{{ rune.substat_2_value }}{% if rune.substat_2 in rune.PERCENT_STATS %}%{% endif %} {% if 'Gem' in rune.get_substat_2_craft_display %}<img src="{{ img_url_prefix }}runes/enchanted.png" />{% endif %}</span></li>{% endif %}
            {% if rune.substat_3 %}<li>{{ rune.get_substat_3_rune_display }} <span class="{% if 'Grindstone' in rune.get_substat_3_craft_display %}rune-grindstone-text{% endif %}">+{{ rune.substat_3_value }}{% if rune.substat_3 in rune.PERCENT_STATS %}%{% endif %} {% if 'Gem' in rune.get_substat_3_craft_display %}<img src="{{ img_url_prefix }}runes/enchanted.png" />{% endif %}</span></li>{% endif %}
            {% if rune.substat_4 %}<li>{{ rune.get_substat_4_rune_display }} <span class="{% if 'Grindstone' in rune.get_substat_4_craft_display %}rune-grindstone-text{% endif %}">+{{ rune.substat_4_value }}{% if rune.substat_4 in rune.PERCENT_STATS %}%{% endif %} {% if 'Gem' in rune.get_substat_4_craft_display %}<img src="{{ img_url_prefix }}runes/enchanted.png" />{% endif %}</span></li>{% endif %}
        </ul>
        {% if rune.notes %}<span><strong>Notes:</strong> {{ rune.notes }}</span>{% endif %}
        {% if rune.assigned_to %}
            <div class="rune-assigned-to">
                <div class="monster-image">
                    <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=rune.assigned_to.pk.hex %}" target="_blank">
                        <img src="{{ img_url_prefix }}monsters/{{ rune.assigned_to.monster.image_filename }}" class="monster-thumb"/>
                        <span>
                            {% for x in rune.assigned_to.stars|get_range %}
                                {% if rune.assigned_to.monster.is_awakened %}
                                    <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                {% elif rune.assigned_to.monster.can_awaken %}
                                    <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                {% else %}
                                    <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                {% endif %}
                            {% endfor %}
                        </span>
                        <span class="image-plus image-plus-right">{{ rune.assigned_to.level }}</span>
                    </a>
                </div>
            </div>
        {% endif %}
        <ul class="top-right list-unstyled">
            {% if rune.original_quality %}
                <li data-toggle="tooltip" data-container="body" title="Original rune quality when it dropped">Orig. <span class="label rune-label-{{ rune.get_original_quality_display|lower }}">{{ rune.get_original_quality_display }}</span></li>
            {% endif %}
            {% if rune.value %}
                <li class="mana-crystals">
                    <img src="{{ img_url_prefix }}icons/mana.png" class="inline-icon" /> {{ rune.value }}
                    {% if rune.marked_for_sale %}<span class="glyphicon glyphicon-piggy-bank" data-toggle="tooltip" data-placement="top" title="Marked for Sale"></span>{% endif %}
                </li>
            {% endif %}
            {% if rune.efficiency %}
                <li {% if rune.max_efficiency and rune.level < 12 %}data-toggle="tooltip" title="Max Eff: {{ rune.max_efficiency|floatformat:1 }}%"{% endif %}>
                    Eff: {{ rune.efficiency|floatformat:1 }}%
                </li>
            {% endif %}
    </ul>
    </div>

</div>