{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

<div class="rune-image pull-left{% if popover %} rune-popover{% endif %}" data-rune-id="{{ rune.pk.hex }}" title="{{ rune }}">
    <div class="rune-bg {{ rune.get_quality_display|lower }}">
        <div class="rune slot{{ rune.slot }}">
            <div class="rune-symbol {{ rune.get_type_display|lower }}"></div>
        </div>
        {% for x in rune.stars|get_range %}
            {% if rune.level == 15 %}
            <img class="star star-{{ forloop.counter }}" src="{{ img_url_prefix }}stars/star-awakened.png" loading="lazy" />
            {% else %}
            <img class="star star-{{ forloop.counter }}" src="{{ img_url_prefix }}stars/star-unawakened.png" loading="lazy" />
            {% endif %}
        {% endfor %}
        <span class="image-plus image-plus-right">+{{ rune.level }}</span>
        {% if rune.original_quality and not hide_original_quality %}
            <span class="image-plus image-plus-left rune-text-{{ rune.get_original_quality_display|lower }}">⬤</span>
        {% endif %}
    </div>
</div>
