{% extends 'sw_parser/log/base.html' %}

{% load staticfiles %}
{% load utils %}
{% load humanize %}

{% block title %}Wishes - {{ block.super }}{% endblock title %}

{% block stats_content %}
    {% static 'herders/images/' as img_url_prefix %}

    <h1>Wishes <small>{{ count }} logs</small></h1>

    <div class="panel panel-default">
        <div class="panel-body row">
            <div class="chart col-lg-5" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?chart_type=summary"></div>
            <div class="chart col-lg-7" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?chart_type=detail_summary"></div>
        </div>
    </div>

    <h2 id="rune_detail">Rune Details <small>{{ rune_count }} rune wishes</small></h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">General</p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=rune&chart_type=star_summary" ></div>
                <div class="col-lg-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=rune&chart_type=quality_summary" ></div>
                <div class="col-lg-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=rune&chart_type=by_slot" ></div>
            </div>
            <div class="row">
                <div class="col-lg-6 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=rune&chart_type=star_detail" ></div>
                <div class="col-lg-6 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=rune&chart_type=quality_detail" ></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">Main Stat</p>
        </div>
        <div class="panel-body">
            <div class="col-lg-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=rune&chart_type=main_stat_summary&slot=2"></div>
            <div class="col-lg-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=rune&chart_type=main_stat_summary&slot=4"></div>
            <div class="col-lg-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=rune&chart_type=main_stat_summary&slot=6"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">Substats</p>
        </div>
        <div class="panel-body">
            <div class="col-lg-6 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=rune&chart_type=substat_summary"></div>
            <div class="col-lg-6 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=rune&chart_type=innate_stat_summary"></div>
        </div>
    </div>

    <h2 id="monster_detail">Monster Details <small>{{ monster_count }} monster wishes</small></h2>
    <div class="panel panel-default">
        <div class="panel-body row">
            <div class="col-lg-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=monster&chart_type=grade"></div>
            <div class="col-lg-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=monster&chart_type=element"></div>
            <div class="col-lg-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=monster&chart_type=awakened"></div>
        </div>
        <div class="panel-body row">
            {% for grade in grade_range %}
                <div class="col-lg-12 chart" style="height: 500px" data-chart-data-source="/data/log/charts/wish/{% if mine %}mine/{% endif %}?section=monster&chart_type=family&grade={{ grade }}"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
