{% load staticfiles %}
{% load crispy_forms_tags %}
{% static 'herders/images/' as img_url_prefix %}

<div>
    <h3>Essences Required:</h3>
    <div class="monster-awaken-materials">
        {% include 'bestiary/awakening_essences.html' with monster=instance.monster only %}
    </div>
</div>
<div>
    <h3>Essences Available:</h3>
    <div class="monster-awaken-materials">
    {% for element, essences in available_essences.iteritems %}
        {% for size, count in essences.iteritems %}
            <div>
                <img src="{{ img_url_prefix }}essences/{{ element }}_{{ size }}.png" style="
                {% if count.sufficient %}
                    border: 5px solid green
                {% else %}
                    border: 5px solid red
                {% endif %}
                "/>
                <span class="image-plus image-plus-right">{{ count.qty }}</span>
            </div>
        {% endfor %}
    {% endfor %}
    </div>
</div>

{% crispy awaken_form %}