{% extends 'herders/profile/base.html' %}
{% load staticfiles %}
{% load utils %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    {% if is_owner %}
        {{ instance.monster }} Lv. {% if instance.is_max_level %}MAX{% endif %}{{ instance.level }} - {{ block.super }}
    {% else %}
        {{ summoner.user.username }}'s {{ instance.monster }} Lv. {% if instance.is_max_level %}MAX{% endif %}{{ instance.level }} - {{ block.super }}
    {% endif %}
{% endblock %}

{% block monster_menu %}
    {% static 'herders/images/' as img_url_prefix %}

    {% if is_owner%}
        <ul class="navbar-nav ps-2">
            <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted monster-edit" data-instance-id="{{ instance.pk.hex }}" style="cursor: pointer;"><i class="fas fa-edit"></i> Edit</a></li>
            <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted monster-copy" data-instance-id="{{ instance.pk.hex }}" style="cursor: pointer;"><i class="fas fa-clone"></i> Copy</a></li>
            <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted monster-power-up" data-instance-id="{{ instance.pk.hex }}" style="cursor: pointer;"><i class="fas fa-chevron-up"></i> Power Up</a></li>
            {% if instance.monster.awakens_to is not None %}
                <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted monster-awaken" data-instance-id="{{ instance.pk.hex }}" style="cursor: pointer;"><i class="fas fa-angle-double-up" style="color: purple;"></i> Awaken</a></li>
            {% endif %}
            <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted monster-delete" data-instance-id="{{ instance.pk.hex }}" style="cursor: pointer;"><i class="fas fa-trash text-danger"></i> Delete</a></li>
        </ul>
    {% endif %}
{% endblock monster_menu %}

{% block profile %}
    <div class="row">
        <div class="col-12 col-lg-6">
            <div id="monster-view-notes-info"></div>
        </div>
        <div class="col-12 col-lg-6">
            <div id="monster-view-runes"></div>
        </div>
        <div class="col-12">
            <div id="monster-view-stats"></div>
        </div>
        <div class="col-12">
            <div id="monster-view-skills"></div>
        </div>
    </div>
{% endblock profile %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static "herders/js/monster_view.js" %}"></script>
{% endblock javascript_compressed %}

{% block javascript %}
    <script type="text/javascript">
        var INSTANCE_ID = '{{ instance.pk.hex }}';
    </script>
{% endblock javascript %}