{% extends 'herders/profile/base.html' %}
{% load staticfiles %}
{% load utils %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    {% if is_owner %}
        {{ instance.monster }} Lv. {% if instance.is_max_level %}MAX{% endif %}{{ instance.level }} - {{ block.super }}
    {% else %}
        {{ summoner.user.username }}'s {{ instance.monster }} Lv. {% if instance.is_max_level %}MAX{% endif %}{{ instance.level }} - {{ block.super }}
    {% endif %}
{% endblock %}

{% block monster_menu %}
    {% static 'herders/images/' as img_url_prefix %}

    {% if is_owner%}
        <ul class="dropdown-menu navmenu-nav">
            <li><a><img src="{{ img_url_prefix }}monsters/{{ instance.monster.image_filename }}" class="monster-inline" /> {% if instance.custom_name %}{{ instance.custom_name }}{% else %}{{ instance.monster.name }}{% endif %}</a></li>
            <li><a class="monster-edit" data-instance-id="{{ instance.pk.hex }}"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
            <li><a class="monster-copy" data-instance-id="{{ instance.pk.hex }}"><span class="glyphicon glyphicon-copy"></span> Copy</a></li>
            <li><a class="monster-power-up" data-instance-id="{{ instance.pk.hex }}"><span class="glyphicon glyphicon-arrow-up"></span> Power Up</a></li>
            {% if instance.monster.awakens_to is not None %}
                <li><a class="monster-awaken" data-instance-id="{{ instance.pk.hex }}"><span class="glyphicon glyphicon-star" style="color:purple"></span> Awaken</a></li>
            {% endif %}
            <li><a class="monster-delete" data-instance-id="{{ instance.pk.hex }}"><span class="glyphicon glyphicon-trash text-danger"></span> Delete</a></li>
        </ul>
    {% endif %}
{% endblock monster_menu %}

{% block profile %}
    <div class="row">
        <div class="col-lg-6">
            <div id="monster-view-notes-info"></div>
        </div>
        <div class="col-lg-6">
            <div id="monster-view-runes"></div>
        </div>
        <div class="col-lg-12">
            <div id="monster-view-stats"></div>
        </div>
    </div>
    <div class="row">
        <div id="monster-view-skills"></div>
    </div>

    <div class="clearfix"></div>
{% endblock profile %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static "herders/js/monster_view.js" %}"></script>
{% endblock javascript_compressed %}

{% block javascript %}
    <script type="text/javascript">
        var INSTANCE_ID = '{{ instance.pk.hex }}';
    </script>
{% endblock javascript %}