{% extends 'herders/profile/base.html' %}

{% block title %}
    Monster Not Found - {{ block.super }}
{% endblock %}

{% block profile %}
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">Monster does not exist</span>
                    <div class="mb-4 lead">Sorry, you ended up at a monster that doesn't exist. Check for typos or incorrect links.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock profile %}
