{% load staticfiles %}
{% load utils %}
{% load markdown_deux_tags %}
{% load humanize %}
{% static 'herders/images/' as img_url_prefix %}

{% if instance.notes and instance.notes != "" or instance.tags.all|length %}
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Personal Notes</p>
    </div>
    <div class="panel-body">
        <div>
            {% for tag in instance.tags.all %}
            <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
        <p>{{ instance.notes|markdown }}</p>
    </div>
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Monster Info</p>
    </div>
    <table class="table table-condensed table-bordered">
        <tbody>
        {% if instance.created %}
        <tr>
            <td>Summoned On:</td>
            <td>{{ instance.created }}</td>
        </tr>
        {% endif %}
        {% if instance.monster.can_awaken and not instance.monster.is_awakened %}
            {% with instance.monster.awakens_to as awakened %}
            <tr>
                <td>Awakens To:</td>
                <td>
                    <span class="monster-image">
                        <a href="{% url 'bestiary:detail' monster_slug=awakened.bestiary_slug %}" target="_blank">
                            <img src="{{ img_url_prefix }}monsters/{{ awakened.image_filename }}" class="monster-thumb"/>
                            <span>
                                {% for x in awakened.base_stars|get_range %}
                                    <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                {% endfor %}
                            </span>
                        </a>
                    </span>
                    Bonus: {{ instance.monster.awaken_bonus }}
                </td>
            </tr>
            {% endwith %}
        {% endif %}
        {% if instance.monster.can_awaken and not instance.monster.is_awakened %}
        <tr>
            <td>Awakening Essences:</td>
            <td class="monster-awaken-materials">
                {% include 'bestiary/awakening_essences.html' with monster=instance.monster only %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Sources:</td>
            <td class="monster-sources">
                {% for source in instance.monster.source.all %}
                    {% if source.icon_filename %}
                    <img src="{{ img_url_prefix }}icons/{{ source.icon_filename }}"
                         class="monster-source" data-toggle="tooltip" data-placement="top" data-container="body" title="{{ source.name }}" />
                    {% else %}
                    <span class="monster-source"><span>{{ source }}</span></span>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% if fusion_ingredient_in|length %}
            <tr>
                <td>Fusion Ingredient For:</td>
                <td>
                    {% for fusion in fusion_ingredient_in %}
                    <div class="monster-image">
                        <a href="{% url 'herders:fusion' profile_name=profile_name %}#{{ fusion.product.bestiary_slug }}">
                            <img src="{{ img_url_prefix }}monsters/{{ fusion.product.image_filename }}" class="monster-thumb"/>
                            <span>
                                {% for x in fusion.product.base_stars|get_range %}
                                    {% if fusion.product.is_awakened %}
                                        <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% elif fusion.product.can_awaken %}
                                        <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% else %}
                                        <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </a>
                    </div>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if fusion_product_of %}
            <tr>
                <td>Fusion Product Of:</td>
                <td>
                    <div class="monster-image">
                        <a href="{% url 'herders:fusion' profile_name=profile_name %}#{{ fusion_product_of.product.bestiary_slug }}">
                            <img src="{{ img_url_prefix }}monsters/{{ fusion_product_of.product.image_filename }}" class="monster-thumb"/>
                            <span>
                                {% for x in fusion_product_of.product.base_stars|get_range %}
                                    {% if fusion_product_of.product.is_awakened %}
                                        <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% elif fusion_product_of.product.can_awaken %}
                                        <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% else %}
                                        <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% if instance.team_set.count or instance.team_leader.count %}
        <tr>
            <td>Teams:</td>
            <td>
                <ul class="list-unstyled">
                {% for team in instance.team_leader.all %}
                    <li><a href="{% url 'herders:teams' profile_name=profile_name %}#{{ team.pk.hex }}">{{ team.group.name }} - {{ team.name }} (Lead)</a></li>
                {% endfor %}
                {% for team in instance.team_set.all %}
                    <li><a href="{% url 'herders:teams' profile_name=profile_name %}#{{ team.pk.hex }}">{{ team.group.name }} - {{ team.name }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Resources:</td>
            <td>
                <ul class="list-unstyled">
                    <li><a href="{% url 'bestiary:detail' monster_slug=instance.monster.bestiary_slug %}"><span class="glyphicon glyphicon-link"></span> SWARFARM Bestiary</a></li>
                    <li>{% if instance.monster.wikia_url %}<a href="{{ instance.monster.wikia_url }}" target="_blank"><span class="glyphicon glyphicon-link"></span> Wikia</a>{% endif %}</li>
                    <li>{% if instance.monster.summonerswar_co_url %}<a href="{{ instance.monster.summonerswar_co_url }}" target="_blank"><span class="glyphicon glyphicon-link"></span> summonerswar.co</a>{% endif %}</li>
                </ul>
            </td>
        </tr>
    </table>
</div>