{% load staticfiles %}
{% load utils %}
{% load markdown_deux_tags %}
{% load humanize %}
{% static 'herders/images/' as img_url_prefix %}

<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Monster Info</p>
    </div>
    <div class="panel-body">
        <div class="monster-box">
            {% include 'bestiary/monster/portrait_large.html' with monster=instance.monster only%}
            <span class="image-plus image-plus-right">{% if instance.is_max_level %}MAX{% endif %}{{ instance.level }}</span>
            <div class="image-plus-icon">
                {% if instance.monster.fusion_food and not instance.ignore_for_fusion %}
                    <img src="{{ img_url_prefix }}icons/fusion.png" />
                {% elif instance.monster.fusion_food and instance.ignore_for_fusion %}
                    <img src="{{ img_url_prefix }}icons/fusion_ignored.png" />
                {% endif %}
                {% if instance.ignore_for_fusion %}
                    <span class="fa-stack">
                        <span class="fa fa-square fa-stack-2x"></span>
                        <span class="fa fa-lock fa-stack-1x fa-inverse"></span>
                    </span>
                {% endif %}
                {% if instance.fodder %}
                    <span class="fa-stack">
                        <span class="fa fa-square fa-stack-2x"></span>
                        <span class="fa fa-birthday-cake fa-stack-1x fa-inverse"></span>
                    </span>
                {% endif %}
                {% if instance.in_storage %}
                    <span class="fa-stack">
                        <span class="fa fa-square fa-stack-2x"></span>
                        <span class="fa fa-bed fa-stack-1x fa-inverse"></span>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="bestiary-name">
            {% if instance.custom_name %}
                <h1>{{ instance.custom_name }} <small>{{ instance.monster.name }}</small></h1>
            {% else %}
                <h1>{{ instance.monster.name }}</h1>
            {% endif %}
            <p class="lead"><img src="{{ img_url_prefix }}elements/{{ instance.monster.element }}.png" style="height:1em"/> {{ instance.monster.get_archetype_display }}</p>
        </div>
    </div>
    <table class="table table-condensed table-bordered">
        <tbody>
        {% if instance.created and is_owner %}
        <tr>
            <td>Summoned On:</td>
            <td>{{ instance.created }}</td>
        </tr>
        {% endif %}
        {% if instance.monster.can_awaken and not instance.monster.is_awakened %}
            {% with instance.monster.awakens_to as awakened %}
            <tr>
                <td>Awakens To:</td>
                <td>
                    <span class="monster-image">
                        <a href="{% url 'bestiary:detail' monster_slug=awakened.bestiary_slug %}" target="_blank">
                            <img src="{{ img_url_prefix }}monsters/{{ awakened.image_filename }}" class="monster-thumb"/>
                            <span>
                                {% for x in awakened.base_stars|get_range %}
                                    <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                {% endfor %}
                            </span>
                        </a>
                    </span>
                    Bonus: {{ instance.monster.awaken_bonus }}
                </td>
            </tr>
            {% endwith %}
        {% endif %}
        {% if instance.monster.can_awaken and not instance.monster.is_awakened %}
        <tr>
            <td>Awakening Essences:</td>
            <td class="monster-awaken-materials">
                {% include 'bestiary/awakening_essences.html' with monster=instance.monster only %}
            </td>
        </tr>
        {% endif %}
        {% if instance.tags.all|length %}<tr>
            <td>Tags</td>
            <td>
                {% for tag in instance.tags.all %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if instance.notes and instance.notes != "" %}
        <tr>
            <td>Notes</td>
            <td>{{ instance.notes|markdown }}</td>
        </tr>
        {% endif %}
        {% if instance.priority %}
        <tr>
            <td>Priority</td>
            <td>{{ instance.get_priority_display }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Sources:</td>
            <td class="monster-sources">
                {% for source in instance.monster.source.all %}
                    {% if source.icon_filename %}
                    <img src="{{ img_url_prefix }}icons/{{ source.icon_filename }}"
                         class="monster-source" data-toggle="tooltip" data-placement="top" data-container="body" title="{{ source.name }}" />
                    {% else %}
                    <span class="monster-source"><span>{{ source }}</span></span>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% if fusion_ingredient_in|length %}
            <tr>
                <td>Fusion Ingredient For:</td>
                <td>
                    {% for fusion in fusion_ingredient_in %}
                    <div class="monster-image">
                        <a href="{% url 'herders:fusion' profile_name=profile_name %}#{{ fusion.product.bestiary_slug }}">
                            <img src="{{ img_url_prefix }}monsters/{{ fusion.product.image_filename }}" class="monster-thumb"/>
                            <span>
                                {% for x in fusion.product.base_stars|get_range %}
                                    {% if fusion.product.is_awakened %}
                                        <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% elif fusion.product.can_awaken %}
                                        <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% else %}
                                        <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </a>
                    </div>
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if fusion_product_of %}
            <tr>
                <td>Fusion Product Of:</td>
                <td>
                    <div class="monster-image">
                        <a href="{% url 'herders:fusion' profile_name=profile_name %}#{{ fusion_product_of.product.bestiary_slug }}">
                            <img src="{{ img_url_prefix }}monsters/{{ fusion_product_of.product.image_filename }}" class="monster-thumb"/>
                            <span>
                                {% for x in fusion_product_of.product.base_stars|get_range %}
                                    {% if fusion_product_of.product.is_awakened %}
                                        <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% elif fusion_product_of.product.can_awaken %}
                                        <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% else %}
                                        <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% if instance.team_set.count or instance.team_leader.count %}
        <tr>
            <td>Teams:</td>
            <td>
                <ul class="list-unstyled">
                {% for team in instance.team_leader.all %}
                    <li><a href="{% url 'herders:teams' profile_name=profile_name %}#{{ team.pk.hex }}">{{ team.group.name }} - {{ team.name }} (Lead)</a></li>
                {% endfor %}
                {% for team in instance.team_set.all %}
                    <li><a href="{% url 'herders:teams' profile_name=profile_name %}#{{ team.pk.hex }}">{{ team.group.name }} - {{ team.name }}</a></li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Skills to Max:</td>
            <td>
                {% if instance.skill_ups_to_max > 0 %}
                    {{ instance.skill_ups_to_max }}
                {% else %}
                <p class="list-group-item-text">None!</p>
                {% endif %}
            </td>
        </tr>
        {% if instance.skill_ups_to_max %}
        <tr>
            <td>Possible skill-ups</td>
            <td>
                {% if skillups.none %}
                    None!
                {% else %}
                    {% if skillups.devilmon %}
                    <div class="monster-image">
                        <img src="{{ img_url_prefix }}monsters/devilmon_dark.png" class="monster-thumb"/>
                        <span class="image-plus image-plus-main">{{ skillups.devilmon }}</span>
                    </div>
                    {% endif %}
                    {% if skillups.family %}
                        {% for food_mon in skillups.family %}
                            <div class="monster-image pull-left monster-popover" data-instance-id="{{ food_mon.pk.hex }}" title="{{ food_mon.monster.name }} - {{ food_mon.monster.get_element_display }} {% if food_mon.monster.awakens_from %}{{ food_mon.monster.awakens_from.name }}{% endif %}">
                                <div>
                                    <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=food_mon.pk.hex %}?next={{ return_path }}#edit">
                                        <img src="{{ img_url_prefix }}monsters/{{ food_mon.monster.image_filename }}" class="monster-thumb"/>
                                        <span>
                                            {% for x in food_mon.stars|get_range %}
                                                {% if food_mon.monster.is_awakened %}
                                                    <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                {% elif food_mon.monster.can_awaken %}
                                                    <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                {% else %}
                                                    <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                        <span class="image-plus image-plus-right">{% if food_mon.is_max_level %}MAX{% endif %}{{ food_mon.level }}</span>
                                        {% if food_mon.ignore_for_fusion %}
                                            <div class="disabled" data-toggle="tooltip" data-placement="top" data-container="body" title="Ignored for fusion progress"></div>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if skillups.pieces %}
                        {% for piece in skillups.pieces %}
                            <div class="monster-image pull-left">
                                <div>
                                    <img src="{{ img_url_prefix }}monsters/{{ piece.monster.image_filename }}" class="monster-thumb"/>
                                    <span class="image-plus image-plus-main fa fa-puzzle-piece"></span>
                                    <span class="image-plus image-plus-right">x{{ piece.pieces }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endif %}
    </table>
</div>