{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% static 'herders/images/' as img_url_prefix %}

{% if validation_errors %}
    <div class="alert alert-danger" role="alert">
        Please fix the following errors:
        <ul>
            {% for error,error_string in validation_errors.items %}
            <li>{{ error_string }}</li>
            {% endfor %}
            {% for dict in form_errors %}
                {% for error in dict.values %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% crispy form %}