{% load static %}
{% static 'herders/images/' as img_url_prefix %}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Runes</h3>
        {% if is_owner and instance.default_build.runes.count %}
        <button class="btn btn-xs btn-danger pull-right rune-remove-all" data-instance-id="{{ instance.pk.hex }}">Remove All</button>
        {% endif %}
    </div>
    <table class="table table-condensed">
        <tbody>
        {% for rune in runes %}
        <tr {% if rune %}class="rune-popover" data-rune-id="{{ rune.pk.hex }}"{% endif %}>
            <td style="vertical-align:middle">{{ forloop.counter }}</td>
            <td>
                {% if rune %}
                    {% if is_owner %}
                    <div class="btn-group pull-right ">
                        <button class="btn btn-default btn-xs rune-edit" data-rune-id="{{ rune.pk.hex }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-default btn-xs rune-unassign" data-rune-id="{{ rune.pk.hex }}">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </button>
                    </div>
                    {% endif %}
                    {% include 'herders/profile/runes/rune_image_fragment.html' with rune=rune only %}
                    <ul class="list-unstyled">
                        <li>{{ rune }}</li>
                        <li>{{ rune.get_main_stat_rune_display }} +{{ rune.main_stat_value }}{% if rune.main_stat in rune.PERCENT_STATS %}%{% endif %}</li>
                    </ul>
                {% elif is_owner %}
                <div class="btn btn-default btn-xs rune-assign pull-right" data-rune-slot="{{ forloop.counter }}">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="list-group">
        <div class="list-group-item">
            <h4 class="list-group-item-heading">Set Bonuses:</h4>
            <ul class="list-unstyled">
                {% for bonus in instance.default_build.rune_set_bonus_text %}
                <li>{{ bonus }}</li>
                {% empty %}
                <li>None</li>
                {% endfor %}
            </ul>
        </div>
        <div class="list-group-item">
            <p>Avg. Rune Efficiency: {{ instance.default_build.avg_efficiency|floatformat:"-2" }}%</p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Artifacts</h3>
    </div>

    <table class="table table-condensed" style="table-layout:fixed">
        {% with artifact=artifacts.element slot=instance.monster.get_element_display|lower slot_type='element' %}
            {% include 'herders/profile/monster_view/runes_artifact_row.html' %}
        {% endwith %}

        {% with artifact=artifacts.archetype slot=instance.monster.get_archetype_display|lower slot_type='archetype'  %}
            {% include 'herders/profile/monster_view/runes_artifact_row.html' %}
        {% endwith %}
    </table>
</div>
