{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<div class="row condensed">
    {% if instance.monster.leader_skill %}
    <div class="col-lg-12">
        <div class="card border-0 shadow mb-3">
            <div class="card-body d-flex">
                <div class="monster-skill-thumb float-left"><img src="{{ img_url_prefix }}skills/leader/{{ instance.monster.leader_skill.icon_filename }}" loading="lazy" /></div>
                <div>
                    <h4 class="fw-lighter mb-0">Leader Skill</h4>
                    <div class="fw-lighter">
                        {{ instance.monster.leader_skill.skill_string }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% for skill in skills %}
    <div class="{% if instance.monster.skills.count < 4 %}col-lg-4{% else %}col-lg-3{% endif %}">
        <div class="card border-0 shadow mb-3">
            <div class="card-header bg-white">
                <p class="card-title fw-lighter"><strong>{{ skill.skill.name }}</strong></p>
            </div>

            <div class="{% if skill.skill.level_progress_description_list|length > 0 or skill.skill.effect.all|length > 0 or skill.skill.aoe or skill.skill.multiplier_formula %}card-header{% else %}card-footer border-0{% endif %} bg-white">
                <div class="card-bestiary-monster-details">
                    <div class="monster-skill-thumb float-left">
                        <img src="{{ img_url_prefix }}skills/{{ skill.skill.icon_filename }}" loading="lazy" />
                        <span class="image-plus image-plus-right">{{ skill.level }}/{{ skill.skill.max_level }}</span>
                    </div>
                    <p class="fw-lighter">
                        {{ skill.skill.description }}
                        {% if skill.skill.cooltime %}
                            (Reusable in {{ skill.skill.cooltime }} turn{{ skill.skill.cooltime|pluralize }}).
                        {% endif %}
                    </p>
                </div>
            </div>

            {% if skill.skill.level_progress_description_list|length > 0 %}
            <div class="{% if skill.skill.effect.all|length > 0 or skill.skill.aoe %}card-header{% else %}card-footer border-0{% endif %} bg-white">
                <strong class="fw-normal">Level-up Progress</strong>
                <ul class="list-unstyled fw-lighter">
                    {% for line in skill.skill.level_progress_description_list %}
                        <li>{% if forloop.counter >= skill.level %}<span class="text-muted">{% else %}<i class="fas fa-check text-success"></i> <span>{% endif %}{{ line }}</span></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if skill.skill.effect.all|length > 0 or skill.skill.aoe %}
            <div class="{% if skill.skill.multiplier_formula %}card-header{% else %}card-footer border-0{% endif %} bg-white">
                <strong class="fw-normal">Skill effects</strong>
                <div class="d-flex flex-wrap">
                    {% if skill.skill.aoe %}
                        <span class="skill-effect skill-effect-buff p-1 mb-1">
                            <span>AOE</span>
                        </span>
                    {% endif %}
                    {% for effect in skill.skill.effect.all %}
                        {% if effect.icon_filename %}
                            <img src="{{ img_url_prefix }}buffs/{{ effect.icon_filename }}"  class="skill-effect float-left mb-1" loading="lazy" 
                                data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-container="body" title="{{ effect.name }}" data-bs-content="{{ effect.description }}"
                            />
                        {% else %}
                            <span class="skill-effect p-1 mb-1 {% if effect.is_buff %}skill-effect-buff{% else %}skill-effect-debuff{% endif %}" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-container="body" title="{{ effect.name }}" data-bs-content="{{ effect.description }}">
                                <span>{{ effect.name }}</span>
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if skill.skill.multiplier_formula %}
            <div class="card-footer border-0 bg-white">
                <strong class="fw-normal">Multiplier Formula</strong>
                <p class="fw-lighter">{{ skill.skill.multiplier_formula|safe }} {% if skill.skill.hits > 1 %}x{{ skill.skill.hits }}{% endif %}</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>