{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

{% if instance.monster.leader_skill %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="monster-skill-thumb pull-left"><img src="{{ img_url_prefix }}skills/leader/{{ instance.monster.leader_skill.icon_filename }}" loading="lazy" /></div>
            <h4 class="list-group-item-heading">Leader Skill</h4>
            <div class="list-group-item-text">
                {{ instance.monster.leader_skill.skill_string }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endif %}

{% for skill in skills %}
<div class="{% if instance.monster.skills.count < 4 %}col-lg-4{% else %}col-lg-3{% endif %}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title"><strong>{{ skill.skill.name }}</strong></p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="monster-skill-thumb pull-left">
                    <img src="{{ img_url_prefix }}skills/{{ skill.skill.icon_filename }}" loading="lazy" />
                    <span class="image-plus image-plus-right">{{ skill.level }}/{{ skill.skill.max_level }}</span>
                </div>
                <p>
                    {{ skill.skill.description }}
                    {% if skill.skill.cooltime %}
                        (Reusable in {{ skill.skill.cooltime }} turn{{ skill.skill.cooltime|pluralize }}).
                    {% endif %}
                </p>
                <div class="clearfix"></div>
            </li>
            {% if skill.skill.level_progress_description_list|length > 0%}
            <li class="list-group-item">
                <p class="list-group-item-heading"><strong>Level-up Progress:</strong></p>
                <ul class="list-unstyled">
                {% for line in skill.skill.level_progress_description_list %}
                    <li>{% if forloop.counter >= skill.level %}<span class="text-muted">{% else %}<span class="text-success"><i class="glyphicon glyphicon-ok"></i></span> <span>{% endif %}{{ line }}</span></li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% if skill.skill.skill_effect.all|length > 0 or skill.skill.aoe %}
            <li class="list-group-item">
                <p class="list-group-item-heading"><strong>Skill Effects:</strong></p>
                <p>
                {% if skill.skill.aoe %}
                    <span class="skill-effect skill-effect-buff">
                        <span>AOE</span>
                    </span>
                {% endif %}
                {% for effect in skill.skill.skill_effect.all %}
                    {% if effect.icon_filename %}
                    <img src="{{ img_url_prefix }}buffs/{{ effect.icon_filename }}"  class="skill-effect pull-left" loading="lazy" 
                            data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}"
                            />
                    {% else %}
                        <span class="skill-effect {% if effect.is_buff %}skill-effect-buff{% else %}skill-effect-debuff{% endif %}" data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}">
                            <span>{{ effect.name }}</span>
                        </span>
                    {% endif %}
                {% endfor %}
                </p>
                <div class="clearfix"></div>
            </li>
            {% endif %}
            {% if skill.skill.multiplier_formula %}
            <li class="list-group-item">
                <p class="list-group-item-heading"><strong>Multiplier Formula:</strong></p>
                <p>{{ skill.skill.multiplier_formula|safe }} {% if skill.skill.hits > 1 %}x{{ skill.skill.hits }}{% endif %}</p>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endfor %}
<div class="clearfix"></div>