<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Stats</p>
    </div>
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="#stats_base" data-toggle="pill">Base</a></li>
        <li role="presentation"><a href="#stats_buildings" data-toggle="pill">Buildings</a></li>
        <li role="presentation"><a href="#stats_guild" data-toggle="pill">Guild</a></li>
    </ul>
    <div class="tab-content">
        {# Base stats #}
        <div role="tabpanel" class="tab-pane active" id="stats_base">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Stat</th>
                    <th>Base</th>
                    <th>Rune</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>HP</td>
                    <td>{{ instance.base_hp }}</td>
                    <td class="text-success">{% if instance.rune_hp > 0 %}<span>+{{ instance.rune_hp }}</span>{% endif %}</td>
                    <td>{{ instance.hp }}</td>
                </tr>
                <tr>
                    <td>ATK</td>
                    <td>{{ instance.base_attack }}</td>
                    <td class="text-success">{% if instance.rune_attack > 0 %}<span>+{{ instance.rune_attack }}</span>{% endif %}</td>
                    <td>{{ instance.attack }}</td>
                </tr>
                <tr>
                    <td>DEF</td>
                    <td>{{ instance.base_defense }}</td>
                    <td class="text-success">{% if instance.rune_defense > 0 %}<span>+{{ instance.rune_defense }}</span>{% endif %}</td>
                    <td>{{ instance.defense }}</td>
                </tr>
                <tr>
                    <td>SPD</td>
                    <td>{{ instance.base_speed }}</td>
                    <td class="text-success">{% if instance.rune_speed > 0 %}<span>+{{ instance.rune_speed }}</span>{% endif %}</td>
                    <td>{{ instance.speed }}</td>
                </tr>
                <tr>
                    <td>CRI Rate</td>
                    <td>{{ instance.base_crit_rate }}%</td>
                    <td class="text-success">{% if instance.rune_crit_rate > 0 %}<span>+{{ instance.rune_crit_rate }}</span>%{% endif %}</td>
                    <td {% if instance.crit_rate >= 100 %} class="text-danger"{% endif %}>{{ instance.crit_rate }}%</td>
                </tr>
                <tr>
                    <td>CRI Dmg</td>
                    <td>{{ instance.base_crit_damage }}%</td>
                    <td class="text-success">{% if instance.rune_crit_damage > 0 %}<span>+{{ instance.rune_crit_damage }}%</span>{% endif %}</td>
                    <td>{{ instance.crit_damage }}%</td>
                </tr>
                <tr>
                    <td>Resistance</td>
                    <td>{{ instance.base_resistance }}%</td>
                    <td class="text-success">{% if instance.rune_resistance > 0 %}<span>+{{ instance.rune_resistance }}</span>%{% endif %}</td>
                    <td {% if instance.resistance >= 100 %} class="text-danger"{% endif %}>{{ instance.resistance }}%</td>
                </tr>
                <tr>
                    <td>Accuracy</td>
                    <td>{{ instance.base_accuracy }}%</td>
                    <td class="text-success">{% if instance.rune_accuracy > 0 %}<span>+{{ instance.rune_accuracy }}</span>%{% endif %}</td>
                    <td {% if instance.accuracy >= 100 %} class="text-danger"{% endif %}>{{ instance.accuracy }}%</td>
                </tr>
                </tbody>
            </table>
        </div>

        {# Building stats #}
        <div role="tabpanel" class="tab-pane" id="stats_buildings">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Stat</th>
                    <th>Runed</th>
                    <th>Buildings</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>HP</td>
                    <td>{{ instance.hp }}</td>
                    <td class="text-success">{% if bldg_stats.hp > 0 %}<span>+{{ bldg_stats.hp }}</span>{% endif %}</td>
                    <td>{{ instance.hp|add:bldg_stats.hp }}</td>
                </tr>
                <tr>
                    <td>ATK</td>
                    <td>{{ instance.attack }}</td>
                    <td class="text-success">{% if bldg_stats.attack > 0 %}<span>+{{ bldg_stats.attack }}</span>{% endif %}</td>
                    <td>{{ instance.attack|add:bldg_stats.attack }}</td>
                </tr>
                <tr>
                    <td>DEF</td>
                    <td>{{ instance.defense }}</td>
                    <td class="text-success">{% if bldg_stats.defense > 0 %}<span>+{{ bldg_stats.defense }}</span>{% endif %}</td>
                    <td>{{ instance.defense|add:bldg_stats.defense }}</td>
                </tr>
                <tr>
                    <td>SPD</td>
                    <td>{{ instance.speed }}</td>
                    <td class="text-success">{% if bldg_stats.speed > 0 %}<span>+{{ bldg_stats.speed }}</span>{% endif %}</td>
                    <td>{{ instance.speed|add:bldg_stats.speed }}</td>
                </tr>
                <tr>
                    <td>CRI Rate</td>
                    <td>{{ instance.crit_rate }}</td>
                    <td class="text-success">{% if bldg_stats.crit_rate > 0 %}<span>+{{ bldg_stats.crit_rate }}</span>%{% endif %}</td>
                    <td {% if instance.crit_rate >= 100 %} class="text-danger"{% endif %}>{{ instance.crit_rate|add:bldg_stats.crit_rate }}%</td>
                </tr>
                <tr>
                    <td>CRI Dmg</td>
                    <td>{{ instance.crit_damage }}</td>
                    <td class="text-success">{% if bldg_stats.crit_damage > 0 %}<span>+{{ bldg_stats.crit_damage }}%</span>{% endif %}</td>
                    <td>{{ instance.crit_damage|add:bldg_stats.crit_damage }}%</td>
                </tr>
                <tr>
                    <td>Resistance</td>
                    <td>{{ instance.resistance }}</td>
                    <td class="text-success">{% if bldg_stats.resistance > 0 %}<span>+{{ bldg_stats.resistance }}</span>%{% endif %}</td>
                    <td {% if instance.resistance >= 100 %} class="text-danger"{% endif %}>{{ instance.resistance|add:bldg_stats.resistance }}%</td>
                </tr>
                <tr>
                    <td>Accuracy</td>
                    <td>{{ instance.accuracy }}</td>
                    <td class="text-success">{% if bldg_stats.accuracy > 0 %}<span>+{{ bldg_stats.accuracy }}</span>%{% endif %}</td>
                    <td {% if instance.accuracy >= 100 %} class="text-danger"{% endif %}>{{ instance.accuracy|add:bldg_stats.accuracy }}%</td>
                </tr>
                </tbody>
            </table>
        </div>

        {# Guild battle stats #}
        <div role="tabpanel" class="tab-pane" id="stats_guild">
            <table class="table table-condensed" id="stats_guild">
                <thead>
                <tr>
                    <th>Stat</th>
                    <th>Runed</th>
                    <th>Buildings</th>
                    <th>Flags</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>HP</td>
                    <td>{{ instance.hp }}</td>
                    <td class="text-success">{% if bldg_stats.hp > 0 %}<span>+{{ bldg_stats.hp }}</span>{% endif %}</td>
                    <td class="text-success">{% if guild_stats.hp > 0 %}<span>+{{ guild_stats.hp }}</span>{% endif %}</td>
                    <td>{{ instance.hp|add:bldg_stats.hp|add:guild_stats.hp }}</td>
                </tr>
                <tr>
                    <td>ATK</td>
                    <td>{{ instance.attack }}</td>
                    <td class="text-success">{% if bldg_stats.attack > 0 %}<span>+{{ bldg_stats.attack }}</span>{% endif %}</td>
                    <td class="text-success">{% if guild_stats.attack > 0 %}<span>+{{ guild_stats.attack }}</span>{% endif %}</td>
                    <td>{{ instance.attack|add:bldg_stats.attack|add:guild_stats.attack }}</td>
                </tr>
                <tr>
                    <td>DEF</td>
                    <td>{{ instance.defense }}</td>
                    <td class="text-success">{% if bldg_stats.defense > 0 %}<span>+{{ bldg_stats.defense }}</span>{% endif %}</td>
                    <td class="text-success">{% if guild_stats.defense > 0 %}<span>+{{ guild_stats.defense }}</span>{% endif %}</td>
                    <td>{{ instance.defense|add:bldg_stats.defense|add:guild_stats.attack }}</td>
                </tr>
                <tr>
                    <td>SPD</td>
                    <td>{{ instance.speed }}</td>
                    <td class="text-success">{% if bldg_stats.speed > 0 %}<span>+{{ bldg_stats.speed }}</span>{% endif %}</td>
                    <td class="text-success">{% if guild_stats.speed > 0 %}<span>+{{ guild_stats.speed }}</span>{% endif %}</td>
                    <td>{{ instance.speed|add:bldg_stats.speed|add:guild_stats.speed }}</td>
                </tr>
                <tr>
                    <td>CRI Rate</td>
                    <td>{{ instance.crit_rate }}</td>
                    <td class="text-success">{% if bldg_stats.crit_rate > 0 %}<span>+{{ bldg_stats.crit_rate }}</span>%{% endif %}</td>
                    <td class="text-success">{% if guild_stats.crit_rate > 0 %}<span>+{{ guild_stats.crit_rate }}</span>{% endif %}</td>
                    <td {% if instance.crit_rate >= 100 %} class="text-danger"{% endif %}>{{ instance.crit_rate|add:bldg_stats.crit_rate|add:guild_stats.crit_rate }}%</td>
                </tr>
                <tr>
                    <td>CRI Dmg</td>
                    <td>{{ instance.crit_damage }}</td>
                    <td class="text-success">{% if bldg_stats.crit_damage > 0 %}<span>+{{ bldg_stats.crit_damage }}%</span>{% endif %}</td>
                    <td class="text-success">{% if guild_stats.crit_damage > 0 %}<span>+{{ guild_stats.crit_damage }}</span>{% endif %}</td>
                    <td>{{ instance.crit_damage|add:bldg_stats.crit_damage|add:guild_stats.crit_damage }}%</td>
                </tr>
                <tr>
                    <td>Resistance</td>
                    <td>{{ instance.resistance }}</td>
                    <td class="text-success">{% if bldg_stats.resistance > 0 %}<span>+{{ bldg_stats.resistance }}</span>%{% endif %}</td>
                    <td class="text-success">{% if guild_stats.resistance > 0 %}<span>+{{ guild_stats.resistance }}</span>{% endif %}</td>
                    <td {% if instance.resistance >= 100 %} class="text-danger"{% endif %}>{{ instance.resistance|add:bldg_stats.resistance|add:guild_stats.resistance }}%</td>
                </tr>
                <tr>
                    <td>Accuracy</td>
                    <td>{{ instance.accuracy }}</td>
                    <td class="text-success">{% if bldg_stats.accuracy > 0 %}<span>+{{ bldg_stats.accuracy }}</span>%{% endif %}</td>
                    <td class="text-success">{% if guild_stats.accuracy > 0 %}<span>+{{ guild_stats.accuracy }}</span>{% endif %}</td>
                    <td {% if instance.accuracy >= 100 %} class="text-danger"{% endif %}>{{ instance.accuracy|add:bldg_stats.accuracy|add:guild_stats.accuracy }}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
