{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Import/Export - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Import</h1>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% comment %}
                        <div class="col-md-3 col-md-offset-2">
                            <h2>SWARFARM Profile</h2>
                            <p><a class="btn btn-primary btn-lg btn-block" href="{% url 'sw_parser:import_swarfarm' %}" role="button">Import SWARFARM Backup</a></p>
                            <p>Import a previously downloaded SWARFARM profile backup.</p>
                        </div>
                        {% endcomment %}
                        <div class="col-md-4">
                            <h2>Network Capture</h2>
                            <p><a class="btn btn-primary btn-lg btn-block" href="{% url 'sw_parser:import_pcap' %}" role="button">Import PCAP capture</a></p>
                            <p>Use a packet capture tool to record network traffic directly from your phone.</p>
                        </div>
                        <div class="col-md-4">
                            <h2>SWProxy</h2>
                            <p><a class="btn btn-primary btn-lg btn-block" href="{% url 'sw_parser:import_swparser' %}" role="button">Import SWProxy JSON</a></p>
                            <p>Upload parsed JSON data produced by using the <a href="https://github.com/kakaroto/SWProxy/">SWProxy</a> program.</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Legacy Optimizer</h2>
                            <p><a class="btn btn-primary btn-lg btn-block" href="{% url 'sw_parser:import_optimizer' %}" role="button">Import Optimizer JSON</a></p>
                            <p>Paste data directly from the <a href="https://github.com/nikilauda1983/sw_optimize/releases" target="_blank">Java</a> or <a href="http://swrunes.all.my" target="_blank">legacy</a> rune optimizer.</p>
                        </div>
                    </div>
                </div>
            </div>

            <h1>Export</h1>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% comment %}
                        <div class="col-md-4">
                            <h2>SWARFARM Profile</h2>
                            <p>Backup your profile data to be re-imported later.</p>
                            <p><a class="btn btn-primary btn-lg btn-block" href="{% url 'sw_parser:export_swarfarm' %}" role="button">Import PCAP</a></p>
                        </div>
                        {% endcomment %}
                        <div class="col-md-4 col-md-offset-2">
                            <h2>SWOP Optimizer</h2>
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <a class="btn btn-primary btn-lg" href="{% url 'sw_parser:export_win10_optimizer' %}" role="button">Download File</a>
                            </div>
                            <p>Windows 10 app or <a href="http://tool.swop.one" target="_blank">online version.</a></p>
                        </div>
                        <div class="col-md-4">
                            <h2>Legacy Optimizer</h2>
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <a class="btn btn-primary btn-lg" href="{% url 'sw_parser:export_optimizer' %}" role="button">Copy Text</a>
                                <a class="btn btn-primary btn-lg" href="{% url 'sw_parser:export_optimizer_file' %}" role="button">Download File</a>
                            </div>
                            <p>Data for the various optimizers using the original format in redeemer40's optimizer.</p>
                            <ul>
                                <li><a href="https://github.com/nikilauda1983/sw_optimize/releases" target="_blank">Java rune optimizer</a></li>
                                <li><a href="http://arybin2013.wixsite.com/anton-rybin-site/windows" target="_blank">Windows Optimizer (Windows Vista SP2/7 (SP1)/8/10)</a></li>
                                <li><a href="http://swrunes.all.my" target="_blank">Original optimizer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript_compressed %}
<script type="text/javascript" src="{% static 'sw_parser/custom.js' %}"></script>
{% endblock %}