{% extends 'sw_parser/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Export Rune Optimizer JSON - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Export Rune Optimizer JSON</h1>
            <h2>Instructions:</h2>
            <ol>
                <li>Copy the entire text</li>
                <li>Paste the data into either <a href="http://swrunes.all.my">Summoners War Rune Database and Optimizer</a> or the <a href="https://www.microsoft.com/de-de/store/apps/summoners-war-optimizer/9nblggh5f9gg">Windows 10 desktop app</a>.</li>
            </ol>

            <div class="alert alert-danger">Importing this data will into the optimizer <strong>OVERWRITE</strong> all runes, monsters, and saved builds currently present. It is advised to back up your existing data first.</div>
            {% crispy export_form %}
        </div>
    </div>
{% endblock content %}
