{% extends 'sw_parser/base.html' %}
{% load crispy_forms_tags %}
{% load utils %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <h1>Please review import results. Changes are not applied until you confirm.</h1>
        <div class="alert alert-warning">If you manually edited a monster after your last import, there was a bug that lost the unique Com2US ID. You may see the same monster listed under 'New' and 'Missing' tabs and their team assignments will be lost.</div>

        {% crispy form %}

        <h2>Monsters</h2>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" {% if monsters.updated.count == 0 %}class="disabled"{% else %}class="active"{% endif %}>
                <a href="#updated_mons" aria-controls="updated_mons" role="tab" {% if monsters.updated.count == 0 %}class="disabled"{% else %}data-toggle="tab"{% endif %}>
                    Updated <span class="badge">{{ monsters.updated.count }}</span>
                </a>
            </li>
            <li role="presentation" {% if monsters.new.count == 0 %}class="disabled"{% elif monsters.new.count > 0 and monsters.updated.count == 0 %}class="active"{% endif %}>
                <a href="#new_mons" aria-controls="new_mons" role="tab" {% if monsters.new.count == 0 %}class="disabled"{% else %}data-toggle="tab"{% endif %}>
                    New <span class="badge">{{ monsters.new.count }}</span>
                </a>
            </li>
            <li role="presentation" {% if monsters.missing.count == 0 %}class="disabled"{% elif monsters.missing.count > 0 and monsters.updated.count == 0 and monsters.new.count == 0%}class="active"{% endif %}>
                <a href="#missing_mons" aria-controls="missing_mons" role="tab" {% if monsters.missing.count == 0 %}class="disabled"{% else %}data-toggle="tab"{% endif %}>
                    Missing <span class="badge">{{ monsters.missing.count }}</span>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {% if monsters.updated.count > 0 %}active{% endif %}" id="updated_mons">
                <p>These monsters were imported once before and will be updated. Your notes, priority, teams, etc will be saved.</p>
                {% for mon in monsters.updated %}
                    {% include 'sw_parser/monster_thumb.html' with instance=mon only %}
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane {% if monsters.new.count > 0 and monsters.updated.count == 0 %}active{% endif %}" id="new_mons">
                <p>These monsters do not yet exist in your SWARFARM profile.</p>
                {% for mon in monsters.new %}
                    {% include 'sw_parser/monster_thumb.html' with instance=mon only %}
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane {% if monsters.missing.count > 0 and monsters.new.count == 0 and monsters.updated.count == 0 %}active{% endif %}" id="missing_mons">
                <p>These monsters exist in your SWARFARM profile but do not exist in the imported data. These will be deleted by default.</p>
                {% for mon in monsters.missing %}
                    {% include 'sw_parser/monster_thumb.html' with instance=mon only %}
                {% endfor %}
            </div>
        </div>

        <h2>Runes</h2>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" {% if updated_runes == 0 %}class="disabled"{% else %}class="active"{% endif %}>
                <a href="#updated_runes" aria-controls="updated_runes" role="tab" {% if updated_runes == 0 %}class="disabled" {% else %}data-toggle="tab"{% endif %}>
                    Updated <span class="badge">{{ updated_runes }}</span>
                </a>
            </li>
            <li role="presentation" {% if new_runes == 0 %}class="disabled"{% elif new_runes > 0 and updated_runes == 0 %}class="active"{% endif %}>
                <a href="#new_runes" aria-controls="new_runes" role="tab" {% if new_runes == 0 %}class="disabled" {% else %}data-toggle="tab"{% endif %}>
                    New <span class="badge">{{ new_runes }}</span>
                </a>
            </li>
            <li role="presentation" {% if missing_runes == 0 %}class="disabled"{% elif missing_runes > 0 and updated_runes == 0 and new_runes == 0%}class="active"{% endif %}>
                <a href="#missing_runes" aria-controls="missing_runes" role="tab" {% if missing_runes == 0 %}class="disabled" {% else %}data-toggle="tab"{% endif %}>
                    Missing <span class="badge">{{ missing_runes }}</span>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {% if updated_runes > 0 %}active{% endif %}" id="updated_runes">
                <p>These runes were imported once before and will be updated.</p>
                {% for type, type_runes in runes.updated.iteritems %}
                    {% if type_runes|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">{{ type }}</p>
                            </div>
                            <div class="panel-body">
                                {% for rune in type_runes %}
                                    {% include 'herders/profile/runes/rune_image_fragment.html' with rune=rune popover=True only %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane{% if updated_runes == 0 and new_runes > 0 %} active{% endif %}" id="new_runes">
                <p>These runes do not yet exist in your SWARFARM profile.</p>
                {% for type, type_runes in runes.new.iteritems %}
                    {% if type_runes|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">{{ type }}</p>
                            </div>
                            <div class="panel-body">
                                {% for rune in type_runes %}
                                    {% include 'herders/profile/runes/rune_image_fragment.html' with rune=rune popover=True only %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane{% if updated_runes == 0 and new_runes == 0 and missing_runes > 0 %} active{% endif %}" id="missing_runes">
                <p>These runes exist in your SWARFARM profile but do not exist in the imported data. These will be deleted by default.</p>
                {% for type, type_runes in runes.missing.iteritems %}
                    {% if type_runes|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="panel-title">{{ type }}</p>
                            </div>
                            <div class="panel-body">
                                {% for rune in type_runes %}
                                    {% include 'herders/profile/runes/rune_image_fragment.html' with rune=rune popover=True only %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}