{% extends 'sw_parser/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Import Network Capture - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <h1>Import Network Capture</h1>
        <h2>Instructions:</h2>
        <ol>
            <li>Start your preferred method of packet capture from your phone/tablet.</li>
            <li>Start Summoner's War and wait until the Press to Start message is displayed.</li>
            <li>Stop the packet capture.</li>
            <li>
                Upload the resulting .pcap file here.
                <ul>
                    <li>Note: PCAP files over 5MB will not be accepted for upload.</li>
                </ul>
            </li>
        </ol>

        {% include 'sw_parser/import_error_snippet.html' with errors=errors only %}

        {% crispy form %}
    </div>
{% endblock content %}
