<nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-sub">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-subnav">
            <div class="btn-group">
                <a href="{% url 'sw_parser:import_pcap' %}" class="btn navbar-btn btn-default disabled">Import PCAP file</a>
                <a href="{% url 'sw_parser:import_swparser' %}" class="btn navbar-btn btn-default">Import SWParser JSON</a>
                <a href="{% url 'sw_parser:import_optimizer' %}" class="btn navbar-btn btn-default disabled">Import Rune Optimizer JSON</a>
                <a href="{% url 'sw_parser:export_optimizer' %}" class="btn navbar-btn btn-default disabled">Export Rune Optimizer JSON</a>
            </div>
        </div>
    </div>
</nav>