{% extends 'herders/profile/base.html' %}
{% load crispy_forms_tags report_charts static utils %}
{% static 'herders/images/' as img_url_prefix %}

{% block title %}
Statistics - {{ profile_name }} - {{ block.super }}
{% endblock title %}

{% block profile_stats_menu %}
    <ul class="dropdown-menu navmenu-nav">
        <li {% if view == "compare-summary" %}class="dropdown open"{% endif %}><a href="{% url 'herders:profile_stats' profile_name %}">Summary</a></li>
        {% comment %} <li {% if view == "compare-runes" %}class="dropdown open"{% endif %}>
            <a href="{% url 'herders:profile_compare_runes' profile_name follower_name %}">Runes</a>
            {% block runes_menu %}{% endblock runes_menu %}
        </li>
        <li {% if view == "compare-artifacts" %}class="dropdown open"{% endif %}>
            <a href="{% url 'herders:profile_compare_artifacts' profile_name follower_name %}">Artifacts</a>
            {% block artifacts_menu %}{% endblock artifacts_menu %}
        </li>
        <li {% if view == "compare-monsters" %}class="dropdown open"{% endif %}><a href="{% url 'herders:profile_compare_monsters' profile_name follower_name %}">Monsters</a></li>
        <li {% if view == "compare-buildings" %}class="dropdown open"{% endif %}><a href="{% url 'herders:profile_compare_buildings' profile_name follower_name %}">Buildings</a></li>
        <li {% if view == "compare-builds" %}class="dropdown open"{% endif %}><a href="{% url 'herders:profile_compare_builds' profile_name follower_name %}">Builds</a></li> {% endcomment %}
    </ul>
{% endblock profile_stats_menu %}

{% block profile %}
    {% block content_stats %}{% endblock %}
{% endblock profile %}

{% block javascript %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        $('.grid').masonry({
            itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
            columnWidth: '.grid-sizer',
            percentPosition: true
        });
    </script>
{% endblock %}