{% extends 'herders/profile/stats/base.html' %}
{% load staticfiles %}

{% block title %}
Summary - {{ block.super }}
{% endblock title %}

{% block content_stats %}
    <h2>{{ profile_name }} statistics</h2>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Artifacts</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in stats.artifacts.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>{{ stat_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Runes</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for record_name, record in stats.runes.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>{{ record }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Monsters</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in stats.monsters.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>{{ stat_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
