{% extends 'herders/profile/compare/artifacts/base.html' %}
{% load staticfiles %}

{% block title %}
Artifact Crafts - {{ block.super }}
{% endblock title %}


{% block content_compare %}
    <h1>Artifact Crafts</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Summary</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for record_name, record in artifact_craft.summary.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>
                                    {% if record.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif record.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ record.summoner }}
                                </td>
                                <td>
                                    {% if record.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif record.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ record.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if record.winner == 'follower' %}minus{% elif record.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if record.winner != 'tie' %}{{ record.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Substat</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in artifact_craft.substats.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>
                                    {% if stat_count.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif stat_count.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif stat_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ stat_count.summoner }}
                                </td>
                                <td>
                                    {% if stat_count.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif stat_count.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif stat_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ stat_count.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if stat_count.winner == 'follower' %}minus{% elif stat_count.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if stat_count.winner != 'tie' %}{{ stat_count.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Slot</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for slot_name, slot_count in artifact_craft.slot.items %}
                            <tr>
                                <th>{{ slot_name }}</th>
                                <td>
                                    {% if slot_count.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif slot_count.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif slot_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ slot_count.summoner }}
                                </td>
                                <td>
                                    {% if slot_count.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif slot_count.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif slot_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ slot_count.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if slot_count.winner == 'follower' %}minus{% elif slot_count.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if slot_count.winner != 'tie' %}{{ slot_count.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Quality</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for quality_name, quality_count in artifact_craft.quality.items %}
                            <tr>
                                <th>{{ quality_name }}</th>
                                <td>
                                    {% if quality_count.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif quality_count.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif quality_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ quality_count.summoner }}
                                </td>
                                <td>
                                    {% if quality_count.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif quality_count.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif quality_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ quality_count.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if quality_count.winner == 'follower' %}minus{% elif quality_count.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if quality_count.winner != 'tie' %}{{ quality_count.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}