{% extends 'herders/profile/stats/base.html' %}
{% load staticfiles %}

{% block title %}
Artifacts - {{ block.super }}
{% endblock title %}


{% block content_stats %}
    <h1>Artifacts</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Summary</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for record_name, record in artifacts.summary.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>{{ record }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Substat</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in artifacts.substats.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>{{ stat_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Main Stat</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in artifacts.main_stat.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>{{ stat_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Slot</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for slot_name, slot_count in artifacts.slot.items %}
                            <tr>
                                <th>{{ slot_name }}</th>
                                <td>{{ slot_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Quality</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for quality_name, quality_count in artifacts.quality.items %}
                            <tr>
                                <th>{{ quality_name }}</th>
                                <td>{{ quality_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Quality (original)</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for quality_name, quality_count in artifacts.quality_original.items %}
                            <tr>
                                <th>{{ quality_name }}</th>
                                <td>{{ quality_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}