{% extends 'herders/profile/stats/artifacts/base.html' %}
{% load staticfiles %}

{% block title %}
Artifact Enchants - {{ block.super }}
{% endblock title %}


{% block content_stats %}
    <h1>Artifact Enchants</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            {% include 'herders/profile/stats/table.html' with title="Summary" data=artifact_craft.summary %}
            {% include 'herders/profile/stats/table.html' with title="Substats" data=artifact_craft.substats %}
            {% include 'herders/profile/stats/table.html' with title="Slot" data=artifact_craft.slot %}
            {% include 'herders/profile/stats/table.html' with title="Quality" data=artifact_craft.quality %}
        </div>
    </div>
{% endblock %}