{% extends 'base.html' %}

{% load utils %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% static 'herders/images/' as img_url_prefix %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if validation_errors %}
                <div class="alert alert-danger" role="alert">
                    <p>{{ validation_errors }}</p>
                </div>
            {% endif %}
            <p>This group has teams in it. What do you want to do with them?</p>
            {% crispy form %}
        </div>
    </div>
{% endblock content %}