{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block content %}
    {% if is_owner %}
        {# Add group modal #}
        <div class="modal fade" id="addTeamGroupModal" tabindex="-1" role="dialog" aria-labelledby="modalAddTeamGroupTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalAddTeamGroupTitle">Add Group</h4>
                    </div>
                    <form method="post" action="{% url 'herders:team_group_add' profile_name=profile_name %}?next={{ request.path }}" >
                        {% crispy add_team_group_form %}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="team-list" class="team-list pull-left"></div>

    <div class="team-detail">
        <div id="team-detail">
            <p>Pick a team from the list!</p>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var team_detail = $('#team-detail');
        var team_list = $('#team-list');
        var page_content = $('div.content');

        page_content.on('click', '.team-link', function() {
            var team_id = $(this).data('team-id');
            team_detail.load('/profile/{{ profile_name }}/teams/detail/' + team_id + '/');
        });

        page_content.on('click', '.team-edit', function() {
            var team_id = $(this).data('team-id');
            if (typeof team_id === 'undefined') {
                team_detail.load('/profile/{{ profile_name }}/teams/add/');
            }
            else {
                team_detail.load('/profile/{{ profile_name }}/teams/edit/' + team_id + '/');
            }
        });

        page_content.on('submit', '#EditTeamForm', function() {
            var frm = $('#EditTeamForm');
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    team_detail.html(data);
                    update_team_list();
                },
                error: function () {
                    alert("Sorry, something didn't work.");
                }
            });
            return false;
        });

        $(window).hashchange(load_new_team());
        $(document).ready(function() {
            load_new_team();
            update_team_list();
        });

        function load_new_team() {
            var hashStr = location.hash.replace("#","");
            if (hashStr) {
                team_detail.load('/profile/{{ profile_name }}/teams/detail/' + hashStr + '/');
            }
        }

        function update_team_list() {
            team_list.load('/profile/{{ profile_name }}/teams/list');
        }

    </script>
{% endblock javascript %}