{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block content %}
    {% static 'herders/images/' as img_url_prefix %}
    <div>
        <div class="team-list">
            <div class="panel-group">
                {% for group in team_groups %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                            {{ group.name }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul>
                            {% for team in group.team_set.all %}
                                <li><a href="#{{ team.pk.hex }}" class="team-link" data-team-id="{{ team.pk.hex }}">{{ team.name }}</a></li>
                            {% empty %}
                                <li>Empty! Add a team.</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="team-detail" class="team-detail">

        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('a.team-link').click(function() {
        var team_id = $(this).data('team-id');
        $('#team-detail').load('/profile/porksmash/teams/detail/' + team_id + '/');
    });

    var hashStr = location.hash.replace("#","");
    if (hashStr) {
        $('#team-detail').load('/profile/porksmash/teams/detail/' + hashStr + '/');
    }
</script>
{% endblock javascript %}