{% extends 'herders/profile/profile_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block subnav %}
    {% if is_owner %}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-sub">
            <div class="container-fluid">
                <button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#addTeamGroupModal">
                    <span class="glyphicon glyphicon-plus"></span> Add group
                </button>
                <button class="btn btn-default navbar-btn team-edit">
                    <span class="glyphicon glyphicon-plus"></span> Add team
                </button>
            </div>
        </nav>
    {% endif %}
{% endblock subnav %}

{% block profile %}
    {% if is_owner %}
        {# Add group modal #}
        <div class="modal fade" id="addTeamGroupModal" tabindex="-1" role="dialog" aria-labelledby="modalAddTeamGroupTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalAddTeamGroupTitle">Add Group</h4>
                    </div>
                    <form method="post" action="{% url 'herders:team_group_add' profile_name=profile_name %}?next={{ request.path }}" >
                        {% crispy add_team_group_form %}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="team-list" class="team-list pull-left"></div>

    <div class="team-detail">
        <div id="team-detail"></div>
    </div>

{% endblock profile %}

{% block javascript %}
    <script type="text/javascript">
        var PROFILE_NAME = '{{ profile_name }}';
    </script>
    <script type="text/javascript" src="{% static 'herders/js/teams.js' %}"></script>
{% endblock javascript %}