{% load utils %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% static 'herders/images/' as img_url_prefix %}

{# We duplicate the messages here because the page is not reloaded and base.html will not display them #}
{% if messages %}
    <div class="alert alert-dismissible alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul>
            {% for message in messages %}
                <li>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<div class="panel panel-default">
    <div class="panel-body">
        <div>
            {% if is_owner %}
                <div class="btn-group pull-right">
                    <a href="#{{ team.pk.hex }}" class="btn btn-info team-edit" data-team-id="{{ team.pk.hex }}">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a>
                    <a href="{% url 'herders:team_delete' profile_name=profile_name team_id=team.pk.hex %}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>
                </div>
            {% endif %}

            <h1>{{ team.group.name }} - {{ team.name }}</h1>
        </div>
        {% if team.description %}
        <div>
           {{ team.description|markdown }}
        </div>
        {% endif %}
        {% if team_buffs %}
        <table class="table table-condensed monster-table">
            <td width="225px">Combined Team Buffs/Debuffs:</td>
            <td class="monster-skill-effects">
                {% if team.leader.monster.leader_skill %}
                <img src="{{ img_url_prefix }}skills/leader/{{ team.leader.monster.leader_skill.icon_filename }}"
                     data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="Leader Skill" data-content="{{ team.leader.monster.leader_skill.skill_string }}" />
                {% endif %}
                {% for effect in team_buffs %}
                {% if effect.icon_filename %}
                <img src="{{ img_url_prefix }}buffs/{{ effect.icon_filename }}"
                        data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}"/>
                {% else %}
                <span class="skill-effect {% if effect.is_buff %}skill-effect-buff{% else %}skill-effect-debuff{% endif %}" data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}">
                    <span>{{ effect.name }}</span>
                </span>
                {% endif %}
                {% endfor %}
            </td>
        </table>
        {% endif %}
        <table class="table table-hover table-condensed monster-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th class="monster-stars-column">Stars</th>
                    <th class="monster-level-column">Level</th>
                    <th class="monster-element">Element</th>
                    <th>Archetype</th>
                    <th>Leader Skill</th>
                    <th>Skill Effects</th>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="8"><h4>Leader</h4></td></tr>
                <tr>
                    {% if team.leader %}
                    <td class="monster-image">
                        <div>
                            {% if is_owner %}
                                <a href="{% url 'herders:monster_instance_view' profile_name=user.username instance_id=team.leader.pk.hex %}?next={% url 'herders:teams' profile_name=profile_name %}" target="_blank">
                            {% endif %}
                                <img src="{{ img_url_prefix }}monsters/{{ team.leader.monster.image_filename }}" class="monster-thumb"/>
                                <span>
                                    {% for x in team.leader.stars|get_range %}
                                        {% if team.leader.monster.is_awakened %}
                                            <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% elif team.leader.monster.can_awaken %}
                                            <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% else %}
                                            <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="image-plus image-plus-right">{{ team.leader.level }}</span>
                            {% if is_owner %}
                                </a>
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ team.leader.monster.name|title }}</td>
                    <td class="monster-stars-column">{{ team.leader.stars }}<span class="glyphicon glyphicon-star"></span></td>
                    <td>
                        {{ team.leader.level }}
                        {% if team.leader.is_max_level %}
                            {% if team.leader.stars == 6 %}
                                <span class="glyphicon glyphicon-ok-circle" style="color:darkgreen"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-upload" style="color:darkorange;" data-toggle="tooltip" data-placement="top" title="Ready for Evolution!"></span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="monster-element">
                        <img src="{{ img_url_prefix }}elements/{{ team.leader.monster.element }}.png" />
                        <span>{{ team.leader.monster.element }}</span>
                    </td>
                    <td>{{ team.leader.monster.archetype|title }}</td>
                    <td class="monster-leader-skill">
                        {% if team.leader.monster.leader_skill %}
                        <img src="{{ img_url_prefix }}skills/leader/{{ team.leader.monster.leader_skill.icon_filename }}"
                             data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="Leader Skill" data-content="{{ team.leader.monster.leader_skill.skill_string }}" />
                        {% endif %}
                    </td>
                    <td class="monster-skill-effects">
                        {% for effect in team.leader.monster.all_skill_effects %}
                            {% if effect.icon_filename %}
                            <img src="{{ img_url_prefix }}buffs/{{ effect.icon_filename }}"
                                data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}"/>
                            {% else %}
                                <span class="skill-effect {% if effect.is_buff %}skill-effect-buff{% else %}skill-effect-debuff{% endif %}" data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}">
                                    <span>{{ effect.name }}</span>
                                </span>
                            {% endif %}
                        {% endfor %}
                    </td>

                    {% else %}
                    <td colspan="8">None</td>
                    {% endif %}
                </tr>
                <tr><td colspan="8"><h4>Members</h4></td></tr>
                {% for instance in team.roster.all %}
                    <tr>
                        <td class="monster-image">
                            <div>
                                {% if is_owner %}
                                <a href="{% url 'herders:monster_instance_view' profile_name=user.username instance_id=instance.pk.hex %}?next={% url 'herders:teams' profile_name=profile_name %}" target="_blank">
                                {% endif %}
                                <img src="{{ img_url_prefix }}monsters/{{ instance.monster.image_filename }}" class="monster-thumb"/>
                                <span>
                                    {% for x in instance.stars|get_range %}
                                        {% if instance.monster.is_awakened %}
                                            <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% elif instance.monster.can_awaken %}
                                            <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% else %}
                                            <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="image-plus image-plus-right">{{ instance.level }}</span>
                                {% if is_owner %}
                                </a>
                                {% endif %}
                            </div>
                        </td>
                        <td>{{ instance.monster.name|title }}</td>
                        <td class="monster-stars-column">{{ instance.stars }}<span class="glyphicon glyphicon-star"></span></td>
                        <td>
                            {{ instance.level }}
                            {% if instance.is_max_level %}
                                {% if instance.stars == 6 %}
                                    <span class="glyphicon glyphicon-ok-circle" style="color:darkgreen"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-upload" style="color:darkorange;" data-toggle="tooltip" data-placement="top" title="Ready for Evolution!"></span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="monster-element">
                            <img src="{{ img_url_prefix }}elements/{{ instance.monster.element }}.png" />
                            <span>{{ instance.monster.element }}</span>
                        </td>
                        <td>{{ instance.monster.archetype|title }}</td>
                        <td class="monster-leader-skill">
                            {% if instance.monster.leader_skill %}
                            <img src="{{ img_url_prefix }}skills/leader/{{ instance.monster.leader_skill.icon_filename }}"
                                 data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="Leader Skill" data-content="{{ instance.monster.leader_skill.skill_string }}" />
                            {% endif %}
                        </td>
                        <td class="monster-skill-effects">
                            {% for effect in instance.monster.all_skill_effects %}
                                {% if effect.icon_filename %}
                                    <img src="{{ img_url_prefix }}buffs/{{ effect.icon_filename }}"
                                            data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}"/>
                                {% else %}
                                    <span class="skill-effect {% if effect.is_buff %}skill-effect-buff{% else %}skill-effect-debuff{% endif %}" data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}">
                                        <span>{{ effect.name }}</span>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="8">No Members</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>