{% extends 'herders/profile/base.html' %}
{% load staticfiles %}
{% load utils %}

{% block title %}
    {% if is_owner %}
        My Fusion Progress - {{ block.super }}
    {% else %}
        {{ profile_name }}'s Fusion Progress - {{ block.super }}
    {% endif %}
{% endblock title %}

{% block fusion_menu %}
    <ul class="navbar-nav ps-2">
        {% for fusion in fusions %}
        <li class="nav-item py-0">
            <a class="nav-link fw-lighter py-1 text-muted fusion-tab" style="cursor: pointer;" data-fusion="{{ fusion.product.bestiary_slug }}">
                <img src="{{ img_url_prefix }}monsters/{{ fusion.product.image_filename }}" class="monster-inline" loading="lazy" />
                {{ fusion.product.base_stars }}<i class="fas fa-star fa-xs"></i> {{ fusion.product.name }}{% if fusion.acquired %} - <i class="fas fa-check-circle"></i> Acquired!{% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock fusion_menu %}

{% block profile %}
    <div id="fusion"></div>
{% endblock profile %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static "herders/js/fusion.js" %}"></script>
{% endblock javascript_compressed %}