{% load staticfiles %}
{% load humanize %}
{% load utils %}

{% static 'herders/images/' as img_url_prefix %}
<div class="card shadow border-0 mb-3">
    <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
        <div class="d-flex justify-content-between align-items-center">
            <div class="fs-1">
                <strong>{{fusion.instance.name }}</strong> - 
                <small><img src="{{ img_url_prefix }}elements/{{fusion.instance.element }}.png" style="height:1em" loading="lazy" /> {{fusion.instance.get_archetype_display }}</small>
            </div>
            <div class="float-right"><img src="{{ img_url_prefix }}items/mana.png" style="height: 1em;" loading="lazy" />{{ fusion.cost }}</div>
        </div>
    </div>
    <div class="monster-box">
        <div class="monster-box-thumb">
            <img src="{{ img_url_prefix }}monsters/{{ fusion.instance.image_filename }}" loading="lazy" />
            <span>
                {% for x in fusion.instance.base_stars|get_range %}
                    {% if fusion.instance.is_awakened %}
                        <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                    {% elif fusion.instance.can_awaken %}
                        <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                    {% else %}
                        <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                    {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
</div>

<div class="card shadow border-0 mb-3">
    <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
        <h3 class="card-title">Fusion Ingredients</h3>
    </div>
    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %} p-0 table-responsive">
        <table class="table table-condensed monster-table fusion-ingredients">
            <thead>
                <tr>
                    <th colspan="2">Ingredient</th>
                    <th>Farmable</th>
                    <th>Fuseable</th>
                    <th>Acquired From</th>
                    <th class="fusion-checklist">Acquired</th>
                    <th class="fusion-checklist">{{ fusion.stars }}<span class="fas fa-star fa-xs" aria-hidden="true"></span></th>
                    <th class="fusion-checklist">Leveled</th>
                    <th class="fusion-checklist">Awakened</th>
                    <th>Your Collection</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in fusion.ingredients %}
                    <tr {% if ingredient.complete %}class="fusion-success"{% endif %}>
                        <td class="monster-image">
                            <div class="float-left">
                                <a href="{% url 'bestiary:detail' monster_slug=ingredient.instance.bestiary_slug %}">
                                    <img src="{{ img_url_prefix }}monsters/{{ ingredient.instance.image_filename }}" class="monster-thumb" loading="lazy" />
                                    <span>
                                        {% for x in fusion.stars|get_range %}
                                            {% if ingredient.instance.is_awakened %}
                                                <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                            {% elif ingredient.instance.can_awaken %}
                                                <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                            {% else %}
                                                <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                    <span class="image-plus image-plus-right">{{ fusion.level }}</span>
                                </a>
                            </div>
                        </td>
                        <td width="150px">{{ ingredient.instance.name|title }}</td>
                        <td class="fusion-checklist">
                            {% if ingredient.instance.farmable %}
                            <i class="fas fa-check text-success" aria-hidden="true"></span>
                            {% else %}
                            <i class="fas fa-times text-danger" aria-hidden="true"></span>
                            {% endif %}
                        </td>

                        <td class="fusion-checklist">
                            {% if ingredient.is_fuseable %}
                            <a class="fas fa-check text-success" href="#{{ ingredient.instance.awakens_from.name }}" />
                            {% else %}
                            <i class="fas fa-times text-danger" aria-hidden="true"></span>
                            {% endif %}
                        </td>

                        <td class="monster-sources">
                            {% for source in ingredient.instance.awakens_from.source.all %}
                                {% if source.icon_filename %}
                                <img src="{{ img_url_prefix }}icons/{{ source.icon_filename }}" loading="lazy" 
                                    class="monster-source" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-container="body" title="{{ source.name }}" />
                                {% else %}
                                <span class="monster-source"><span>{{ source }}</span></span>
                                {% endif %}
                            {% endfor %}
                        </td>


                        <td class="fusion-checklist">
                            {% if ingredient.acquired %}
                                <i class="fas fa-check text-success" aria-hidden="true"></span>
                            {% else %}
                                <i class="fas fa-times text-danger" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td class="fusion-checklist">
                            {% if ingredient.evolved %}
                                <i class="fas fa-check text-success" aria-hidden="true"></span>
                            {% else %}
                                <i class="fas fa-times text-danger" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td class="fusion-checklist">
                            {% if ingredient.leveled %}
                                <i class="fas fa-check text-success" aria-hidden="true"></span>
                            {% else %}
                                <i class="fas fa-times text-danger" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td class="fusion-checklist">
                            {% if ingredient.awakened %}
                                <i class="fas fa-check text-success" aria-hidden="true"></span>
                            {% else %}
                                <i class="fas fa-times text-danger" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td class="fusion-ingredients-collection">
                            {% for owned in ingredient.owned %}
                                <div class="monster-image float-left monster-popover" data-instance-id="{{ owned.pk.hex }}" title="{{ owned.monster.name }} - {{ owned.monster.get_element_display }} {% if owned.monster.awakens_from %}{{ owned.monster.awakens_from.name }}{% endif %}">
                                    <div>
                                        {% if is_owner %}
                                            <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=owned.pk.hex %}?next={{ return_path }}#edit">
                                        {% endif %}
                                            <img src="{{ img_url_prefix }}monsters/{{ owned.monster.image_filename }}" class="monster-thumb" loading="lazy" />
                                            <span>
                                                {% for x in owned.stars|get_range %}
                                                    {% if owned.monster.is_awakened %}
                                                        <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                                    {% elif owned.monster.can_awaken %}
                                                        <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                                    {% else %}
                                                        <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                                    {% endif %}
                                                {% endfor %}
                                            </span>
                                            <span class="image-plus image-plus-right">{% if owned.is_max_level %}MAX{% endif %}{{ owned.level }}</span>
                                            {% if owned.ignore_for_fusion %}
                                                <div class="disabled" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-container="body" title="Ignored for fusion progress"></div>
                                            {% endif %}
                                        {% if is_owner %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if ingredient.pieces %}
                                <div class="monster-image float-left">
                                    <div>
                                        <img src="{{ img_url_prefix }}monsters/{{ ingredient.pieces.monster.image_filename }}" class="monster-thumb" loading="lazy" />
                                        <span class="image-plus image-plus-main fas fa-puzzle-piece" style="top: 10px;"></span>
                                        <span class="image-plus image-plus-right">x{{ ingredient.pieces.pieces }}</span>
                                    </div>
                                </div>
                            {% endif %}
                            {% if ingredient.shrine %}
                                <div class="monster-image float-left">
                                    <img src="{{ img_url_prefix }}buildings/monster_shrine.png" class="monster-thumb" loading="lazy" />
                                    <span class="image-plus image-plus-main">{{ ingredient.shrine }}</span>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{# Awakening Essences #}
{% if is_owner %}
<div class="card shadow border-0 mb-3">
    <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
        <h3 class="card-title">Awakening Essences</h3>
    </div>
    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %} p-0 table-responsive">
        <table class="table table-condensed monster-table text-center">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="3">Magic</th>
                    <th colspan="3">Fire</th>
                    <th colspan="3">Water</th>
                    <th colspan="3">Wind</th>
                    <th colspan="3">Light</th>
                    <th colspan="3">Dark</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Low</th>
                    <th>Mid</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Mid</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Mid</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Mid</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Mid</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Mid</th>
                    <th>High</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-start">Your Storage</td>
                    {% include 'herders/profile/fusion/essence_row.html' with essences=fusion.awakening_mats render_zero=True only %}
                </tr>
                <tr>
                    <td class="text-start">Fusion Cost</td>
                    {% include 'herders/profile/fusion/essence_row.html' with essences=fusion.awakening_mats_cost only %}
                </tr>
                <tr class="{% if fusion.awakening_mats_sufficient %}fusion-success{% else %}fusion-danger{% endif %}">
                    <td class="text-start">Missing Essences</td>
                    {% include 'herders/profile/fusion/essence_row.html' with essences=fusion.awakening_mats_missing cell_class='text-success' show_check_if_zero=True only %}
                </tr>
                {% if fusion.sub_fusion_mats_missing %}
                <tr class="{% if fusion.sub_fusion_mats_sufficient %}fusion-success{% else %}fusion-danger{% endif %}">
                    <td class="text-start">Missing Essences Including Sub-Fusions</td>
                    {% include 'herders/profile/fusion/essence_row.html' with essences=fusion.sub_fusion_mats_missing cell_class='text-success' show_check_if_zero=True only %}
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}