{% load staticfiles %}
{% load humanize %}
{% load utils %}

{% static 'herders/images/' as img_url_prefix %}
<div class="monster-box">
    <div class="monster-box-thumb">
        <img src="{{ img_url_prefix }}monsters/{{ fusion.instance.image_filename }}"/>
        <span>
            {% for x in fusion.instance.base_stars|get_range %}
                {% if fusion.instance.is_awakened %}
                    <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                {% elif fusion.instance.can_awaken %}
                    <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                {% else %}
                    <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                {% endif %}
            {% endfor %}
        </span>
    </div>
</div>

<div class="bestiary-name">
    <h1>
        {{fusion.instance.name }}
        <small><img src="{{ img_url_prefix }}elements/{{fusion.instance.element }}.png" style="height:1em"/>{{fusion.instance.get_archetype_display }}</small>
    </h1>
    <p>Fusion Cost: <img src="{{ img_url_prefix }}icons/mana.png" style="height: 1em;"/> {{ fusion.cost }}</p>
</div>

<div class="clearfix"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Fusion Ingredients</h1>
    </div>
    <table class="table table-condensed monster-table fusion-ingredients">
        <thead>
            <tr>
                <th colspan="2">Ingredient</th>
                <th>Farmable</th>
                <th>Fuseable</th>
                <th>Acquired From</th>
                <th class="fusion-checklist">Acquired</th>
                <th class="fusion-checklist">{{ fusion.stars }}<span class="glyphicon glyphicon-star" aria-hidden="true"></span></th>
                <th class="fusion-checklist">Leveled</th>
                <th class="fusion-checklist">Awakened</th>
                <th>Your Collection</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in fusion.ingredients %}
                <tr {% if ingredient.complete %}class="success"{% endif %}>
                    <td class="monster-image">
                        <div class="pull-left">
                            <a href="{% url 'bestiary:detail' monster_slug=ingredient.instance.bestiary_slug %}">
                                <img src="{{ img_url_prefix }}monsters/{{ ingredient.instance.image_filename }}" class="monster-thumb"/>
                                <span>
                                    {% for x in fusion.stars|get_range %}
                                        {% if ingredient.instance.is_awakened %}
                                            <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% elif ingredient.instance.can_awaken %}
                                            <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% else %}
                                            <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="image-plus image-plus-right">{{ fusion.level }}</span>
                            </a>
                        </div>
                    </td>
                    <td width="150px">{{ ingredient.instance.name|title }}</td>
                    <td class="fusion-checklist">
                        {% if ingredient.instance.farmable %}
                        <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>

                    <td class="fusion-checklist">
                        {% if ingredient.is_fuseable %}
                        <a href="#{{ ingredient.instance.awakens_from.name }}"><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></a>
                        {% else %}
                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true">
                        {% endif %}
                    </td>

                    <td class="monster-sources">
                        {% for source in ingredient.instance.awakens_from.source.all %}
                            {% if source.icon_filename %}
                            <img src="{{ img_url_prefix }}icons/{{ source.icon_filename }}"
                                 class="monster-source" data-toggle="tooltip" data-placement="top" data-container="body" title="{{ source.name }}" />
                            {% else %}
                            <span class="monster-source"><span>{{ source }}</span></span>
                            {% endif %}
                        {% endfor %}
                    </td>


                    <td class="fusion-checklist">
                        {% if ingredient.acquired %}
                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td class="fusion-checklist">
                        {% if ingredient.evolved %}
                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td class="fusion-checklist">
                        {% if ingredient.leveled %}
                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td class="fusion-checklist">
                        {% if ingredient.awakened %}
                            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td class="fusion-ingredients-collection">
                        {% for owned in ingredient.owned %}
                            <div class="monster-image pull-left monster-popover" data-instance-id="{{ owned.pk.hex }}" title="{{ owned.monster.name }} - {{ owned.monster.get_element_display }} {% if owned.monster.awakens_from %}{{ owned.monster.awakens_from.name }}{% endif %}">
                                <div>
                                    {% if is_owner %}
                                        <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=owned.pk.hex %}?next={{ return_path }}#edit">
                                    {% endif %}
                                        <img src="{{ img_url_prefix }}monsters/{{ owned.monster.image_filename }}" class="monster-thumb"/>
                                        <span>
                                            {% for x in owned.stars|get_range %}
                                                {% if owned.monster.is_awakened %}
                                                    <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                {% elif owned.monster.can_awaken %}
                                                    <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                {% else %}
                                                    <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                        <span class="image-plus image-plus-right">{% if owned.is_max_level %}MAX{% endif %}{{ owned.level }}</span>
                                        {% if owned.ignore_for_fusion %}
                                            <div class="disabled" data-toggle="tooltip" data-placement="top" data-container="body" title="Ignored for fusion progress"></div>
                                        {% endif %}
                                    {% if is_owner %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        {% if ingredient.pieces %}
                            <div class="monster-image pull-left">
                                <div>
                                    <img src="{{ img_url_prefix }}monsters/{{ ingredient.pieces.monster.image_filename }}" class="monster-thumb"/>
                                    <span class="image-plus image-plus-main fa fa-puzzle-piece"></span>
                                    <span class="image-plus image-plus-right">x{{ ingredient.pieces.pieces }}</span>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# Awakening Essences #}
{% if is_owner %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Awakening Essences</h1>
    </div>
    <table class="table table-condensed monster-table fusion-essences">
        <thead>
            <tr>
                <th></th>
                <th colspan="3">Magic</th>
                <th colspan="3">Fire</th>
                <th colspan="3">Water</th>
                <th colspan="3">Wind</th>
                <th colspan="3">Light</th>
                <th colspan="3">Dark</th>
            </tr>
            <tr>
                <th></th>
                <th>Low</th>
                <th>Mid</th>
                <th>High</th>
                <th>Low</th>
                <th>Mid</th>
                <th>High</th>
                <th>Low</th>
                <th>Mid</th>
                <th>High</th>
                <th>Low</th>
                <th>Mid</th>
                <th>High</th>
                <th>Low</th>
                <th>Mid</th>
                <th>High</th>
                <th>Low</th>
                <th>Mid</th>
                <th>High</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Your Storage</td>
                {% include 'herders/profile/fusion/essence_row.html' with essences=summoner.storage.get_storage render_zero=True only %}
            </tr>
            <tr>
                <td>Fusion Cost</td>
                {% include 'herders/profile/fusion/essence_row.html' with essences=fusion.awakening_mats_cost only %}
            </tr>
            <tr class="{% if fusion.awakening_mats_sufficient %}success{% else %}danger{% endif %}">
                <td>Missing Essences</td>
                {% include 'herders/profile/fusion/essence_row.html' with essences=fusion.awakening_mats_missing cell_class='text-success' show_check_if_zero=True only %}
            </tr>
            {% if fusion.sub_fusion_mats_missing %}
            <tr class="{% if fusion.sub_fusion_mats_sufficient %}success{% else %}danger{% endif %}">
                <td>Missing Essences Including Sub-Fusions</td>
                {% include 'herders/profile/fusion/essence_row.html' with essences=fusion.sub_fusion_mats_missing cell_class='text-success' show_check_if_zero=True only %}
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endif %}