{% extends 'herders/profile/data_logs/base.html' %}
{% load crispy_forms_tags report_charts utils %}

{% block title %}
    World Boss - {{ block.super }}
{% endblock %}

{% block logs %}
    {% if total_count %}
        <div class="card shadow border-0 mb-3">
            <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} d-flex flex-wrap justify-content-between">
                <h2>World Boss Log Summary</h2>
            </div>
            <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                {% if start_date %}<p>{{ start_date }} - {{ end_date }}</p>{% endif %}
                <p>Total Runs: {{ total_count }}</p>{% if records_limited %}. <small>Record count limited.</small>{% endif %}</p>
            </div>
        </div>

        {% include 'data_log/clear_time.html' with clear_times=report.clear_time only %}

        <div class="row">
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="card shadow border-0 mb-3 h-100">
                    <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %}">
                        <h3>Avg Grade</h3>
                    </div>
                    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                        <input
                            type="text"
                            name="grade_slider"
                            data-provide="slider"
                            data-slider-enabled="false"
                            data-slider-tooltip="hide"
                            data-slider-precision="1"
                            data-slider-min="1"
                            data-slider-max="12"
                            data-slider-value="{{ grade_stats.avg }}"
                            data-slider-ticks="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
                            data-slider-ticks-labels='["F", "D", "C", "B-", "B", "B+", "A-", "A", "A+", "S", "SS", "SSS"]'
                        />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="card shadow border-0 mb-3 h-100">
                    <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %}">
                        <h3>Avg Damage</h3>
                    </div>
                    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                    {% if damage_histogram %}
                        <div
                            class="report-chart"
                            data-chart="{% chart damage_histogram title="Damage Done" %}"
                            style="height: 300px"
                        ></div>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 mb-3">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-md-3">
                        {% include 'herders/profile/data_logs/drops/summary/items.html' with items=dashboard.recent_drops.items only %}
                    </div>
                    <div class="col-sm-6 col-md-4 col-md-3">
                        {% include 'herders/profile/data_logs/drops/summary/runes.html' with runes=dashboard.recent_drops.runes only %}
                    </div>
                    <div class="col-sm-6 col-md-4 col-md-3">
                        {% include 'herders/profile/data_logs/drops/summary/monsters.html' with monsters=dashboard.recent_drops.monsters only %}
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                <div class="card shadow border-0 mb-3 h-100">
                    <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %}">
                        <h3 class="card-title">Quick Links</h3>
                    </div>
                    <div class="{% if forloop.last %}card-footer border-0{% else %}card-header{% endif %} {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
                        <a href="{% url 'herders:data_log_world_boss_table' profile_name=profile_name %}">View As Table</a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        {% include 'data_log/summary.html' with summary=report.summary only %}
        <hr />
        {% include 'data_log/runes.html' with runes=report.runes only %}
        <hr />
        {% include 'data_log/rune_crafts.html' with rune_crafts=report.rune_crafts only %}
    {% else %}
        {% include 'herders/profile/data_logs/no_data.html' %}
    {% endif %}
{% endblock %}
