{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load utils %}
{% load cache %}

{% block title %}Bestiary - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="card shadow-sm border-0 mb-3">
        <div class="card-header bg-white">
            <button class="btn btn-outline-dark btn-block w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#monsterFilterCollapse">
                <i class="fas fa-filter"></i> Filters
            </button>
        </div>
        <div class="card-body  collapse" id="monsterFilterCollapse">
            {% crispy bestiary_filter_form %}
        </div>
    </div>

    {% include 'bestiary/inventory.html' %}
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/widgets/widget-columnSelector.min.js"></script>
{% endblock javascript %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static "bestiary/js/bestiary.js" %}"></script>
{% endblock javascript_compressed %}
