{% extends "base.html" %}
{% load staticfiles %}
{% load utils %}
{% load cache %}

{% block title %}Bestiary - {{ block.super }}{% endblock title %}

{% block subnav %}
    {% include 'bestiary/subnav.html' %}
{% endblock subnav %}

{% block content %}
<div id="bestiary-inventory"></div>
{% endblock %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static "bestiary/js/bestiary.js" %}"></script>
{% endblock javascript_compressed %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/widgets/widget-columnSelector.min.js"></script>
{% endblock javascript %}