{% extends "base.html" %}
{% load staticfiles %}
{% load utils %}
{% load cache %}

{% block title %}Bestiary - {{ monsters.0.get_element_display }} {{ monsters.0.name }}{% if monsters.0.can_awaken %} ({{ monsters.0.awakens_to.name }}){% endif %} - {{ block.super }}{% endblock title %}

{% block content %}
    {% static 'herders/images/' as img_url_prefix %}

    <ul class="nav nav-tabs" role="tablist">
        {% for mon in family %}
            <li role="presentation" {% if mon.bestiary_slug == active_slug %}class="active"{% endif %}>
                <a href="{% url 'bestiary:detail' monster_slug=mon.bestiary_slug %}" role="tab">
                    <img class="monster-thumb" src="{{ img_url_prefix }}monsters/{{ mon.image_filename }}" loading="lazy" /> {{ mon }} {% if mon.is_awakened %}({{ mon.get_element_display }}){% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content bordered">
        <div role="tabpanel" class="tab-pane active">
            {% for m in monsters %}
                {% include 'bestiary/monster_detail.html' with monster=m %}

                {% if monsters|length > 1 and not forloop.last %}<hr />{% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock javascript %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static "bestiary/js/bestiary.js" %}"></script>
{% endblock javascript_compressed %}