{% load staticfiles %}
{% load utils %}

{% static 'herders/images/' as img_url_prefix %}
<div id="bestiary-inventory">
    <div class="card mb-3">
        <div class="card-header">
            <button class="btn btn-outline-dark column-select toggle collapsed" data-bs-toggle="collapse" data-bs-target="#column-selector-collapse">
                Select Columns
            </button>
            <div class="pagination float-right">
                <button class="page-item page-link border-0 pager-btn bg-light" {% if not monsters.has_previous %} disabled{% endif %} {% if monsters.has_previous %}data-page="{{ monsters.previous_page_number }}"{% endif %} aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </button>

                {% for page_num in page_range %}
                <button class="page-item page-link border-0 pager-btn bg-light{% if page_num == monsters.number %} active{% endif %}" data-page="{{ page_num }}" aria-label="Previous">
                    {{ page_num }}
                </button>
                {% endfor %}

                <button class="page-item page-link border-0 pager-btn bg-light" {% if not monsters.has_next %}disabled{% endif %} {% if monsters.has_next %}data-page="{{ monsters.next_page_number }}"{% endif %} aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </div>
        </div>

        <div id="column-selector-collapse" class="collapse">
            <div class="card-body">
                <div id="column-selectors" class="d-flex flex-wrap align-items-center justify-content-center"></div>
            </div>
        </div>

        {% if monsters|length %}
        <div class="table-responsive">
            <table id="bestiary_table" class="table table-hover table-condensed monster-table" data-save-filters="false">
                <thead class="bg-white">
                    <tr>
                        {% if request.user.is_authenticated %}<th data-sorter="false" data-columnSelector="disable"></th>{% endif %}
                        <th data-sorter="false" data-columnSelector="disable"></th>
                        <th>Name</th>
                        <th>Stars</th>
                        <th>Element</th>
                        <th>Archetype</th>
                        <th>Awakens To</th>
                        <th>Awakens From</th>
                        <th>Leader Skill</th>
                        <th data-sorter="false">Skills</th>
                        <th data-columnSelector="false">Skill-Ups</th>
                        <th data-columnSelector="false">HP (Lv.40)</th>
                        <th data-columnSelector="false">DEF (Lv.40)</th>
                        <th data-columnSelector="false">ATK (Lv.40)</th>
                        <th data-columnSelector="false">SPD</th>
                        <th data-columnSelector="false">CRI Rate</th>
                        <th data-columnSelector="false">CRI Dmg</th>
                        <th data-columnSelector="false">RES</th>
                        <th data-columnSelector="false">ACC</th>
                        <th data-sorter="false" data-columnSelector="false">Awakening Materials</th>
                    </tr>
                </thead>
                <tbody>
                    {% for monster in monsters %}
                    <tr>
                        {% if request.user.is_authenticated %}
                        <td class="monster-info-icons-column">
                            <button class="btn btn-link btn-xs monster-add" data-toggle="tooltip" data-placement="top" title="Add to collection" data-monster="{{ monster.pk }}" data-stars="{{ monster.base_stars }}">
                                <i class="fas fa-plus"></i>
                            </button>
                        </td>
                        {% endif %}
                        <td class="monster-image">
                            <a href="{% url 'bestiary:detail' monster_slug=monster.bestiary_slug %}">
                                {% include 'bestiary/monster/portrait_small.html' with monster=monster only %}
                            </a>
                        </td>
                        <td><a href="{% url 'bestiary:detail' monster_slug=monster.bestiary_slug %}">{{ monster.name|title }}</a></td>
                        <td>{{ monster.base_stars }}<i class="fas fa-star"></i></td>
                        <td class="monster-element">
                            <img src="{{ img_url_prefix }}elements/{{ monster.element }}.png" class="monster-element" loading="lazy" />
                            <span class="visually-hidden">{{ monster.element }}</span>
                        </td>
                        <td class="monster-type">{{ monster.get_archetype_display }}</td>
                        <td class="monster-awakens">
                            {% if monster.awakens_to %}
                            <a href="{% url 'bestiary:detail' monster_slug=monster.awakens_to.bestiary_slug %}">
                                <img src="{{ img_url_prefix }}monsters/{{ monster.awakens_to.image_filename }}" class="monster-thumb" loading="lazy" /> {{ monster.awakens_to.name|title }}
                            </a>
                            {% endif %}
                        </td>
                        <td class="monster-awakens">
                            {% if monster.awakens_from %}
                            <a href="{% url 'bestiary:detail' monster_slug=monster.awakens_from.bestiary_slug %}">
                                <img src="{{ img_url_prefix }}monsters/{{ monster.awakens_from.image_filename }}" class="monster-thumb" loading="lazy" /> {{ monster.awakens_from.name|title }}
                            </a>
                            {% endif %}
                        </td>
                        <td class="monster-leader-skill">
                            {% if monster.leader_skill %}
                                <div>
                                    <img src="{{ img_url_prefix }}skills/leader/{{ monster.leader_skill.icon_filename }}" loading="lazy" 
                                         data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="Leader Skill" data-content="{{ monster.leader_skill.skill_string }}" />
                                    <span class="image-plus image-plus-top-left">{{ monster.leader_skill.amount }}%</span>
                                    <span class="visually-hidden">
                                        {{ monster.leader_skill.get_attribute_display }}
                                        {{ monster.leader_skill.get_area_display }}
                                    </span>
                                </div>
                            {% endif %}
                        </td>
                        <td class="monster-awaken-materials">
                            <div class="d-flex">
                            {% for skill in monster.skills.all %}
                                <div class="monster-skill-thumb pull-left skill-popover" data-skill-id="{{ skill.pk }}" title="{{ skill.name }}" data-placement="top">
                                    <img src="{{ img_url_prefix }}skills/{{ skill.icon_filename }}" loading="lazy" />
                                    {% if skill.max_level > 1 %}<span class="image-plus image-plus-right">{{ skill.max_level }}</span>{% endif %}
                                </div>
                            {% endfor %}
                            </div>
                        </td>
                        <td>
                            {% if monster.skill_ups_to_max > 0 %}
                            <div class="monster-image">
                                <img src="{{ img_url_prefix }}monsters/devilmon_dark.png" class="monster-thumb" loading="lazy" />
                                <span class="image-plus image-plus-main">{{ monster.skill_ups_to_max }}</span>
                            </div>
                            {% else %}
                            <span class="glyphicon glyphicon-ok-circle text-success"></span>
                            {% endif %}
                        </td>
                        <td>{{ monster.max_lvl_hp }}</td>
                        <td>{{ monster.max_lvl_defense }}</td>
                        <td>{{ monster.max_lvl_attack }}</td>
                        <td>{{ monster.speed }}</td>
                        <td>{{ monster.crit_rate }}%</td>
                        <td>{{ monster.crit_damage }}%</td>
                        <td>{{ monster.resistance }}%</td>
                        <td>{{ monster.accuracy }}%</td>
                        <td class="monster-awaken-materials">
                            {% if monster.can_awaken and not monster.is_awakened %}
                                {% include 'bestiary/awakening_essences.html' with monster=monster only %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% elif init_load %}
            <div class="card-body"></div>
        {% else %}
        <div class="card-body">
            <div class="alert alert-warning">No results!</div>
        </div>
        {% endif %}
        <div class="card-footer">
            <div class="pagination float-right">
                <button class="page-item page-link border-0 pager-btn bg-light" {% if not monsters.has_previous %} disabled{% endif %} {% if monsters.has_previous %}data-page="{{ monsters.previous_page_number }}"{% endif %} aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </button>

                {% for page_num in page_range %}
                <button class="page-item page-link border-0 pager-btn bg-light{% if page_num == monsters.number %} active{% endif %}" data-page="{{ page_num }}" aria-label="Previous">
                    {{ page_num }}
                </button>
                {% endfor %}

                <button class="page-item page-link border-0 pager-btn bg-light" {% if not monsters.has_next %}disabled{% endif %} {% if monsters.has_next %}data-page="{{ monsters.next_page_number }}"{% endif %} aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>