<div class="row">
    <div class="col-lg-12">
        {% if request.user.is_authenticated %}
            <button class="btn btn-default btn-xs monster-add" data-monster="{{ mon_data.mon.pk }}" data-stars="{{ mon_data.mon.mon_data_stars }}">
                <span class="glyphicon glyphicon-plus"></span> Add to Collection
            </button>
        {% endif %}
        <div class="pull-right">
            {% for monster in mon_data.family %}
            {% if monster %}
            <a class="monster-image" href="{% url 'bestiary:detail' monster_slug=monster.bestiary_slug %}">
                <img src="{{ img_url_prefix }}monsters/{{ monster.image_filename }}" class="monster-thumb"/>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {% include 'bestiary/monster_info.html' with mon_data=mon_data only %}
    </div>
    <div class="col-lg-6">
        {% include 'bestiary/skills.html' with mon_data=mon_data only %}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">
        {% include 'bestiary/stat_table.html' with mon_data=mon_data only %}
    </div>
</div>