{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">General Information</p>
    </div>
    <table class="table table-condensed table-bordered">
        <tbody>
        <tr>
            <td>Awakening Bonus:</td>
            <td>{{ mon_data.mon.awaken_bonus }}</td>
        </tr>
        {% with sources=mon_data.mon.source.all %}
        {% if sources|length %}
        <tr>
            <td>Sources:</td>
            <td class="monster-sources">
                {% for source in sources %}
                    {% if source.icon_filename %}
                    <img src="{{ img_url_prefix }}icons/{{ source.icon_filename }}"
                         class="monster-source" data-toggle="tooltip" data-placement="top" data-container="body" title="{{ source.name }}" />
                    {% else %}
                    <span class="monster-source"><span>{{ source }}</span></span>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endwith %}
        {% if mon_data.mon.can_awaken and not mon_data.mon.is_awakened %}
        <tr>
            <td>Awakening Essences:</td>
            <td class="monster-awaken-materials">
                {% include 'bestiary/awakening_essences.html' with monster=mon_data.mon only %}
            </td>
        </tr>
        {% endif %}
        {% with fusion_set=mon_data.mon.fusion_set.all %}
            {% if fusion_set|length %}
                <tr>
                    <td>Fusion Ingredient For:</td>
                    <td class="monster-awaken-materials">
                        {% for fusion in fusion_set %}
                        <div class="monster-image">
                            <img src="{{ img_url_prefix }}monsters/{{ fusion.product.image_filename }}" class="monster-thumb"/>
                            <span>
                                {% for x in fusion.product.base_stars|get_range %}
                                    {% if fusion.product.is_awakened %}
                                        <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% elif fusion.product.can_awaken %}
                                        <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% else %}
                                        <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endwith %}

        {% if mon_data.mon.skill_ups_to_max %}
        <tr>
            <td>Skill-ups to Max</td>
            <td class="monster-awaken-materials">
                <div class="monster-image">
                    <img src="{{ img_url_prefix }}monsters/devilmon_dark.png" class="monster-thumb"/>
                    <span class="image-plus image-plus-main">{{ mon_data.mon.skill_ups_to_max }}</span>
                </div>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>Resources:</td>
            <td>
                <ul class="list-inline">
                    {% if mon_data.mon.wikia_url %}<li><a href="{{ mon_data.mon.wikia_url }}" target="_blank"><span class="glyphicon glyphicon-link"></span> Wikia</a></li>{% endif %}
                    {% if mon_data.mon.summonerswar_co_url %}<li><a href="{{ mon_data.mon.summonerswar_co_url }}" target="_blank"><span class="glyphicon glyphicon-link"></span> summonerswar.co</a></li>{% endif %}
                    {% if mon_data.mon.summonerswarmonsters_url %}<li><a href="{{ mon_data.mon.summonerswarmonsters_url }}" target="_blank"><span class="glyphicon glyphicon-link"></span>  summonerswarmonsters.com</a></li>{% endif %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>