{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

<div class="card border-0 shadow mb-3">
    <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %}">
        <span class="card-title"><strong><img src="{{ img_url_prefix }}elements/{{ monster.element }}.png" style="height:1em" loading="lazy" /> {{ monster.name }}</strong> - <small>{{ monster.get_archetype_display }}</small></span>
        {% if request.user.is_superuser %}
            <a href="{% url 'admin:bestiary_monster_change' object_id=monster.pk %}" class="btn btn-sm edit-skill float-right" target="_blank"><i class="fas fa-edit"></i></a>
        {% endif %}
    </div>
    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
        <div class="monster-box">
            {% include 'bestiary/monster/portrait_large.html' with monster=monster only %}

            {% if monster.obtainable %}
            <div class="monster-box-actions ">
                <button class="btn btn-link btn-sm monster-add text-decoration-none" data-monster="{{ monster.pk }}" data-stars="{{ monster.stars }}">
                    <small><i class="fas fa-plus"></i> Collection</small>
                </button>
            </div>
            {% endif %}
        </div>

        <div class="card border-0 mb-3 ps-2 {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
            {% if monster.transforms_to %}
            <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} d-flex justify-content-between flex-wrap">
                <div>Transforms Into</div>
                <a href="{% url 'bestiary:detail' monster_slug=monster.transforms_to.bestiary_slug  %}">
                    {{ monster.transforms_to }} <img class="monster-thumb" src="{{ img_url_prefix }}monsters/{{ monster.transforms_to.image_filename }}" />
                </a>
            </div>
            {% endif %}

            {% if monster.awaken_bonus %}
            <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} card-bestiary-monster-details">
                <div>Awakening Bonus</div>
                {{ monster.awaken_bonus }}
            </div>
            {% endif %}

            {% with sources=monster.source.all %}
            {% if sources|length %}
            <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} card-bestiary-monster-details">
                <div>Sources</div>
                <div>
                    {% for source in sources %}
                        {% if source.icon_filename %}
                        <img src="{{ img_url_prefix }}icons/{{ source.icon_filename }}" loading="lazy" 
                                class="monster-source" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-container="body" title="{{ source.name }}" />
                        {% else %}
                        <span class="monster-source"><span>{{ source }}</span></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}

            {% if monster.can_awaken and not monster.is_awakened %}
            <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} card-bestiary-monster-details">
                <div>Awakening Essences</div>
                <div>{% include 'bestiary/awakening_essences.html' %}</div>
            </div>
            {% endif %}
            {% with fusion_set=monster.fusion_ingredient_for.all %}
            {% if fusion_set|length %}
            <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} card-bestiary-monster-details">
                <div>Fusion Ingredient For</div>
                <div>
                    {% for fusion in fusion_set %}
                        <a href="{% url 'bestiary:detail' monster_slug=fusion.product.bestiary_slug %}">
                            {% include 'bestiary/monster/portrait_small.html' with monster=fusion.product only %}
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
                
            {% if monster.fusion %}
            <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} card-bestiary-monster-details">
                <div>Fusion Product Of</div>
                <div>
                    {% for fusion_from in monster.fusion.ingredients.all %}
                        <a href="{% url 'bestiary:detail' monster_slug=fusion_from.bestiary_slug %}">
                            {% include 'bestiary/monster/portrait_small.html' with monster=fusion_from only %}
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if monster.skill_ups_to_max %}
            <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} card-bestiary-monster-details">
                <div>Skill-ups to Max</div>
                <div class="monster-image">
                    <img src="{{ img_url_prefix }}monsters/devilmon_dark.png" class="monster-thumb" loading="lazy" />
                    <span class="image-plus image-plus-main">{{ monster.skill_ups_to_max }}</span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>