{% load staticfiles %}
{% load utils %}
{% static 'herders/images/' as img_url_prefix %}

<div class="monster-box">
    <div class="monster-box-thumb">
        <img src="{{ img_url_prefix }}monsters/{{ mon_data.mon.image_filename }}"/>
        <span>
            {% for x in mon_data.mon.base_stars|get_range %}
                {% if mon_data.mon.is_awakened %}
                    <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                {% elif mon_data.mon.can_awaken %}
                    <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                {% else %}
                    <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                {% endif %}
            {% endfor %}
        </span>
    </div>
    {% if mon_data.mon.obtainable %}
    <div class="monster-box-actions">
        <button class="btn btn-link btn-xs monster-add" data-monster="{{ mon_data.mon.pk }}" data-stars="{{ mon_data.mon.mon_data_stars }}">
            <span class="glyphicon glyphicon-plus"></span> Collection
        </button>
    </div>
    {% endif %}
</div>
<div class="bestiary-name">
    <h1>{{ mon_data.mon.name }} <small><img src="{{ img_url_prefix }}elements/{{ mon_data.mon.element }}.png" style="height:1em"/> {{ mon_data.mon.get_archetype_display }}</small></h1>
</div>

<div class="clearfix"></div>

<div class="row ">
    <div class="col-lg-6">
        {% include 'bestiary/monster_info.html' with mon_data=mon_data only %}
        {% include 'bestiary/skills.html' with mon_data=mon_data only %}
    </div>
    <div class="col-lg-6">
        {% include 'bestiary/stat_table.html' with mon_data=mon_data only %}
        <div class="bestiary-stat-chart" data-monster="{{ mon_data.mon.pk }}" style="width:100%; height:500px"></div>
    </div>
</div>