{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<div class="row condensed">
    {% if monster.leader_skill %}
    <div class="col-lg-12">
        <div class="card border-0 shadow mb-3">
            <div class="card-body d-flex">
                <div class="monster-skill-thumb float-left"><img src="{{ img_url_prefix }}skills/leader/{{ monster.leader_skill.icon_filename }}" loading="lazy" /></div>
                <div>
                    <h4 class="mb-0">Leader Skill</h4>
                    <div>
                        {{ monster.leader_skill.skill_string }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% for skill in monster.skills.all %}
    <div class="{% if monster.skills.count < 4 %}col-lg-4{% else %}col-lg-3{% endif %}">
        <div class="card border-0 shadow mb-3">
            <div class="card-header bg-white">
                {% if request.user.is_superuser %}
                    <a href="{% url 'admin:bestiary_skill_change' object_id=skill.pk %}" class="btn btn-sm edit-skill float-right" target="_blank"><i class="fas fa-edit"></i></span></a>
                {% endif %}
                <p class="card-title"><strong>{{ skill.name }}</strong></p>
            </div>

            <div class="{% if skill.level_progress_description_list|length > 0 or skill.effect.all|length > 0 or skill.aoe or skill.multiplier_formula %}card-header{% else %}card-footer border-0{% endif %} bg-white">
                <div class="card-bestiary-monster-details">
                    <div class="monster-skill-thumb float-left">
                        <img src="{{ img_url_prefix }}skills/{{ skill.icon_filename }}" loading="lazy" />
                        <span class="image-plus image-plus-right">{{ skill.max_level }}</span>
                    </div>
                    <p>
                        {{ skill.description }}
                        {% if skill.cooltime %}
                            (Reusable in {{ skill.cooltime }} turn{{ skill.cooltime|pluralize }}).
                        {% endif %}
                    </p>
                </div>
            </div>

            {% if skill.level_progress_description_list|length > 0 %}
            <div class="{% if skill.effect.all|length > 0 or skill.aoe %}card-header{% else %}card-footer border-0{% endif %} bg-white">
                <strong class="fw-normal">Level-up Progress</strong>
                <ul class="list-unstyled">
                    {% for line in skill.level_progress_description_list %}
                        <li>{{ line }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if skill.effect.all|length > 0 or skill.aoe %}
            <div class="{% if skill.multiplier_formula %}card-header{% else %}card-footer border-0{% endif %} bg-white">
                <strong class="fw-normal">Skill effects</strong>
                <div class="d-flex flex-wrap">
                    {% if skill.aoe %}
                        <span class="skill-effect skill-effect-buff p-1 mb-1">
                            <span>AOE</span>
                        </span>
                    {% endif %}
                    {% for effect in skill.effect.all %}
                        {% if effect.icon_filename %}
                            <img src="{{ img_url_prefix }}buffs/{{ effect.icon_filename }}"  class="skill-effect float-left mb-1" loading="lazy" 
                                data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-container="body" title="{{ effect.name }}" data-bs-content="{{ effect.description }}"
                            />
                        {% else %}
                            <span class="skill-effect p-1 mb-1 {% if effect.is_buff %}skill-effect-buff{% else %}skill-effect-debuff{% endif %}" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-container="body" title="{{ effect.name }}" data-bs-content="{{ effect.description }}">
                                <span>{{ effect.name }}</span>
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if skill.multiplier_formula %}
            <div class="card-footer border-0 bg-white">
                <strong class="fw-normal">Multiplier Formula</strong>
                <p>{{ skill.multiplier_formula|safe }} {% if skill.hits > 1 %}x{{ skill.hits }}{% endif %}</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>