{% load utils %}

<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title"><strong>Stats</strong></p>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Grade</th>
                    {% for key,value in mon_data.stats.items %}
                        <th>
                            {{ key }}<span class="glyphicon glyphicon-star"></span>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        HP
                        {% if mon_data.stat_deltas.HP %}
                            {% if mon_data.stat_deltas.HP > 0 %}
                                <span class="text-success pull-right">+{{ mon_data.stat_deltas.HP }}%</span>
                            {% else %}
                                <span class="text-danger pull-right">{{ mon_data.stat_deltas.HP }}%</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    {% for grade,stats in mon_data.stats.items %}
                        <td>{{ stats.HP }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                        ATK
                        {% if mon_data.stat_deltas.ATK %}
                            {% if mon_data.stat_deltas.ATK > 0 %}
                                <span class="text-success pull-right">+{{ mon_data.stat_deltas.ATK }}%</span>
                            {% else %}
                                <span class="text-danger pull-right">{{ mon_data.stat_deltas.ATK }}%</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    {% for grade,stats in mon_data.stats.items %}
                        <td>{{ stats.ATK }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                        DEF
                        {% if mon_data.stat_deltas.DEF %}
                            {% if mon_data.stat_deltas.DEF > 0 %}
                                <span class="text-success pull-right">+{{ mon_data.stat_deltas.DEF }}%</span>
                            {% else %}
                                <span class="text-danger pull-right">{{ mon_data.stat_deltas.DEF }}%</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    {% for grade,stats in mon_data.stats.items %}
                        <td>{{ stats.DEF }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                        SPD
                        {% if mon_data.stat_deltas.SPD %}
                            {% if mon_data.stat_deltas.SPD > 0 %}
                                <span class="text-success pull-right">+{{ mon_data.stat_deltas.SPD }}</span>
                            {% else %}
                                <span class="text-danger pull-right">{{ mon_data.stat_deltas.SPD }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td colspan="{{ 6|subtract:mon_data.mon.base_stars|add:2 }}">{{ mon_data.mon.speed }}</td>
                </tr>
                <tr>
                    <td>
                        CRIT Rate
                        {% if mon_data.stat_deltas.CRIT_Rate %}
                            {% if mon_data.stat_deltas.CRIT_Rate > 0 %}
                                <span class="text-success pull-right">+{{ mon_data.stat_deltas.CRIT_Rate }}%</span>
                            {% else %}
                                <span class="text-danger pull-right">{{ mon_data.stat_deltas.CRIT_Rate }}%</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td colspan="{{ 6|subtract:mon_data.mon.base_stars|add:2 }}">{{ mon_data.mon.crit_rate }}%</td>
                </tr>
                <tr>
                    <td>
                        CRIT DMG
                        {% if mon_data.stat_deltas.CRIT_DMG %}
                            {% if mon_data.stat_deltas.CRIT_DMG > 0 %}
                                <span class="text-success pull-right">+{{ mon_data.stat_deltas.CRIT_DMG }}%</span>
                            {% else %}
                                <span class="text-danger pull-right">{{ mon_data.stat_deltas.CRIT_DMG }}%</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td colspan="{{ 6|subtract:mon_data.mon.base_stars|add:2 }}">{{ mon_data.mon.crit_damage }}%</td>
                </tr>
                <tr>
                    <td>
                        Accuracy
                        {% if mon_data.stat_deltas.Accuracy %}
                            {% if mon_data.stat_deltas.Accuracy > 0 %}
                                <span class="text-success pull-right">+{{ mon_data.stat_deltas.Accuracy }}%</span>
                            {% else %}
                                <span class="text-danger pull-right">{{ mon_data.stat_deltas.Accuracy }}%</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td colspan="{{ 6|subtract:mon_data.mon.base_stars|add:2 }}">{{ mon_data.mon.accuracy }}%</td>
                </tr>
                <tr>
                    <td>
                        Resistance
                        {% if mon_data.stat_deltas.Resistance %}
                            {% if mon_data.stat_deltas.Resistance > 0 %}
                                <span class="text-success pull-right">+{{ mon_data.stat_deltas.Resistance }}%</span>
                            {% else %}
                                <span class="text-danger pull-right">{ mon_data.stat_deltas.Resistance }}%</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td colspan="{{ 6|subtract:mon_data.mon.base_stars|add:2 }}">{{ mon_data.mon.resistance }}%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>