{% extends 'planner/base.html' %}
{% load staticfiles crispy_forms_tags humanize %}

{% block planner %}
    <div id="planner-teams" class="container">
        <div class="table-responsive">
        <table id="monster-table" class="table table-hover table-condensed monster-table tablesorter tablesorter-default hasSaveSort hasStickyHeaders" id="inventory-container">
            <tr class="tablesorter-headerRow" role="row">
                <th class="tablesorter-header sorter-false tablesorter-headerUnSorted">
                    <div class="tablesorter-header-inner">Name</div>
                </th>
                <th class="tablesorter-header sorter-false tablesorter-headerUnSorted">
                    <div class="tablesorter-header-inner">Dungeon</div>
                </th>
                <th class="tablesorter-header sorter-false tablesorter-headerUnSorted"># Mons</th>
                <th class="tablesorter-header sorter-false tablesorter-headerUnSorted"></th>
                <th class="tablesorter-header sorter-false tablesorter-headerUnSorted"></th>
                <th class="tablesorter-header sorter-false tablesorter-headerUnSorted"></th>
            </tr>
            <tr v-for="team of teams" class="inventory-element" role="row">
                <td v-text="team.name"></td>
                <td><span v-if="team.dungeon" v-text="team.dungeon.name"/></td>
                <td v-text="team.monsters.length"></td>
                <td class="monster-image"><button class="btn btn-primary btn btn-primary" @click="gotoTeam(team.id)">Edit</button></td>
                <td><button class="btn btn-primary btn btn-primary" @click="deleteTeam(team.id)">X</button></td>
            </tr>
        </table>
        </div>
        <hr/>
        <h3>Add Team</h3>
        <form>
            <table>
                <div class="form-group">
                    <label for="name" class="control-label requiredField">Team Name:</label>
                    <input id="name" type="text" class="textinput textInput form-control" v-model="add_name">
                </div>
                <div class="form-group">
                    <label for="dungeon" class="control-label requiredField">Dungeon:</label>
                    <select id="dungeon" v-model="add_dungeon" class="select form-control">
                        <option v-for="option in dungeons" v-bind:value="option.id" v-text="option.name">Loading...</option>
                    </select>
                </div>
                <tr><td colspan="2"><button class="btn btn-primary btn btn-primary" @click.stop.prevent="addTeam">Add Team</button></td></tr>
            </table>
        </form>
    </div>
{% endblock planner %}

{% block javascript %}
    <!-- development version, includes helpful console warnings -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'planner/js/APIService.js' %}"></script>
    <script>
        const api_team = new APIService('{% url 'planner-team-list' %}', '{{ csrf_token }}');
        const api_dungeon = new APIService('{% url 'dungeon-list' %}', '{{ csrf_token }}');
        const api_composite = new APIService('{% url 'planner-team-list' %}composite/', '{{ csrf_token }}');

        const app = new Vue({
            el: "#planner-teams",
            data: {
                teams: [],
                add_name: null,
                add_dungeon: null,
                composite_name: null,
                composite_ids: null,
                dungeons: [],
            },
            methods: {
                gotoTeam(pk) {
                    window.location = api_team.url(pk);
                },
                loadTeams() {
                    api_team.list().then((data) => {
                        this.teams = data;
                    });
                },
                addTeam() {
                    api_team.create({
                        name: this.add_name,
                        dungeon: {id: this.add_dungeon},
                        monsters: [],
                    }).then(() => {
                        this.loadTeams();
                    });
                },
                deleteTeam(pk) {
                    api_team.remove(pk).then(() => {
                        this.loadTeams();
                    })
                },
                loadDungeons() {
                    api_dungeon.list().then((data) => {
                        this.dungeons = data;
                    });
                },
                makeComposite() {
                    api_composite.create({
                        name: this.composite_name,
                        teams: this.composite_ids,
                    }).then(() => {
                        this.loadTeams();
                    });
                },
            },
            mounted() {
                this.loadDungeons();
                this.loadTeams();
            },
        });
    </script>
{% endblock javascript %}
