{% extends 'base.html' %}
{% load staticfiles crispy_forms_tags humanize %}

{% block subnav %}
    {% static 'herders/images/' as img_url_prefix %}

    <div class="navbar navbar-default navmenu-collapsed">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navmenu navmenu-default subnavmenu-fixed-left offcanvas-sm">
        {% if is_owner %}
            <p class="navmenu-brand">My Profile</p>
        {% else %}
            <p class="navmenu-brand">
                {{ profile_name }}'s Profile
                {% if user.is_authenticated %}
                    {% if summoner not in user.summoner.following.all %}
                        <small><a href="{% url 'herders:profile_follow_add' profile_name=user.username follow_username=summoner.user.username%}?next={{ request.path }}" class="pull-right text-success"><span class="fa fa-user"></span> Follow</a></small>
                    {% else %}
                        <small><a href="{% url 'herders:profile_follow_remove' profile_name=user.username follow_username=summoner.user.username%}?next={{ request.path }}" class="pull-right text-danger"><span class="glyphicon glyphicon-remove-circle"></span> Unfollow</a></small>
                    {% endif %}
                {% endif %}
            </p>
        {% endif %}

        <p class="navmenu-text">Last updated {{ summoner.last_update|naturalday }}</p>

        <ul class="nav navmenu-nav">
            <li {% if view == 'profile' %}class="dropdown open"{% endif %}>
                 <a href="{% url 'herders:profile_default' profile_name=profile_name %}">
                    <img src="{% static 'herders/images/icons/monster.png' %}" /> Monsters
                </a>
                {% block monster_menu %}{% endblock monster_menu %}
            </li>
            <li {% if view == 'runes' and is_owner %}class="dropdown open"{% endif %}>
                <a href="{% url 'herders:runes' profile_name=profile_name %}">
                    <img src="{% static 'herders/images/icons/rune.png' %}" /> Runes
                </a>
                {% block rune_menu %}{% endblock rune_menu %}
            </li>
            <li {% if view == 'fusion' %}class="dropdown open"{% endif %}>
                <a href="{% url 'herders:fusion' profile_name=profile_name %}">
                    <img src="{% static 'herders/images/icons/fusion.png' %}" /> Fusion
                </a>
                {% block fusion_menu %}{% endblock fusion_menu %}
            </li>
            <li {% if view == 'teams' and is_owner %}class="dropdown open"{% endif %}>
                <a href="{% url 'herders:teams' profile_name=profile_name %}">
                    <i class="fa fa-users"></i> Teams
                </a>
                {% block team_menu %}{% endblock team_menu %}
            </li>
            {% if is_owner %}
                <li>
                    <a href="{% url 'herders:storage' profile_name=profile_name %}">
                        <span class="fa fa-archive"></span> Material Storage
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'herders:buildings' profile_name=profile_name %}">
                    <span class="fa fa-building"></span> Buildings
                </a>
            </li>
            {% if is_owner %}
                <li {% if view == 'data_log' %}class="dropdown open"{% endif %}>
                    <a href="{% url 'herders:data_log_dashboard' profile_name=profile_name %}">
                        <span class="fa fa-database"></span> Data Logs
                    </a>
                    {% block data_log_menu %}{% endblock data_log_menu %}
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock subnav %}

{% block content %}
    <div class="navmenu-content">
        <div class="profile">
            {% block profile %}{% endblock profile %}
        </div>
    </div>
{% endblock content %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static "herders/js/profile.js" %}"></script>
{% endblock javascript_compressed %}
