{% load staticfiles utils %}
{% static 'herders/images/' as img_url_prefix %}

<span>
    {% for x in instance.stars|get_range %}
        {% if instance.monster.can_awaken %}
            {% if instance.monster.awaken_level == instance.monster.AWAKEN_LEVEL_AWAKENED %}
                <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" alt="star" loading="lazy" />
            {% elif instance.monster.awaken_level == instance.monster.AWAKEN_LEVEL_SECOND %}
                <img src="{{ img_url_prefix }}stars/star-awakened2.png" class="monster-star monster-star-{{ forloop.counter }}" alt="star" loading="lazy" />
            {% else %}
                <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" alt="star" loading="lazy" />
            {% endif %}
        {% else %}
            {% if instance.monster.awaken_level == instance.monster.AWAKEN_LEVEL_INCOMPLETE %}
                <img src="{{ img_url_prefix }}stars/star-incomplete.png" class="monster-star monster-star-{{ forloop.counter }}" alt="star" loading="lazy" />
            {% else %}
                <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" alt="star" loading="lazy" />
            {% endif %}
        {% endif %}
    {% endfor %}
</span>
