{% extends 'herders/profile/profile_base.html' %}
{% load staticfiles %}
{% load utils %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
{% if is_owner %}
        {{ instance.monster }} Lv. {{ instance.level }} - {{ block.super }}
    {% else %}
        {{ profile_name }}'s {{ instance.monster }} Lv. {{ instance.level }} - {{ block.super }}
    {% endif %}
{% endblock %}

{% block subnav %}
    {% if is_owner %}
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-sub">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-subnav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-subnav">
                <div class="btn-group">
                    <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#editMonsterModal">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#powerUpMonsterModal">
                        <span class="glyphicon glyphicon-arrow-up"></span> Power Up
                    </button>
                    {% if not instance.monster.is_awakened and instance.monster.can_awaken %}
                    <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#awakenMonsterModal">
                        <span class="glyphicon glyphicon-star" style="color:purple"></span> Awaken
                    </button>
                    {% endif %}
                    <a href="{% url 'herders:monster_instance_duplicate' profile_name=profile_name instance_id=instance.pk.hex %}?next={{ return_path }}" class="btn btn-default navbar-btn">
                        <span class="glyphicon glyphicon-copy"></span> Copy
                    </a>
                </div>

                <button type="button" class="btn btn-danger navbar-btn pull-right" data-toggle="modal" data-target="#addMonsterModal">
                    <span class="glyphicon glyphicon-trash"></span>
                     Delete
                </button>
            </div>
        </div>
    </nav>
    {% endif %}
{% endblock subnav %}

{% block profile %}
    {% static 'herders/images/' as img_url_prefix %}

    {# Form modals #}
    {% if is_owner and edit_form %}
        {# Edit monster modal #}
        <div class="modal fade" id="editMonsterModal" tabindex="-1" role="dialog" aria-labelledby="modalEditMonsterTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalEditMonsterTitle">Edit {{ instance.monster }}</h4>
                    </div>
                    <div class="modal-body">
                        {% crispy edit_form %}
                    </div>
                </div>
            </div>
        </div>

        {# Awaken monster modal #}
        <div class="modal fade" id="awakenMonsterModal" tabindex="-1" role="dialog" aria-labelledby="modalAwakenMonsterTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalAwakenMonsterTitle">Awaken {{ instance.monster }} to {{ instance.monster.awakens_to }}</h4>
                    </div>
                    <div class="modal-body">
                        {% with mats=instance.monster.get_awakening_materials %}
                            <div>
                                <h3>Essences Required:</h3>
                                <div class="monster-awaken-materials">
                                    {% for element,essences in mats.iteritems %}
                                        {% for size,count in essences.iteritems %}
                                            {% include 'herders/essence_fragment.html' with element=element size=size count=count only %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div>
                                <h3>Essences Available:</h3>
                                <div class="monster-awaken-materials">
                                {% for element, essences in available_essences.iteritems %}
                                    {% for size, count in essences.iteritems %}
                                        <div>
                                            <img src="{{ img_url_prefix }}essences/{{ element }}_{{ size }}.png" style="
                                            {% if count.sufficient %}
                                                border: 5px solid green
                                            {% else %}
                                                border: 5px solid red
                                            {% endif %}
                                            "/>
                                            <span class="image-plus image-plus-right">{{ count.qty }}</span>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                    <div class="modal-body">
                        {% crispy awaken_form %}
                    </div>
                </div>
            </div>
        </div>


        {# Power-up monster modal #}
        <div class="modal fade" id="powerUpMonsterModal" tabindex="-1" role="dialog" aria-labelledby="modalPowerUpMonsterTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalEditMonsterTitle">Power Up {{ instance.monster }}</h4>
                    </div>
                    <form method="post" action="{{ power_up_form_action }}">
                        <div class="modal-body">
                            {{ power_up_form.management_form|crispy }}
                            {% for form in power_up_form %}
                                {% crispy form %}
                            {% endfor %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="ignore_errors" id="id-ignore-errors" {% if ignore_evolve_checked %}checked="checked"{% endif %}> Disable evolution error checking.
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-actions">
                                <input type="submit" name="power_up" value="Power Up" class="btn btn-primary" id="submit-id-power-up"/>
                                {% if monster.stars < 6 %}
                                    <input type="submit" name="evolve" value="Evolve" class="btn btn-primary" id="submit-id-evolve"/>
                                {% else %}
                                    <button class="btn btn-primary disabled">Evolve</button>
                                {% endif %}
                                <p></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {# Monster data display #}
    <div class="bestiary-detail">
        <div class="col-lg-3 no-left-gutter">
            <table class="table table-condensed table-bordered">
                <thead>
                <tr>
                    <th>Stat</th>
                    <th>Base</th>
                    <th>Rune</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>HP</td>
                    <td>{{ instance.base_hp }}</td>
                    <td>{% if instance.rune_hp > 0 %}<span class="text-success">+{{ instance.rune_hp }}</span>{% else %}{{ instance.rune_hp }}{% endif %}</td>
                    <td>{{ instance.hp }}</td>
                </tr>
                <tr>
                    <td>ATK</td>
                    <td>{{ instance.base_attack }}</td>
                    <td>{% if instance.rune_attack > 0 %}<span class="text-success">+{{ instance.rune_attack }}</span>{% else %}{{ instance.rune_attack }}{% endif %}</td>
                    <td>{{ instance.attack }}</td>
                </tr>
                <tr>
                    <td>DEF</td>
                    <td>{{ instance.base_defense }}</td>
                    <td>{% if instance.rune_defense > 0 %}<span class="text-success">+{{ instance.rune_defense }}</span>{% else %}{{ instance.rune_defense }}{% endif %}</td>
                    <td>{{ instance.defense }}</td>
                </tr>
                <tr>
                    <td>SPD</td>
                    <td>{{ instance.base_speed }}</td>
                    <td>{% if instance.rune_speed > 0 %}<span class="text-success">+{{ instance.rune_speed }}</span>{% else %}{{ instance.rune_speed }}{% endif %}</td>
                    <td>{{ instance.speed }}</td>
                </tr>
                <tr>
                    <td>CRI Rate</td>
                    <td>{{ instance.base_crit_rate }}</td>
                    <td>{% if instance.rune_crit_rate > 0 %}<span class="text-success">+{{ instance.rune_crit_rate }}</span>{% else %}{{ instance.rune_crit_rate }}{% endif %}</td>
                    <td>{{ instance.crit_rate }}</td>
                </tr>
                <tr>
                    <td>CRI Dmg</td>
                    <td>{{ instance.base_crit_damage }}</td>
                    <td>{% if instance.rune_crit_damage > 0 %}<span class="text-success">+{{ instance.rune_crit_damage }}</span>{% else %}{{ instance.rune_crit_damage }}{% endif %}</td>
                    <td>{{ instance.crit_damage }}</td>
                </tr>
                <tr>
                    <td>Resistance</td>
                    <td>{{ instance.base_resistance }}</td>
                    <td>{% if instance.rune_resistance > 0 %}<span class="text-success">+{{ instance.rune_resistance }}</span>{% else %}{{ instance.rune_resistance }}{% endif %}</td>
                    <td>{{ instance.resistance }}</td>
                </tr>
                <tr>
                    <td>Accuracy</td>
                    <td>{{ instance.base_accuracy }}</td>
                    <td>{% if instance.rune_accuracy > 0 %}<span class="text-success">+{{ instance.rune_accuracy }}</span>{% else %}{{ instance.rune_accuracy }}{% endif %}</td>
                    <td>{{ instance.accuracy }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-9 no-left-gutter">
            {% if instance.monster.leader_skill %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="monster-skill-thumb pull-left"><img src="{{ img_url_prefix }}skills/leader/{{ instance.monster.leader_skill.icon_filename }}" /></div>
                    <h4 class="list-group-item-heading">Leader Skill</h4>
                    <div class="list-group-item-text">
                        {{ instance.monster.leader_skill.skill_string }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endif %}

            {% for skill in skills %}
            <div class="{% if instance.monster.skills.count < 4 %}col-lg-4{% else %}col-lg-3{% endif %} condensed">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title"><strong>{{ skill.skill.name }}</strong> {% if skill.skill.passive %}(Passive){% endif %}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="monster-skill-thumb pull-left">
                                <img src="{{ img_url_prefix }}skills/{{ skill.skill.icon_filename }}" />
                                <span class="image-plus image-plus-right">{{ skill.level }}/{{ skill.skill.max_level }}</span>
                            </div>
                            <p>{{ skill.skill.description }}</p>
                            <div class="clearfix"></div>
                        </li>
                        {% if skill.skill.level_progress_description_list|length > 0%}
                        <li class="list-group-item">
                            <p class="list-group-item-heading"><strong>Level-up Progress:</strong></p>
                            <ul class="list-unstyled">
                            {% for line in skill.skill.level_progress_description_list %}
                                <li>{% if forloop.counter >= skill.level %}<span class="text-muted">{% else %}<span>{% endif %}{{ line }}</span></li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if skill.skill.skill_effect.all|length > 0 %}
                        <li class="list-group-item">
                            <p class="list-group-item-heading"><strong>Skill Effects:</strong></p>
                            <p>
                            {% for effect in skill.skill.skill_effect.all %}
                                {% if effect.icon_filename %}
                                <img src="{{ img_url_prefix }}buffs/{{ effect.icon_filename }}"  class="skill-effect pull-left"
                                        data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}"
                                        />
                                {% else %}
                                    <span class="skill-effect {% if effect.is_buff %}skill-effect-buff{% else %}skill-effect-debuff{% endif %}" data-toggle="popover" data-trigger="hover" data-placement="top" data-container="body" title="{{ effect.name }}" data-content="{{ effect.description }}">
                                        <span>{{ effect.name }}</span>
                                    </span>
                                {% endif %}
                            {% endfor %}
                            </p>
                            <div class="clearfix"></div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>

    {# Portrait and info #}
    <div class="bestiary-portraits">
        <div class="list-group">
            <div class="list-group-item">
                <div class="monster-box">
                    <span>
                        <img src="{{ img_url_prefix }}monsters/{{ instance.monster.image_filename }}"/>
                        {% for x in instance.stars|get_range %}
                            {% if instance.monster.is_awakened %}
                                <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                            {% elif base_monster.can_awaken %}
                                <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                            {% else %}
                                <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                            {% endif %}
                        {% endfor %}
                    </span>
                    <span class="image-plus image-plus-left">{{ instance.monster.name }}</span>
                    <span class="image-plus image-plus-right">{{ instance.level }}</span>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="list-group-item">
                <h4 class="list-group-item-heading">Element</h4>
                <img height="30px" width="30px" src="{{ img_url_prefix }}elements/{{ instance.monster.element }}.png" alt="{{ instance.monster.element }}" />
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">Type</h4>
                {{ instance.monster.get_archetype_display }}
            </div>
            {% if instance.fodder %}
            <div class="list-group-item">
                <h4 class="list-group-item-heading">Fodder</h4>
            </div>
            {% endif %}
            {% if instance.in_storage %}
            <div class="list-group-item">
                <h4 class="list-group-item-heading">Storage</h4>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="clearfix"></div>
{% endblock profile %}
