{% extends 'herders/profile/profile_base.html' %}
{% load staticfiles %}
{% load utils %}

{% block title %}
    {% if is_owner %}
        My Monsters - {{ block.super }}
    {% else %}
        {{ profile_name }}'s Monsters - {{ block.super }}
    {% endif %}
{% endblock title %}

{% block subnav %}
    {% if is_owner %}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-sub">
            <div class="container-fluid">
                <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#addMonsterModal">
                    <span class="glyphicon glyphicon-plus"></span>
                     Add Monster
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Quick Fodder <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{% url 'herders:monster_instance_quick_add' profile_name=profile_name monster_id=799 stars=2 level=20 %}{% if return_path %}?next={{ return_path }}{% endif %}">
                                Rainbowmon 2<span class="glyphicon glyphicon-star"></span> Lvl. MAX
                            </a>
                            <a href="{% url 'herders:monster_instance_quick_add' profile_name=profile_name monster_id=799 stars=3 level=25 %}{% if return_path %}?next={{ return_path }}{% endif %}">
                                Rainbowmon 3<span class="glyphicon glyphicon-star"></span> Lvl. MAX
                            </a>
                            <a href="{% url 'herders:monster_instance_quick_add' profile_name=profile_name monster_id=799 stars=4 level=30 %}{% if return_path %}?next={{ return_path }}{% endif %}">
                                Rainbowmon 4<span class="glyphicon glyphicon-star"></span> Lvl. MAX
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    {% endif %}
{% endblock subnav %}

{% block profile %}
    {% static 'herders/images/' as img_url_prefix %}

    {% if monster_stable %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group">
                    <a role="button" href="{% url 'herders:profile' profile_name=profile_name view_mode='box' %}" class="btn btn-default navbar-btn">
                        <span class="glyphicon glyphicon-th"></span> Box View
                    </a>
                </div>
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-default reset">Reset Filters</button>
                    <div class="btn-group element-filters">
                        <button type="button" class="btn btn-default filter" data-filter-column="4" data-filter-text="fire"><img src="{{ img_url_prefix }}elements/fire.png" /></button>
                        <button type="button" class="btn btn-default filter" data-filter-column="4" data-filter-text="water"><img src="{{ img_url_prefix }}elements/water.png" /></button>
                        <button type="button" class="btn btn-default filter" data-filter-column="4" data-filter-text="wind"><img src="{{ img_url_prefix }}elements/wind.png" /></button>
                        <button type="button" class="btn btn-default filter" data-filter-column="4" data-filter-text="light"><img src="{{ img_url_prefix }}elements/light.png" /></button>
                        <button type="button" class="btn btn-default filter" data-filter-column="4" data-filter-text="dark"><img src="{{ img_url_prefix }}elements/dark.png" /></button>
                    </div>
                    <div class="btn-group archetype-filters">
                        <button type="button" class="btn btn-default filter" data-filter-column="5" data-filter-text="Attack">ATK</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="5" data-filter-text="Defense">DEF</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="5" data-filter-text="Hp">HP</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="5" data-filter-text="Support">SUP</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="5" data-filter-text="Material">MAT</button>
                    </div>
                    <div class="btn-group priority-filters">
                        <button type="button" class="btn btn-default filter" data-filter-column="6" data-filter-text="*High*">High</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="6" data-filter-text="*Medium*">Medium</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="6" data-filter-text="*Low*">Low</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="6" data-filter-text="*Done*">Done</button>
                    </div>
                    <div class="btn-group info-filters">
                        <button type="button" class="btn btn-default filter" data-filter-column="8" data-filter-text="0">
                            <img src="{{ img_url_prefix }}icons/fusion.png" />
                        </button>
                        <button type="button" class="btn btn-default filter" data-filter-column="9" data-filter-text="0">
                            <span class="fa fa-birthday-cake" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default filter" data-filter-column="10" data-filter-text="0">
                            <span class="fa fa-bed" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="monster_table" class="table table-hover table-condensed monster-table">
                    <thead>
                        <tr>
                            <th data-sorter="false"></th>
                            <th>Name</th>
                            <th class="monster-stars-column">Stars</th>
                            <th class="monster-level-column">Level</th>
                            <th class="monster-element">Element</th>
                            <th>Archetype</th>
                            <th>Priority</th>
                            <th>Notes</th>
                            <th class="monster-info-icons-column"><img src="{{ img_url_prefix }}icons/fusion.png"  data-toggle="tooltip" data-placement="top" title="Used in monster fusion"/></th>
                            <th class="monster-info-icons-column"><span class="fa fa-birthday-cake" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Marked as food"></span></th>
                            <th class="monster-info-icons-column"><span class="fa fa-bed" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="In Monster Storage"></span></th>
                            {% if is_owner %}
                                <th data-sorter="false"></th>
                                <th data-sorter="false"></th>
                                <th data-sorter="false"></th>
                                <th data-sorter="false"></th>
                                <th data-sorter="false"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in monster_stable %}
                            <tr>
                                <td class="monster-image">
                                    {% if is_owner %}
                                        <a href="{% url 'herders:monster_instance_edit' profile_name=user.username instance_id=instance.pk.hex %}?next={{ request.path }}">
                                    {% else %}
                                        <span>
                                    {% endif %}
                                        <img src="{{ img_url_prefix }}monsters/{{ instance.monster.image_filename }}" class="monster-thumb"/>
                                        <span>
                                            {% for x in instance.stars|get_range %}
                                                {% if instance.monster.is_awakened %}
                                                    <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                {% elif instance.monster.can_awaken %}
                                                    <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                {% else %}
                                                    <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                        <span class="image-plus image-plus-right">{{ instance.level }}</span>
                                    {% if is_owner %}
                                        </a>
                                    {% else %}
                                        </span>
                                    {% endif %}
                                </td>
                                <td>{{ instance.monster.name|title }}</td>
                                <td class="monster-stars-column">{{ instance.stars }}<span class="glyphicon glyphicon-star"></span></td>
                                <td>
                                    {{ instance.level }}
                                    {% if instance.is_max_level %}
                                        {% if instance.stars == 6 %}
                                            <span class="glyphicon glyphicon-ok-circle" style="color:darkgreen"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-upload" style="color:darkorange;" data-toggle="tooltip" data-placement="top" title="Ready for Evolution!"></span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="monster-element">
                                    <img src="{{ img_url_prefix }}elements/{{ instance.monster.element }}.png" />
                                    <span>{{ instance.monster.element }}</span>
                                </td>
                                <td>{{ instance.monster.get_archetype_display }}</td>
                                <td><span class="hidden">{{ instance.priority }}</span>{{ instance.get_priority_display }}</td>
                                <td>{{ instance.notes }}</td>
                                <td class="monster-info-icons-column">
                                    {% if instance.monster.fusion_food %}
                                        <img src="{{ img_url_prefix }}icons/fusion.png"  data-toggle="tooltip" data-placement="top" title="Used in monster fusion"/>
                                        <span class="hidden">0</span>
                                    {% else %}
                                        <span class="hidden">1</span>
                                    {% endif %}
                                </td>
                                <td class="monster-info-icons-column">
                                    {% if instance.fodder %}
                                        <span class="fa fa-birthday-cake" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Marked as food"></span>
                                        <span class="hidden">0</span>
                                    {% else %}
                                        <span class="hidden">1</span>
                                    {% endif %}
                                </td>
                                <td class="monster-info-icons-column">
                                    {% if instance.in_storage %}
                                        <span class="fa fa-bed" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="In Monster Storage"></span>
                                        <span class="hidden">0</span>
                                    {% else %}
                                        <span class="hidden">1</span>
                                    {% endif %}
                                </td>
                                {% if is_owner %}
                                    <td class="monster-actions-column">
                                        <a href="{% url 'herders:monster_instance_edit' profile_name=user.username instance_id=instance.pk.hex %}?next={{ return_path }}">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>
                                        </a>
                                    </td>
                                    <td class="monster-actions-column">
                                        <a href="{% url 'herders:monster_instance_power_up' profile_name=user.username instance_id=instance.pk.hex %}?next={{ return_path }}"><span class="glyphicon glyphicon-arrow-up" data-toggle="tooltip" data-placement="top" title="Power Up"></span></a>
                                    </td>
                                    <td class="monster-actions-column">
                                        <a href="{% url 'herders:monster_instance_duplicate' profile_name=user.username instance_id=instance.pk.hex %}?next={{ return_path }}" data-toggle="tooltip" data-placement="top" title="Copy"><span class="glyphicon glyphicon-copy" data-toggle="tooltip" data-placement="top" title="Copy"></span></a>
                                    </td>
                                    <td class="monster-actions-column">
                                        {% if instance.monster.can_awaken and not instance.monster.is_awakened %}
                                            <a href="{% url 'herders:monster_instance_awaken' profile_name=user.username instance_id=instance.pk.hex %}?next={{ return_path }}" data-toggle="tooltip" data-placement="top" title="Awaken"><span class="glyphicon glyphicon-star" style="color:purple"></span></a>
                                        {% endif %}
                                    </td>
                                    <td class="monster-actions-column">
                                        <a href="{% url 'herders:monster_instance_delete' profile_name=user.username instance_id=instance.pk.hex %}?next={{ return_path }}"><span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></span></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>No monsters in your profile.</p>
    {% endif %}
{% endblock profile %}