{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block title %}Power Up Monster - {{ block.super }}{% endblock title %}

{% block content %}
    {% static 'herders/images/' as img_url_prefix %}

    {% if validation_errors %}
        <div class="alert alert-danger" role="alert">
            Please fix the following errors:
            <ul>
                {% for error,error_string in validation_errors.iteritems %}
                <li>{{ error_string }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="row">
        <div class="monster-box">
            <div class="monster-box-thumb">
                <span>
                    <img src="{{ img_url_prefix }}monsters/{{ monster.monster.image_filename }}"/>
                    <span>
                        {% for x in monster.stars|get_range %}
                            {% if monster.monster.is_awakened %}
                                <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                            {% elif monster.monster.can_awaken %}
                                <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                            {% else %}
                                <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                            {% endif %}
                        {% endfor %}
                    </span>
                    {% if monster.monster.fusion_food %}
                        <img class="image-plus-icon" src="{{ img_url_prefix }}icons/fusion.png" />
                    {% endif %}
                    <span class="image-plus image-plus-left">{{ monster.monster.name }}</span>
                    <span class="image-plus image-plus-right">{{ monster.level }}</span>
                </span>
            </div>
            <div class="monster-box-actions">
                <span class="monster-box-actions">
                    {% if monster.monster.can_awaken and not monster.monster.is_awakened %}
                        <a href="{% url 'herders:monster_instance_awaken' profile_name=profile_name instance_id=monster.pk.hex %}?next={{ return_path }}" data-toggle="tooltip" data-placement="top" title="Awaken">
                            <span class="glyphicon glyphicon-star" style="color:purple"></span>
                        </a>
                    {% endif %}
                    <a href="{% url 'herders:monster_instance_edit' profile_name=user.username instance_id=monster.pk.hex %}?next={{ return_path }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>
                    </a>
                    <a href="{% url 'herders:monster_instance_delete' profile_name=profile_name instance_id=monster.pk.hex %}?next={{ return_path }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <br />
    <form method="post" action="{{ power_up_formset_action }}">
        {{ power_up_formset.management_form|crispy }}
        {% for form in power_up_formset %}
            {% crispy form %}
        {% endfor %}
        <div class="checkbox">
            <label>
                <input type="checkbox" name="ignore_errors" id="id-ignore-errors" {% if ignore_evolve_checked %}checked="checked"{% endif %}> Disable evolution error checking.
            </label>
        </div>

        <div class="form-actions">
            <input type="submit" name="power_up" value="Power Up" class="btn btn-primary" id="submit-id-power-up"/>
            {% if monster.stars < 6 %}
                <input type="submit" name="evolve" value="Evolve" class="btn btn-primary" id="submit-id-evolve"/>
            {% else %}
                <button class="btn btn-primary disabled">Evolve</button>
            {% endif %}
            <a href="{{ return_path }}" class="btn btn-link">Cancel</a>
            <p></p>
        </div>
    </form>
{% endblock content %}