{% extends 'herders/profile/profile_base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block profile %}
    <form action="{% url 'herders:edit_profile' profile_name=profile_name %}?next={{ return_path }}" method="post">
        {% csrf_token %}
        {% crispy user_form %}
        {% crispy summoner_form %}
        <div class="form-actions">
            <input type="submit" name="save" value="Save" class="btn btn-primary btn btn-primary" id="submit-id-save"/>
            <a href="{% url 'password_change' %}" class="btn btn-link">Change Password</a>
            <input type="button" name="cancel" value="Cancel" class="btn btn-link pull-right" id="button-id-cancel"/>
        </div>
    </form>
{% endblock %}