{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile - {{ block.super }}{% endblock title %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <form action="{% url 'herders:edit_profile' profile_name=profile_name %}?next={{ return_path }}" method="post">
            {% csrf_token %}
            {% crispy user_form %}
            {% crispy summoner_form %}

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">API Key</span>
                <input id="api_key" type="text" class="form-control" placeholder="Click Regenerate to get API Key" disabled value="{{ request.user.auth_token.key }}">
                <span class="input-group-btn">
                    <button id="generate-api-key" class="btn btn-default" type="button">Regenerate</button>
                </span>

            </div>
            <p class="help-block">This API key allows other services to authenticate as you on SWARFARM without your username and password.</p>

            <div class="form-actions">
                <input type="submit" name="save" value="Save" class="btn btn-primary btn btn-primary" id="submit-id-save"/>
                <input type="button" name="cancel" value="Cancel" class="btn btn-default" id="button-id-cancel"/>
                <a href="{% url 'password_change' %}" class="btn btn-link">Change Password</a>
                <a href="{% url 'username_change' %}" class="btn btn-link">Change Username</a>
                <a href="{% url 'herders:profile_delete' profile_name=profile_name %}" class="btn btn-danger pull-right">Delete Account</a>
            </div>
        </form>


    </div>
{% endblock content %}

{% block javascript %}
<script type="application/javascript">
    $('body').on('click', '#generate-api-key', function() {
        $.ajax({
            type: 'GET',
            url: '/api/v2/auth/generate-basic-token/'
        }).done(function(data) {
            $('#api_key').val(data.token);
        });
    })
</script>
{% endblock javascript %}