{% extends 'herders/profile/profile_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block profile %}
    <div class="row">
        <div class="col-md-1">
            <div class="monster-box">
                {% static 'herders/images/' as img_url_prefix %}
                <div class="monster-box-thumb">
                    <img src="{{ img_url_prefix }}monsters/{{ monster.monster.image_filename }}" />
                    {% if monster.monster.fusion_food %}
                        <img class="image-plus-icon" src="{{ img_url_prefix }}/icons/fusion.png" />
                    {% endif %}
                </div>
                <div class="monster-box-actions">
                    <span class="monster-box-actions">
                        {% if instance.monster.can_awaken and not monster.monster.is_awakened %}
                            <a href="{% url 'herders:awaken_monster_instance' instance_id=monster.pk.hex %}" data-toggle="tooltip" data-placement="top" title="Awaken"><span class="glyphicon glyphicon-star" style="color:purple"></span></a>
                        {% endif %}
                        <a href="{% url 'herders:power_up_monster_instance' instance_id=monster.pk.hex %}"><span class="glyphicon glyphicon-arrow-up" data-toggle="tooltip" data-placement="top" title="Power Up"></span></a>
                        <a href="{% url 'herders:delete_monster_instance' instance_id=monster.pk.hex %}"><span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></span></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1>
                {% static 'herders/images/' as img_url_prefix %}
                <img src="{{ img_url_prefix }}elements/{{ monster.monster.element }}.png" />
                <span>{{ monster.monster.name }}</span>
            </h1>
        </div>
    </div>
    <br />
    <div class="monster-form">
        {% crispy edit_monster_form %}
    </div>
{% endblock profile %}
