{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'herders/css/bootstrap-rating.css' %}" rel="stylesheet" />
    {% if is_owner %}
        <link href="{% static 'herders/css/profile.css' %}" rel="stylesheet"/>
    {% endif %}
{% endblock css %}

{% block subnav %}{% endblock subnav %}

{% block content %}
    {% if is_owner and add_monster_form %}
        {# Add monster modal #}
        <div class="modal fade" id="addMonsterModal" tabindex="-1" role="dialog" aria-labelledby="modalAddMonsterTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalAddMonsterTitle">Add Monster</h4>
                    </div>
                    <form method="post" action="{% url 'herders:monster_instance_add' profile_name=profile_name %}?next={{ request.path }}" >
                        {% crispy add_monster_form %}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% block profile %} {% endblock profile %}
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static "herders/js/bootstrap-rating.min.js" %}"></script>
{% endblock javascript %}