{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link href="{% static 'herders/css/bootstrap-rating.css' %}" rel="stylesheet" />
    {% if is_owner %}
        <link href="{% static 'herders/css/profile.css' %}" rel="stylesheet"/>
    {% endif %}
{% endblock css %}

{% block subnav %}{% endblock subnav %}

{% block content %}
    {% if not is_owner %}
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="lead">{{ summoner.user.username }}'s profile </span>
                <div class="btn-group" role="group">
                    <a href="{% url 'herders:profile' profile_name=summoner.user.username view_mode='list' %}" class="btn btn-default {% if view == 'profile' %}active{% endif %}">
                        <img src="{% static 'herders/images/icons/monster.png' %}" />
                        Monsters
                    </a>
                    <a href="{% url 'herders:fusion' profile_name=summoner.user.username %}"
                       class="btn btn-default {% if view == 'fusion' %}active{% endif %}">
                        <img src="{% static 'herders/images/icons/fusion.png' %}" />
                        Fusion
                    </a>
                    <a href="{% url 'herders:teams' profile_name=summoner.user.username %}"
                       class="btn btn-default {% if view == 'teams' %}active{% endif %}">
                        <i class="fa fa-users"></i>
                        Teams
                    </a>
                </div>
                {% if user.is_authenticated %}
                    {% if summoner not in user.summoner.following.all %}
                        <a href="{% url 'herders:profile_follow_add' profile_name=user.username follow_username=summoner.user.username%}?next={{ return_path }}" class="btn btn-success pull-right"><span class="fa fa-user"></span> Follow</a>
                    {% else %}
                        <a href="{% url 'herders:profile_follow_remove' profile_name=user.username follow_username=summoner.user.username%}?next={{ return_path }}" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove-circle"></span> Unfollow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if is_owner and add_monster_form %}
        {# Add monster modal #}
        <div class="modal fade" id="addMonsterModal" tabindex="-1" role="dialog" aria-labelledby="modalAddMonsterTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalAddMonsterTitle">Add Monster</h4>
                    </div>
                    <form method="post" action="{% url 'herders:monster_instance_add' profile_name=profile_name %}?next={{ request.path }}" >
                        {% crispy add_monster_form %}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% block profile %} {% endblock profile %}
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static "herders/js/bootstrap-rating.min.js" %}"></script>
{% endblock javascript %}