{% extends 'herders/profile/profile_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load utils %}

{% block title %}
    {% if is_owner %}
        My Monsters - {{ block.super }}
    {% else %}
        {{ profile_name }}'s Monsters - {{ block.super }}
    {% endif %}
{% endblock title %}

{% block subnav %}
    {% if is_owner %}{% include 'herders/profile/profile_collection_subnav.html' %}{% endif %}
{% endblock subnav %}

{% block profile %}
    {% if monster_stable %}
        {% static 'herders/images/' as img_url_prefix %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="{% url 'herders:profile' profile_name=profile_name view_mode='list' %}" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> List View</a>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'herders:profile_sorted' profile_name=profile_name view_mode=view_mode sort_method='grade' %}" class="btn btn-default
                        {% if sort_method == 'grade' or sort_method == None %}btn-info{% endif %}">Grade</a>
                        <a href="{% url 'herders:profile_sorted' profile_name=profile_name view_mode=view_mode sort_method='level' %}" class="btn btn-default
                        {% if sort_method == 'level' %}btn-info{% endif %}">Level</a>
                        <a href="{% url 'herders:profile_sorted' profile_name=profile_name view_mode=view_mode sort_method='attribute' %}" class="btn btn-default
                        {% if sort_method == 'attribute' %}btn-info{% endif %}">Attribute</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% for groupname, monsters in monster_stable.iteritems %}
                    {% if monsters|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>{{ groupname|capfirst }}</strong></div>
                            <div class="panel-body">
                                {% for instance in monsters %}
                                    <div class="monster-box">
                                        <div class="monster-box-thumb" data-instance-id="{{ instance.pk.hex }}" title="{{ instance.monster.name }}">
                                            <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=instance.pk.hex %}">
                                                <img src="{{ img_url_prefix }}monsters/{{ instance.monster.image_filename }}"/>
                                                <span>
                                                    {% for x in instance.stars|get_range %}
                                                        {% if instance.monster.is_awakened %}
                                                            <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                        {% elif instance.monster.can_awaken %}
                                                            <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                        {% else %}
                                                            <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>
                                                {% if instance.monster.fusion_food and not instance.ignore_for_fusion %}
                                                    <img class="image-plus-icon" src="{{ img_url_prefix }}icons/fusion.png" />
                                                {% elif instance.monster.fusion_food and instance.ignore_for_fusion %}
                                                    <img class="image-plus-icon" src="{{ img_url_prefix }}icons/fusion_ignored.png" />
                                                {% endif %}
                                                <span class="image-plus image-plus-left">{{ instance.monster.name }}</span>
                                                <span class="image-plus image-plus-right">{{ instance.level }}</span>
                                            </a>
                                        </div>

                                        {% if is_owner %}
                                        <div class="monster-box-actions">
                                            <span class="monster-box-actions">
                                                <a href="{% url 'herders:monster_instance_view' profile_name=user.username instance_id=instance.pk.hex %}?next={{ return_path }}#edit">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>
                                                </a>
                                                <a href="{% url 'herders:monster_instance_duplicate' profile_name=user.username instance_id=instance.pk.hex %}?next={{ return_path }}" data-toggle="tooltip" data-placement="top" title="Copy">
                                                    <span class="glyphicon glyphicon-copy" data-toggle="tooltip" data-placement="top" title="Copy"></span>
                                                </a>
                                                <a href="{% url 'herders:monster_instance_delete' profile_name=user.username instance_id=instance.pk.hex %}?next={{ return_path }}">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></span>
                                                </a>
                                            </span>
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock profile %}