{% load utils %}
{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<div class="card shadow-sm m-1 rune-box-border artifact-panel">
    <div class="card-header p-1 d-flex justify-content-between">
        <div class="rune-text rune-text-{{ artifact.get_quality_display|lower }}">{{ artifact }}</div>
        {% if is_owner %}
        <div class="btn-group float-right">
            <button class="btn btn-link btn-sm artifact-edit p-0 text-dark" data-artifact-id="{{ artifact.pk.hex }}">
                <i class="fas fa-edit fa-sm" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
            </button>
            <button class="btn btn-link btn-sm artifact-delete p-0 text-dark" data-artifact-id="{{ artifact.pk.hex }}">
                <i class="fas fa-trash fa-sm" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></i>
            </button>
        </div>
        {% endif %}
    </div>

    <div class="card-body p-1">
        <div class="d-flex">
            {% include 'herders/profile/artifacts/artifact_image_fragment.html' with artifact=artifact hide_original_quality=True only %}
            <ul class="list-unstyled mb-0">
                <li class="rune-main-stat">{{ artifact.get_main_stat_display }} +{{ artifact.main_stat_value }}</li>
            </ul>
        </div>
        <ul class="list-unstyled">
            {% for disp in artifact.get_effects_display %}
                <li>{{ disp }}</li>
            {% endfor %}
        </ul>

        {% if artifact.assigned_to %}
            <div class="rune-assigned-to">
                <div class="monster-image">
                    <a href="{% url 'herders:monster_instance_view' profile_name=profile_name instance_id=artifact.assigned_to.pk.hex %}" target="_blank">
                        <img src="{{ img_url_prefix }}monsters/{{ artifact.assigned_to.monster.image_filename }}" class="monster-thumb" loading="lazy" />
                        <span>
                            {% for x in artifact.assigned_to.stars|get_range %}
                                {% if artifact.assigned_to.monster.is_awakened %}
                                    <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                {% elif artifact.assigned_to.monster.can_awaken %}
                                    <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                {% else %}
                                    <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                {% endif %}
                            {% endfor %}
                        </span>
                        <span class="image-plus image-plus-right">{{ artifact.assigned_to.level }}</span>
                    </a>
                </div>
            </div>
        {% endif %}
        <ul class="top-right-rune list-unstyled">
            {% if artifact.original_quality is not None %}
                <li>
                    Orig: <span class="badge rune-label-{{ artifact.get_original_quality_display|lower }}">
                        {{ artifact.get_original_quality_display }}
                    </span>
                </li>
            {% endif %}

            {% if artifact.efficiency is not None %}
                <li {% if artifact.max_efficiency is not None and artifact.level < 12 %}data-bs-toggle="tooltip" title="Max Eff: {{ artifact.max_efficiency|floatformat:1 }}%"{% endif %}>
                    Eff: {{ artifact.efficiency|floatformat:1 }}%
                </li>
            {% endif %}
        </ul>
    </div>
</div>