{% extends 'herders/profile/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load utils %}

{% block title %}
    {% if is_owner %}
        My Artifacts - {{ block.super }}
    {% else %}
        {{ summoner.user.username }}'s Artifacts - {{ block.super }}
    {% endif %}
{% endblock %}

{% block artifact_menu %}
    {% if is_owner %}
        <ul class="navbar-nav ps-2">
            <li class="nav-item py-0"><a class="nav-link fw-lighter py-0 text-muted artifact-add" style="cursor: pointer;"><i class="fas fa-plus"></i> Add Artifact</a></li>
        </ul>
    {% endif %}
{% endblock artifact_menu %}

{% block profile %}
    <div class="filters">
        <button class="btn btn-default btn-block filter-header collapsed" data-toggle="collapse" data-target="#runeFilterCollapse">
            <span class="glyphicon glyphicon-filter"></span> Filters
        </button>
        <div class="collapse" id="runeFilterCollapse">
            {% crispy filter_form %}
        </div>
    </div>

    <div id="rune-inventory"></div>
{% endblock profile %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static 'herders/js/artifacts.js' %}"></script>
{% endblock javascript_compressed %}
