{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<div id="rune-inventory">
    <div class="card shadow border-0 mb-3">
        <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %}">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Grouped By {{ box_grouping|title }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% if not box_grouping == 'slot' %}<li><a class="dropdown-item dropdown-link box-group-mode text-muted" data-mode="slot">Slot</a></li>{% endif %}
                    {% if not box_grouping == 'quality' %}<li><a class="dropdown-item dropdown-link box-group-mode text-muted" data-mode="quality">Quality</a></li>{% endif %}
                    {% if not box_grouping == 'orig. quality' %}<li><a class="dropdown-item dropdown-link box-group-mode text-muted" data-mode="orig. quality">Orig. Quality</a></li>{% endif %}
                    {% if not box_grouping == 'equipped' %}<li><a class="dropdown-item dropdown-link box-group-mode text-muted" data-mode="equipped">Equipped</a></li>{% endif %}
                </ul>
            </div>
            <span class="float-right text-muted"><strong>{{ filtered_count }}</strong> of <strong>{{ total_count }}</strong> artifact{{ total_count|pluralize }}</span>
        </div>
        <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
            {% if not total_count %}
                <div class="callout callout-warning">
                    <h2>No artifacts!</h2>
                    <p>You don't have any artifacts!</p>
                </div>
            {% elif not filtered_count %}
                <div class="callout callout-warning">
                    <h2>No records!</h2>
                    <p>All artifacts were filtered out!</p>
                </div>
            {% else %}
                {% for group in artifacts %}
                    {% if group.artifacts|length %}
                        <div class="card shadow-sm border-0 mb-3 pb-2">
                            <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} collapsible">
                                <a role="button" data-bs-toggle="collapse" data-bs-target="#runegroup{{ forloop.counter }}" aria-expanded="true">
                                    <strong>{{ group.name }}</strong>
                                </a>
                                <span class="float-right text-muted">{% with num_runes=group.artifacts|length %}{{ num_runes }} artifact{{ num_runes|pluralize }}{% endwith %}</span>
                            </div>
                            <div id="runegroup{{ forloop.counter }}" class="collapse in show">
                                <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                                    <!-- If groupped by slot, then group them internally by main stat -->
                                    {% if box_grouping == 'slot' %}
                                        {% regroup group.artifacts by get_main_stat_display as nested_groups %}
                                        {% for nested_group in nested_groups %}
                                            <div class="card shadow-sm border-0 mb-3 pb-2">
                                                <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark border-dark{% else %}bg-white{% endif %} collapsible">
                                                    <a role="button" data-bs-toggle="collapse" data-bs-target="#runegroup{{ forloop.counter }}nested{{ group.name|lower }}" aria-expanded="true">
                                                        <strong>{{ nested_group.grouper }}</strong>
                                                    </a>
                                                    <span class="float-right text-muted">{% with num_runes=nested_group.list|length %}{{ num_runes }} artifact{{ num_runes|pluralize }}{% endwith %}</span>
                                                </div>
                                                <div id="runegroup{{ forloop.counter }}nested{{ group.name|lower }}" class="collapse in show">
                                                    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                                                        <div class="flex">
                                                            {% for artifact in nested_group.list %}
                                                                <div data-artifact-instance="{{ artifact.pk.hex }}">
                                                                    {% include 'herders/profile/artifacts/artifact_panel_fragment.html' with artifact=artifact profile_name=profile_name is_owner=is_owner only %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                    <div class="flex">
                                        {% for artifact in group.artifacts %}
                                            <div data-artifact-instance="{{ artifact.pk.hex }}">
                                                {% include 'herders/profile/artifacts/artifact_panel_fragment.html' with artifact=artifact profile_name=profile_name is_owner=is_owner only %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
