{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Compare - {% if can_compare %}{{ follower_name }}{% else %}private profile {% endif %} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="navmenu subnavmenu-fixed-left offcanvas-sm {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-light{% endif %} shadow">
        <p class="nav-item py-0"><h4 class="ps-3">{% if can_compare %}{{profile_name}} <small>vs</small> {{ follower_name }}{% else %}private profile{% endif %}</h4></p>
        <button type="button" class="d-lg-none navbar-toggler btn-abs-top-right" onClick="closeSidebarMobile()">
            <i class="fas fa-times"></i>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item py-0{% if view == 'compare-summary' %} active{% if user.is_authenticated and user.summoner.dark_mode %} active-dark{% endif %}{% endif %}">
                <a class="nav-link text-reset" href="{% url 'herders:profile_compare' profile_name follower_name %}">Summary</a>
            </li>
            <li class="nav-item py-0{% if view == 'compare-runes' %} active{% if user.is_authenticated and user.summoner.dark_mode %} active-dark{% endif %}{% endif %}">
                <a class="nav-link text-reset" href="{% url 'herders:profile_compare_runes' profile_name follower_name %}">Runes</a>
                {% block runes_menu %}{% endblock runes_menu %}
            </li>
            <li class="nav-item py-0{% if view == 'compare-artifacts' %} active{% if user.is_authenticated and user.summoner.dark_mode %} active-dark{% endif %}{% endif %}">
                <a class="nav-link text-reset" href="{% url 'herders:profile_compare_artifacts' profile_name follower_name %}">Artifacts</a>
                {% block artifacts_menu %}{% endblock artifacts_menu %}
            </li>
            <li class="nav-item py-0{% if view == 'compare-monsters' %} active{% if user.is_authenticated and user.summoner.dark_mode %} active-dark{% endif %}{% endif %}">
                <a class="nav-link text-reset" href="{% url 'herders:profile_compare_monsters' profile_name follower_name %}">Monsters</a>
            </li>
            <li class="nav-item py-0{% if view == 'compare-builds' %} active{% if user.is_authenticated and user.summoner.dark_mode %} active-dark{% endif %}{% endif %}">
                <a class="nav-link text-reset" href="{% url 'herders:profile_compare_builds' profile_name follower_name %}">Builds</a>
            </li>
        </ul>
    </div>
    <div class="navmenu-content">
        {% if can_compare %}
            {% block content_compare %}{% endblock %}
        {% else %}
            <div class="callout callout-warning"><h2>Not public!</h2>Your friend's profile is not a Public profile or you DO NOT follow eachother!</div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        $('.grid').masonry({
            itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
            columnWidth: '.grid-sizer',
            percentPosition: true
        });
    </script>
{% endblock %}