{% extends 'herders/profile/compare/base.html' %}
{% load staticfiles %}

{% block title %}
Summary - {{ block.super }}
{% endblock title %}

{% block content_compare %}
    <div class="profile-compare-header">
        <h1>{{ profile_name }} <small>vs</small> {{ follower_name }}</h1>
    </div>


    <div class="profile-compare-monsters-ajax">
        <a href="{% url 'herders:profile_compare_builds' profile_name follower_name %}">
            <div class="btn btn-primary">Compare builds</div>
        </a>
    </div>
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Runes</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for record_name, record in comparison.runes.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>
                                    {% if record.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif record.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ record.summoner }}
                                </td>
                                <td>
                                    {% if record.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif record.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ record.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if record.winner == 'follower' %}minus{% elif record.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if record.winner != 'tie' %}{{ record.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Artifacts</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in comparison.artifacts.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>
                                    {% if stat_count.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif stat_count.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif stat_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ stat_count.summoner }}
                                </td>
                                <td>
                                    {% if stat_count.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif stat_count.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif stat_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ stat_count.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if stat_count.winner == 'follower' %}minus{% elif stat_count.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if stat_count.winner != 'tie' %}{{ stat_count.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Monsters</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in comparison.monsters.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>
                                    {% if stat_count.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif stat_count.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif stat_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ stat_count.summoner }}
                                </td>
                                <td>
                                    {% if stat_count.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif stat_count.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif stat_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ stat_count.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if stat_count.winner == 'follower' %}minus{% elif stat_count.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if stat_count.winner != 'tie' %}{{ stat_count.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Buildings</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in comparison.buildings.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>
                                    {% if stat_count.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif stat_count.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif stat_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ stat_count.summoner }}
                                </td>
                                <td>
                                    {% if stat_count.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif stat_count.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif stat_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ stat_count.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if stat_count.winner == 'follower' %}minus{% elif stat_count.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if stat_count.winner != 'tie' %}{{ stat_count.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
