{% load report_charts %}

{% if monsters %}
    <div class="card shadow border-0 mb-3">
        <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
            <h2>Monsters</h2>
        </div>
        <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
            <div class="card shadow-sm border-0 mb-3">
                <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                    <div
                        class="report-chart"
                        data-chart="{% chart monsters.monsters title="Monsters - Unique" sorted='value' reverse=True %}"
                        style="height: 300px"
                    ></div>
                </div>
            </div>
            <div class="card shadow-sm border-0 mb-3">
                <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                    <div
                        class="report-chart"
                        data-chart="{% chart monsters.family title="Monsters - By Family" sorted='value' reverse=True %}"
                        style="height: 300px"
                    ></div>
                </div>
            </div>
        </div>
        <div class="row mx-1">
            <div class="col-12 col-sm-4">
                <div class="card shadow-sm border-0 mb-3">
                    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                        <div
                            class="report-chart"
                            data-chart="{% chart monsters.nat_stars type='pie' title="Natural Stars" percentage=False sorted='key' %}"
                            style="height: 300px"
                        ></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="card shadow-sm border-0 mb-3">
                    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                        <div
                            class="report-chart"
                            data-chart="{% chart monsters.element type='pie' title="Element" percentage=False sorted='key' colors='element' %}"
                            style="height: 300px"
                        ></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <div class="card shadow-sm border-0 mb-3">
                    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
                        <div
                            class="report-chart"
                            data-chart="{% chart monsters.awakened type='pie' title="Awakened/Unawakened" percentage=False %}"
                            style="height: 300px"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
