{% load report_charts %}

{% if monsters %}
    <h2>Monsters</h2>
    <div
        class="report-chart"
        data-chart="{% chart monsters.monsters title="Monsters - Unique" %}"
        style="height: 300px"
    ></div>

    <div
        class="report-chart"
        data-chart="{% chart monsters.family title="Monsters - By Family" %}"
        style="height: 300px"
    ></div>

    <div class="row">
        <div
            class="report-chart col-md-4 col-sm-6"
            data-chart="{% chart monsters.nat_stars type='pie' title="Natural Stars" percentage=False sorted='key' %}"
            style="height: 300px"
        ></div>

        <div
            class="report-chart col-md-4 col-sm-6"
            data-chart="{% chart monsters.element type='pie' title="Element" percentage=False sorted='key' colors='element' %}"
            style="height: 300px"
        ></div>

        <div
            class="report-chart col-md-4 col-sm-6"
            data-chart="{% chart monsters.awakened type='pie' title="Awakened/Unawakened" percentage=False %}"
            style="height: 300px"
        ></div>
    </div>

{% endif %}
