{% load report_charts utils %}

{% if summary %}
    <div class="row">
        <div class="col-md-6 mb-3 mb-md-3 mb-lg-0">
            <div class="card border-0 shadow mb-3 h-100">
                <div class="card-header bg-white">
                    <h2>Summary</h2>
                </div>
                <div class="card-body">
                    <div class="report-chart" data-chart="{{ summary.chart|drop_summary }}"  style="height: 300px"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-0 shadow mb-3 h-100">
                <div class="card-header bg-white">
                    <h2>Summary</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Drop</th>
                                    <th>Chance</th>
                                    <th>Quantity</th>
                                    <th>Avg. Per 100</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not hide_items %}
                                    {% include 'data_log/summary_items.html' with items=summary.table|key:"items" only %} {# Avoid conflict with built in items() function for dicts #}
                                {% endif %}
                                {% if not hide_monsters %}
                                    {% include 'data_log/summary_monsters.html' with monsters=summary.table.monsters only %}
                                {% endif %}
                                {% if not hide_secret_dungeons %}
                                    {% include 'data_log/summary_secret_dungeons.html' with secret_dungeons=summary.table.secret_dungeons only %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
