{% load staticfiles utils %}
{% static 'herders/images/' as img_url_prefix %}

{% if secret_dungeons %}
    {% for monster in secret_dungeons %}
        <tr>
            <td class="monster-info-icons-column">
                <div class="monster-image">
                    <a href="{% url 'bestiary:detail' monster_slug=monster.slug %}">
                        <img src="{{ img_url_prefix }}monsters/{{ monster.icon }}" alt="{{ monster.name }}" class="monster-thumb" loading="lazy" />
                        <span>
                            {% for x in monster.stars|get_range %}
                                {% if monster.is_awakened %}
                                    <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                {% elif monster.can_awaken %}
                                    <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                {% else %}
                                    <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" loading="lazy" />
                                {% endif %}
                            {% endfor %}
                        </span>
                        <span class="image-plus image-plus-right">SD</span>
                    </a>
                </div>
            </td>
            <td>
                {% if not monster.is_awakened %}{{ monster.element }}{% endif %} {{ monster.name }} Secret Dungeon
            </td>
            <td>{{ monster.drop_chance|floatformat }}%</td>
            <td></td>
            <td>{{ Monster.qty_per_100|floatformat }}</td>
        </tr>
    {% endfor %}
{% endif %}
