{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

{% if items %}
    {% for item in items %}
        <tr>
            <td class="monster-info-icons-column">
                <img class="media-object monster-thumb" src="{{ img_url_prefix }}items/{{ item.icon }}" alt="{{ item.name }}">
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>{{ item.drop_chance|floatformat }}%</td>
            <td>{{ item.min }}{% if item.max != item.min %} - {{ item.max }}{% endif %}</td>
            <td>{{ item.qty_per_100|floatformat }}</td>
        </tr>
    {% endfor %}
{% endif %}