{% extends 'herders/profile/data_logs/base_table.html' %}
{% load utils %}

{% block table %}
    <table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Dungeon</th>
        <th>Level</th>
        <th>Success</th>
        <th>Clear Time</th>
        <th>Drops</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.level.dungeon }}</td>
            <td>B{{ log.level.floor }} {% if log.level.difficulty is not None %}{{ log.level.get_difficulty_display }}{% endif %}</td>
            <td>
                {% if log.success %}
                    <span class="glyphicon glyphicon-ok text-success"></span>
                {% else %}
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                {% endif %}
            </td>
            <td>{{ log.clear_time|timedelta }}</td>
            <td>{% include 'herders/profile/data_logs/drops/all_drops.html' %}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endbock table %}