{% extends 'herders/profile/base.html' %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css" />
{% endblock css %}

{% block title %}
    Personal Data Logs - {{ block.super }}
{% endblock %}

{% block profile %}
    {% block filter_form %}
    {% endblock %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% include "./pagination.html" %}
        </div>

        {% if logs.paginator.count == 0 %}
            <div class="panel-body">
                <p>No logs found! Check the <a href="{% url 'herders:data_log_help' profile_name=profile_name %}">data log help section</a> to get started.</p>
            </div>
        {% else %}
            {% block logs %}{% endblock %}
        {% endif %}

        <div class="panel-footer">{% include "./pagination.html" %}</div>
    </div>
{% endblock profile %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script type="application/javascript">
        $(function(){
            $(".drop-popover").popover({
                html : true,
                trigger : 'hover',
                container : 'body',
                placement: 'left',
                content: function() {
                  var content = $(this).attr("data-popover-content");
                  return $(content).children(".popover-body").html();
                },
                title: function() {
                  var title = $(this).attr("data-popover-content");
                  return $(title).children(".popover-heading").html();
                }
            });
        });

        // Initialize datetime pickers
        var datetimeopts = {
            'format': 'YYYY-MM-DD HH:mm:ss',
            'showTodayButton': true,
            'useCurrent': false,
            'showClear': true,
            'showClose': true
        };
        $('#id_timestamp__gte').datetimepicker(datetimeopts);
        $('#id_timestamp__lte').datetimepicker(datetimeopts);

        $("#id_timestamp__gte").on("dp.change", function (e) {
            $('#id_timestamp__lte').data("DateTimePicker").minDate(e.date);
        });
        $("#id_timestamp__lte").on("dp.change", function (e) {
            $('#id_timestamp__gte').data("DateTimePicker").maxDate(e.date);
        });
    </script>
{% endblock %}
