{% extends 'herders/profile/base.html' %}
{% load static crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css" />
{% endblock css %}

{% block title %}
    Personal Data Logs - {{ block.super }}
{% endblock %}

{% block data_log_menu %}
    <ul class="dropdown-menu navmenu-nav">
        <li><a href="{% url 'herders:data_log_dungeon_dashboard' profile_name=profile_name %}">Dungeons</a></li>
        <li><a href="{% url 'herders:data_log_rift_dungeon_dashboard' profile_name=profile_name %}">Elemental Rift Beast</a></li>
        <li><a href="{% url 'herders:data_log_rift_raid_dashboard' profile_name=profile_name %}">Rift Raid</a></li>
        <li><a href="{% url 'herders:data_log_world_boss_dashboard' profile_name=profile_name %}">World Boss</a></li>
        <li><a href="{% url 'herders:data_log_summons_dashboard' profile_name=profile_name %}">Summons</a></li>
        <li><a href="{% url 'herders:data_log_magic_shop_dashboard' profile_name=profile_name %}">Magic Shop</a></li>
        <li><a href="{% url 'herders:data_log_wish' profile_name=profile_name %}">Wishes</a></li>
        <li><a href="{% url 'herders:data_log_rune_crafting' profile_name=profile_name %}">Rune Crafting</a></li>
        <li><a href="{% url 'herders:data_log_magic_box' profile_name=profile_name %}">Magic Box Crafting</a></li>
    </ul>
{% endblock data_log_menu %}

{% block profile %}
    <ol class="breadcrumb">
        {% block breadcrumbs %}
            {% if view_name == 'herders:data_log_dashboard' %}
                <li class="active">Data Logs</li>
            {% else %}
                <li><a href="{% url "herders:data_log_dashboard" profile_name=profile_name %}">Data Logs</a></li>
            {% endif %}
        {% endblock %}
    </ol>

    {% if form %}
        <div class="filters">
            <button class="btn btn-default btn-block filter-header collapsed" data-toggle="collapse" data-target="#monsterFilterCollapse">
                <span class="glyphicon glyphicon-filter"></span> Filters
            </button>
            <div class="collapse" id="monsterFilterCollapse">
                {% crispy form %}
            </div>
        </div>
    {% endif %}

    {% block logs %}{% endblock %}
{% endblock profile %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="application/javascript">
        $(function(){
            $(".drop-popover").popover({
                html : true,
                trigger : 'hover',
                container : 'body',
                placement: 'left',
                content: function() {
                  var content = $(this).attr("data-popover-content");
                  return $(content).children(".popover-body").html();
                },
                title: function() {
                  var title = $(this).attr("data-popover-content");
                  return $(title).children(".popover-heading").html();
                }
            });
        });

        // Initialize datetime pickers
        var datetimeopts = {
            'format': 'YYYY-MM-DD HH:mm:ss',
            'showTodayButton': true,
            'useCurrent': false,
            'showClear': true,
            'showClose': true
        };
        $('#id_timestamp__gte').datetimepicker(datetimeopts);
        $('#id_timestamp__lte').datetimepicker(datetimeopts);

        $("#id_timestamp__gte").on("dp.change", function (e) {
            $('#id_timestamp__lte').data("DateTimePicker").minDate(e.date);
        });
        $("#id_timestamp__lte").on("dp.change", function (e) {
            $('#id_timestamp__gte').data("DateTimePicker").maxDate(e.date);
        });
    </script>
{% endblock %}

{% block javascript_compressed %}
    <script type="text/javascript" src="{% static "data_log/reports.js" %}"></script>
{% endblock javascript_compressed %}