{% extends 'herders/profile/base.html' %}

{% block profile %}
<ul>
    <li><a href="{% url 'herders:data_log_magic_shop' profile_name=profile_name %}">Magic Shop</a></li>
    <li><a href="{% url 'herders:data_log_wish' profile_name=profile_name %}">Wishes</a></li>
    <li><a href="{% url 'herders:data_log_rune_crafting' profile_name=profile_name %}">Rune Crafting</a></li>
    <li><a href="{% url 'herders:data_log_magic_box' profile_name=profile_name %}">Magic Box</a></li>
    <li><a href="{% url 'herders:data_log_summons' profile_name=profile_name %}">Summons</a></li>
    <li><a href="{% url 'herders:data_log_dungeons' profile_name=profile_name %}">Dungeons</a></li>
    <li><a href="{% url 'herders:data_log_rift_beast' profile_name=profile_name %}">Elemental Rift Beast</a></li>
    <li><a href="{% url 'herders:data_log_rift_raid' profile_name=profile_name %}">Rift Raid</a></li>
    <li><a href="{% url 'herders:data_log_world_boss' profile_name=profile_name %}">World Boss</a></li>
</ul>
{% endblock %}