{% extends 'herders/profile/data_logs/base.html' %}

{% block title %}
    Personal Data Logs - {{ block.super }}
{% endblock %}

{% block logs %}
    <h1>Personal Data Logs</h1>

    {% if total == 0 %}
        <div class="alert alert-warning" role="alert">
            You don't have any data logs yet! See the <a href="{% url 'herders:data_log_help' profile_name=profile_name %}">data log help section</a> to get started.
        </div>
    {% endif %}

    <ul class="list-unstyled">
        <li>
            <a href="{% url 'herders:data_log_magic_shop_dashboard' profile_name=profile_name %}">
                <h2>Magic Shop Refresh <small>{{ counts.magic_shop }} log{{ counts.magic_shop|pluralize }}</small></h2>
            </a>
        </li>
        <li>
            <a href="{% url 'herders:data_log_wish_dashboard' profile_name=profile_name %}">
                <h2>Wishes <small>{{ counts.wish }} log{{ counts.wish|pluralize }}</small></h2>
            </a>
        </li>
        <li>
            <a href="{% url 'herders:data_log_rune_crafting' profile_name=profile_name %}">
                <h2>Rune Crafting <small>{{ counts.rune_crafting }} log{{ counts.rune_crafting|pluralize }}</small></h2>
            </a>
        </li>
        <li>
            <a href="{% url 'herders:data_log_magic_box' profile_name=profile_name %}">
                <h2>Magic Box Crafting <small>{{ counts.magic_box }} log{{ counts.magic_box|pluralize }}</small></h2>
            </a>
        </li>
        <li>
            <a href="{% url 'herders:data_log_summons_dashboard' profile_name=profile_name %}">
                <h2>Summons <small>{{ counts.summons }} log{{ counts.summons|pluralize }}</small></h2>
            </a>
        </li>
        <li>
            <a href="{% url 'herders:data_log_dungeon_dashboard' profile_name=profile_name %}">
                <h2>Dungeons <small>{{ counts.dungeons }} log{{ counts.dungeons|pluralize }}</small></h2>
            </a>
        </li>
        <li>
            <a href="{% url 'herders:data_log_rift_dungeon_dashboard' profile_name=profile_name %}">
                <h2>Elemental Rift Beast <small>{{ counts.rift_beast }} log{{ counts.rift_beast|pluralize }}</small></h2>
            </a>
        </li>
        <li>
            <a href="{% url 'herders:data_log_rift_raid_dashboard' profile_name=profile_name %}">
                <h2>Rift Raid <small>{{ counts.rift_raid }} log{{ counts.rift_raid|pluralize }}</small></h2>
            </a>
        </li>
        <li>
            <a href="{% url 'herders:data_log_world_boss_dashboard' profile_name=profile_name %}">
                <h2>World Boss <small>{{ counts.world_boss }} log{{ counts.world_boss|pluralize }}</small></h2>
            </a>
        </li>
    </ul>
{% endblock logs %}