{% extends 'herders/profile/data_logs/base.html' %}

{% block title %}
    Personal Data Logs - {{ block.super }}
{% endblock %}

{% block logs %}
    {% if total == 0 %}
        <div class="callout callout-warning" role="alert">
            <h4>No data!</h4>
            You don't have any data logs yet! See the <a class="text-decoration-none" href="{% url 'herders:data_log_help' profile_name=profile_name %}">data log help section</a> to get started.
        </div>
    {% else %}
        <a class="btn btn-outline-danger data-logs-detach mb-3" role="button">Detach All Logs</a>
    {% endif %}

    <div class="row">
        <div class="col-12 col-lg-3 col-md-3 mb-3">
            <div class="card shadow border-0 h-100">
                <a href="{% url 'herders:data_log_magic_shop_dashboard' profile_name=profile_name %}"> 
                    <div class="card-body">
                        Magic Shop Refresh
                        <div class="float-right text-muted">{{ counts.magic_shop }} log{{ counts.magic_shop|pluralize }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-3 mb-3">
            <div class="card shadow border-0 h-100">
                <a href="{% url 'herders:data_log_wish_dashboard' profile_name=profile_name %}"> 
                    <div class="card-body">
                        Wish
                        <div class="float-right text-muted">{{ counts.wish }} log{{ counts.wish|pluralize }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-3 mb-3">
            <div class="card shadow border-0 h-100">
                <a href="{% url 'herders:data_log_rune_craft_dashboard' profile_name=profile_name %}"> 
                    <div class="card-body">
                        Rune Crafting
                        <div class="float-right text-muted">{{ counts.rune_crafting }} log{{ counts.rune_crafting|pluralize }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-3 mb-3">
            <div class="card shadow border-0 h-100">
                <a href="{% url 'herders:data_log_magic_box_craft_dashboard' profile_name=profile_name %}"> 
                    <div class="card-body">
                        Magic Box Crafting
                        <div class="float-right text-muted">{{ counts.magic_box }} log{{ counts.magic_box|pluralize }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-3 mb-3">
            <div class="card shadow border-0 h-100">
                <a href="{% url 'herders:data_log_summons_dashboard' profile_name=profile_name %}"> 
                    <div class="card-body">
                        Summons
                        <div class="float-right text-muted">{{ counts.summons }} log{{ counts.summons|pluralize }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-3 mb-3">
            <div class="card shadow border-0 h-100">
                <a href="{% url 'herders:data_log_dungeon_dashboard' profile_name=profile_name %}"> 
                    <div class="card-body">
                        Dungeons
                        <div class="float-right text-muted">{{ counts.dungeons }} log{{ counts.dungeons|pluralize }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-3 mb-3">
            <div class="card shadow border-0 h-100">
                <a href="{% url 'herders:data_log_rift_dungeon_dashboard' profile_name=profile_name %}"> 
                    <div class="card-body">
                        Elemental Rift Beast
                        <div class="float-right text-muted">{{ counts.rift_beast }} log{{ counts.rift_beast|pluralize }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-3 mb-3">
            <div class="card shadow border-0 h-100">
                <a href="{% url 'herders:data_log_rift_raid_dashboard' profile_name=profile_name %}"> 
                    <div class="card-body">
                        Rift Raid
                        <div class="float-right text-muted">{{ counts.rift_raid }} log{{ counts.rift_raid|pluralize }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3 col-md-3 mb-3">
            <div class="card shadow border-0 h-100">
                <a href="{% url 'herders:data_log_world_boss_dashboard' profile_name=profile_name %}"> 
                    <div class="card-body">
                        World Boss
                        <div class="float-right text-muted">{{ counts.world_boss }} log{{ counts.world_boss|pluralize }}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock logs %}