{% extends 'herders/profile/data_logs/base.html' %}
{% load crispy_forms_tags utils %}

{% block title %}
    Dungeons - {{ block.super }}
{% endblock %}

{% block filter_form %}
    <div class="filters">
        <button class="btn btn-default btn-block filter-header collapsed" data-toggle="collapse" data-target="#monsterFilterCollapse">
            <span class="glyphicon glyphicon-filter"></span> Filters
        </button>
        <div class="collapse" id="monsterFilterCollapse">
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block logs %}
<table class="table table-striped table-condensed">
<thead>
<tr>
    <th>Timestamp</th>
    <th>Dungeon</th>
    <th>Level</th>
    <th>Success</th>
    <th>Clear Time</th>
    <th>Drops</th>
</tr>
</thead>
<tbody>
{% for log in logs %}
    <tr>
        <td>{{ log.timestamp }}</td>
        <td>{{ log.level.dungeon }}</td>
        <td>B{{ log.level.floor }} {% if log.level.difficulty is not None %}{{ log.level.get_difficulty_display }}{% endif %}</td>
        <td>
            {% if log.success %}
                <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
        </td>
        <td>{{ log.clear_time|timedelta }}</td>
        <td>{% include './drops/all_drops.html' %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
