<div class="btn-group">
    <button class="btn btn-default pager-btn {% if not page_obj.has_previous %}disabled"{% else %}" data-page="{{ page_obj.previous_page_number }}"{% endif %} aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
    </button>

    {% for page_num in page_obj.paginator.page_range %}
    <a href="?page={{ page_num }}" class="btn btn-default pager-btn {% if page_num == page_obj.number %}active{% endif %}">
        {{ page_num }}
    </a>
    {% endfor %}

    <button class="btn btn-default pager-btn {% if not page_obj.has_next %}disabled"{% else %}" data-page="{{ page_obj.next_page_number }}"{% endif %} aria-label="Previous">
        <span aria-hidden="true">&raquo;</span>
    </button>
</div>