{% extends 'herders/profile/data_logs/base.html' %}
{% load utils humanize %}

{% block title %}
    Elemental Rift Beast - {{ block.super }}
{% endblock %}

{% block logs %}
<table class="table table-striped table-condensed">
<thead>
<tr>
    <th>Timestamp</th>
    <th>Dungeon</th>
    <th>Grade</th>
    <th>Total Damage</th>
    <th>Success</th>
    <th>Clear Time</th>
    <th>Drops</th>
</tr>
</thead>
<tbody>
{% for log in logs %}
    <tr>
        <td>{{ log.timestamp }}</td>
        <td>{{ log.level.dungeon }}</td>
        <td>{{ log.get_grade_display }}</td>
        <td>{{ log.total_damage|intcomma }}</td>
        <td>
            {% if log.success %}
                <span class="glyphicon glyphicon-ok text-success"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove text-danger"></span>
            {% endif %}
        </td>
        <td>{{ log.clear_time|timedelta }}</td>
        <td>{% include './drops/all_drops.html' %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
