{% extends 'herders/profile/data_logs/base.html' %}
{% load static utils %}.

{% block title %}
    Rune Crafting - {{ block.super }}
{% endblock %}

{% block logs %}
{% static 'herders/images/' as img_url_prefix %}

<table class="table table-striped table-condensed">
<thead>
<tr>
    <th>Timestamp</th>
    <th>Craft Type</th>
    <th>Drop</th>
</tr>
</thead>
<tbody>
{% for log in logs %}
    <tr>
        <td>{{ log.timestamp }}</td>
        <td>{{ log.get_craft_level_display }}</td>
        <td>
            <div class="rune-image drop-popover" style="margin-right:0!important;" data-popover-body="#rune{{ log.pk }}">
            <div class="rune-bg {{ log.get_quality_display|lower }}">
                <div class="rune slot{{ log.slot }}">
                    <div class="rune-symbol {{ log.get_type_display|lower }}"></div>
                </div>
                {% for x in log.stars|get_range %}
                    {% if log.level == 15 %}
                    <img class="star star-{{ forloop.counter }}" src="{{ img_url_prefix }}stars/star-awakened.png" loading="lazy" />
                    {% else %}
                    <img class="star star-{{ forloop.counter }}" src="{{ img_url_prefix }}stars/star-unawakened.png" loading="lazy" />
                    {% endif %}
                {% endfor %}
                <span class="image-plus image-plus-right">{{ log.get_main_stat_display }}</span >
            </div>
        </div>

        <div class="visually-hidden" id="rune{{ log.pk }}">
            <div class="popover-heading">
                {{ drop }}
            </div>
            <div class="popover-body">
                {% include 'herders/profile/data_logs/drops/rune_popover.html' with drop=log only%}
            </div>
        </div>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
