{% extends 'herders/profile/compare/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
Builds - {{ block.super }}
{% endblock title %}

{% block content_compare %}
    <h1>Builds</h1>
    <hr />
    <div class="container-fluid">
        {% crispy form %}

        {% if comparison %}
            <h2>Monster</h2>
            <hr />
            <div class="grid">
                <div class="grid-sizer col-md-12 col-sm-12 col-xs-12"></div>
                <div class="grid-item col-md-12 col-sm-12 col-xs-12">
                    <div class="grid-item-content table-responsive">
                        <table class="table comparison-table">
                            <thead>
                                <tr>
                                    <th>Summoner</th>
                                    <th>{{ profile_name }}</th>
                                    <th>{{ follower_name }}</th>
                                    <th class="compare-build-diff">Difference</th>
                                </tr>
                                <tr>
                                    <th>Monster</th>
                                    <th>{% include 'herders/profile/monster_inventory/monster_box_snippet.html' with profile_name=profile_name instance=monsters.summoner is_owner=False %}</th>
                                    <th>{% include 'herders/profile/monster_inventory/monster_box_snippet.html' with profile_name=profile_name instance=monsters.follower is_owner=False %}</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Bestiary</th>
                                    <th><a target="_blank" href="{% url 'bestiary:detail' monsters.summoner.monster.bestiary_slug %}" /><div class="btn btn-primary w-monster-box">{{ monsters.summoner.monster }}</div></th>
                                    <th><a target="_blank" href="{% url 'bestiary:detail' monsters.follower.monster.bestiary_slug %}" /><div class="btn btn-primary w-monster-box">{{ monsters.follower.monster }}</div></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record_name, record in comparison.monsters.items %}
                                <tr>
                                    <th>{{ record_name }}</th>
                                    <td>
                                        {% if record.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                        {% elif record.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                        {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                        {% endif %}
                                        {{ record.summoner }}
                                    </td>
                                    <td>
                                        {% if record.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                        {% elif record.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                        {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                        {% endif %}
                                        {{ record.follower }}
                                    </td>
                                    <td><span class="comparison-difference-{% if record.winner == 'follower' %}minus{% elif record.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                        {% if record.winner != 'tie' %}{{ record.diff }}{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <h2>Build</h2>
            <hr />
            <div class="grid">
                <div class="grid-sizer col-md-12 col-sm-12 col-xs-12"></div>
                <div class="grid-item col-md-12 col-sm-12 col-xs-12">
                    <div class="grid-item-content table-responsive">
                        <table class="table comparison-table">
                            <thead>
                                <tr>
                                    <th>Summoner</th>
                                    <th>{{ profile_name }}</th>
                                    <th>{{ follower_name }}</th>
                                    <th class="compare-build-diff">Difference</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record_name, record in comparison.builds.items %}
                                <tr>
                                    <th>{{ record_name }}</th>
                                    <td>
                                        {% if record.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                        {% elif record.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                        {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                        {% endif %}
                                        {{ record.summoner }}
                                    </td>
                                    <td>
                                        {% if record.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                        {% elif record.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                        {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                        {% endif %}
                                        {{ record.follower }}
                                    </td>
                                    <td>
                                        {% if record_name == 'Rune sets' %}
                                            {% for diff in record.diff %}
                                                <span class="comparison-difference-{% if diff.winner == 'follower'%}minus{% else %}plus{% endif %}">{{ diff.text }}</span><br />
                                            {% endfor %}
                                        {% else %}
                                            <span class="comparison-difference-{% if record.winner == 'follower' %}minus{% elif record.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                                {% if record.winner != 'tie' %}{{ record.diff }}{% endif %}
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <h2> RTA Build</h2>
            <hr />
            <div class="grid">
                <div class="grid-sizer col-md-12 col-sm-12 col-xs-12"></div>
                <div class="grid-item col-md-12 col-sm-12 col-xs-12">
                    <div class="grid-item-content table-responsive">
                        <table class="table comparison-table">
                            <thead>
                                <tr>
                                    <th>Summoner</th>
                                    <th>{{ profile_name }}</th>
                                    <th>{{ follower_name }}</th>
                                    <th class="compare-build-diff">Difference</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record_name, record in comparison.rta_builds.items %}
                                <tr>
                                    <th>{{ record_name }}</th>
                                    <td>
                                        {% if record.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                        {% elif record.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                        {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                        {% endif %}
                                        {{ record.summoner }}
                                    </td>
                                    <td>
                                        {% if record.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                        {% elif record.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                        {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                        {% endif %}
                                        {{ record.follower }}
                                    </td>
                                    <td>
                                        {% if record_name == 'Rune sets' %}
                                            {% for diff in record.diff %}
                                                <span class="comparison-difference-{% if diff.winner == 'follower'%}minus{% else %}plus{% endif %}">{{ diff.text }}</span><br />
                                            {% endfor %}
                                        {% else %}
                                            <span class="comparison-difference-{% if record.winner == 'follower' %}minus{% elif record.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                                {% if record.winner != 'tie' %}{{ record.diff }}{% endif %}
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
        {% endif %}
    </div>
{% endblock %}