{% load humanize %}
{% load staticfiles %}

{% static 'herders/images/' as img_url_prefix %}

<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Item Details</p>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th>
                Avg Mana Cost
            </th>
            <th>
                Avg Crystal Cost
                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" title="Average crystals spent refreshing the shop for the item to appear."></span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for drop, stats in item_details.iteritems %}
        <tr>
            <td>
                {% if stats.icon %}
                    <img src="{{ img_url_prefix }}{{ stats.icon }}" height="20px" data-toggle="tooltip" title="{{ stats.description }}"/>
                {% else %}
                    {{ stats.description }}
                {% endif %}
                    x{{ stats.avg_qty|floatformat:"0" }}
            </td>
            <td>{{ stats.avg_cost|floatformat:"0"|intcomma }}</td>
            <td>
                {% if stats.avg_crystal_per_item < 1 %}
                    {{ stats.avg_crystal_per_item|floatformat:"-3"|intcomma }}
                {% else %}
                    {{ stats.avg_crystal_per_item|floatformat:"-2"|intcomma }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>




