{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css">
{% endblock css %}

{% block subnav %}
    <div class="navbar navbar-light">
        <button type="button" class="navbar-toggler d-lg-none mb-2 ms-2" onClick="openSidebarMobile()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navmenu subnavmenu-fixed-left offcanvas-sm bg-light shadow">
        <a href="{% url 'feedback:index' %}" class="nav-link fw-lighter text-reset h3">Feedback</a>
        <button type="button" class="d-lg-none navbar-toggler btn-abs-top-right" onClick="closeSidebarMobile()">
            <i class="fas fa-times"></i>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item py-0{% if mode == 'open' %} active{% endif %}">
                <a class="nav-link text-reset fw-lighter" href="{% url 'feedback:index' %}"><i class="fas fa-unlock"></i> Open</a>
            </li>
            <li class="nav-item py-0{% if mode == 'closed' %} active{% endif %}">
                <a class="nav-link text-reset fw-lighter" href="{% url 'feedback:closedissue_list' %}"><i class="fas fa-lock"></i> Closed</a>
            </li>
            <li class="nav-item py-0{% if mode == 'add' %} active{% endif %}">
                <a class="nav-link text-reset fw-lighter" href="{% url 'feedback:issue_add' %}"><i class="fas fa-plus"></i> New Feedback</a>
            </li>
            <li class="nav-item py-0{% if mode == 'mine' %} active{% endif %}">
                <a class="nav-link text-reset fw-lighter" href="{% url "feedback:myissue_list" %}"><i class="fas fa-headset"></i> My Feedback</a>
            </li>
        </ul>
    </div>
{% endblock subnav %}

{% block content %}
    <div class="navmenu-content">
        {% block issues %}
        {% endblock issues %}
    </div>
{% endblock content %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"></script>
    <script>
        function openSidebarMobile(){
            $(".subnavmenu-fixed-left").animate({width: "300px"}, 500 );
        }
        function closeSidebarMobile(){
            $(".subnavmenu-fixed-left").animate({width: "0"}, 500 );
        }
    </script>
{% endblock javascript %}