{% extends 'feedback/base.html' %}
{% load crispy_forms_tags %}

{% block issues %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="callout callout-info">
                <h1 class="fw-lighter">Important!</h1>
                <p class="fw-lighter">Read the following guidelines before submitting feedback. More information leads to better results and saves time for everyone.</p>
            </div>

            <h3>Monster, skill or other game data corrections</h3>
            <p>Include what you think should be the correct information. Do not just point out that something is wrong. Try to point out all the skills/monsters that need correcting, as many monsters share skills. Provide evidence for your change if it is not an obvious error. Other fan-created websites and the Summoner's War Wiki are not evidence. In-game screenshots, videos, or data mined information are evidence.</p>

            <h3>Profile import errors</h3>
            <p><strong>Only SW-Exporter's profile JSON file is supported for importing.</strong> Read the import instructions and follow them precisely. Only submit feedback if you are sure you did everything correctly.</p>
            <p>Did you get an error like <code>'xxxxxx' is a required property</code>? Profile data goes through strict validation to ensure it is correct before processing. Your uploaded file is missing required information and can't be processed. This can happen randomly due to Com2US being inconsistent or trying to import files from unsupported applications. If you <i>are</i> using SW-Exporter, try logging in and out of the game and importing again.</p>

            <h3>New features or improvements</h3>
            <p>Provide detailed information on how you think the feature should work and why it is a useful thing to have. If you are interested in coding, <a class="text-decoration-none" href="https://github.com/swarfarm/swarfarm" target="_blank">SWARFARM is open source</a> and I will gladly accept code contributions. Please discuss features and implementation in a GitHub issue before spending a lot of time working on something.</p>

            <h3>General website issues</h3>
            <p>Describe what is wrong and what should be correct. Provide repeatable steps to reliably create the error. Include screenshots or links of the issue, with notes or markup if it's helpful. Images can be uploaded to imgur or other image hosting service and linked in your description.</p>

            {% crispy form %}
        </div>
    </div>
{% endblock issues %}
