{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a role="button" href="{% url 'feedback:issue_add' %}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> New Feedback</a>
        <p class="panel-title"><strong>Feedback Submissions</strong></p>
        <p>In addition to Accepted or In Progress topics here, see the <a href="https://swarfarm.com/upcoming_features/">list of upcoming features</a> to see where the site is headed.</p>
        <div class="btn-toolbar">
            {% if mode == 'mine' %}
            <a href="{% url 'feedback:index' %}" class="btn btn-default">All Feedback</a>
            {% else %}
            <a href="{% url 'feedback:myissue_list' %}" class="btn btn-default">My Feedback</a>
            {% endif %}
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters">
                Filters
            </button>
            <button type="button" class="btn btn-danger reset">Reset Filters</button>
        </div>
    </div>
    <div id="filters" class="collapse">
        <div class="panel-body">
            <div class="filter-group">
                <span class="filter-description">Closed:</span>
                <div class="btn-group priority-filters">
                    <button type="button" class="btn btn-default filter" data-filter-column="7" data-filter-text="true">Yes</button>
                    <button type="button" class="btn btn-default filter" data-filter-column="7" data-filter-text="false">No</button>
                </div>
            </div>
            <div class="filter-group">
                <span class="filter-description">Status:</span>
                <div class="btn-group priority-filters">
                    <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="*Unreviewed*">Unreviewed</button>
                    <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="*Accepted*">Accepted</button>
                    <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="*In Progress*">In Progress</button>
                    <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="*Requires Feedback*">Requires Feedback</button>
                    <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="*Resolved*">Resolved</button>
                    <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="*Rejected*">Rejected</button>
                    <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="*Duplicate*">Duplicate</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-condensed" id="monster_table">
        <thead>
            <tr>
                <th>#</th>
                <th data-sorter="false">Topic</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Comments</th>
                <th>Latest Comment</th>
                <th>Public</th>
                <th>Closed</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issue_list %}
            <tr>
                <td><a href="{{ issue.get_absolute_url }}">#{{ issue.pk }}</a></td>
                <td>
                    <h4>{{ issue.subject }}</h4>
                    <p>{{ issue.get_topic_display }} - Reported by {{ issue.user }} {{ issue.submitted|naturaltime }}</p>
                </td>
                <td>
                    <span class="hidden">{{ issue.status }}</span>
                    {{ issue.get_status_display }}
                </td>
                <td>{{ issue.get_priority_display }}</td>
                <td>{{ issue.comment_count }}</td>
                <td>
                    {% if issue.comment_count > 0 %}
                    <span class="hidden">{{ issue.latest_comment.timestamp }}</span>{{ issue.latest_comment.timestamp|naturaltime }} ({{ issue.latest_comment.user }})
                    {% else %}
                    <span class="hidden">{{ issue.submitted }}</span>{{ issue.submitted|naturaltime }} ({{ issue.user }})
                    {% endif %}
                </td>
                <td>{% if issue.public %}<span class="glyphicon glyphicon-ok-circle"></span>{% endif %}</td>
                <td><span class="hidden">{{ issue.closed }}</span>{% if issue.closed %}<span class="glyphicon glyphicon-ok-circle"></span>{% endif %}</td>
            </tr>
            {% empty %}
            <tr><td colspan="8">None yet!</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}