{% extends 'feedback/base.html' %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
{% load humanize %}

{% block issues %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h1>{{ issue.subject }} <small>{{ issue.get_topic_display }}</small></h1>
            <p> Status:
                {% if not issue.public %}
                    <span class="label label-danger"><span class="glyphicon glyphicon-lock"></span> Private</span>
                {% endif %}

                {{ issue.get_status_html }}

                {% if perms.feedback.edit_issue %}
                    <a class="btn btn-link pull-right" href="{% url 'admin:feedback_issue_change' issue.pk %}"><span class="glyphicon glyphicon-edit"></span> Edit Issue</a>
                {% endif %}
            </p>

            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{ issue.user }} <small>{{ issue.submitted|naturaltime }}</small></h4>
                    <p class="list-group-item-text">{{ issue.description|markdown }}</p>
                </div>

                {% for comment in issue.discussion_set.all %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{ comment.user }} <small>{{ comment.timestamp|naturaltime }}</small></h4>
                    <p class="list-group-item-text">{{ comment.comment|markdown }}</p>
                </div>
                {% endfor %}
            </div>

            {% crispy comment_form %}
        </div>
    </div>
{% endblock issues %}
