{% extends 'feedback/base.html' %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
{% load humanize %}

{% block issues %}
    <div class="card shadow-sm border-0 mb-3">
        <div class="card-header {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
            <h5>{{ issue.get_status_html }}</h5>
            <h1>{% if not issue.public %}<i class="fas fa-user-lock"></i> {% endif %}{{ issue.subject }}</h1>
            {% if perms.feedback.edit_issue %}
                <a 
                    class="btn btn-link btn-abs-top-right" 
                    href="{% url 'admin:feedback_issue_change' issue.pk %}"
                >
                    <i class="fas fa-edit"></i>
                </a>
            {% endif %}
            </p>
        </div>
        <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
            <span class="h4" {% if issue.user.is_superuser %}data-bs-toggle="tooltip" data-bs-placement="top" title="Admin"{% endif %}>
                {% if issue.user.is_superuser %}<i class="fas fa-user-shield"></i> {% endif %}{{ issue.user }} <small class="text-muted float-right">{{ issue.submitted|naturaltime }}</small>
            </span>
            <p>{{ issue.description|markdown }}</p>
        </div>
        {% for comment in issue.discussion_set.all %}
        <hr />
        <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
            <span class="h4" {% if comment.user.is_superuser %}data-bs-toggle="tooltip" data-bs-placement="top" title="Admin"{% endif %}>
                {% if comment.user.is_superuser %}<i class="fas fa-user-shield"></i> {% endif %}{{ comment.user }} <small class="text-muted float-right">{{ comment.timestamp|naturaltime }}</small>
            </span>
            <p>{{ comment.comment|markdown }}</p>
        </div>
        {% endfor %}
        <div class="card-footer {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% else %}bg-white{% endif %}">
            {% crispy comment_form %}
        </div>
    </div>
{% endblock issues %}