{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a role="button" href="{% url 'feedback:issue_add' %}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> New Feedback</a>
        <p class="panel-title"><strong>Feedback Submissions</strong></p>
        <div class="clearfix"></div>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th data-sorter="false">Topic</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Comments</th>
                <th>Latest Comment</th>
                <th>Public</th>
                <th>Closed</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issue_list %}
            <tr>
                <td><a href="{{ issue.get_absolute_url }}">#{{ issue.pk }}</a></td>
                <td>
                    <h4>{{ issue.subject }}</h4>
                    <p>{{ issue.get_topic_display }} - Reported by {{ issue.user }} {{ issue.submitted|naturaltime }}</p>
                </td>
                <td>
                    <span class="hidden">{{ issue.status }}</span>
                    {{ issue.get_status_display }}
                </td>
                <td>{{ issue.get_priority_display }}</td>
                <td>{{ issue.comment_count }}</td>
                <td>{% if issue.comment_count > 0 %}{{ issue.latest_comment.timestamp|naturaltime }} ({{ issue.latest_comment.user }}){% endif %}</td>
                <td>{% if issue.public %}<span class="glyphicon glyphicon-ok-circle"></span>{% endif %}</td>
                <td>{% if issue.closed %}<span class="glyphicon glyphicon-ok-circle"></span>{% endif %}</td>
            </tr>
            {% empty %}
            <tr><td colspan="8">None yet!</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if is_paginated %}
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
                <li {% if page_num == page_obj.number %}class="active"{% endif %}>
                    <a href="{% url 'news:latest_news' %}?page={{ page_num }}">{{ page_num }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock content %}