{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Friends - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="callout callout-info">
        <h1 class="fw-lighter">Info</h1>
        <p class="fw-lighter">In order to compare profile/build with your friend, you need to <strong>follow each other</strong>. In addition, both profiles need to be <strong>Public</strong>
    </div>
    <div class="row">
        {% for friend in friends %}
            {% if friend.obj.public %}
                <div class="col-lg-4 col-xl-3 col-md-6 mb-3">
                    <div class="card h-100 border-0 shadow mb-3" >
                        <div class="card-header bg-white">
                            <small class="fw-lighter fs-5"><strong>Username</strong>: {{ friend.obj.user.username }}</small>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title fw-lighter">{{ friend.obj.summoner_name }}</h1>
                            <h5 class="card-text fw-lighter">Server<div class="link-info float-right">{{ friend.obj.get_server_display }}</div>
                            <h5 class="card-text fw-lighter">Following{% if friend.following %}<i class="fas fa-check link-success float-right"></i>{% else %}<i class="fas fa-times link-danger float-right"></i>{% endif %}
                            <h5 class="card-text fw-lighter">Followed By{% if friend.followed_by %}<i class="fas fa-check link-success float-right"></i>{% else %}<i class="fas fa-times link-danger float-right"></i>{% endif %}
                        </div>
                        <div class="card-footer bg-white">
                            {% if friend.obj.public %}
                                <a href="{% url 'herders:profile_default' profile_name=friend.obj.user.username %}" class="btn btn-xs btn-info float-right ms-1">
                                    <i class="fas fa-user"></i>
                                </a>
                            {% endif %}
                            {% if friend.following %}
                                <a href="{% url 'herders:profile_follow_remove' profile_name=profile_name follow_username=friend.obj.user.username %}?next={{ return_path }}" class="btn btn-xs btn-danger float-right ms-1">
                                    <i class="fas fa-user-minus"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'herders:profile_follow_add' profile_name=profile_name follow_username=friend.obj.user.username %}?next={{ return_path }}" class="btn btn-xs btn-success float-right ms-1">
                                    <i class="fas fa-user-plus"></i>
                                </a>
                            {% endif %}
                            <a 
                                href="{% url 'herders:profile_compare' profile_name=profile_name follow_username=friend.obj.user.username %}" 
                                class="btn btn-xs btn-info float-right ms-1 {% if not friend.followed_by or not friend.following %}disabled{% endif %}"
                            >
                                <i class="fas fa-user-friends"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}