{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<tr class="inventory-element" data-building-id="{{ bldg.base.pk }}">
    <td class="monster-image"><img src="{{ img_url_prefix }}buildings/{{ bldg.base.icon_filename }}" class="monster-thumb"/></td>
    <td>{{ bldg.base.name }} <span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-container="body" data-trigger="hover" title="{{ bldg.base.name }}" data-content="{{ bldg.base.description }}"></span></td>
    <td>{% if bldg.instance %}{{ bldg.instance.level }}{% else %}0{% endif %}/{{ bldg.base.max_level }}</td>
    <td>{{ bldg.base.get_affected_stat_display }} +{{ bldg.stat_bonus }}{% if bldg.percent_stat %}%{% endif %}</td>
    <td>
        {{ bldg.base.get_area_display }}
        {% if bldg.base.element %}(<img src="{{ img_url_prefix }}elements/{{ bldg.base.element }}.png" class="image-inline" /> only){% endif %}
    </td>
    <td>
        {{ bldg.spent_upgrade_cost }} / {{ bldg.total_upgrade_cost }}<img src="{{ img_url_prefix }}items/{{ bldg.currency }}" class="image-inline" />
    </td>
    {% if is_owner %}<td><button class="btn btn-xs btn-link edit-building" data-building-id="{{ bldg.base.pk }}"><span class="glyphicon glyphicon-pencil"></span></button></td>{% endif %}
</tr>