{% load staticfiles %}
{% static 'herders/images/' as img_url_prefix %}

<div class="card shadow border-0 mb-3">
    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %}">
        <div class="row">
            <div class="col-sm-2">Glory Points</div>
            <div class="col-sm-8">
                <div class="progress mt-1">
                    <div class="progress-bar glory-progress-bar" role="progressbar" aria-valuenow="{{ spent_glory }}" aria-valuemin="0" aria-valuemax="{{ total_glory_cost }}" style="width: {{ glory_progress }}%;min-width:2em;">
                        {{ glory_progress|floatformat:"-1" }}%
                    </div>
                </div>
            </div>
            <div class="col-sm-2">{{ spent_glory }} / {{ total_glory_cost }}<img src="{{ img_url_prefix }}items/glory_points.png" class="image-inline" loading="lazy" /></div>
        </div>
        <div class="row">
            <div class="col-sm-2">Guild Points</div>
            <div class="col-sm-8">
                <div class="progress mt-1">
                    <div class="progress-bar guild-progress-bar" role="progressbar" aria-valuenow="{{ spent_guild }}" aria-valuemin="0" aria-valuemax="{{ total_guild_cost }}" style="width: {{ guild_progress }}%;min-width:2em;">
                        {{ guild_progress|floatformat:"-1" }}%
                    </div>
                </div>
            </div>
            <div class="col-sm-2">{{ spent_guild }} / {{ total_guild_cost }}<img src="{{ img_url_prefix }}items/guild_points.png" class="image-inline" loading="lazy" /></div>
        </div>
    </div>
</div>

<div class="card shadow border-0 mb-3">
    <div class="card-body {% if user.is_authenticated and user.summoner.dark_mode %}bg-dark{% endif %} table-responsive">
        <table class="table table-condensed table-hover {% if user.is_authenticated and user.summoner.dark_mode %}table-dark{% endif %}">
            <thead>
                <tr>
                    <th data-sorter="false"></th>
                    <th>Building</th>
                    <th>Level</th>
                    <th>Bonus</th>
                    <th>Area of Effect</th>
                    <th>Upgrade Progress</th>
                    {% if is_owner %}<th data-sorter="false"></th>{% endif %}
                </tr>
            </thead>
            <tbody>
            {% for bldg in buildings %}
                {% include 'herders/profile/buildings/building_row_snippet.html' with bldg=bldg is_owner=is_owner only %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>