{% extends 'herders/profile/stats/base.html' %}
{% load staticfiles %}

{% block title %}
Runes - {{ block.super }}
{% endblock title %}

{% block content_stats %}
    <h1>Runes</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Summary</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for record_name, record in runes.summary.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>{{ record }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Main Stat</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in runes.main_stat.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>{{ stat_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Innate Stat</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in runes.innate_stat.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>{{ stat_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Substat</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in runes.substats.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>{{ stat_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Stars</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for star_name, star_count in runes.stars.items %}
                            <tr>
                                <th>{{ star_name }}⭐</th>
                                <td>{{ star_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Sets</h3></th>
                            <th><h3>{{ profile_name }}</h3></th>
                        </thead>
                        <tbody>
                            {% for set_name, set_count in runes.sets.items %}
                            <tr>
                                <th>{{ set_name }}</th>
                                <td>{{ set_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Slot</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for slot_name, slot_count in runes.slot.items %}
                            <tr>
                                <th>{{ slot_name }}</th>
                                <td>{{ slot_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Quality</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for quality_name, quality_count in runes.quality.items %}
                            <tr>
                                <th>{{ quality_name }}</th>
                                <td>{{ quality_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Quality (original)</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for quality_name, quality_count in runes.quality_original.items %}
                            <tr>
                                <th>{{ quality_name }}</th>
                                <td>{{ quality_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}