{% extends 'herders/profile/stats/base.html' %}
{% load staticfiles %}

{% block title %}
Runes - {{ block.super }}
{% endblock title %}

{% block content_stats %}
    <h1>Runes</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            {% include 'herders/profile/stats/table.html' with title="Summary" data=runes.summary %}
            {% include 'herders/profile/stats/table.html' with title="Main Stat" data=runes.main_stat %}
            {% include 'herders/profile/stats/table.html' with title="Innate Stat" data=runes.innate_stat %}
            {% include 'herders/profile/stats/table.html' with title="Substats" data=runes.substats %}
            {% include 'herders/profile/stats/table.html' with title="Stars" data=runes.stars %}
            {% include 'herders/profile/stats/table.html' with title="Sets" data=runes.sets %}
            {% include 'herders/profile/stats/table.html' with title="Slot" data=runes.slot %}
            {% include 'herders/profile/stats/table.html' with title="Quality" data=runes.quality %}
            {% include 'herders/profile/stats/table.html' with title="Quality (Original)" data=runes.quality_original %}
        </div>
    </div>
{% endblock %}