{% extends 'herders/profile/stats/runes/base.html' %}

{% block title %}
{{ craft_type }}s - {{ block.super }}
{% endblock title %}

{% block content_stats %}
    <h1>Rune {{ craft_type }}s</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Summary</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for record_name, record in crafts.summary.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td> {{ record }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Sets</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for set_name, set_count in crafts.sets.items %}
                            <tr>
                                <th>{{ set_name }}</th>
                                <td>{{ set_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Stat</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for stat_name, stat_count in crafts.stat.items %}
                            <tr>
                                <th>{{ stat_name }}</th>
                                <td>{{ stat_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Quality</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for quality_name, quality_count in crafts.quality.items %}
                            <tr>
                                <th>{{ quality_name }}</th>
                                <td>{{ quality_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}