{% extends 'herders/profile/compare/base.html' %}
{% load staticfiles %}

{% block title %}
Buildings - {{ block.super }}
{% endblock title %}

{% block content_compare %}
    <h1 class="fw-lighter">Buildings</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            {% include 'herders/profile/compare/table.html' with title="Summary" data=buildings.summary %}
            {% include 'herders/profile/compare/table.html' with title="Levels" data=buildings.levels %}
            {% include 'herders/profile/compare/table.html' with title="Remaining Upgrade Cost" data=buildings.remaining_costs %}
        </div>
    </div>
{% endblock %}