{% extends 'herders/profile/compare/base.html' %}
{% load staticfiles %}

{% block title %}
Buildings - {{ block.super }}
{% endblock title %}

{% block content_compare %}
    <h1>Buildings</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Summary</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for record_name, record in buildings.summary.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>
                                    {% if record.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif record.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ record.summoner }}
                                </td>
                                <td>
                                    {% if record.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif record.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif record.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ record.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if record.winner == 'follower' %}minus{% elif record.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if record.winner != 'tie' %}{{ record.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Levels</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for record_name, record_count in buildings.levels.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>
                                    {% if record_count.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif record_count.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif record_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ record_count.summoner }}
                                </td>
                                <td>
                                    {% if record_count.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif record_count.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif record_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ record_count.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if record_count.winner == 'follower' %}minus{% elif record_count.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if record_count.winner != 'tie' %}{{ record_count.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content table-responsive">
                    <table class="table comparison-table">
                        <thead>
                            <th>Remaining Upgrade Cost</th>
                            <th>{{ profile_name }}</th>
                            <th>{{ follower_name }}</th>
                            <th>Difference</th>
                        </thead>
                        <tbody>
                            {% for record_name, record_count in buildings.remaining_costs.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>
                                    {% if record_count.winner == "summoner" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif record_count.winner == "follower" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif record_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ record_count.summoner }}
                                </td>
                                <td>
                                    {% if record_count.winner == "follower" %}<span class="glyphicon glyphicon-ok-sign comparison-winner"/>
                                    {% elif record_count.winner == "summoner" %}<span class="glyphicon glyphicon-remove-sign comparison-loser"/>
                                    {% elif record_count.winner == "tie" %}<span class="glyphicon glyphicon-question-sign comparison-tie"/>
                                    {% endif %}
                                    {{ record_count.follower }}
                                </td>
                                <td><span class="comparison-difference-{% if record_count.winner == 'follower' %}minus{% elif record_count.winner == 'summoner' %}plus{% else %}tie{% endif %}">
                                    {% if record_count.winner != 'tie' %}{{ record_count.diff }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}