{% extends "base.html" %}
{% load staticfiles %}
{% load utils %}
{% load cache %}

{% block title %}Monster Library - {{ block.super }}{% endblock title %}

{% block content %}
    {% static 'herders/images/' as img_url_prefix %}

    {% if monster_list %}
        {% cache 5 bestiary %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Filters: </span>
                    <button type="button" class="btn btn-default reset">Reset</button>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="1">
                            1<span class="glyphicon glyphicon-star"></span>
                        </button>
                        <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="2">
                            2<span class="glyphicon glyphicon-star"></span>
                        </button>
                        <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="3">
                            3<span class="glyphicon glyphicon-star"></span>
                        </button>
                        <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="4">
                            4<span class="glyphicon glyphicon-star"></span>
                        </button>
                        <button type="button" class="btn btn-default filter" data-filter-column="2" data-filter-text="5">
                            5<span class="glyphicon glyphicon-star"></span>
                        </button>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default filter" data-filter-column="3" data-filter-text="fire"><img src="{{ img_url_prefix }}elements/fire.png" /></button>
                        <button type="button" class="btn btn-default filter" data-filter-column="3" data-filter-text="water"><img src="{{ img_url_prefix }}elements/water.png" /></button>
                        <button type="button" class="btn btn-default filter" data-filter-column="3" data-filter-text="wind"><img src="{{ img_url_prefix }}elements/wind.png" /></button>
                        <button type="button" class="btn btn-default filter" data-filter-column="3" data-filter-text="light"><img src="{{ img_url_prefix }}elements/light.png" /></button>
                        <button type="button" class="btn btn-default filter" data-filter-column="3" data-filter-text="dark"><img src="{{ img_url_prefix }}elements/dark.png" /></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default filter" data-filter-column="4" data-filter-text="Attack">ATK</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="4" data-filter-text="Defense">DEF</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="4" data-filter-text="Hp">HP</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="4" data-filter-text="Support">SUP</button>
                        <button type="button" class="btn btn-default filter" data-filter-column="4" data-filter-text="Material">MAT</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="monster_table" class="table table-hover table-condensed monster-table">
                        <thead>
                            <tr>
                                <th class="{sorter: false}"></th>
                                <th>Name</th>
                                <th>Base Stars</th>
                                <th>Element</th>
                                <th>Type</th>
                                <th class="{sorter: false}">Awakens To</th>
                                <th class="{sorter: false}">Awakens From</th>
                                <th class="{sorter: false}">Awakening Materials</th>
                                <th class="{sorter: false}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for monster in monster_list %}
                            <tr>
                                <td class="monster-image">
                                    <a href="{% url 'herders:bestiary_detail' monster_id=monster.pk %}">
                                        <img src="{{ img_url_prefix }}monsters/{{ monster.image_filename }}" class="monster-thumb"/>
                                        <div>
                                            {% if monster.is_awakened %}
                                                <img src="{{ img_url_prefix }}stars/{{ monster.base_stars }}star-awakened.png" class="monster-star" />
                                            {% elif monster.can_awaken %}
                                                <img src="{{ img_url_prefix }}stars/{{ monster.base_stars }}star-unawakened.png" class="monster-star" />
                                            {% else %}
                                                <img src="{{ img_url_prefix }}stars/{{ monster.base_stars }}star-fodder.png" class="monster-star" />
                                            {% endif %}
                                        </div>
                                    </a>
                                </td>
                                <td class="monster-name">{{ monster.name|title }}</td>
                                <td class="monster-stars-column">{{ monster.base_stars }}<span class="glyphicon glyphicon-star"></span></td>
                                <td class="monster-element">
                                    <img src="{{ img_url_prefix }}elements/{{ monster.element }}.png" />
                                    <span>{{ monster.element }}</span>
                                </td>
                                <td class="monster-type">{{ monster.archetype|title }}</td>
                                <td class="monster-awakens">
                                    {% if monster.awakens_to %}
                                        <a href="{% url 'herders:bestiary_detail' monster_id=monster.awakens_to.pk %}">
                                            <img src="{{ img_url_prefix }}monsters/{{ monster.awakens_to.image_filename }}" />
                                            {{ monster.awakens_to.name|title }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="monster-awakens">
                                    {% if monster.awakens_from %}
                                        <a href="{% url 'herders:bestiary_detail' monster_id=monster.awakens_from.pk %}">
                                            <img src="{{ img_url_prefix }}monsters/{{ monster.awakens_from.image_filename }}" />
                                            {{ monster.awakens_from.name|title }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="monster-awaken-materials">
                                    {% if monster.awaken_ele_mats_high %}
                                        <div>
                                            <img src="{{ img_url_prefix }}essences/{{ monster.element }}_high.png" />
                                            <span class="image-plus image-plus-right">{{ monster.awaken_ele_mats_high }}</span>
                                        </div>
                                    {% endif %}
                                    {% if monster.awaken_ele_mats_mid %}
                                        <div>
                                            <img src="{{ img_url_prefix }}essences/{{ monster.element }}_mid.png" />
                                            <span class="image-plus image-plus-right">{{ monster.awaken_ele_mats_mid }}</span>
                                        </div>
                                    {% endif %}
                                    {% if monster.awaken_ele_mats_low %}
                                        <div>
                                            <img src="{{ img_url_prefix }}essences/{{ monster.element }}_low.png" />
                                            <span class="image-plus image-plus-right">{{ monster.awaken_ele_mats_low }}</span>
                                        </div>
                                    {% endif %}
                                    {% if monster.awaken_magic_mats_high %}
                                        <div>
                                            <img src="{{ img_url_prefix }}essences/magic_high.png" />
                                            <span class="image-plus image-plus-right">{{ monster.awaken_magic_mats_high }}</span>
                                        </div>
                                    {% endif %}
                                    {% if monster.awaken_magic_mats_mid %}
                                        <div>
                                            <img src="{{ img_url_prefix }}essences/magic_mid.png" />
                                            <span class="image-plus image-plus-right">{{ monster.awaken_magic_mats_mid }}</span>
                                        </div>
                                    {% endif %}
                                    {% if monster.awaken_magic_mats_low %}
                                        <div>
                                            <img src="{{ img_url_prefix }}essences/magic_low.png" />
                                            <span class="image-plus image-plus-right">{{ monster.awaken_magic_mats_low }}</span>
                                        </div>
                                    {% endif %}
                                </td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endcache %}
    {% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    var monster_table = $('#monster_table');

    var filter_buttons = $('button.filter');

    var base_stars_filter_col = 2;
    var element_filter_col = 3;
    var archetype_filter_col = 4;

    monster_table.tablesorter({
        widgets: ['filter', 'saveSort'],
        ignoreCase: true,
        widgetOptions: {
            filter_columnFilters: true,
            filter_reset: 'button.reset',
            filter_ignoreCase : true,
            filter_liveSearch : true,
            filter_searchDelay : 300,
            filter_saveFilters : true
        }
    });

    //Get list of current filters
    var current_filters = $.tablesorter.getFilters(monster_table);

    if (current_filters) {
        //Base star rating buttons
        if (current_filters[base_stars_filter_col].includes("1")){
            $(filter_buttons.get(0)).toggleClass('active', true);
        }

        if (current_filters[base_stars_filter_col].includes("2")){
            $(filter_buttons.get(1)).toggleClass('active', true);
        }

        if (current_filters[base_stars_filter_col].includes("3")){
            $(filter_buttons.get(2)).toggleClass('active', true);
        }

        if (current_filters[base_stars_filter_col].includes("4")){
            $(filter_buttons.get(3)).toggleClass('active', true);
        }

        if (current_filters[base_stars_filter_col].includes("5")){
            $(filter_buttons.get(4)).toggleClass('active', true);
        }

        //Element buttons
        if (current_filters[element_filter_col].includes("fire")){
            $(filter_buttons.get(5)).toggleClass('active', true);
        }

        if (current_filters[element_filter_col].includes("water")){
            $(filter_buttons.get(6)).toggleClass('active', true);
        }

        if (current_filters[element_filter_col].includes("wind")){
            $(filter_buttons.get(7)).toggleClass('active', true);
        }

        if (current_filters[element_filter_col].includes("dark")){
            $(filter_buttons.get(8)).toggleClass('active', true);
        }

        if (current_filters[element_filter_col].includes("light")){
            $(filter_buttons.get(9)).toggleClass('active', true);
        }

        //Archetype buttons
        if (current_filters[archetype_filter_col].includes("Attack")){
            $(filter_buttons.get(10)).toggleClass('active', true);
        }

        if (current_filters[archetype_filter_col].includes("Defense")){
            $(filter_buttons.get(11)).toggleClass('active', true);
        }

        if (current_filters[archetype_filter_col].includes("Hp")){
            $(filter_buttons.get(12)).toggleClass('active', true);
        }

        if (current_filters[archetype_filter_col].includes("Support")){
            $(filter_buttons.get(13)).toggleClass('active', true);
        }

        if (current_filters[archetype_filter_col].includes("Material")){
            $(filter_buttons.get(14)).toggleClass('active', true);
        }
    }


    filter_buttons.click(function() {
        $( this ).toggleClass('active');

        var filters = $('#monster_table').find('input.tablesorter-filter'),
            col = $(this).data('filter-column'),
            txt = $(this).data('filter-text'),
            cur = filters.eq(col).val(),
            mult, i;

        if (cur && txt !== '') {
            mult = cur.split('|');
            i = $.inArray(String(txt), mult);
            if (i < 0) {
                mult.push(String(txt));
            } else {
                mult.splice(String(i),1);
            }
            txt = mult.join('|');
        }
        filters.eq(col).val(txt).trigger('search', false);
    });

    $('button.reset').click(function() {
        $('button.filter').toggleClass('active', false);
        $('#monster_table').trigger('saveSortReset').trigger("sortReset");
    });
});
</script>
{% endblock %}