{% extends "base.html" %}
{% load staticfiles %}
{% load utils %}
{% load cache %}

{% block title %}Monster Library - {{ block.super }}{% endblock title %}

{% block content %}
    {% cache 600 bestiary_detail monster.pk %}
    {% static 'herders/images/' as img_url_prefix %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><img src="{{ img_url_prefix }}elements/{{ monster.element }}.png" /> {{ monster.name }}</h2>
        </div>
        <div class="panel-body">
            <div class="pull-left">
                <div class="monster-box">
                    <span>
                        <img src="{{ img_url_prefix }}monsters/{{ monster.image_filename }}"/>
                        {% for x in monster.base_stars|get_range %}
                            {% if monster.is_awakened %}
                                <img src="{{ img_url_prefix }}stars/star-awakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                            {% elif monster.can_awaken %}
                                <img src="{{ img_url_prefix }}stars/star-unawakened.png" class="monster-star monster-star-{{ forloop.counter }}" />
                            {% else %}
                                <img src="{{ img_url_prefix }}stars/star-fodder.png" class="monster-star monster-star-{{ forloop.counter }}" />
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>

                <div class="bestiary-detail-family">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">Family</p>
                        </div>
                        <table class="table">
                            <tbody>
                            {% for related_monster in monster.monster_family %}
                            <tr>
                                <td class="monster-image">
                                    <a href="{% url 'herders:bestiary_detail' monster_id=related_monster.pk %}">
                                        <img src="{{ img_url_prefix }}monsters/{{ related_monster.image_filename }}" class="monster-thumb"/>
                                    </a>
                                </td>
                                <td class="monster-image">
                                    {% if related_monster.awakens_to %}
                                    <a href="{% url 'herders:bestiary_detail' monster_id=related_monster.awakens_to.pk %}">
                                        <img src="{{ img_url_prefix }}monsters/{{ related_monster.awakens_to.image_filename }}" class="monster-thumb"/>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="bestiary-detail">
                <div class="bestiary-detail-stats">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">Base Stats</p>
                        </div>
                        {% with stats=monster.get_stats %}
                        <table class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th>Grade</th>
                                    {% for key,value in stats.iteritems %}
                                        <th colspan="2">
                                            {{ key }}<span class="glyphicon glyphicon-star"></span>
                                        </th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Level</th>
                                    {% for grade,levels in stats.iteritems %}
                                        {% for level,stats in levels.iteritems %}
                                            <th>{{ level }}</th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HP</td>
                                    {% for grade,levels in stats.iteritems %}
                                        {% for level,stats in levels.iteritems %}
                                            <td class="bestiary-stat-column">{{ stats.HP }}</td>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>ATK</td>
                                    {% for grade,levels in stats.iteritems %}
                                        {% for level,stats in levels.iteritems %}
                                            <td class="bestiary-stat-column">{{ stats.ATK }}</td>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>DEF</td>
                                    {% for grade,levels in stats.iteritems %}
                                        {% for level,stats in levels.iteritems %}
                                            <td class="bestiary-stat-column">{{ stats.DEF }}</td>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>SPD</td>
                                    <td colspan="12">{{ monster.speed }}</td>
                                </tr>
                                <tr>
                                    <td>CRIT Rate</td>
                                    <td colspan="12">{{ monster.crit_rate }}%</td>
                                </tr>
                                <tr>
                                    <td>CRIT DMG</td>
                                    <td colspan="12">{{ monster.crit_damage }}%</td>
                                </tr>
                                <tr>
                                    <td>Accuracy</td>
                                    <td colspan="12">{{ monster.accuracy }}%</td>
                                </tr>
                                <tr>
                                    <td>Resistance</td>
                                    <td colspan="12">{{ monster.resistance }}%</td>
                                </tr>
                            </tbody>
                        </table>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcache %}
{% endblock content %}