{% if phoenix %}
    {% for key,value in phoenix.iteritems %}
    <p>{{ key }} :: {{ value }}</p>
    {% endfor %}
{% else %}
    No phoenix progress available!
{% endif %}

<hr />

{% if valkyrja %}
    {% for key,value in valkyrja.iteritems %}
    <p>{{ key }} :: {{ value }}</p>
    {% endfor %}
{% else %}
    No Valkyrja progress available!
{% endif %}

<hr />

{% if ifrit %}
    {% for key,value in ifrit.iteritems %}
    <p>{{ key }} :: {{ value }}</p>
    {% endfor %}
{% else %}
    No Ifrit progress available!
{% endif %}

<hr />

{% if nine_tailed_fox %}
    {% for key,value in nine_tailed_fox.iteritems %}
    <p>{{ key }} :: {{ value }}</p>
    {% endfor %}
{% else %}
    No Nine-Tailed Fox progress available!
{% endif %}

<hr />

{% if joker %}
    {% for key,value in joker.iteritems %}
    <p>{{ key }} :: {{ value }}</p>
    {% endfor %}
{% else %}
    No Joker progress available!
{% endif %}

<hr />

{% if ninja %}
    {% for key,value in ninja.iteritems %}
    <p>{{ key }} :: {{ value }}</p>
    {% endfor %}
{% else %}
    No Ninja progress available!
{% endif %}

<hr />

{% if sylph %}
    {% for key,value in sylph.iteritems %}
    <p>{{ key }} :: {{ value }}</p>
    {% endfor %}
{% else %}
    No Sylph progress available!
{% endif %}

<hr />

{% if undine %}
    {% for key,value in undine.iteritems %}
    <p>{{ key }} :: {{ value }}</p>
    {% endfor %}
{% else %}
    No Undine progress available!
{% endif %}

<hr />

{% if vampire %}
    {% for key,value in vampire.iteritems %}
    <p>{{ key }} :: {{ value }}</p>
    {% endfor %}
{% else %}
    No Vampire progress available!
{% endif %}

<hr />

{% if succubus %}
    {% for key,value in succubus.iteritems %}
    <p>{{ key }} :: {{ value }}</p>
    {% endfor %}
{% else %}
    No Succubus progress available!
{% endif %}