{% extends 'base.html' %}
{% load utils %}
{% load staticfiles %}

{% block title %}Data Logs - {{ block.super }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.min.css" />
{% endblock css %}

{% block subnav %}
    {% static 'herders/images/' as img_url_prefix %}

    <div class="navbar navbar-default navmenu-collapsed">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navmenu navmenu-default subnavmenu-fixed-left offcanvas-sm log-menu">
        {% if mine %}
            <a href="{% url 'sw_parser:log_mine_home' %}" class="navmenu-brand"><span class="glyphicon glyphicon-user"></span> Personal Logs</a>
            <ul class="nav navmenu-nav">
                <li><a href="{% url 'sw_parser:log_home' %}"><span class="glyphicon glyphicon-globe"></span> View Global Logs</a></li>
                <li><a href="{% url 'sw_parser:log_mine_summons_download' %}"><span class="glyphicon glyphicon-save"></span> Download Summons</a></li>
                <li><a href="{% url 'sw_parser:log_mine_runs_download' %}"><span class="glyphicon glyphicon-save"></span> Download Dungeon Logs</a></li>
            </ul>
        {% else %}
            <a href="{% url 'sw_parser:log_home' %}" class="navmenu-brand"><span class="glyphicon glyphicon-globe"></span> Global Logs</a>
            {% if user.is_authenticated %}
                <ul class="nav navmenu-nav">
                    <li><a href="{% url 'sw_parser:log_mine_home' %}"><span class="glyphicon glyphicon-user"></span> View My Logs</a></li>
                </ul>
            {% endif %}
        {% endif %}
        <ul class="nav navmenu-nav">
            {# Timespan #}
            <li class="dropdown">
                <a class="dropdown-toggle">
                    <b class="glyphicon glyphicon-time"></b> {{ timespan.description }}
                    {% if timespan.description == 'Custom' %}
                        <br />{{ timespan.custom_start_time }} to<br />{{ timespan.custom_end_time }}
                    {% endif %}
                    <b class="caret pull-right"></b>
                </a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    <li><a class='set-timespan' data-timespan="post-3.2.1">Patch 3.2.1 to Present</a></li>
                    <li><a class='set-timespan' data-timespan="post-homunculus">Patch 3.0.2 to 3.2.1</a></li>
                    <li><a class='set-timespan' data-timespan="pre-homunculus">Pre-Patch 3.0.2</a></li>
                    <li><a class='set-timespan' data-timespan="7">Last 7 Days</a></li>
                    <li><a class='set-timespan' data-timespan="15">Last 15 Days</a></li>
                    <li><a class='set-timespan' data-timespan="30">Last 30 Days</a></li>
                    <li><a class='set-timespan' data-timespan="all-time">All Time</a></li>
                    {% if mine %}<li><a data-toggle="modal" data-target="#custom_timespan_modal">Custom</a></li>{% endif %}
                </ul>
            </li>
            {# Summons #}
            <li class="dropdown {% if log_view == 'summon' %}open{% endif %}">
                <a class="dropdown-toggle">Summons <b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    {% for summon_name, summon_stats in stats.summons.iteritems %}
                    <li>
                        <a {% if mine %}
                                href="{% url 'sw_parser:view_summon_detail_mine' summon_slug=summon_stats.slug %}"
                            {% else %}
                                href="{% url 'sw_parser:view_summon_detail' summon_slug=summon_stats.slug %}"
                            {% endif %}
                        >
                            <span class="badge pull-right">{{ summon_stats.count|humanize_number }} log{{ summon_stats.count|pluralize }}</span> {{ summon_name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {# Scenarios #}
            <li {% if log_view == 'Scenarios' %}class="active"{% endif %}>
                <a {% if mine %}
                    href="{% url 'sw_parser:view_scenario_summary_mine' %}">Scenarios
                {% else %}
                    href="{% url 'sw_parser:view_scenario_summary' %}">Scenarios
                {% endif %}
                </a>
            </li>
            {# Dungeons #}
            {% for group_name, group_stats in stats.dungeons.iteritems %}
            <li class="dropdown {% if log_view == group_name %}open{% endif %}">
                <a class="dropdown-toggle">{{ group_name }} <b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    {% for name, data in group_stats.iteritems %}
                    <li>
                        <a {% if mine %}
                                href="{% url 'sw_parser:view_dungeon_detail_mine' dungeon_slug=data.slug %}"
                            {% else %}
                                href="{% url 'sw_parser:view_dungeon_detail' dungeon_slug=data.slug %}"
                            {% endif %}
                        >
                            <span class="badge pull-right">{{ data.count|humanize_number }} log{{ data.count|pluralize }}</span> {{ name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
            {# Rifts #}
            <li class="dropdown {% if log_view == 'rift' %}open{% endif %}">
                <a class="dropdown-toggle">Rifts <b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    {% for rift_name, rift_stats in stats.rifts.iteritems %}
                    <li>
                        <a {% if mine %}
                                href="{% url 'sw_parser:view_elemental_rift_mine' rift_slug=rift_stats.slug %}"
                            {% else %}
                                href="{% url 'sw_parser:view_elemental_rift' rift_slug=rift_stats.slug %}"
                            {% endif %}
                        >
                            <span class="badge pull-right">{{ rift_stats.count|humanize_number }} log{{ rift_stats.count|pluralize }}</span> {{ rift_name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {# Raid #}
            <li {% if log_view == 'raid' %}class="active"{% endif %}><a
                    {% if mine %}
                        href="{% url 'sw_parser:view_rift_raid_mine' %}">Raid
                    {% else %}
                        href="{% url 'sw_parser:view_rift_raid' %}">Raid
                    {% endif %}
                </a>
            </li>
            {# Rune Crafting #}
            <li {% if log_view == 'rune_craft' %}class="active"{% endif %}><a
                    {% if mine %}
                        href="{% url 'sw_parser:view_rune_craft_log_mine' %}">Rune Crafting
                    {% else %}
                        href="{% url 'sw_parser:view_rune_craft_log' %}">Rune Crafting
                    {% endif %}
                </a>
            </li>
            {# Magic Shop #}
            <li {% if log_view == 'magic_shop' %}class="active"{% endif %}><a
                    {% if mine %}
                        href="{% url 'sw_parser:view_magic_shop_log_mine' %}">Magic Shop
                    {% else %}
                        href="{% url 'sw_parser:view_magic_shop_log' %}">Magic Shop
                    {% endif %}
                </a>
            </li>
            {# World Boss #}
            <li {% if log_view == 'world_boss' %}class="active"{% endif %}><a
                    {% if mine %}
                        href="{% url 'sw_parser:view_world_boss_log_mine' %}">World Boss
                    {% else %}
                        href="{% url 'sw_parser:view_world_boss_log' %}">World Boss
                    {% endif %}
                </a>
            </li>

            {# Wishes #}
            <li {% if log_view == 'wish' %}class="active"{% endif %}><a
                    {% if mine %}
                        href="{% url 'sw_parser:view_wish_log_mine' %}">Wishes
                    {% else %}
                        href="{% url 'sw_parser:view_wish_log' %}">Wishes
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
{% endblock subnav %}

{% block content %}
    <div class="navmenu-content">
        <div id="statsArea">
            {% block stats_content %}
                {% if mine %}
                    {% include 'sw_parser/log/mine_home_blurb.html' %}
                {% else %}
                    {% include 'sw_parser/log/home_blurb.html' %}
                {% endif %}
            {% endblock stats_content %}
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="custom_timespan_modal" aria-labelledby="custom-range-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="custom-range-label">Custom Range (24h format)</h4>
                </div>
                <form class="ajax-form" action="{% url 'sw_parser:log_timespan_custom' %}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_start_time">Start Timestamp</label>
                            <input type="text" class="form-control" name="start_time" id="id_start_time"
                            {% if timespan.custom_start_time %}value="{{ timespan.custom_start_time }}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="id_start_time">End Timestamp</label>
                            <input type="text" class="form-control" name="end_time" id="id_end_time"
                            {% if timespan.custom_end_time %}value="{{ timespan.custom_end_time }}"{% endif %}>
                        </div>
                        {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript_compressed %}
<script type="text/javascript" src="{% static 'sw_parser/custom.js' %}"></script>
{% endblock %}

{% block javascript %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script type="application/javascript">
        {% if mine %}
            var LOGS_MINE = true;
            // Initialize datetime pickers
            var datetimeopts = {
                'format': 'YYYY-MM-DD HH:mm:ss',
                'showTodayButton': true,
                'useCurrent': false,
                'showClear': true,
                'showClose': true
            };
            $('#id_start_time').datetimepicker(datetimeopts);
            $('#id_end_time').datetimepicker(datetimeopts);

            $("#id_start_time").on("dp.change", function (e) {
                $('#id_end_time').data("DateTimePicker").minDate(e.date);
            });
            $("#id_end_time").on("dp.change", function (e) {
                $('#id_start_time').data("DateTimePicker").maxDate(e.date);
            });
        {% else %}
            var LOGS_MINE = false;
        {% endif %}
    </script>
{% endblock %}