{% extends 'sw_parser/log/base.html' %}

{% load staticfiles %}
{% load utils %}
{% load humanize %}

{% block stats_content %}
{% static 'herders/images/' as img_url_prefix %}

<h1>
    {{ dungeon.name }}
    <div class="btn-group" style="display: inline-block">
        <button class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        B{{ floor }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for floor_num, count in floors %}
            <li><a {% if mine %}
                        href="{% url 'sw_parser:view_dungeon_detail_floor_mine' dungeon_slug=dungeon.slug floor=floor_num %}"
                    {% else %}
                        href="{% url 'sw_parser:view_dungeon_detail_floor' dungeon_slug=dungeon.slug floor=floor_num %}"
                    {% endif %}
                >B{{ floor_num }} <span class="badge">{{ count|intcomma }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
    <small> {{ total_runs }} log{{ total_runs|pluralize }}{% if success_rate %} ({{ success_rate|floatformat:"-1" }}% success rate){% endif %}</small>
</h1>

{# General stats #}
<div class="panel panel-default">
    <div class="panel-body row">
        <div class="col-lg-7 chart" style="height: 400px" data-chart-data-source="/data/log/charts/dungeon/{% if mine %}mine/{% endif %}?dungeon_id={{ dungeon.pk }}&floor={{ floor }}&chart_type=drop_types"></div>
        <div class="col-lg-5">
            {% include 'sw_parser/log/snippets/general_drops.html' %}
            {% include 'sw_parser/log/snippets/item_drops.html' with item_drops=item_drops only %}
            {% include 'sw_parser/log/snippets/monster_drops.html' with monster_drops=monster_drops only %}
        </div>
    </div>
</div>

{# Essence stats #}
<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Essence Breakdown</p>
    </div>
    <div class="panel-body row">
        <div class="col-md-7 chart" style="height: 500px" data-chart-data-source="/data/log/charts/dungeon/{% if mine %}mine/{% endif %}?dungeon_id={{ dungeon.pk }}&floor={{ floor }}&chart_type=essences"></div>
        <div class="col-md-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Essence</th>
                    <th>Drop Chance</th>
                    <th>Average Per Drop</th>
                    <th>Per Run</th>
                    <th>
                        Per Energy
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-trigger="hover" title="Including average energy returns"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for essence in essence_table %}
                <tr>
                    <td class="monster-awaken-materials">
                        <div class="element-essence" data-toggle="tooltip" data-placement="top" data-container="body" title="{{ essence.essence }}">
                            <img src="{{ img_url_prefix }}{{ essence.icon }}" />
                        </div>
                    </td>
                    <td>{{ essence.drop_chance|floatformat:"-1" }}%</td>
                    <td>{{ essence.drop_avg|floatformat:"-2" }}</td>
                    <td>{{ essence.per_run|floatformat:"-3" }}</td>
                    <td>{{ essence.per_energy|floatformat:"-3" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock stats_content %}
