{% load humanize %}

<h1>Personal Logs</h1>
<p>You can access the logs you have contributed and view personal stats. Your logs are available to download in CSV format via the links on the left.</p>
<h2>How to get personal logs</h2>
<ol>
    <li>Download the latest package from the <a href="https://github.com/lstern/SWProxy-plugins/releases/latest" target="_blank">SWProxy-plugins</a> project on Github.</li>
    <li><a href="{% url 'sw_parser:import_swparser' %}">One time only - import your game data via SWProxy export</a></li>
    <li>Make sure you have a SwarfarmLogger.py plugin in the SWProxy plugins directory.</li>
    <li>Play the game while connected to the proxy.</li>
</ol>
<h2>Contributions</h2>
<table class="table" style="max-width: 450px;">
    <thead>
    <tr>
        <th></th>
        <th>Summons</th>
        <th>Dungeons</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>In Timespan</td>
        <td>{{ stats.timespan_summons|intcomma }}</td>
        <td>{{ stats.timespan_runs|intcomma }}</td>
    </tr>
    <tr>
        <td>Lifetime</td>
        <td>{{ stats.total_summons|intcomma }}</td>
        <td>{{ stats.total_runs|intcomma }}</td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-lg-12 chart" data-chart-data-source="{% url 'sw_parser:contribution_chart_data_mine' %}?chart_type=logs_per_day" style="height:400px"></div>
</div>