{% extends 'sw_parser/log/base.html' %}
{% load humanize %}

{% block stats_content %}
<h1>{{ summon_method_name }} <small>{{ count|intcomma }} log{{ count|pluralize }}</small></h1>
<div class="panel panel-default">
    <div class="panel-body row">
        <div class="col-md-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/summon/{% if mine %}mine/{% endif %}?summon_method={{ summon_method }}&chart_type=grade"></div>
        <div class="col-md-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/summon/{% if mine %}mine/{% endif %}?summon_method={{ summon_method }}&chart_type=element"></div>
        <div class="col-md-4 chart" style="height: 400px" data-chart-data-source="/data/log/charts/summon/{% if mine %}mine/{% endif %}?summon_method={{ summon_method }}&chart_type=awakened"></div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><p class="panel-title">Commonly Summoned Monster Families</p></div>
    <div class="panel-body row">
        {% for grade in family_grades %}
        <div class="col-md-12 chart" style="height: 500px" data-chart-data-source="/data/log/charts/summon/{% if mine %}mine/{% endif %}?summon_method={{ summon_method }}&chart_type=family&grade={{ grade }}"></div>
        {% endfor %}
    </div>
</div>
{% endblock stats_content %}
