{% extends 'herders/profile/import_export/base.html' %}

{% load staticfiles %}

{% block content %}
    {% static 'herders/images/' as img_url_prefix %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Import in progress</h1>
            <p>Your import has been queued and will be processed in the order it was received. You can leave this page and your import will still be processed.</p>

            <div class="list-group">
                <div class="list-group-item list-group-item-success">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4><span class="glyphicon glyphicon-check text-success"></span></h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Import data validated</h4>
                        </div>
                    </div>
                </div>
                <div id="queue" class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4 id="queue_indicator">...</h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Waiting in queue</h4>
                        </div>
                    </div>
                </div>
                <div id="preprocessing" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4 id="preprocessing_indicator">...</h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Preprocessing</h4>
                        </div>
                    </div>
                </div>
                <div id="storage" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4 id="storage_indicator">...</h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Parsing storage and buildings</h4>
                        </div>
                    </div>
                </div>
                <div id="runes" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4 id="runes_indicator">...</h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Parsing runes</h4>
                        </div>
                    </div>
                </div>
                <div id="artifacts" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4 id="artifacts_indicator">...</h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Parsing artifacts</h4>
                        </div>
                    </div>
                </div>
                <div id="monsters" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4 id="monsters_indicator">...</h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Parsing monsters</h4>
                        </div>
                    </div>
                </div>
                <div id="crafts" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4 id="crafts_indicator">...</h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Parsing grindstones and enchant gems</h4>
                        </div>
                    </div>
                </div>
                <div id="artifact_crafts" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4 id="artifact_crafts_indicator">...</h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Parsing artifact conversion stones</h4>
                        </div>
                    </div>
                </div>
                <div id="rta_builds" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4 id="rta_builds_indicator">...</h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Parsing RTA builds</h4>
                        </div>
                    </div>
                </div>
                <div id="success" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2 text-center">
                            <h4 id="success_indicator">...</h4>
                        </div>
                        <div class="col-sm-10">
                            <h4>Done!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block javascript %}
<script>
var updateInterval;

function updateImportProgress() {
    var $queue_box = $('#queue');
    var $queue_indicator = $('#queue_indicator');
    var complete_status = '<span class="glyphicon glyphicon-check"></span>';
    var error_status = '<span class="glyphicon glyphicon-remove"></span>';
    var status_url = '/profile/' + PROFILE_NAME + '/import/progress/';
    var progression = [
        'queue',
        'preprocessing',
        'storage',
        'runes',
        'artifacts',
        'monsters',
        'crafts',
        'artifact_crafts',
        'rta_builds',
        'success'
    ];

    $.ajax({
        type: 'get',
        url: status_url,
        global: false
    }).done(function(response) {
        console.log(response.status, response.result);
        var status = response.status;
        var info = response.result;
        var activeStep;

        switch (status) {
            case 'PENDING':
                activeStep = 0;
                break;
            case 'STARTED':
                activeStep = Math.max(progression.indexOf(info.step), 1);
                break;
            case 'SUCCESS':
                activeStep = progression.length - 1;
                clearInterval(updateInterval);
                window.location = '/profile/{{ user.username }}';
                break;
            case 'FAILED':
            case 'error':
                // Inform about error
                var $errorBox = $(".list-group-item-info")
                $errorBox.toggleClass('list-group-item-danger', true);
                $errorBox.toggleClass('list-group-item-info', false);
                $("#" + $errorBox.attr('id') + "_indicator").html(error_status)
                break;
        }

        // Set previous steps to complete
        for (var i = 0; i < progression.length; i++) {
            var $box = $('#'+progression[i]);
            var $indicator = $('#'+progression[i]+'_indicator');
            if (i < activeStep) {
                // Mark as complete
                $box.toggleClass('list-group-item-info', false);
                $box.toggleClass('list-group-item-success', true);
                $indicator.html(complete_status);
            } else if (i === activeStep) {
                // Set as active
                $box.toggleClass('list-group-item-info', true);
            } else {
                // do nothing, default state is good
            }
        }
    });
}

$(document).ready(function() {
    updateInterval = setInterval(updateImportProgress, 2000)
});
</script>
{% endblock javascript %}