[Unit]
Description=swarfarm celery task runner
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/vagrant
ExecStart=/home/vagrant/.pyenv/versions/swarfarm-3.6.8/bin/celery --workdir=/vagrant -A swarfarm.celery worker --loglevel=info -Q data_logs -n worker_data_logs@%h

[Install]
WantedBy=multi-user.target
