{% extends 'sw_parser/log/base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block title %}Scenario Summary - {{ block.super }}{% endblock title %}

{% block stats_content %}
{% static 'herders/images/' as img_url_prefix %}

    <h1>Scenario Summary <small><a class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseReadme">Show Information</a></small></h1>

    <div class="collapse" id="collapseReadme">
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">General</h4>
                <ul>
                    <li>Scenario stages with less than 100 logs are not shown.</li>
                    <li>Time filter settings apply, so smaller time ranges will provide less accurate values.</li>
                    <li>Energy Cost is the scenario energy start cost reduced by the average energy returns.</li>
                    <li>XP is the sum given to all monsters</li>
                    <li>All "per Energy" columns include energy returns</li>
                    <li>Mana values include average rune sell value multiplied by average rune drop rate.</li>
                    <li>Crystals per Energy and per Run are not shown because the values are incredibly small. You can click through to the detailed statistics and see it.</li>
                    <li>Rainbowmon are given +1<span class="glyphicon glyphicon-star"></span> when calculating the drop rate of 2<span class="glyphicon glyphicon-star"></span> and 3<span class="glyphicon glyphicon-star"></span> monsters.</li>
                </ul>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">Personal logs</h4>
                <ul>
                    <li>Any scenario with at least one log will be displayed, but use your own judgements believing in the statistics.</li>
                    <li>XP and Mana per hour will be shown based on your average clear time.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <table id="stats_table" class="table table-condensed table-striped table-hover" data-save-filters="true">
        <thead>
        <tr>
            <th>Scenario</th>
            <th>Difficulty</th>
            <th>Stage</th>
            <th>Logs</th>
            {% if mine %}<th>Avg. Clear Time</th>{% endif %}
            <th>Energy Cost</th>
            <th>XP per Run</th>
            {% if mine %}<th>XP per Hour</th>{% endif %}
            <th>XP per Energy</th>
            <th>Mana per Run</th>
            {% if mine %}<th>Mana per Hour</th>{% endif %}
            <th>Mana per Energy</th>
            <th>2<span class="glyphicon glyphicon-star"></span> Drop Rate</th>
            <th>3<span class="glyphicon glyphicon-star"></span> Drop Rate</th>
            <th><img height="25px" src="{{ img_url_prefix }}/crafts/wood.png" /> per Run</th>
            <th><img height="25px" src="{{ img_url_prefix }}/crafts/leather.png" /> per Run</th>
            <th><img height="25px" src="{{ img_url_prefix }}/crafts/rock.png" /> per Run</th>
            <th><img height="25px" src="{{ img_url_prefix }}/crafts/ore.png" /> per Run</th>
            <th><img height="25px" src="{{ img_url_prefix }}/crafts/mithril.png" /> per Run</th>
            <th><img height="25px" src="{{ img_url_prefix }}/crafts/cloth.png" /> per Run</th>
            <th><img height="25px" src="{{ img_url_prefix }}/crafts/dust.png" /> per Run</th>
        </tr>
        </thead>
        <tbody>
        {% for scenario_name, difficulties in scenario_stats.iteritems %}
            {% for difficulty, stages in difficulties.iteritems %}
                {% for stats in stages %}
                    {% if stats.runs > 100 or mine and stats.runs %}
                    <tr>
                    <td>
                        <a href=
                           {% if mine %}
                               "{% url 'sw_parser:view_scenario_detail_floor_difficulty_mine' dungeon_slug=stats.scenario_slug floor=forloop.counter  difficulty=difficulty %}"
                           {% else %}
                               "{% url 'sw_parser:view_scenario_detail_floor_difficulty' dungeon_slug=stats.scenario_slug floor=forloop.counter  difficulty=difficulty %}"
                           {% endif %}
                        >{{ scenario_name }}</a>
                    </td>
                    <td><span class="hidden">{{ difficulty }}</span>{{ stats.difficulty }}</td>
                    <td>B{{ forloop.counter }}</td>
                    <td>{{ stats.runs }}</td>
                    {% if mine %}<td>{{ stats.clear_time|floatformat:"-1" }} sec</td>{% endif %}
                    <td>{{ stats.energy_cost|floatformat:"-2" }} <img class="image-inline" src="{{ img_url_prefix }}/icons/energy.png" /></td>
                    <td><span class="hidden">{{ stats.xp_per_run }}</span>{{ stats.xp_per_run|intcomma }} <img class="image-inline" src="{{ img_url_prefix }}/icons/xp.png" /></td>
                    {% if mine %}<td><span class="hidden">{{ stats.xp_per_hour }}</span>{{ stats.xp_per_hour|floatformat:"0"|intcomma }} <img class="image-inline" src="{{ img_url_prefix }}/icons/xp.png" />/hr</td>{% endif %}
                    <td><span class="hidden">{{ stats.xp_per_energy }}</span>{{ stats.xp_per_energy|floatformat:"0"|intcomma }} <img class="image-inline" src="{{ img_url_prefix }}/icons/xp.png" />/<img class="image-inline" src="{{ img_url_prefix }}/icons/energy.png" /></td>
                    <td><span class="hidden">{{ stats.mana_per_run }}</span>{{ stats.mana_per_run|floatformat:"0"|intcomma }} <img class="image-inline" src="{{ img_url_prefix }}/icons/mana.png" />/run</td>
                    {% if mine %}<td><span class="hidden">{{ stats.mana_per_hour }}</span>{{ stats.mana_per_hour|floatformat:"0"|intcomma }} <img class="image-inline" src="{{ img_url_prefix }}/icons/mana.png" />/hr</td>{% endif %}
                    <td><span class="hidden">{{ stats.mana_per_energy }}</span>{{ stats.mana_per_energy|floatformat:"0"|intcomma }} <img class="image-inline" src="{{ img_url_prefix }}/icons/mana.png" />/<img class="image-inline" src="{{ img_url_prefix }}/icons/energy.png" /></td>
                    <td>{{ stats.monster_drops.2|floatformat:"-1" }}%</td>
                    <td>{{ stats.monster_drops.3|floatformat:"-1" }}%</td>
                    <td>{{ stats.craft_drops.128|floatformat:"-3" }}</td>
                    <td>{{ stats.craft_drops.129|floatformat:"-3" }}</td>
                    <td>{{ stats.craft_drops.130|floatformat:"-3" }}</td>
                    <td>{{ stats.craft_drops.131|floatformat:"-3" }}</td>
                    <td>{{ stats.craft_drops.132|floatformat:"-3" }}</td>
                    <td>{{ stats.craft_drops.133|floatformat:"-3" }}</td>
                    <td>{{ stats.craft_drops.135|floatformat:"-3" }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#stats_table').tablesorter({
            widgets: ['saveSort', 'stickyHeaders'],
            ignoreCase: true,
            sortReset: true,
            widgetOptions: {
                filter_external : '.search',
                filter_ignoreCase : true,
                filter_saveFilters : true,
                stickyHeaders_zIndex : 2,
                stickyHeaders_offset: 50,
            }
        })
    });
</script>
{% endblock %}