{% extends 'herders/profile/stats/base.html' %}
{% load staticfiles %}

{% block title %}
Monsters - {{ block.super }}
{% endblock title %}

{% block content_stats %}
    <h1>Monsters</h1>
    <hr />
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-sizer col-md-6 col-sm-12 col-xs-12"></div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Summary</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for record_name, record in monsters.summary.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>{{ record }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Stars</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for star_name, star_count in monsters.stars.items %}
                            <tr>
                                <th>{{ star_name }}⭐</th>
                                <td>{{ star_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table-5">
                        <thead>
                            <th><h3>Natural Stars</h3></th>
                            <th><h3>Category</h3></th>
                            <th><h3>Subcategory</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for star_name, star_count in monsters.natural_stars.items %}
                                {% if star_name >= 4 %}
                                    <tr>
                                        <th rowspan="4">{{ star_name }}⭐</th>
                                        <th rowspan="2">Fusion/Free</th>
                                        <th>Elemental</th>
                                        <td>{{ star_count.fusion.elemental }}</td>
                                    </tr>
                                    <tr>
                                        <th>L&D</th>
                                        <td>{{ star_count.fusion.ld }}</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2">Not Fusion/Free</th>
                                        <th>Elemental</th>
                                        <td>{{ star_count.nonfusion.elemental }}</td>
                                    </tr>
                                    <tr>
                                        <th>L&D</th>
                                        <td>{{ star_count.nonfusion.ld }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <th rowspan="2">{{ star_name }}⭐</th>
                                        <th rowspan="2">All</th>
                                        <th>Elemental</th>
                                        <td>{{ star_count.nonfusion.elemental }}</td>
                                    </tr>
                                    <tr>
                                        <th>L&D</th>
                                        <td> {{ star_count.nonfusion.ld }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Elements</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for record_name, record_count in monsters.elements.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>{{ record_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-item col-md-6 col-sm-12 col-xs-12">
                <div class="grid-item-content">
                    <table class="table table-responsive comparison-table">
                        <thead>
                            <th><h3>Archetypes</h3></th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for record_name, record_count in monsters.archetypes.items %}
                            <tr>
                                <th>{{ record_name }}</th>
                                <td>{{ record_count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}