{% extends 'herders/profile/data_logs/base_table.html' %}
{% load utils %}

{% block title %}
    Table - Rune Crafting - {{ block.super }}
{% endblock %}

{% block log_table %}
    <table class="table table-striped table-condensed {% if user.is_authenticated and user.summoner.dark_mode %}table-dark{% endif %}">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Drops</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.timestamp }}</td>
                    <td>{% include 'herders/profile/data_logs/drops/all_drops.html' %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock log_table %}
